Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

format-package-json:
  run: pnpm syncpack fix-mismatches && pnpm syncpack format
  stage_fixed: true

format-oxfmt:
  run: pnpm oxfmt {staged_files}
  stage_fixed: true

format-starlark:
  run: 'set -- {staged_files}
  
    bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
  
    '
  stage_fixed: true

lint-staged:
  run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
  stage_fixed: true

bazel-lock-regen:
  run: bazel mod deps
  stage_fixed: true

test(@formatjs/intl-datetimeformat): type Temporal subclass constructor
  packages/intl-datetimeformat/tests/temporal.test.ts
Due: format-oxfmt, lint-staged

refactor(@formatjs/intl-datetimeformat): follow Temporal value format records
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  packages/ecma402-abstract/DateTimeFormat/BUILD.bazel
  packages/ecma402-abstract/DateTimeFormat/FormatDateTime.ts
  packages/ecma402-abstract/DateTimeFormat/FormatDateTimePattern.ts
  packages/ecma402-abstract/DateTimeFormat/FormatDateTimeRange.ts
  packages/ecma402-abstract/DateTimeFormat/FormatDateTimeRangeToParts.ts
  packages/ecma402-abstract/DateTimeFormat/FormatDateTimeToParts.ts
  packages/ecma402-abstract/DateTimeFormat/HandleDateTimeValue.ts
  packages/ecma402-abstract/DateTimeFormat/InitializeDateTimeFormat.ts
  packages/ecma402-abstract/DateTimeFormat/PartitionDateTimePattern.ts
  packages/ecma402-abstract/DateTimeFormat/PartitionDateTimeRangePattern.ts
  packages/ecma402-abstract/DateTimeFormat/TemporalDateTime.ts
  packages/ecma402-abstract/DateTimeFormat/ToLocalTime.ts
  packages/intl-datetimeformat/core.ts
  packages/intl-datetimeformat/tests/temporal.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-datetimeformat): isolate deferred pattern parsing
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  packages/ecma402-abstract/DateTimeFormat/skeleton.ts
  packages/intl-datetimeformat/core.ts
  packages/intl-datetimeformat/tests/abstract/skeleton.test.ts
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

docs(@formatjs/intl-datetimeformat): document calendar helper provenance
  packages/ecma402-abstract/DateTimeFormat/CalendarDateFromTime.ts
  packages/ecma402-abstract/DateTimeFormat/LunisolarDateFromTime.ts
Due: format-oxfmt, lint-staged

perf(@formatjs/intl-datetimeformat): defer Gregorian locale pattern parsing
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  packages/intl-datetimeformat/core.ts
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

docs: omit superseded parser timing from conformance report
  knowledge-base/015b-test262-progress-2026-09-11.md
Due: format-oxfmt

docs: record verified calendar conformance results
  knowledge-base/014-test262-conformance.md
  knowledge-base/015a-test262-deferred-cases.json
  knowledge-base/015b-test262-progress-2026-09-11.md
Due: format-oxfmt

feat(@formatjs/intl-datetimeformat): support Temporal inputs (#7355)
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/014-test262-conformance.md
  knowledge-base/015-test262-progress-2026-09-09.md
  knowledge-base/015a-test262-deferred-cases.json
  knowledge-base/015b-test262-progress-2026-09-11.md
  packages/ecma402-abstract/DateTimeFormat/BUILD.bazel
  packages/ecma402-abstract/DateTimeFormat/FormatDateTime.ts
  packages/ecma402-abstract/DateTimeFormat/FormatDateTimePattern.ts
  packages/ecma402-abstract/DateTimeFormat/FormatDateTimeRange.ts
  packages/ecma402-abstract/DateTimeFormat/FormatDateTimeRangeToParts.ts
  packages/ecma402-abstract/DateTimeFormat/FormatDateTimeToParts.ts
  packages/ecma402-abstract/DateTimeFormat/HandleDateTimeValue.ts
  packages/ecma402-abstract/DateTimeFormat/InitializeDateTimeFormat.ts
  packages/ecma402-abstract/DateTimeFormat/PartitionDateTimePattern.ts
  packages/ecma402-abstract/DateTimeFormat/PartitionDateTimeRangePattern.ts
  packages/ecma402-abstract/DateTimeFormat/TemporalDateTime.ts
  packages/ecma402-abstract/DateTimeFormat/ToLocalTime.ts
  packages/ecma402-abstract/types/date-time.ts
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/core.ts
  packages/intl-datetimeformat/scripts/extract-dates.ts
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-datetimeformat/tests/format-range.test.ts
  packages/intl-datetimeformat/tests/temporal.test.ts
  tools/test262/baselines/combined-datetimeformat.json
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/icu-messageformat-parser): support native getHourCycles
  docs/src/docs/icu-messageformat-parser.mdx
  knowledge-base/006-package-icu-messageformat-parser.md
  packages/icu-messageformat-parser/date-time-pattern-generator.ts
  packages/icu-messageformat-parser/tests/date-time-pattern-generator.test.ts
Due: format-oxfmt, lint-staged

fix(icu_messageformat_parser): honor locale hour preferences
  crates/icu_messageformat_parser/date_time_pattern_generator.rs
  docs/src/docs/tooling/rust-icu-messageformat-parser.mdx
  knowledge-base/006-package-icu-messageformat-parser.md
  packages/icu-messageformat-parser/date-time-pattern-generator.ts
  packages/icu-messageformat-parser/tests/date-time-pattern-generator.test.ts
Due: format-oxfmt, lint-staged

test(@formatjs/icu-messageformat-parser): cover locale hour cycle parity
  knowledge-base/006-package-icu-messageformat-parser.md
  packages/icu-messageformat-parser/integration-tests/test_cases/date_arg_skeleton_locale_en-GB-u-hc-h12.txt
  packages/icu-messageformat-parser/integration-tests/test_cases/date_arg_skeleton_locale_en-GB.txt
  packages/icu-messageformat-parser/integration-tests/test_cases/date_arg_skeleton_locale_fr-CA-u-hc-h11.txt
  packages/icu-messageformat-parser/integration-tests/test_cases/date_arg_skeleton_locale_fr-CA-u-hc-h12.txt
  packages/icu-messageformat-parser/integration-tests/test_cases/date_arg_skeleton_locale_fr-CA.txt
  packages/icu-messageformat-parser/integration-tests/test_cases/date_arg_skeleton_locale_zh-TW-u-hc-h24.txt
  packages/icu-messageformat-parser/integration-tests/test_cases/date_arg_skeleton_locale_zh-TW.txt
Due: format-oxfmt

fix(@formatjs/icu-messageformat-parser): preserve locale hour preferences (#7366)
  crates/icu_messageformat_parser/date_time_pattern_generator.rs
  docs/src/docs/icu-messageformat-parser.mdx
  docs/src/docs/tooling/rust-icu-messageformat-parser.mdx
  knowledge-base/006-package-icu-messageformat-parser.md
  packages/icu-messageformat-parser/date-time-pattern-generator.ts
  packages/icu-messageformat-parser/integration-tests/test_cases/date_arg_skeleton_locale_en-GB-u-hc-h12.txt
  packages/icu-messageformat-parser/integration-tests/test_cases/date_arg_skeleton_locale_en-GB.txt
  packages/icu-messageformat-parser/integration-tests/test_cases/date_arg_skeleton_locale_fr-CA-u-hc-h11.txt
  packages/icu-messageformat-parser/integration-tests/test_cases/date_arg_skeleton_locale_fr-CA-u-hc-h12.txt
  packages/icu-messageformat-parser/integration-tests/test_cases/date_arg_skeleton_locale_fr-CA.txt
  packages/icu-messageformat-parser/integration-tests/test_cases/date_arg_skeleton_locale_zh-TW-u-hc-h24.txt
  packages/icu-messageformat-parser/integration-tests/test_cases/date_arg_skeleton_locale_zh-TW.txt
  packages/icu-messageformat-parser/tests/date-time-pattern-generator.test.ts
Due: format-oxfmt, lint-staged

Saving release notes
  release-notes.md
Due: none

fix(deps): scope release notes to package changes
  knowledge-base/001-repo-layout.md
  release-please-config.json
  tools/release-please/config.test.ts
  tools/release-please/npm-workspace-plugin.test.ts
Due: format-oxfmt, lint-staged

fix(deps): scope release notes to package changes (#7367)
  knowledge-base/001-repo-layout.md
  release-please-config.json
  tools/release-please/config.test.ts
  tools/release-please/npm-workspace-plugin.test.ts
Due: format-oxfmt, lint-staged

docs: outline feature opportunities from OSS comparison
  knowledge-base/016-feature-opportunities.md
Due: format-oxfmt

docs: outline feature opportunities from OSS comparison (#7368)
  knowledge-base/016-feature-opportunities.md
Due: format-oxfmt

feat(eslint-plugin-formatjs): generate opt-in ICU argument contracts
  docs/src/docs/tooling/linter.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  knowledge-base/009-package-developer-tools.md
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/index.ts
  packages/eslint-plugin-formatjs/message-types.ts
  packages/eslint-plugin-formatjs/rules/enforce-message-types.ts
  packages/eslint-plugin-formatjs/tests/enforce-message-types.test.ts
  packages/intl/BUILD.bazel
  packages/intl/index.ts
  packages/intl/tests/typed-message.test.ts
  packages/intl/typed-message.ts
  packages/intl/types.ts
  packages/react-intl/BUILD.bazel
  packages/react-intl/index.ts
  packages/react-intl/server.ts
  packages/react-intl/tests/unit/typed-message.test.tsx
  packages/react-intl/types.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(intl-messageformat): add typed ICU argument contracts
  docs/src/docs/intl-messageformat.mdx
  docs/src/docs/intl.mdx
  docs/src/docs/react-intl.mdx
  docs/src/docs/react-intl/upgrade-guide-10.x.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/intl-messageformat/BUILD.bazel
  packages/intl-messageformat/core.ts
  packages/intl-messageformat/index.ts
  packages/intl-messageformat/message-types.ts
  packages/intl-messageformat/tests/message-types.test.ts
  packages/intl/BUILD.bazel
  packages/intl/index.ts
  packages/intl/tests/typed-message.test.ts
  packages/intl/typed-message.ts
  packages/intl/types.ts
  packages/react-intl/BUILD.bazel
  packages/react-intl/define-message.ts
  packages/react-intl/index.ts
  packages/react-intl/server.ts
  packages/react-intl/tests/unit/typed-message.test.tsx
  packages/react-intl/types.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

docs: refresh typed API metadata
  docs/src/docs-metadata.generated.json
Due: format-oxfmt

docs: move typed API migration to React Intl 11
  docs/public/sitemap.xml
  docs/src/docs-metadata.generated.json
  docs/src/docs/react-intl/upgrade-guide-10.x.mdx
  docs/src/docs/react-intl/upgrade-guide-11.x.mdx
  docs/src/utils/navigation.ts
Due: format-oxfmt, lint-staged

feat(@formatjs/intl): put ICU contracts before rich output types
  docs/src/docs/intl.mdx
  docs/src/docs/react-intl/upgrade-guide-11.x.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/intl/tests/typed-message.test.ts
  packages/intl/types.ts
  packages/react-intl/tests/unit/typed-message.test.tsx
  packages/react-intl/types.ts
Due: format-oxfmt, lint-staged

docs: clarify formatter generics and untyped calls
  docs/src/docs/intl-messageformat.mdx
  docs/src/docs/intl.mdx
  docs/src/docs/react-intl/api.mdx
  docs/src/docs/react-intl/upgrade-guide-11.x.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/intl/tests/typed-message.test.ts
  packages/react-intl/tests/unit/typed-message.test.tsx
Due: format-oxfmt, lint-staged

feat(eslint-plugin-formatjs): type inline formatter messages
  docs/src/docs/tooling/linter.mdx
  knowledge-base/009-package-developer-tools.md
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/rules/enforce-message-types.ts
  packages/eslint-plugin-formatjs/tests/enforce-message-types.test.ts
  packages/eslint-plugin-formatjs/tests/inline-message-types.test.tsx
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(eslint-plugin-formatjs): generate inline formatter generics
  docs/src/docs/tooling/linter.mdx
  knowledge-base/009-package-developer-tools.md
  packages/eslint-plugin-formatjs/rules/enforce-message-types.ts
  packages/eslint-plugin-formatjs/tests/enforce-message-types.test.ts
  packages/eslint-plugin-formatjs/tests/inline-message-types.test.tsx
Due: format-oxfmt, lint-staged

feat(eslint-plugin-formatjs): autofix ICU argument contracts
  docs/src/docs/intl-messageformat.mdx
  docs/src/docs/tooling/linter.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  knowledge-base/009-package-developer-tools.md
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/index.ts
  packages/eslint-plugin-formatjs/message-types.ts
  packages/eslint-plugin-formatjs/rules/enforce-message-types.ts
  packages/eslint-plugin-formatjs/tests/enforce-message-types.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(eslint-plugin-formatjs): share placeholder checks with typed messages
  docs/src/docs/intl-messageformat.mdx
  docs/src/docs/tooling/linter.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  knowledge-base/009-package-developer-tools.md
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/message-types.ts
  packages/eslint-plugin-formatjs/placeholder-checks.ts
  packages/eslint-plugin-formatjs/rules/enforce-message-types.ts
  packages/eslint-plugin-formatjs/rules/enforce-placeholders.ts
  packages/eslint-plugin-formatjs/tests/enforce-message-types.test.ts
  packages/eslint-plugin-formatjs/tests/enforce-placeholders.test.ts
  packages/eslint-plugin-formatjs/tests/inline-message-types.test.tsx
  packages/intl-messageformat/message-types.ts
  packages/intl-messageformat/tests/message-types.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(eslint-plugin-formatjs): hoist contract type imports and refresh generics
  docs/src/docs/tooling/linter.mdx
  knowledge-base/009-package-developer-tools.md
  packages/eslint-plugin-formatjs/rules/enforce-message-types.ts
  packages/eslint-plugin-formatjs/tests/enforce-message-types.test.ts
  packages/eslint-plugin-formatjs/tests/inline-message-types.test.tsx
Due: format-oxfmt, lint-staged

feat(eslint-plugin-formatjs): autofix ICU argument contracts (#7369)
  docs/src/docs/intl-messageformat.mdx
  docs/src/docs/tooling/linter.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  knowledge-base/009-package-developer-tools.md
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/index.ts
  packages/eslint-plugin-formatjs/message-types.ts
  packages/eslint-plugin-formatjs/rules/enforce-message-types.ts
  packages/eslint-plugin-formatjs/tests/enforce-message-types.test.ts
  packages/eslint-plugin-formatjs/tests/inline-message-types.test.tsx
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/intl): put ICU contracts before rich output types (#7372)
  docs/src/docs/intl-messageformat.mdx
  docs/src/docs/intl.mdx
  docs/src/docs/react-intl/api.mdx
  docs/src/docs/react-intl/upgrade-guide-11.x.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/intl/tests/typed-message.test.ts
  packages/intl/types.ts
  packages/react-intl/tests/unit/typed-message.test.tsx
  packages/react-intl/types.ts
Due: format-oxfmt, lint-staged

feat(intl-messageformat): require TS 5.4 and add typed ICU contracts (#7370)
  docs/public/sitemap.xml
  docs/src/docs-metadata.generated.json
  docs/src/docs/intl-messageformat.mdx
  docs/src/docs/intl.mdx
  docs/src/docs/react-intl.mdx
  docs/src/docs/react-intl/upgrade-guide-11.x.mdx
  docs/src/utils/navigation.ts
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/intl-messageformat/BUILD.bazel
  packages/intl-messageformat/core.ts
  packages/intl-messageformat/index.ts
  packages/intl-messageformat/message-types.ts
  packages/intl-messageformat/tests/message-types.test.ts
  packages/intl/BUILD.bazel
  packages/intl/index.ts
  packages/intl/tests/typed-message.test.ts
  packages/intl/typed-message.ts
  packages/intl/types.ts
  packages/react-intl/BUILD.bazel
  packages/react-intl/define-message.ts
  packages/react-intl/index.ts
  packages/react-intl/server.ts
  packages/react-intl/tests/unit/typed-message.test.tsx
  packages/react-intl/types.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(eslint-plugin-formatjs): align placeholder checks and simplify generated types (#7374)
  docs/src/docs/intl-messageformat.mdx
  docs/src/docs/tooling/linter.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  knowledge-base/009-package-developer-tools.md
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/message-types.ts
  packages/eslint-plugin-formatjs/placeholder-checks.ts
  packages/eslint-plugin-formatjs/rules/enforce-message-types.ts
  packages/eslint-plugin-formatjs/rules/enforce-placeholders.ts
  packages/eslint-plugin-formatjs/tests/enforce-message-types.test.ts
  packages/eslint-plugin-formatjs/tests/enforce-placeholders.test.ts
  packages/eslint-plugin-formatjs/tests/inline-message-types.test.tsx
  packages/intl-messageformat/message-types.ts
  packages/intl-messageformat/tests/message-types.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(deps): publish typed-message packages as release candidates
  .github/workflows/release.yml
  CONTRIBUTING.md
  knowledge-base/001-repo-layout.md
  release-please-config.json
  tools/BUILD.bazel
  tools/release-please/npm-release-paths.test.ts
  tools/release-please/npm-release-paths.ts
  tools/release-please/npm-workspace-plugin.test.ts
  tools/release-please/prerelease-versioning.ts
  tools/release-please/run.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(deps): release typed-message packages through the RC channel (#7376)
  .github/workflows/release.yml
  CONTRIBUTING.md
  knowledge-base/001-repo-layout.md
  release-please-config.json
  tools/BUILD.bazel
  tools/release-please/npm-release-paths.test.ts
  tools/release-please/npm-release-paths.ts
  tools/release-please/npm-workspace-plugin.test.ts
  tools/release-please/prerelease-versioning.ts
  tools/release-please/run.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore: release main
  .release-please-manifest.json
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/CHANGELOG.md
  packages/eslint-plugin-formatjs/package.json
  packages/intl-messageformat/BUILD.bazel
  packages/intl-messageformat/CHANGELOG.md
  packages/intl-messageformat/package.json
  packages/intl/BUILD.bazel
  packages/intl/CHANGELOG.md
  packages/intl/package.json
  packages/react-intl/BUILD.bazel
  packages/react-intl/CHANGELOG.md
  packages/react-intl/package.json
  packages/svelte-intl/BUILD.bazel
  packages/svelte-intl/CHANGELOG.md
  packages/svelte-intl/package.json
  packages/vue-intl/BUILD.bazel
  packages/vue-intl/CHANGELOG.md
  packages/vue-intl/package.json
Due: format-package-json, format-starlark, bazel-lock-regen

Path conditions:
  format-package-json: any of: **/package.json
  format-oxfmt: any of: **/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}, but not: **/locale-data/**, **/package.json, **/CHANGELOG.md, packages/cli-lib/tests/extract/typescript/err.tsx, packages/cli/integration-tests/extract/typescript/err.tsx
  format-starlark: any of: **/*.{bazel,bzl,BUILD}
  lint-staged: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}
  bazel-lock-regen: any of: pnpm-lock.yaml, package.json, pnpm-workspace.yaml, *.bazel
