Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

lefthook.yml:

# Lefthook configuration
# Docs: https://github.com/evilmartians/lefthook

# Skip lefthook when LEFTHOOK=0 environment variable is set
# This is equivalent to husky's HUSKY=0 for CI/CD pipelines
skip_output:
  - meta
  - summary

pre-commit:
  parallel: false
  commands:
    format-package-json:
      glob: "**/package.json"
      run: pnpm syncpack fix-mismatches && pnpm syncpack format
      stage_fixed: true
    format-oxfmt:
      glob: "**/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}"
      run: pnpm oxfmt {staged_files}
      stage_fixed: true
      exclude:
        - '**/locale-data/**'
        - '**/package.json'
        - '**/CHANGELOG.md'
        - 'packages/cli-lib/tests/extract/typescript/err.tsx'
        - 'packages/cli/integration-tests/extract/typescript/err.tsx'
    format-starlark:
      glob: "**/*.{bazel,bzl,BUILD}"
      run: |
        set -- {staged_files}
        bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
      stage_fixed: true
    lint-staged:
      glob: '**/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}'
      run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
      stage_fixed: true
    bazel-lock-regen:
      glob:
        - "pnpm-lock.yaml"
        - "package.json"
        - "pnpm-workspace.yaml"
        - "*.bazel"
      run: bazel mod deps
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

refactor(deps): move scripts/ to own Bazel packages, enable gazelle for all
  packages/ecma402-abstract/BUILD.bazel
  packages/ecma402-abstract/scripts/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/icu-skeleton-parser/scripts/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/scripts/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-displaynames/scripts/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-durationformat/scripts/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-getcanonicallocales/scripts/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-listformat/scripts/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-locale/scripts/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  packages/intl-localematcher/scripts/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-numberformat/scripts/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-pluralrules/scripts/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-relativetimeformat/scripts/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-segmenter/scripts/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl-supportedvaluesof/scripts/BUILD.bazel
  packages/ts-transformer/BUILD.bazel
  packages/ts-transformer/tests/fixtures/BUILD.bazel
Due: format-starlark, bazel-lock-regen

fix(deps): restore babel-plugin integration-tests BUILD from phase 3
  packages/babel-plugin-formatjs/integration-tests/BUILD.bazel
Due: format-starlark, bazel-lock-regen

refactor(deps): clean up unused variables, configure strict buildifier
  lefthook.yml
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/babel-plugin-formatjs/tsconfig.json
  packages/bigdecimal/BUILD.bazel
  packages/bigdecimal/tsconfig.json
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/tsconfig.json
  packages/ecma376/BUILD.bazel
  packages/ecma402-abstract/BUILD.bazel
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/tsconfig.json
  packages/fast-memoize/BUILD.bazel
  packages/icu-messageformat-parser-wasm/BUILD.bazel
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  packages/svelte-intl/BUILD.bazel
  packages/ts-transformer/BUILD.bazel
  packages/unplugin/BUILD.bazel
  packages/utils/BUILD.bazel
  packages/vue-intl/BUILD.bazel
  tools/formatjs_lib.bzl
  tools/index.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

fix(deps): disable gazelle for bigdecimal to fix _typecheck_test
  packages/bigdecimal/BUILD.bazel
Due: format-starlark, bazel-lock-regen

fix(deps): re-enable gazelle for bigdecimal using js_tsconfig_ignore
  packages/bigdecimal/BUILD.bazel
Due: format-starlark, bazel-lock-regen

fix(deps): fix cross-package script references and vitest args
  packages/ecma402-abstract/BUILD.bazel
  packages/ecma402-abstract/scripts/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/icu-skeleton-parser/scripts/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/scripts/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-displaynames/scripts/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-durationformat/scripts/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-getcanonicallocales/scripts/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-listformat/scripts/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-locale/scripts/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  packages/intl-localematcher/scripts/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-numberformat/scripts/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-pluralrules/scripts/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-relativetimeformat/scripts/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-segmenter/scripts/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl-supportedvaluesof/scripts/BUILD.bazel
  packages/react-intl/BUILD.bazel
  packages/ts-transformer/BUILD.bazel
  packages/vue-intl/BUILD.bazel
Due: format-starlark, bazel-lock-regen

fix(deps): add missing vitest deps and fixtures with # keep
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/cli-lib/BUILD.bazel
  packages/ts-transformer/BUILD.bazel
Due: format-starlark, bazel-lock-regen

fix(deps): revert scripts/ subpackages, re-disable packages with scripts
  packages/ecma402-abstract/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/ts-transformer/BUILD.bazel
  packages/ts-transformer/tests/fixtures/BUILD.bazel
Due: format-starlark, bazel-lock-regen

refactor(deps): package scripts as js_binary, enable gazelle for all
  packages/ecma376/BUILD.bazel
  packages/ecma402-abstract/BUILD.bazel
  packages/ecma402-abstract/scripts/BUILD.bazel
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/scripts/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/icu-skeleton-parser/scripts/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/scripts/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-displaynames/scripts/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-durationformat/scripts/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-getcanonicallocales/scripts/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-listformat/scripts/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-locale/scripts/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  packages/intl-localematcher/scripts/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-numberformat/scripts/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-pluralrules/scripts/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-relativetimeformat/scripts/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-segmenter/scripts/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl-supportedvaluesof/scripts/BUILD.bazel
  packages/react-intl/examples/BUILD.bazel
Due: format-starlark, bazel-lock-regen

fix(deps): convert remaining entry_point to tool, fix eslint-plugin
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
Due: format-starlark, bazel-lock-regen

fix(deps): properly restore disabled packages from phase 3
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
Due: format-starlark, bazel-lock-regen

fix(deps): run buildifier after gazelle in lefthook
  lefthook.yml
Due: none

fix(deps): move map_kind to per-package, fix eslint-plugin and intl-datetimeformat
  BUILD.bazel
  lefthook.yml
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/bigdecimal/BUILD.bazel
  packages/cli-lib/BUILD.bazel
  packages/ecma376/BUILD.bazel
  packages/ecma402-abstract/BUILD.bazel
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/fast-memoize/BUILD.bazel
  packages/icu-messageformat-parser-wasm/BUILD.bazel
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  packages/svelte-intl/BUILD.bazel
  packages/unplugin/BUILD.bazel
  packages/utils/BUILD.bazel
  packages/vue-intl/BUILD.bazel
  tools/BUILD.bazel
Due: format-starlark, bazel-lock-regen

chore: extract scripts directories into separate workspace packages
  packages/ecma402-abstract/scripts/package.json
  packages/eslint-plugin-formatjs/scripts/package.json
  packages/icu-skeleton-parser/scripts/package.json
  packages/intl-datetimeformat/scripts/package.json
  packages/intl-displaynames/scripts/package.json
  packages/intl-durationformat/scripts/package.json
  packages/intl-getcanonicallocales/scripts/package.json
  packages/intl-listformat/scripts/package.json
  packages/intl-locale/scripts/package.json
  packages/intl-localematcher/scripts/package.json
  packages/intl-numberformat/scripts/package.json
  packages/intl-pluralrules/scripts/package.json
  packages/intl-relativetimeformat/scripts/package.json
  packages/intl-segmenter/scripts/package.json
  packages/intl-supportedvaluesof/scripts/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format-package-json, bazel-lock-regen

Revert "chore: extract scripts directories into separate workspace packages"
  packages/ecma402-abstract/scripts/package.json
  packages/eslint-plugin-formatjs/scripts/package.json
  packages/icu-skeleton-parser/scripts/package.json
  packages/intl-datetimeformat/scripts/package.json
  packages/intl-displaynames/scripts/package.json
  packages/intl-durationformat/scripts/package.json
  packages/intl-getcanonicallocales/scripts/package.json
  packages/intl-listformat/scripts/package.json
  packages/intl-locale/scripts/package.json
  packages/intl-localematcher/scripts/package.json
  packages/intl-numberformat/scripts/package.json
  packages/intl-pluralrules/scripts/package.json
  packages/intl-relativetimeformat/scripts/package.json
  packages/intl-segmenter/scripts/package.json
  packages/intl-supportedvaluesof/scripts/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format-package-json, bazel-lock-regen

chore: extract scripts into separate Bazel packages
  packages/ecma402-abstract/BUILD.bazel
  packages/ecma402-abstract/scripts/BUILD.bazel
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/scripts/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/icu-skeleton-parser/scripts/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/scripts/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-displaynames/scripts/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-durationformat/scripts/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-getcanonicallocales/scripts/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-listformat/scripts/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-locale/scripts/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  packages/intl-localematcher/scripts/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-numberformat/scripts/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-pluralrules/scripts/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-relativetimeformat/scripts/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-segmenter/scripts/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl-supportedvaluesof/scripts/BUILD.bazel
Due: format-starlark, bazel-lock-regen

chore(@formatjs/ecma402-abstract): generate package.json from BUILD.bazel
  packages/ecma402-abstract/BUILD.bazel
  packages/ecma402-abstract/package.json
  tools/index.bzl
Due: format-package-json, format-starlark, bazel-lock-regen

chore: add #packages/* path alias to tsconfig generation
  MODULE.bazel
  MODULE.bazel.lock
  docs/tsconfig.json
  package.json
  packages/babel-plugin-formatjs/tsconfig.json
  packages/bigdecimal/tsconfig.json
  packages/cli-lib/tsconfig.json
  packages/ecma376/tsconfig.json
  packages/ecma402-abstract/tsconfig.json
  packages/editor/tsconfig.json
  packages/eslint-plugin-formatjs/tsconfig.json
  packages/fast-memoize/tsconfig.json
  packages/icu-messageformat-parser-wasm/tsconfig.json
  packages/icu-messageformat-parser/tsconfig.json
  packages/icu-skeleton-parser/tsconfig.json
  packages/intl-datetimeformat/tsconfig.json
  packages/intl-displaynames/tsconfig.json
  packages/intl-durationformat/tsconfig.json
  packages/intl-getcanonicallocales/tsconfig.json
  packages/intl-listformat/tsconfig.json
  packages/intl-locale/tsconfig.json
  packages/intl-localematcher/tsconfig.json
  packages/intl-messageformat/tsconfig.json
  packages/intl-numberformat/tsconfig.json
  packages/intl-pluralrules/tsconfig.json
  packages/intl-relativetimeformat/tsconfig.json
  packages/intl-segmenter/tsconfig.json
  packages/intl-supportedvaluesof/tsconfig.json
  packages/intl/tsconfig.json
  packages/react-intl/tsconfig.json
  packages/svelte-intl/tsconfig.json
  packages/ts-transformer/tsconfig.json
  packages/unplugin/tsconfig.json
  packages/utils/tsconfig.json
  packages/vue-intl/tsconfig.json
  tools/index.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

chore: add composite project support to tsconfig generation
  packages/ecma402-abstract/BUILD.bazel
  packages/ecma402-abstract/tsconfig.json
  packages/intl-locale/BUILD.bazel
  packages/intl-locale/tsconfig.json
  tools/index.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

chore(@formatjs/intl-locale): bundle with esbuild, externalize deps
  BUILD.bazel
  packages/ecma402-abstract/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-locale/index.ts
  tools/BUILD.bazel
  tools/check_no_internal_imports.sh
  tools/esbuild-packages-resolve.mjs
  tools/vitest.bzl
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore: add esbuild bundling to all polyfill packages
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
Due: format-starlark, bazel-lock-regen

chore: remove @formatjs/icu-messageformat-parser-wasm package
  BUILD.bazel
  knowledge-base/002-ts-package-dependency-hierarchy.md
  knowledge-base/003-rust-crate-dependency-hierarchy.md
  knowledge-base/006-package-icu-messageformat-parser.md
  packages/icu-messageformat-parser-wasm/BENCHMARK.md
  packages/icu-messageformat-parser-wasm/BUILD.bazel
  packages/icu-messageformat-parser-wasm/README.md
  packages/icu-messageformat-parser-wasm/benchmark/BUILD.bazel
  packages/icu-messageformat-parser-wasm/benchmark/benchmark.ts
  packages/icu-messageformat-parser-wasm/benchmark/package.json
  packages/icu-messageformat-parser-wasm/index.ts
  packages/icu-messageformat-parser-wasm/package.json
  packages/icu-messageformat-parser-wasm/tsconfig.json
  packages/icu-messageformat-parser/integration-tests/BUILD.bazel
  packages/icu-messageformat-parser/integration-tests/package.json
  packages/icu-messageformat-parser/integration-tests/wasm-integration.test.ts
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore(@formatjs/intl-segmenter): use #packages direct imports for ecma402-abstract
  packages/intl-segmenter/BUILD.bazel
  packages/intl-segmenter/src/segmenter.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/icu-messageformat-parser): use Map.has() instead of in operator in collectVariables
  packages/icu-messageformat-parser/manipulator.ts
  packages/icu-messageformat-parser/tests/manipulator.test.ts
Due: format-oxfmt, lint-staged

chore(@formatjs/intl-displaynames): use #packages direct imports for ecma402-abstract
  BUILD.bazel
  docs/BUILD.bazel
  packages/ecma402-abstract/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-displaynames/abstract/CanonicalCodeForDisplayNames.ts
  packages/intl-displaynames/index.ts
  packages/intl-displaynames/scripts/BUILD.bazel
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore(@formatjs/intl-listformat): use #packages direct imports for ecma402-abstract
  packages/intl-listformat/BUILD.bazel
  packages/intl-listformat/index.ts
  packages/intl-listformat/scripts/BUILD.bazel
  packages/intl-listformat/scripts/extract-list.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore(@formatjs/intl-pluralrules): use #packages direct imports for ecma402-abstract
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-pluralrules/abstract/GetOperands.ts
  packages/intl-pluralrules/abstract/InitializePluralRules.ts
  packages/intl-pluralrules/abstract/ResolvePlural.ts
  packages/intl-pluralrules/abstract/ResolvePluralRange.ts
  packages/intl-pluralrules/index.ts
  packages/intl-pluralrules/scripts/BUILD.bazel
  packages/intl-pluralrules/scripts/cldr-raw.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore(@formatjs/intl-relativetimeformat): use #packages direct imports for ecma402-abstract
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-relativetimeformat/abstract/FormatRelativeTime.ts
  packages/intl-relativetimeformat/abstract/FormatRelativeTimeToParts.ts
  packages/intl-relativetimeformat/abstract/InitializeRelativeTimeFormat.ts
  packages/intl-relativetimeformat/abstract/MakePartsList.ts
  packages/intl-relativetimeformat/abstract/PartitionRelativeTimePattern.ts
  packages/intl-relativetimeformat/abstract/SingularRelativeTimeUnit.ts
  packages/intl-relativetimeformat/get_internal_slots.ts
  packages/intl-relativetimeformat/index.ts
  packages/intl-relativetimeformat/scripts/BUILD.bazel
  packages/intl-relativetimeformat/scripts/extract-relative.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore(@formatjs/intl-numberformat): use #packages direct imports for ecma402-abstract
  packages/intl-numberformat/BUILD.bazel
  packages/intl-numberformat/polyfill-force.ts
  packages/intl-numberformat/polyfill.ts
  packages/intl-numberformat/scripts/BUILD.bazel
  packages/intl-numberformat/scripts/extract-currencies.ts
  packages/intl-numberformat/scripts/extract-numbers.ts
  packages/intl-numberformat/scripts/extract-units.ts
  packages/intl-numberformat/scripts/units-constants.ts
  packages/intl-numberformat/scripts/utils.ts
  packages/intl-numberformat/src/core.ts
  packages/intl-numberformat/src/get_internal_slots.ts
  packages/intl-numberformat/src/to_locale_string.ts
  packages/intl-numberformat/src/types.ts
  packages/intl-numberformat/tests/currency/currencyTest.ts
  packages/intl-numberformat/tests/decimal/decimalTest.ts
  packages/intl-numberformat/tests/format_to_parts.test.ts
  packages/intl-numberformat/tests/notation-compact-ko-KR.test.ts
  packages/intl-numberformat/tests/percent/percentTest.ts
  packages/intl-numberformat/tests/unit/unitTest.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore(@formatjs/intl-displaynames): use #packages direct imports for ecma402-abstract
  BUILD.bazel
  docs/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-displaynames/abstract/CanonicalCodeForDisplayNames.ts
  packages/intl-displaynames/index.ts
  packages/intl-displaynames/scripts/BUILD.bazel
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore(@formatjs/intl-displaynames): use #packages direct imports for ecma402-abstract
  packages/ecma402-abstract/BUILD.bazel
Due: format-starlark, bazel-lock-regen
