Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

lefthook.yml:

# Lefthook configuration
# Docs: https://github.com/evilmartians/lefthook

# Skip lefthook when LEFTHOOK=0 environment variable is set
# This is equivalent to husky's HUSKY=0 for CI/CD pipelines
skip_output:
  - meta
  - summary

pre-commit:
  parallel: false
  commands:
    format-package-json:
      glob: "**/package.json"
      run: pnpm syncpack fix-mismatches && pnpm syncpack format
      stage_fixed: true
    format-oxfmt:
      glob: "**/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}"
      run: pnpm oxfmt {staged_files}
      stage_fixed: true
      exclude:
        - '**/locale-data/**'
        - '**/package.json'
        - '**/CHANGELOG.md'
        - 'packages/cli-lib/tests/extract/typescript/err.tsx'
        - 'packages/cli/integration-tests/extract/typescript/err.tsx'
    format-starlark:
      glob: "**/*.{bazel,bzl,BUILD}"
      run: |
        set -- {staged_files}
        bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
      stage_fixed: true
    lint-staged:
      glob: '**/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}'
      run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
      stage_fixed: true
    bazel-lock-regen:
      glob:
        - "pnpm-lock.yaml"
        - "package.json"
        - "pnpm-workspace.yaml"
        - "*.bazel"
      run: bazel mod deps
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

fix(@formatjs/intl-datetimeformat): update IANA timezone database to 2026d
  MODULE.bazel
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, lint-staged, bazel-lock-regen

test(@formatjs/editor): use scoped runtime and Bazel worker downloads
  .github/scripts/actiond-vrt.sh
  MODULE.bazel
  knowledge-base/013-editor-vrt.md
  packages/editor/vrt/README.md
Due: format-oxfmt, bazel-lock-regen

build(@formatjs/editor): use source-built browser test tools
  MODULE.bazel
  knowledge-base/013-editor-vrt.md
  packages/editor/vrt/README.md
Due: format-oxfmt, bazel-lock-regen

build(deps): lock source-built browser test dependencies
  MODULE.bazel.lock
Due: none

fix(@formatjs/intl-datetimeformat): update IANA timezone database to 2026d (#7395)
  MODULE.bazel
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, lint-staged, bazel-lock-regen

ci(@formatjs/editor): simplify actiond browser setup
  .github/scripts/actiond-vrt.sh
  .github/workflows/editor-browser.yml
  MODULE.bazel
  knowledge-base/013-editor-vrt.md
  packages/editor/vrt/README.md
  tools/BUILD.bazel
Due: format-oxfmt, format-starlark, bazel-lock-regen

style: format actiond target constraints
  tools/BUILD.bazel
Due: format-starlark, bazel-lock-regen

fix(eslint-plugin-formatjs): load Unicode ESM data files
  MODULE.bazel.lock
  docs/src/docs/tooling/linter.mdx
  knowledge-base/009-package-developer-tools.md
  package.json
  packages/ecma402-abstract/scripts/BUILD.bazel
  packages/ecma402-abstract/scripts/regex-gen.ts
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/emoji-utils.ts
  packages/eslint-plugin-formatjs/tests/package-load.mjs
  packages/icu-messageformat-parser/tools/regex-gen.ts
  packages/icu-skeleton-parser/scripts/regex-gen.ts
  pnpm-lock.yaml
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

build(deps): pin merged browser rules
  MODULE.bazel
Due: bazel-lock-regen

fix(eslint-plugin-formatjs): retain generator Node typings
  packages/ecma402-abstract/scripts/BUILD.bazel
  packages/ecma402-abstract/scripts/regex-gen.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

test: run editor browser suites hermetically in actiond (#7390)
  .bazelrc
  .github/scripts/actiond-vrt.sh
  .github/workflows/editor-browser.yml
  MODULE.bazel
  MODULE.bazel.lock
  knowledge-base/013-editor-vrt.md
  packages/editor/README.md
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
  packages/editor/vrt/browsers/BUILD.bazel
  tools/BUILD.bazel
Due: format-oxfmt, format-starlark, bazel-lock-regen

fix(eslint-plugin-formatjs): load Unicode ESM data files (#7400)
  MODULE.bazel.lock
  docs/src/docs/tooling/linter.mdx
  knowledge-base/009-package-developer-tools.md
  package.json
  packages/ecma402-abstract/scripts/BUILD.bazel
  packages/ecma402-abstract/scripts/regex-gen.ts
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/emoji-utils.ts
  packages/eslint-plugin-formatjs/tests/package-load.mjs
  packages/icu-messageformat-parser/tools/regex-gen.ts
  packages/icu-skeleton-parser/scripts/regex-gen.ts
  pnpm-lock.yaml
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(vue-intl): align Vue and Svelte message contracts
  docs/src/docs/svelte-intl.mdx
  docs/src/docs/vue-intl.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/eslint-plugin-formatjs/rules/enforce-message-types.ts
  packages/eslint-plugin-formatjs/tests/enforce-message-types.test.ts
  packages/svelte-intl/index.ts
  packages/svelte-intl/tests/index.test.ts
  packages/vue-intl/index.ts
  packages/vue-intl/tests/index.test.ts
  tools/release-please/npm-workspace-plugin.test.ts
Due: format-oxfmt, lint-staged

test(vue-intl): keep framework type assertions reachable
  packages/svelte-intl/tests/index.test.ts
  packages/vue-intl/tests/index.test.ts
Due: format-oxfmt, lint-staged

feat(vue-intl): align Vue and Svelte message contracts (#7404)
  docs/src/docs/svelte-intl.mdx
  docs/src/docs/vue-intl.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/eslint-plugin-formatjs/rules/enforce-message-types.ts
  packages/eslint-plugin-formatjs/tests/enforce-message-types.test.ts
  packages/svelte-intl/index.ts
  packages/svelte-intl/tests/index.test.ts
  packages/vue-intl/index.ts
  packages/vue-intl/tests/index.test.ts
  tools/release-please/npm-workspace-plugin.test.ts
Due: format-oxfmt, lint-staged

chore(deps): promote messaging packages to stable releases
  CONTRIBUTING.md
  knowledge-base/001-repo-layout.md
  release-please-config.json
  tools/release-please/npm-workspace-plugin.test.ts
Due: format-oxfmt, lint-staged

chore(deps): promote messaging packages to stable releases (#7405)
  CONTRIBUTING.md
  knowledge-base/001-repo-layout.md
  release-please-config.json
  tools/release-please/npm-workspace-plugin.test.ts
Due: format-oxfmt, lint-staged

fix(deps): share main test cache with fork builds
  .github/workflows/test.yml
  knowledge-base/001a-bazel-toolchain.md
Due: format-oxfmt

fix(deps): share main test cache with fork builds (#7406)
  .github/workflows/test.yml
  knowledge-base/001a-bazel-toolchain.md
Due: format-oxfmt

fix(deps): seed GitHub test cache with BuildBuddy RBE
  .bazelrc
  .github/workflows/test.yml
  CONTRIBUTING.md
  knowledge-base/001a-bazel-toolchain.md
Due: format-oxfmt

fix(deps): restrict test RBE credentials to main pushes
  .github/workflows/test.yml
  CONTRIBUTING.md
  knowledge-base/001a-bazel-toolchain.md
Due: format-oxfmt

fix(deps): seed GitHub test cache with BuildBuddy RBE (#7408)
  .bazelrc
  .github/workflows/test.yml
  CONTRIBUTING.md
  knowledge-base/001a-bazel-toolchain.md
Due: format-oxfmt

fix(deps): select BuildBuddy execution by key availability
  .github/workflows/test.yml
  CONTRIBUTING.md
  knowledge-base/001a-bazel-toolchain.md
Due: format-oxfmt

fix(deps): select BuildBuddy execution by key availability (#7409)
  .github/workflows/test.yml
  CONTRIBUTING.md
  knowledge-base/001a-bazel-toolchain.md
Due: format-oxfmt

feat(@formatjs/editor): refine localization workflows
  knowledge-base/013-editor-vrt.md
  packages/editor/BUILD.bazel
  packages/editor/README.md
  packages/editor/core.tsx
  packages/editor/demo/design-system/editor-components.tsx
  packages/editor/design-system.tsx
  packages/editor/editor.test.tsx
  packages/editor/index.ts
  packages/editor/layout.ts
  packages/editor/locale-picker.tsx
  packages/editor/message-context.tsx
  packages/editor/message-status.ts
  packages/editor/message.tsx
  packages/editor/tools.test.tsx
  packages/editor/ui.test.tsx
  packages/editor/ui.tsx
  packages/editor/workflow.test.tsx
  packages/editor/workflow.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore: capture editor visual baselines
  .github/scripts/actiond-vrt.sh
Due: none

test(@formatjs/editor): update workflow baselines
  .github/scripts/actiond-vrt.sh
  packages/editor/vrt/__screenshots__/editor-invalid.png
  packages/editor/vrt/__screenshots__/editor-workflow-mobile-rtl.png
  packages/editor/vrt/__screenshots__/editor-workflow.png
Due: none

chore: restore browser workflow mode
  .github/scripts/actiond-vrt.sh
Due: none

fix(@formatjs/editor): preserve missing status and resize translation fields
  knowledge-base/013-editor-vrt.md
  packages/editor/README.md
  packages/editor/design-system.tsx
  packages/editor/message-status.ts
  packages/editor/ui.test.tsx
  packages/editor/workflow.test.tsx
  packages/editor/workflow.ts
Due: format-oxfmt, lint-staged

fix(deps): repair snapshot checks and NumberFormat timeout
  knowledge-base/001a-bazel-toolchain.md
  packages/cli/integration-tests/compile/integration.test.ts
  tools/test262/BUILD.bazel
  tools/test262/defs.bzl
  tools/vitest.bzl
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/editor): refine localization workflows (#7403)
  knowledge-base/013-editor-vrt.md
  packages/editor/BUILD.bazel
  packages/editor/README.md
  packages/editor/core.tsx
  packages/editor/demo/design-system/editor-components.tsx
  packages/editor/design-system.tsx
  packages/editor/editor.test.tsx
  packages/editor/index.ts
  packages/editor/layout.ts
  packages/editor/locale-picker.tsx
  packages/editor/message-context.tsx
  packages/editor/message-status.ts
  packages/editor/message.tsx
  packages/editor/tools.test.tsx
  packages/editor/ui.test.tsx
  packages/editor/ui.tsx
  packages/editor/vrt/__screenshots__/editor-invalid.png
  packages/editor/vrt/__screenshots__/editor-workflow-mobile-rtl.png
  packages/editor/vrt/__screenshots__/editor-workflow.png
  packages/editor/workflow.test.tsx
  packages/editor/workflow.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(deps): refresh remaining strict snapshot baselines
  packages/cli-lib/tests/unit/__snapshots__/gts_extractor.test.ts.snap
  packages/cli-lib/tests/unit/__snapshots__/hbs_extractor.test.ts.snap
  packages/icu-skeleton-parser/tests/__snapshots__/index.test.ts.snap
  tools/vitest.bzl
Due: format-starlark

fix: tolerate delayed npm registry propagation
  knowledge-base/001-repo-layout.md
  tools/release-please/npm-release-paths.test.ts
  tools/release-please/npm-release-paths.ts
Due: format-oxfmt, lint-staged

fix: tolerate delayed npm registry propagation (#7414)
  knowledge-base/001-repo-layout.md
  tools/release-please/npm-release-paths.test.ts
  tools/release-please/npm-release-paths.ts
Due: format-oxfmt, lint-staged
