Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

lefthook.yml:

# Lefthook configuration
# Docs: https://github.com/evilmartians/lefthook

# Skip lefthook when LEFTHOOK=0 environment variable is set
# This is equivalent to husky's HUSKY=0 for CI/CD pipelines
skip_output:
  - meta
  - summary

pre-commit:
  parallel: false
  commands:
    format-package-json:
      glob: "**/package.json"
      run: pnpm syncpack fix-mismatches && pnpm syncpack format
      stage_fixed: true
    format-oxfmt:
      glob: "**/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}"
      run: pnpm oxfmt {staged_files}
      stage_fixed: true
      exclude:
        - '**/locale-data/**'
        - '**/package.json'
        - '**/CHANGELOG.md'
        - 'packages/cli-lib/tests/extract/typescript/err.tsx'
        - 'packages/cli/integration-tests/extract/typescript/err.tsx'
    format-starlark:
      glob: "**/*.{bazel,bzl,BUILD}"
      run: |
        set -- {staged_files}
        bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
      stage_fixed: true
    lint-staged:
      glob: '**/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}'
      run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
      stage_fixed: true
    bazel-lock-regen:
      glob:
        - "pnpm-lock.yaml"
        - "package.json"
        - "pnpm-workspace.yaml"
        - "*.bazel"
      run: bazel mod deps
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

build: move files (#6024)
  data/BUILD.bazel
  packages/utils/BUILD.bazel
  packages/utils/data/list-one.xml
Due: format-starlark, bazel-lock-regen

docs: #6012 update intl-durationformat polyfill docs page (#6018)
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  docs/src/docs/polyfills/intl-displaynames.mdx
  docs/src/docs/polyfills/intl-durationformat.mdx
  docs/src/docs/polyfills/intl-listformat.mdx
  docs/src/docs/polyfills/intl-locale.mdx
  docs/src/docs/polyfills/intl-numberformat.mdx
  docs/src/docs/polyfills/intl-pluralrules.mdx
  docs/src/docs/polyfills/intl-relativetimeformat.mdx
  docs/src/docs/polyfills/intl-segmenter.mdx
Due: format-oxfmt

fix(@formatjs/intl-datetimeformat): fix formatRange h24 midnight and hour12 duplication (#6026)
  packages/intl-datetimeformat/scripts/extract-dates.ts
  packages/intl-datetimeformat/src/abstract/FormatDateTimePattern.ts
  packages/intl-datetimeformat/tests/format-range.test.ts
Due: format-oxfmt, lint-staged

fix(eslint-plugin-formatjs): rm typescript-eslint dep
  MODULE.bazel.lock
  package.json
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/context-compat.ts
  packages/eslint-plugin-formatjs/index.ts
  packages/eslint-plugin-formatjs/package.json
  packages/eslint-plugin-formatjs/rules/blocklist-elements.ts
  packages/eslint-plugin-formatjs/rules/enforce-default-message.ts
  packages/eslint-plugin-formatjs/rules/enforce-description.ts
  packages/eslint-plugin-formatjs/rules/enforce-id.ts
  packages/eslint-plugin-formatjs/rules/enforce-placeholders.ts
  packages/eslint-plugin-formatjs/rules/enforce-plural-rules.ts
  packages/eslint-plugin-formatjs/rules/no-camel-case.ts
  packages/eslint-plugin-formatjs/rules/no-complex-selectors.ts
  packages/eslint-plugin-formatjs/rules/no-emoji.ts
  packages/eslint-plugin-formatjs/rules/no-id.ts
  packages/eslint-plugin-formatjs/rules/no-invalid-icu.ts
  packages/eslint-plugin-formatjs/rules/no-literal-string-in-jsx.ts
  packages/eslint-plugin-formatjs/rules/no-literal-string-in-object.ts
  packages/eslint-plugin-formatjs/rules/no-missing-icu-plural-one-placeholders.ts
  packages/eslint-plugin-formatjs/rules/no-multiple-plurals.ts
  packages/eslint-plugin-formatjs/rules/no-multiple-whitespaces.ts
  packages/eslint-plugin-formatjs/rules/no-offset.ts
  packages/eslint-plugin-formatjs/rules/no-useless-message.ts
  packages/eslint-plugin-formatjs/rules/prefer-formatted-message.ts
  packages/eslint-plugin-formatjs/rules/prefer-pound-in-plural.ts
  packages/eslint-plugin-formatjs/tests/enforce-id.test.ts
  packages/eslint-plugin-formatjs/tests/no-invalid-icu.test.ts
  packages/eslint-plugin-formatjs/tests/no-literal-string-in-jsx.test.ts
  packages/eslint-plugin-formatjs/tests/no-missing-icu-plural-one-placeholders.test.ts
  packages/eslint-plugin-formatjs/tests/util.ts
  packages/eslint-plugin-formatjs/util.ts
  packages/intl-segmenter/tests/word.test.ts
  patches/oxlint@1.48.0.patch
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(eslint-plugin-formatjs): rm typescript-eslint dep (#6028)
  MODULE.bazel.lock
  package.json
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/context-compat.ts
  packages/eslint-plugin-formatjs/index.ts
  packages/eslint-plugin-formatjs/package.json
  packages/eslint-plugin-formatjs/rules/blocklist-elements.ts
  packages/eslint-plugin-formatjs/rules/enforce-default-message.ts
  packages/eslint-plugin-formatjs/rules/enforce-description.ts
  packages/eslint-plugin-formatjs/rules/enforce-id.ts
  packages/eslint-plugin-formatjs/rules/enforce-placeholders.ts
  packages/eslint-plugin-formatjs/rules/enforce-plural-rules.ts
  packages/eslint-plugin-formatjs/rules/no-camel-case.ts
  packages/eslint-plugin-formatjs/rules/no-complex-selectors.ts
  packages/eslint-plugin-formatjs/rules/no-emoji.ts
  packages/eslint-plugin-formatjs/rules/no-id.ts
  packages/eslint-plugin-formatjs/rules/no-invalid-icu.ts
  packages/eslint-plugin-formatjs/rules/no-literal-string-in-jsx.ts
  packages/eslint-plugin-formatjs/rules/no-literal-string-in-object.ts
  packages/eslint-plugin-formatjs/rules/no-missing-icu-plural-one-placeholders.ts
  packages/eslint-plugin-formatjs/rules/no-multiple-plurals.ts
  packages/eslint-plugin-formatjs/rules/no-multiple-whitespaces.ts
  packages/eslint-plugin-formatjs/rules/no-offset.ts
  packages/eslint-plugin-formatjs/rules/no-useless-message.ts
  packages/eslint-plugin-formatjs/rules/prefer-formatted-message.ts
  packages/eslint-plugin-formatjs/rules/prefer-pound-in-plural.ts
  packages/eslint-plugin-formatjs/tests/enforce-id.test.ts
  packages/eslint-plugin-formatjs/tests/no-invalid-icu.test.ts
  packages/eslint-plugin-formatjs/tests/no-literal-string-in-jsx.test.ts
  packages/eslint-plugin-formatjs/tests/no-missing-icu-plural-one-placeholders.test.ts
  packages/eslint-plugin-formatjs/tests/util.ts
  packages/eslint-plugin-formatjs/util.ts
  packages/intl-segmenter/tests/word.test.ts
  patches/oxlint@1.48.0.patch
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/vite-plugin): introduce vite plugin for formatjs
  .syncpackrc.json
  MODULE.bazel.lock
  docs/src/docs-metadata.generated.json
  docs/src/docs/guides/bundler-plugins.mdx
  docs/src/docs/tooling/vite-plugin.mdx
  docs/src/utils/navigation.ts
  package.json
  packages/vite-plugin/BUILD.bazel
  packages/vite-plugin/LICENSE.md
  packages/vite-plugin/README.md
  packages/vite-plugin/index.ts
  packages/vite-plugin/integration-tests/BUILD.bazel
  packages/vite-plugin/integration-tests/__snapshots__/integration.test.ts.snap
  packages/vite-plugin/integration-tests/fixtures/defineMessage.ts
  packages/vite-plugin/integration-tests/fixtures/defineMessages.ts
  packages/vite-plugin/integration-tests/fixtures/formatMessage.ts
  packages/vite-plugin/integration-tests/fixtures/jsx.tsx
  packages/vite-plugin/integration-tests/integration.test.ts
  packages/vite-plugin/integration-tests/package.json
  packages/vite-plugin/package.json
  packages/vite-plugin/tests/transform.test.ts
  packages/vite-plugin/transform.ts
  packages/vite-plugin/tsconfig.json
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/vite-plugin): introduce vite plugin for formatjs (#6030)
  .syncpackrc.json
  MODULE.bazel.lock
  docs/src/docs-metadata.generated.json
  docs/src/docs/guides/bundler-plugins.mdx
  docs/src/docs/tooling/vite-plugin.mdx
  docs/src/utils/navigation.ts
  package.json
  packages/vite-plugin/BUILD.bazel
  packages/vite-plugin/LICENSE.md
  packages/vite-plugin/README.md
  packages/vite-plugin/index.ts
  packages/vite-plugin/integration-tests/BUILD.bazel
  packages/vite-plugin/integration-tests/__snapshots__/integration.test.ts.snap
  packages/vite-plugin/integration-tests/fixtures/defineMessage.ts
  packages/vite-plugin/integration-tests/fixtures/defineMessages.ts
  packages/vite-plugin/integration-tests/fixtures/formatMessage.ts
  packages/vite-plugin/integration-tests/fixtures/jsx.tsx
  packages/vite-plugin/integration-tests/integration.test.ts
  packages/vite-plugin/integration-tests/package.json
  packages/vite-plugin/package.json
  packages/vite-plugin/tests/transform.test.ts
  packages/vite-plugin/transform.ts
  packages/vite-plugin/tsconfig.json
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

build: add vite-plugin to dist
  BUILD.bazel
Due: bazel-lock-regen

fix(@formatjs/vite-plugin): handle transpiled react
  packages/vite-plugin/integration-tests/__snapshots__/integration.test.ts.snap
  packages/vite-plugin/integration-tests/fixtures/compiledJsx.js
  packages/vite-plugin/integration-tests/fixtures/removeDescription.tsx
  packages/vite-plugin/integration-tests/integration.test.ts
  packages/vite-plugin/tests/transform.test.ts
  packages/vite-plugin/transform.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/vite-plugin): handle transpiled react (#6031)
  packages/vite-plugin/integration-tests/__snapshots__/integration.test.ts.snap
  packages/vite-plugin/integration-tests/fixtures/compiledJsx.js
  packages/vite-plugin/integration-tests/fixtures/removeDescription.tsx
  packages/vite-plugin/integration-tests/integration.test.ts
  packages/vite-plugin/tests/transform.test.ts
  packages/vite-plugin/transform.ts
Due: format-oxfmt, lint-staged

feat(eslint-plugin-formatjs): add prefer-full-sentence rule
  packages/eslint-plugin-formatjs/index.ts
  packages/eslint-plugin-formatjs/rules/prefer-full-sentence.ts
  packages/eslint-plugin-formatjs/tests/prefer-full-sentence.test.ts
Due: format-oxfmt, lint-staged

feat(eslint-plugin-formatjs): add prefer-full-sentence rule (#6034)
  packages/eslint-plugin-formatjs/index.ts
  packages/eslint-plugin-formatjs/rules/prefer-full-sentence.ts
  packages/eslint-plugin-formatjs/tests/prefer-full-sentence.test.ts
Due: format-oxfmt, lint-staged

feat(eslint-plugin-formatjs): add prefer-full-sentence rule
  docs/src/docs/tooling/linter.mdx
  packages/eslint-plugin-formatjs/index.ts
  packages/eslint-plugin-formatjs/rules/prefer-full-sentence.ts
  packages/eslint-plugin-formatjs/tests/prefer-full-sentence.test.ts
Due: format-oxfmt, lint-staged

docs(eslint-plugin-formatjs): add prefer-full-sentence rule documentation
  docs/src/docs/tooling/linter.mdx
Due: format-oxfmt

docs(eslint-plugin-formatjs): add prefer-full-sentence rule documentation (#6037)
  docs/src/docs/tooling/linter.mdx
Due: format-oxfmt

fix(@formatjs/vite-plugin): wrap JSX defaultMessage AST in expression container (#6044)
  packages/vite-plugin/tests/transform.test.ts
  packages/vite-plugin/transform.ts
Due: format-oxfmt, lint-staged

fix(vue-intl): loosen vue peer dependency to allow newer versions (#6043)
  packages/vue-intl/package.json
  pnpm-lock.yaml
Due: format-package-json, bazel-lock-regen

build: update CLAUDE.md
  CLAUDE.md
Due: none

feat(eslint-plugin-formatjs): add ESLint v10 support
  pnpm-lock.yaml
Due: bazel-lock-regen

build(@formatjs/intl-datetimeformat): update tzdata to 2026a
  .syncpackrc.json
  packages/intl-datetimeformat/index.bzl
  packages/intl-datetimeformat/src/data/all-tz.generated.ts
  packages/intl-datetimeformat/tz_data.tar.gz
Due: format-oxfmt, format-starlark, lint-staged

build(@formatjs/intl-datetimeformat): update tzdata to 2026a (#6051)
  .syncpackrc.json
  packages/intl-datetimeformat/index.bzl
  packages/intl-datetimeformat/src/data/all-tz.generated.ts
  packages/intl-datetimeformat/tz_data.tar.gz
Due: format-oxfmt, format-starlark, lint-staged

fix(@formatjs/intl-datetimeformat): ensure all locales support both 12h and 24h hour cycles
  packages/intl-datetimeformat/scripts/extract-dates.ts
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): regenerate test locale data for hour cycle fix
  packages/intl-datetimeformat/test262-main.ts
  packages/intl-datetimeformat/tests/locale-data/de.json
  packages/intl-datetimeformat/tests/locale-data/fa.json
  packages/intl-datetimeformat/tests/locale-data/nl.json
  packages/intl-datetimeformat/tests/locale-data/ru.json
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): ensure all locales support both 12h and 24h hour cycles (#6052)
  packages/intl-datetimeformat/scripts/extract-dates.ts
  packages/intl-datetimeformat/test262-main.ts
  packages/intl-datetimeformat/tests/index.test.ts
  packages/intl-datetimeformat/tests/locale-data/de.json
  packages/intl-datetimeformat/tests/locale-data/fa.json
  packages/intl-datetimeformat/tests/locale-data/nl.json
  packages/intl-datetimeformat/tests/locale-data/ru.json
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): fix formatRange date duplication with hour12 and 2-digit hour
  packages/intl-datetimeformat/src/core.ts
  packages/intl-datetimeformat/tests/format-range.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): fix formatRange date duplication with hour12 and 2-digit hour (#6053)
  packages/intl-datetimeformat/src/core.ts
  packages/intl-datetimeformat/tests/format-range.test.ts
Due: format-oxfmt, lint-staged

feat(eslint-plugin-formatjs): add ESLint v10 support
  .syncpackrc.json
  packages/eslint-plugin-formatjs/package.json
  pnpm-lock.yaml
Due: format-package-json, bazel-lock-regen

feat(eslint-plugin-formatjs): add ESLint v10 support (#6054)
  .syncpackrc.json
  packages/eslint-plugin-formatjs/package.json
  pnpm-lock.yaml
Due: format-package-json, bazel-lock-regen

chore: remove swc_icu_messageformat_parser dependency
  Cargo.lock
  MODULE.bazel.lock
  crates/icu_messageformat_parser/BUILD.bazel
  crates/icu_messageformat_parser/Cargo.toml
  crates/icu_messageformat_parser/benches/comparison_bench.rs
Due: format-oxfmt, format-starlark, bazel-lock-regen

chore: remove swc_icu_messageformat_parser dependency (#6055)
  Cargo.lock
  MODULE.bazel.lock
  crates/icu_messageformat_parser/BUILD.bazel
  crates/icu_messageformat_parser/Cargo.toml
  crates/icu_messageformat_parser/benches/comparison_bench.rs
Due: format-oxfmt, format-starlark, bazel-lock-regen

fix(@formatjs/intl-durationformat): add global Intl.DurationFormat type declarations
  packages/intl-durationformat/index.ts
Due: format-oxfmt, lint-staged

build: upgrade typescript from 5.8.2 to 5.9.3
  .syncpackrc.json
  MODULE.bazel
  MODULE.bazel.lock
  package.json
  pnpm-lock.yaml
Due: bazel-lock-regen

build: upgrade typescript from 5.8.2 to 5.9.3 (#6057)
  .syncpackrc.json
  MODULE.bazel
  MODULE.bazel.lock
  package.json
  pnpm-lock.yaml
Due: bazel-lock-regen

fix(eslint-plugin-formatjs): no-literal-string-in-jsx now ignores a string with one space
  packages/eslint-plugin-formatjs/rules/no-literal-string-in-jsx.ts
  packages/eslint-plugin-formatjs/tests/no-literal-string-in-jsx.test.ts
Due: format-oxfmt, lint-staged

fix: add locale-data directory export for variable dynamic imports (#6063)
  packages/intl-datetimeformat/package.json
  packages/intl-displaynames/package.json
  packages/intl-listformat/package.json
  packages/intl-numberformat/package.json
  packages/intl-pluralrules/package.json
  packages/intl-relativetimeformat/package.json
Due: format-package-json

fix: use vue ^3.5.0 range in peer dependencies (#6064)
  .syncpackrc.json
  MODULE.bazel.lock
  package.json
  packages/cli-lib/package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: format-package-json, bazel-lock-regen

feat: prefer-direction-agnostic
  docs/src/docs/tooling/linter.mdx
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/index.ts
  packages/eslint-plugin-formatjs/package.json
  packages/eslint-plugin-formatjs/rules/prefer-direction-agnostic.ts
  packages/eslint-plugin-formatjs/sugarss.d.ts
  packages/eslint-plugin-formatjs/tests/prefer-direction-agnostic.test.ts
  packages/eslint-plugin-formatjs/tests/stylesheet-parser.ts
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen
