Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

format-package-json:
  run: pnpm syncpack fix-mismatches && pnpm syncpack format
  stage_fixed: true

format-oxfmt:
  run: pnpm oxfmt {staged_files}
  stage_fixed: true

format-starlark:
  run: 'set -- {staged_files}
  
    bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
  
    '
  stage_fixed: true

lint-staged:
  run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
  stage_fixed: true

bazel-lock-regen:
  run: bazel mod deps
  stage_fixed: true

chore(deps): refresh Bazel lock for OXC
  MODULE.bazel.lock
  package.json
Due: bazel-lock-regen

feat: add translation skill and respect npm registry settings
  .agents/skills/translate/SKILL.md
  .agents/skills/translate/agents/openai.yaml
  MODULE.bazel
  docs/public/.well-known/agent-skills/index.json
  knowledge-base/001a-bazel-toolchain.md
Due: format-oxfmt, bazel-lock-regen

feat: add read-only localization review skill
  .agents/skills/i18n-best-practices/agents/openai.yaml
  .agents/skills/localization-review/SKILL.md
  .agents/skills/localization-review/agents/openai.yaml
  BUILD.bazel
  docs/BUILD.bazel
  docs/public/.well-known/agent-skills/index.json
  docs/src/docs-metadata.generated.json
Due: format-oxfmt, format-starlark, bazel-lock-regen

feat: add localization review and translation skills (#7065)
  .agents/skills/i18n-best-practices/agents/openai.yaml
  .agents/skills/localization-review/SKILL.md
  .agents/skills/localization-review/agents/openai.yaml
  .agents/skills/translate/SKILL.md
  .agents/skills/translate/agents/openai.yaml
  BUILD.bazel
  MODULE.bazel
  docs/BUILD.bazel
  docs/public/.well-known/agent-skills/index.json
  docs/src/docs-metadata.generated.json
  knowledge-base/001a-bazel-toolchain.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

docs: add top-level skills section
  BUILD.bazel
  docs/BUILD.bazel
  docs/public/sitemap.xml
  docs/src/docs-metadata.generated.json
  docs/src/utils/navigation.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(deps): add fallback mirror for musl source
  MODULE.bazel
  MODULE.bazel.lock
  knowledge-base/001a-bazel-toolchain.md
  patches/llvm-0.8.0-musl-mirror.patch
Due: format-oxfmt, bazel-lock-regen

docs: add top-level skills section (#7066)
  BUILD.bazel
  MODULE.bazel
  MODULE.bazel.lock
  docs/BUILD.bazel
  docs/public/sitemap.xml
  docs/src/docs-metadata.generated.json
  docs/src/utils/navigation.ts
  knowledge-base/001a-bazel-toolchain.md
  patches/llvm-0.8.0-musl-mirror.patch
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

refactor: replace Vike with static Vite docs
  AGENTS.md
  MODULE.bazel.lock
  codescythe.jsonc
  docs/BUILD.bazel
  docs/src/App.tsx
  docs/src/components/Breadcrumbs.tsx
  docs/src/components/SearchBar.tsx
  docs/src/components/Sidebar.tsx
  docs/src/entry-server.tsx
  docs/src/main.tsx
  docs/src/pages/+Head.tsx
  docs/src/pages/+Layout.tsx
  docs/src/pages/+config.ts
  docs/src/pages/docs/@path/+Head.tsx
  docs/src/pages/docs/@path/+Page.tsx
  docs/src/pages/docs/@path/+description.ts
  docs/src/pages/docs/@path/+onBeforePrerenderStart.ts
  docs/src/pages/docs/@path/+prerender.ts
  docs/src/pages/docs/@path/+route.ts
  docs/src/pages/docs/@path/+title.ts
  docs/src/pages/index/+Page.tsx
  docs/src/utils/client-navigation.ts
  docs/src/utils/page-context.tsx
  docs/tests/client-navigation.test.ts
  docs/vite.config.ts
  knowledge-base/001-repo-layout.md
  knowledge-base/012-documentation-site.md
  package.json
  pnpm-lock.yaml
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

refactor: replace Vike with static Vite docs (#7068)
  AGENTS.md
  MODULE.bazel.lock
  codescythe.jsonc
  docs/BUILD.bazel
  docs/src/App.tsx
  docs/src/components/Breadcrumbs.tsx
  docs/src/components/SearchBar.tsx
  docs/src/components/Sidebar.tsx
  docs/src/entry-server.tsx
  docs/src/main.tsx
  docs/src/pages/+Head.tsx
  docs/src/pages/+Layout.tsx
  docs/src/pages/+config.ts
  docs/src/pages/docs/@path/+Head.tsx
  docs/src/pages/docs/@path/+Page.tsx
  docs/src/pages/docs/@path/+description.ts
  docs/src/pages/docs/@path/+onBeforePrerenderStart.ts
  docs/src/pages/docs/@path/+prerender.ts
  docs/src/pages/docs/@path/+route.ts
  docs/src/pages/docs/@path/+title.ts
  docs/src/pages/index/+Page.tsx
  docs/src/utils/client-navigation.ts
  docs/src/utils/page-context.tsx
  docs/tests/client-navigation.test.ts
  docs/vite.config.ts
  knowledge-base/001-repo-layout.md
  knowledge-base/012-documentation-site.md
  package.json
  pnpm-lock.yaml
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

docs: add agent skills overview
  docs/public/sitemap.xml
  docs/src/docs-metadata.generated.json
  docs/src/docs/skills.mdx
  docs/src/utils/navigation.ts
Due: format-oxfmt, lint-staged

docs: add agent skills overview (#7069)
  docs/public/sitemap.xml
  docs/src/docs-metadata.generated.json
  docs/src/docs/skills.mdx
  docs/src/utils/navigation.ts
Due: format-oxfmt, lint-staged

docs: document native date range formatting
  .agents/skills/localization-review/SKILL.md
Due: format-oxfmt

docs: document native date range formatting (#7070)
  .agents/skills/localization-review/SKILL.md
Due: format-oxfmt

test: add Copilot skill evals
  .agents/evals/BUILD.bazel
  .agents/evals/cases/localization-review.json
  .agents/evals/cases/translate.json
  .agents/evals/eval.test.ts
  .agents/evals/eval.ts
  .agents/evals/run.ts
  .github/workflows/skill-evals.yml
  BUILD.bazel
  knowledge-base/001-repo-layout.md
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix: load skill eval runtime source
  .agents/evals/run.ts
Due: format-oxfmt, lint-staged

fix: use supported Copilot credit limit
  .agents/evals/run.ts
Due: format-oxfmt, lint-staged

docs: note Copilot eval policy requirement
  knowledge-base/001-repo-layout.md
Due: format-oxfmt

refactor: run skill evals with local Codex
  .agents/evals/eval.test.ts
  .agents/evals/eval.ts
  .agents/evals/run.ts
  .github/workflows/skill-evals.yml
  knowledge-base/001-repo-layout.md
Due: format-oxfmt, lint-staged

refactor: run skill evals as manual Bazel tests
  .agents/evals/BUILD.bazel
  .agents/evals/run.ts
  knowledge-base/001-repo-layout.md
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix: clean up skill eval temp directories
  .agents/evals/run.ts
Due: format-oxfmt, lint-staged

test: add local Codex skill evals (#7071)
  .agents/evals/BUILD.bazel
  .agents/evals/cases/localization-review.json
  .agents/evals/cases/translate.json
  .agents/evals/eval.test.ts
  .agents/evals/eval.ts
  .agents/evals/run.ts
  BUILD.bazel
  knowledge-base/001-repo-layout.md
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore: release main
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/CHANGELOG.md
  packages/cli-lib/package.json
  packages/cli-native-darwin-arm64/BUILD.bazel
  packages/cli-native-darwin-arm64/CHANGELOG.md
  packages/cli-native-darwin-arm64/package.json
  packages/cli-native-linux-arm64-musl/BUILD.bazel
  packages/cli-native-linux-arm64-musl/CHANGELOG.md
  packages/cli-native-linux-arm64-musl/package.json
  packages/cli-native-linux-arm64/BUILD.bazel
  packages/cli-native-linux-arm64/CHANGELOG.md
  packages/cli-native-linux-arm64/package.json
  packages/cli-native-linux-x64-musl/BUILD.bazel
  packages/cli-native-linux-x64-musl/CHANGELOG.md
  packages/cli-native-linux-x64-musl/package.json
  packages/cli-native-linux-x64/BUILD.bazel
  packages/cli-native-linux-x64/CHANGELOG.md
  packages/cli-native-linux-x64/package.json
  packages/cli-native-win32-x64/BUILD.bazel
  packages/cli-native-win32-x64/CHANGELOG.md
  packages/cli-native-win32-x64/package.json
  packages/cli/BUILD.bazel
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/react-intl/BUILD.bazel
  packages/react-intl/CHANGELOG.md
  packages/react-intl/package.json
Due: format-package-json, format-oxfmt, format-starlark, bazel-lock-regen

feat(eslint-plugin-formatjs): allow conditional ICU element blocklists
  docs/src/docs/tooling/linter.mdx
  knowledge-base/009-package-developer-tools.md
  packages/eslint-plugin-formatjs/index.ts
  packages/eslint-plugin-formatjs/rules/blocklist-elements.ts
  packages/eslint-plugin-formatjs/tests/blocklist-elements.test.ts
Due: format-oxfmt, lint-staged

feat(eslint-plugin-formatjs): allow conditional ICU element blocklists (#7073)
  docs/src/docs/tooling/linter.mdx
  knowledge-base/009-package-developer-tools.md
  packages/eslint-plugin-formatjs/index.ts
  packages/eslint-plugin-formatjs/rules/blocklist-elements.ts
  packages/eslint-plugin-formatjs/tests/blocklist-elements.test.ts
Due: format-oxfmt, lint-staged

chore: release main
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/CHANGELOG.md
  packages/cli-lib/package.json
  packages/cli-native-darwin-arm64/BUILD.bazel
  packages/cli-native-darwin-arm64/CHANGELOG.md
  packages/cli-native-darwin-arm64/package.json
  packages/cli-native-linux-arm64-musl/BUILD.bazel
  packages/cli-native-linux-arm64-musl/CHANGELOG.md
  packages/cli-native-linux-arm64-musl/package.json
  packages/cli-native-linux-arm64/BUILD.bazel
  packages/cli-native-linux-arm64/CHANGELOG.md
  packages/cli-native-linux-arm64/package.json
  packages/cli-native-linux-x64-musl/BUILD.bazel
  packages/cli-native-linux-x64-musl/CHANGELOG.md
  packages/cli-native-linux-x64-musl/package.json
  packages/cli-native-linux-x64/BUILD.bazel
  packages/cli-native-linux-x64/CHANGELOG.md
  packages/cli-native-linux-x64/package.json
  packages/cli-native-win32-x64/BUILD.bazel
  packages/cli-native-win32-x64/CHANGELOG.md
  packages/cli-native-win32-x64/package.json
  packages/cli/BUILD.bazel
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/CHANGELOG.md
  packages/eslint-plugin-formatjs/package.json
  packages/react-intl/BUILD.bazel
  packages/react-intl/CHANGELOG.md
  packages/react-intl/package.json
Due: format-package-json, format-oxfmt, format-starlark, bazel-lock-regen

chore: release main (#7064)
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/CHANGELOG.md
  packages/cli-lib/package.json
  packages/cli-native-darwin-arm64/BUILD.bazel
  packages/cli-native-darwin-arm64/CHANGELOG.md
  packages/cli-native-darwin-arm64/package.json
  packages/cli-native-linux-arm64-musl/BUILD.bazel
  packages/cli-native-linux-arm64-musl/CHANGELOG.md
  packages/cli-native-linux-arm64-musl/package.json
  packages/cli-native-linux-arm64/BUILD.bazel
  packages/cli-native-linux-arm64/CHANGELOG.md
  packages/cli-native-linux-arm64/package.json
  packages/cli-native-linux-x64-musl/BUILD.bazel
  packages/cli-native-linux-x64-musl/CHANGELOG.md
  packages/cli-native-linux-x64-musl/package.json
  packages/cli-native-linux-x64/BUILD.bazel
  packages/cli-native-linux-x64/CHANGELOG.md
  packages/cli-native-linux-x64/package.json
  packages/cli-native-win32-x64/BUILD.bazel
  packages/cli-native-win32-x64/CHANGELOG.md
  packages/cli-native-win32-x64/package.json
  packages/cli/BUILD.bazel
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/CHANGELOG.md
  packages/eslint-plugin-formatjs/package.json
  packages/react-intl/BUILD.bazel
  packages/react-intl/CHANGELOG.md
  packages/react-intl/package.json
Due: format-package-json, format-oxfmt, format-starlark, bazel-lock-regen

test: use neutral brands in skill evals
  .agents/evals/cases/localization-review.json
  .agents/evals/cases/translate.json
Due: format-oxfmt

test: use neutral brands in skill evals (#7090)
  .agents/evals/cases/localization-review.json
  .agents/evals/cases/translate.json
Due: format-oxfmt

feat(formatjs_cli): extract Python messages
  Cargo.lock
  MODULE.bazel.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli/README.md
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli/src/lib.rs
  crates/formatjs_cli/src/main.rs
  crates/formatjs_cli/src/python_extractor.rs
  knowledge-base/003-rust-crate-dependency-hierarchy.md
  knowledge-base/009-package-developer-tools.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

build(formatjs_cli): stop publishing crate
  .github/workflows/crates-release.yml
  .github/workflows/test.yml
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli/README.md
  crates/formatjs_cli/RELEASE.md
  knowledge-base/001-repo-layout.md
  knowledge-base/003-rust-crate-dependency-hierarchy.md
Due: format-oxfmt

fix: flag empty rich-text element slots
  .agents/evals/cases/localization-review.json
  .agents/skills/localization-review/SKILL.md
Due: format-oxfmt

feat(formatjs_cli): extract messages from Python (#7097)
  .github/workflows/crates-release.yml
  .github/workflows/test.yml
  Cargo.lock
  MODULE.bazel.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli/README.md
  crates/formatjs_cli/RELEASE.md
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli/src/lib.rs
  crates/formatjs_cli/src/main.rs
  crates/formatjs_cli/src/python_extractor.rs
  knowledge-base/001-repo-layout.md
  knowledge-base/003-rust-crate-dependency-hierarchy.md
  knowledge-base/009-package-developer-tools.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

fix: prefer inline message skeletons
  .agents/evals/cases/localization-review.json
  .agents/skills/localization-review/SKILL.md
Due: format-oxfmt

docs: add inline skeleton examples
  .agents/skills/localization-review/SKILL.md
Due: format-oxfmt

fix: flag empty rich-text element slots (#7099)
  .agents/evals/cases/localization-review.json
  .agents/skills/localization-review/SKILL.md
Due: format-oxfmt

fix: retain binary-only Cargo release candidates
  knowledge-base/001-repo-layout.md
  tools/release-please/cargo-workspace-plugin.test.ts
  tools/release-please/cargo-workspace-plugin.ts
Due: format-oxfmt, lint-staged

fix: retain binary-only Cargo release candidates (#7102)
  knowledge-base/001-repo-layout.md
  tools/release-please/cargo-workspace-plugin.test.ts
  tools/release-please/cargo-workspace-plugin.ts
Due: format-oxfmt, lint-staged

chore: release main (#7079)
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/CHANGELOG.md
  packages/cli-lib/package.json
  packages/cli-native-darwin-arm64/BUILD.bazel
  packages/cli-native-darwin-arm64/CHANGELOG.md
  packages/cli-native-darwin-arm64/package.json
  packages/cli-native-linux-arm64-musl/BUILD.bazel
  packages/cli-native-linux-arm64-musl/CHANGELOG.md
  packages/cli-native-linux-arm64-musl/package.json
  packages/cli-native-linux-arm64/BUILD.bazel
  packages/cli-native-linux-arm64/CHANGELOG.md
  packages/cli-native-linux-arm64/package.json
  packages/cli-native-linux-x64-musl/BUILD.bazel
  packages/cli-native-linux-x64-musl/CHANGELOG.md
  packages/cli-native-linux-x64-musl/package.json
  packages/cli-native-linux-x64/BUILD.bazel
  packages/cli-native-linux-x64/CHANGELOG.md
  packages/cli-native-linux-x64/package.json
  packages/cli-native-win32-x64/BUILD.bazel
  packages/cli-native-win32-x64/CHANGELOG.md
  packages/cli-native-win32-x64/package.json
  packages/cli/BUILD.bazel
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/react-intl/BUILD.bazel
  packages/react-intl/CHANGELOG.md
  packages/react-intl/package.json
Due: format-package-json, format-oxfmt, format-starlark, bazel-lock-regen

fix: enable Git long paths for Windows release
  .github/workflows/release.yml
Due: format-oxfmt

Path conditions:
  format-package-json: any of: **/package.json
  format-oxfmt: any of: **/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}, but not: **/locale-data/**, **/package.json, **/CHANGELOG.md, packages/cli-lib/tests/extract/typescript/err.tsx, packages/cli/integration-tests/extract/typescript/err.tsx
  format-starlark: any of: **/*.{bazel,bzl,BUILD}
  lint-staged: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}
  bazel-lock-regen: any of: pnpm-lock.yaml, package.json, pnpm-workspace.yaml, *.bazel
