Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

lefthook.yml:

# Lefthook configuration
# Docs: https://github.com/evilmartians/lefthook

# Skip lefthook when LEFTHOOK=0 environment variable is set
# This is equivalent to husky's HUSKY=0 for CI/CD pipelines
skip_output:
  - meta
  - summary

pre-commit:
  parallel: false
  commands:
    format-package-json:
      glob: "**/package.json"
      run: pnpm syncpack fix-mismatches && pnpm syncpack format
      stage_fixed: true
    format-oxfmt:
      glob: "**/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}"
      run: pnpm oxfmt {staged_files}
      stage_fixed: true
      exclude:
        - '**/locale-data/**'
        - '**/package.json'
        - '**/CHANGELOG.md'
        - 'packages/cli-lib/tests/extract/typescript/err.tsx'
        - 'packages/cli/integration-tests/extract/typescript/err.tsx'
    format-starlark:
      glob: "**/*.{bazel,bzl,BUILD}"
      run: |
        set -- {staged_files}
        bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
      stage_fixed: true
    lint-staged:
      glob: '**/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}'
      run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
      stage_fixed: true
    bazel-lock-regen:
      glob:
        - "pnpm-lock.yaml"
        - "package.json"
        - "pnpm-workspace.yaml"
        - "*.bazel"
      run: bazel mod deps
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

refactor(deps): remove skipTest, srcs_exclude and test-d.ts special handling
  MODULE.bazel.lock
  packages/intl/BUILD.bazel
  packages/intl/tests/tsd/BUILD.bazel
  packages/intl/tests/tsd/global_type_overrides.test-d.ts
  packages/react-intl/BUILD.bazel
  packages/react-intl/tests/tsd/BUILD.bazel
  packages/react-intl/tests/tsd/global_type_overrides.test-d.ts
  tools/gazelle/ts/config.go
  tools/gazelle/ts/language.go
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

refactor(deps): remove skipTest, srcs_exclude and test-d.ts special handling (#6351)
  MODULE.bazel.lock
  packages/intl/BUILD.bazel
  packages/intl/tests/tsd/BUILD.bazel
  packages/intl/tests/tsd/global_type_overrides.test-d.ts
  packages/react-intl/BUILD.bazel
  packages/react-intl/tests/tsd/BUILD.bazel
  packages/react-intl/tests/tsd/global_type_overrides.test-d.ts
  tools/gazelle/ts/config.go
  tools/gazelle/ts/language.go
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

refactor(deps): remove isUnderPackagesDir and unused packageType from gazelle
  tools/gazelle/ts/config.go
  tools/gazelle/ts/language.go
Due: none

refactor(deps): remove isUnderPackagesDir and unused packageType from gazelle (#6352)
  tools/gazelle/ts/config.go
  tools/gazelle/ts/language.go
Due: none

refactor(deps): auto-discover test fixtures, remove excludeFixtures from gazelle
  packages/ts-transformer/BUILD.bazel
  tools/gazelle/ts/language.go
  tools/test.bzl
Due: format-starlark, bazel-lock-regen

refactor(deps): auto-discover fixtures, generalize # subpath import resolution
  knowledge-base/001a-bazel-toolchain.md
  packages/ts-transformer/BUILD.bazel
  tools/gazelle/ts/language.go
  tools/gazelle/ts/resolve.go
  tools/test.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

refactor(deps): auto-discover test fixtures, remove excludeFixtures from gazelle (#6353)
  knowledge-base/001a-bazel-toolchain.md
  packages/ts-transformer/BUILD.bazel
  tools/gazelle/ts/language.go
  tools/gazelle/ts/resolve.go
  tools/test.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

refactor(deps): minor gazelle plugin cleanup
  tools/gazelle/ts/language.go
  tools/gazelle/ts/resolve.go
Due: none

refactor(deps): minor gazelle plugin cleanup (#6354)
  tools/gazelle/ts/language.go
  tools/gazelle/ts/resolve.go
Due: none

refactor(deps): migrate ts_compile packages to formatjs_library
  packages/ecma262-abstract/BUILD.bazel
  packages/ecma402-abstract/BUILD.bazel
  packages/ecma402-abstract/DateTimeFormat/BUILD.bazel
  packages/ecma402-abstract/DisplayNames/BUILD.bazel
  packages/ecma402-abstract/DurationFormat/BUILD.bazel
  packages/ecma402-abstract/NumberFormat/BUILD.bazel
  packages/ecma402-abstract/PluralRules/BUILD.bazel
  packages/ecma402-abstract/RelativeTimeFormat/BUILD.bazel
  packages/ecma402-abstract/types/BUILD.bazel
  tools/compile.bzl
Due: format-starlark, bazel-lock-regen

refactor(deps): migrate ts_compile packages to formatjs_library (#6355)
  packages/ecma262-abstract/BUILD.bazel
  packages/ecma402-abstract/BUILD.bazel
  packages/ecma402-abstract/DateTimeFormat/BUILD.bazel
  packages/ecma402-abstract/DisplayNames/BUILD.bazel
  packages/ecma402-abstract/DurationFormat/BUILD.bazel
  packages/ecma402-abstract/NumberFormat/BUILD.bazel
  packages/ecma402-abstract/PluralRules/BUILD.bazel
  packages/ecma402-abstract/RelativeTimeFormat/BUILD.bazel
  packages/ecma402-abstract/types/BUILD.bazel
  tools/compile.bzl
Due: format-starlark, bazel-lock-regen

refactor(deps): move generate_ide_tsconfig_json into formatjs_library
  packages/ecma262-abstract/BUILD.bazel
  packages/ecma402-abstract/BUILD.bazel
  packages/ecma402-abstract/DateTimeFormat/BUILD.bazel
  packages/ecma402-abstract/DisplayNames/BUILD.bazel
  packages/ecma402-abstract/DurationFormat/BUILD.bazel
  packages/ecma402-abstract/NumberFormat/BUILD.bazel
  packages/ecma402-abstract/NumberFormat/tsconfig.json
  packages/ecma402-abstract/PluralRules/BUILD.bazel
  packages/ecma402-abstract/RelativeTimeFormat/BUILD.bazel
  packages/ecma402-abstract/tsconfig.json
  packages/ecma402-abstract/types/BUILD.bazel
  packages/icu-messageformat-parser/tsconfig.json
  packages/icu-skeleton-parser/tsconfig.json
  packages/intl-datetimeformat/tsconfig.json
  packages/intl-displaynames/tsconfig.json
  packages/intl-durationformat/tsconfig.json
  packages/intl-listformat/tsconfig.json
  packages/intl-locale/BUILD.bazel
  packages/intl-locale/tsconfig.json
  packages/intl-messageformat/tsconfig.json
  packages/intl-numberformat/tsconfig.json
  packages/intl-pluralrules/tsconfig.json
  packages/intl-relativetimeformat/tsconfig.json
  packages/intl-segmenter/tsconfig.json
  packages/intl-supportedvaluesof/tsconfig.json
  packages/intl/tsconfig.json
  packages/react-intl/tsconfig.json
  tools/compile.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

refactor(deps): move generate_ide_tsconfig_json into formatjs_library (#6356)
  packages/ecma262-abstract/BUILD.bazel
  packages/ecma402-abstract/BUILD.bazel
  packages/ecma402-abstract/DateTimeFormat/BUILD.bazel
  packages/ecma402-abstract/DisplayNames/BUILD.bazel
  packages/ecma402-abstract/DurationFormat/BUILD.bazel
  packages/ecma402-abstract/NumberFormat/BUILD.bazel
  packages/ecma402-abstract/NumberFormat/tsconfig.json
  packages/ecma402-abstract/PluralRules/BUILD.bazel
  packages/ecma402-abstract/RelativeTimeFormat/BUILD.bazel
  packages/ecma402-abstract/tsconfig.json
  packages/ecma402-abstract/types/BUILD.bazel
  packages/icu-messageformat-parser/tsconfig.json
  packages/icu-skeleton-parser/tsconfig.json
  packages/intl-datetimeformat/tsconfig.json
  packages/intl-displaynames/tsconfig.json
  packages/intl-durationformat/tsconfig.json
  packages/intl-listformat/tsconfig.json
  packages/intl-locale/BUILD.bazel
  packages/intl-locale/tsconfig.json
  packages/intl-messageformat/tsconfig.json
  packages/intl-numberformat/tsconfig.json
  packages/intl-pluralrules/tsconfig.json
  packages/intl-relativetimeformat/tsconfig.json
  packages/intl-segmenter/tsconfig.json
  packages/intl-supportedvaluesof/tsconfig.json
  packages/intl/tsconfig.json
  packages/react-intl/tsconfig.json
  tools/compile.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

refactor(deps): auto-generate formatjs_library/formatjs_test rules, remove package_json attr
  packages/ecma262-abstract/BUILD.bazel
  packages/ecma402-abstract/BUILD.bazel
  packages/ecma402-abstract/DateTimeFormat/BUILD.bazel
  packages/ecma402-abstract/DisplayNames/BUILD.bazel
  packages/ecma402-abstract/DurationFormat/BUILD.bazel
  packages/ecma402-abstract/NumberFormat/BUILD.bazel
  packages/ecma402-abstract/PluralRules/BUILD.bazel
  packages/ecma402-abstract/RelativeTimeFormat/BUILD.bazel
  packages/ecma402-abstract/types/BUILD.bazel
  tools/compile.bzl
  tools/gazelle/ts/language.go
Due: format-starlark, bazel-lock-regen

refactor(deps): default visibility to public in gazelle-generated formatjs_library
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/bigdecimal/BUILD.bazel
  packages/cli-lib/BUILD.bazel
  packages/ecma376/BUILD.bazel
  packages/ecma402-abstract/DateTimeFormat/BUILD.bazel
  packages/fast-memoize/BUILD.bazel
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  packages/svelte-intl/BUILD.bazel
  packages/ts-transformer/BUILD.bazel
  packages/unplugin/BUILD.bazel
  packages/utils/BUILD.bazel
  packages/vue-intl/BUILD.bazel
  tools/gazelle/ts/language.go
Due: format-starlark, bazel-lock-regen

docs(deps): add comprehensive comments to gazelle plugin, update knowledge base
  knowledge-base/001a-bazel-toolchain.md
  tools/gazelle/ts/config.go
  tools/gazelle/ts/kinds.go
  tools/gazelle/ts/language.go
  tools/gazelle/ts/parser.go
  tools/gazelle/ts/resolve.go
Due: format-oxfmt

refactor(deps): replace tree-sitter with oxc for gazelle import parsing
  Cargo.lock
  Cargo.toml
  MODULE.bazel
  crates/ts_import_extractor/BUILD.bazel
  crates/ts_import_extractor/Cargo.toml
  crates/ts_import_extractor/src/extract_imports.rs
  crates/ts_import_extractor/src/lib.rs
  crates/ts_import_extractor/src/main.rs
  go.mod
  go.sum
  knowledge-base/001a-bazel-toolchain.md
  tools/gazelle/ts/BUILD.bazel
  tools/gazelle/ts/parser.go
  tools/gazelle/ts/parser_bench_test.go
  tools/gazelle/ts/parser_oxc.go
  tools/gazelle/ts/parser_test.go
Due: format-oxfmt, format-starlark, bazel-lock-regen

refactor(deps): replace tree-sitter with oxc for gazelle import parsing (#6360)
  Cargo.lock
  Cargo.toml
  MODULE.bazel
  crates/ts_import_extractor/BUILD.bazel
  crates/ts_import_extractor/Cargo.toml
  crates/ts_import_extractor/src/extract_imports.rs
  crates/ts_import_extractor/src/lib.rs
  crates/ts_import_extractor/src/main.rs
  go.mod
  go.sum
  knowledge-base/001a-bazel-toolchain.md
  tools/gazelle/ts/BUILD.bazel
  tools/gazelle/ts/parser.go
  tools/gazelle/ts/parser_bench_test.go
  tools/gazelle/ts/parser_oxc.go
  tools/gazelle/ts/parser_test.go
Due: format-oxfmt, format-starlark, bazel-lock-regen

fix(deps): handle oxc parser errors gracefully instead of crashing
  crates/ts_import_extractor/src/main.rs
  knowledge-base/001a-bazel-toolchain.md
  tools/gazelle/ts/parser_oxc.go
Due: format-oxfmt

fix(deps): handle oxc parser errors gracefully (#6361)
  crates/ts_import_extractor/src/main.rs
  knowledge-base/001a-bazel-toolchain.md
  tools/gazelle/ts/parser_oxc.go
Due: format-oxfmt

fix(deps): handle oxc parser errors gracefully instead of crashing
  crates/ts_import_extractor/BUILD.bazel
  crates/ts_import_extractor/src/extract_imports.rs
  knowledge-base/001a-bazel-toolchain.md
  tools/gazelle/ts/language.go
  tools/gazelle/ts/parser.go
  tools/gazelle/ts/parser_oxc.go
  tools/gazelle/ts/parser_test.go
Due: format-oxfmt, format-starlark, bazel-lock-regen

fix(deps): handle oxc parser errors gracefully instead of crashing (#6362)
  crates/ts_import_extractor/BUILD.bazel
  crates/ts_import_extractor/src/extract_imports.rs
  knowledge-base/001a-bazel-toolchain.md
  tools/gazelle/ts/language.go
  tools/gazelle/ts/parser.go
  tools/gazelle/ts/parser_oxc.go
  tools/gazelle/ts/parser_test.go
Due: format-oxfmt, format-starlark, bazel-lock-regen

chore(deps): regen lockfile
  MODULE.bazel.lock
Due: none

chore(deps): upgrade bazel-gazelle Go module from v0.42.0 to v0.50.0
  go.mod
  go.sum
Due: none

refactor(deps): restructure gazelle TS plugin to match reference architecture
  tools/gazelle/ts/BUILD.bazel
  tools/gazelle/ts/config.go
  tools/gazelle/ts/configure.go
  tools/gazelle/ts/fix.go
  tools/gazelle/ts/generate.go
  tools/gazelle/ts/imports.go
  tools/gazelle/ts/kinds.go
  tools/gazelle/ts/language.go
  tools/gazelle/ts/lifecycle.go
  tools/gazelle/ts/parser.go
  tools/gazelle/ts/parser_bench_test.go
  tools/gazelle/ts/parser_oxc.go
  tools/gazelle/ts/parser_test.go
  tools/gazelle/ts/resolve.go
  tools/gazelle/ts/resolve_test.go
Due: format-starlark, bazel-lock-regen

docs(deps): update knowledge base for gazelle plugin architecture
  knowledge-base/001a-bazel-toolchain.md
Due: format-oxfmt

refactor(deps): restructure gazelle TS plugin architecture (#6364)
  go.mod
  go.sum
  knowledge-base/001a-bazel-toolchain.md
  tools/gazelle/ts/BUILD.bazel
  tools/gazelle/ts/config.go
  tools/gazelle/ts/configure.go
  tools/gazelle/ts/fix.go
  tools/gazelle/ts/generate.go
  tools/gazelle/ts/imports.go
  tools/gazelle/ts/kinds.go
  tools/gazelle/ts/language.go
  tools/gazelle/ts/lifecycle.go
  tools/gazelle/ts/parser.go
  tools/gazelle/ts/parser_bench_test.go
  tools/gazelle/ts/parser_oxc.go
  tools/gazelle/ts/parser_test.go
  tools/gazelle/ts/resolve.go
  tools/gazelle/ts/resolve_test.go
Due: format-oxfmt, format-starlark, bazel-lock-regen

refactor(deps): switch gazelle IPC from JSON to protobuf
  Cargo.lock
  MODULE.bazel
  crates/BUILD.bazel
  crates/ts_import_extractor/BUILD.bazel
  crates/ts_import_extractor/Cargo.toml
  crates/ts_import_extractor/proto/BUILD.bazel
  crates/ts_import_extractor/proto/message.proto
  crates/ts_import_extractor/src/main.rs
  go.mod
  go.sum
  knowledge-base/001a-bazel-toolchain.md
  tools/gazelle/ts/BUILD.bazel
  tools/gazelle/ts/parser_oxc.go
Due: format-oxfmt, format-starlark, bazel-lock-regen

refactor(deps): switch gazelle IPC from JSON to protobuf (#6365)
  Cargo.lock
  MODULE.bazel
  crates/BUILD.bazel
  crates/ts_import_extractor/BUILD.bazel
  crates/ts_import_extractor/Cargo.toml
  crates/ts_import_extractor/proto/BUILD.bazel
  crates/ts_import_extractor/proto/message.proto
  crates/ts_import_extractor/src/main.rs
  go.mod
  go.sum
  knowledge-base/001a-bazel-toolchain.md
  tools/gazelle/ts/BUILD.bazel
  tools/gazelle/ts/parser_oxc.go
Due: format-oxfmt, format-starlark, bazel-lock-regen

chore(deps): upgrade oxc crates to 0.126
  Cargo.lock
  MODULE.bazel.lock
  crates/formatjs_cli/Cargo.toml
  crates/ts_import_extractor/Cargo.toml
  package.json
Due: format-oxfmt, bazel-lock-regen

chore(deps): regenerate pnpm-lock.yaml
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): upgrade oxc crates to 0.126 (#6368)
  Cargo.lock
  MODULE.bazel.lock
  crates/formatjs_cli/Cargo.toml
  crates/ts_import_extractor/Cargo.toml
  package.json
  pnpm-lock.yaml
Due: format-oxfmt, bazel-lock-regen

docs: add robots.txt, sitemap.xml, and agent discovery metadata
  docs/BUILD.bazel
  docs/public/.well-known/agent-skills/index.json
  docs/public/robots.txt
  docs/public/sitemap.xml
  docs/scripts/generate-sitemap.ts
  docs/src/pages/+Head.tsx
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(deps): regenerate sitemap.xml via Bazel to match build output
  docs/public/sitemap.xml
Due: none

docs: add robots.txt, sitemap.xml, and agent discovery metadata (#6378)
  docs/BUILD.bazel
  docs/public/.well-known/agent-skills/index.json
  docs/public/robots.txt
  docs/public/sitemap.xml
  docs/scripts/generate-sitemap.ts
  docs/src/pages/+Head.tsx
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

docs: add @formatjs_generated packages architecture and migration plan
  knowledge-base/011-generated-packages.md
  knowledge-base/migrations/002-generated-packages-migration.md
Due: format-oxfmt

docs: organize @formatjs_generated packages by data source
  knowledge-base/011-generated-packages.md
  knowledge-base/migrations/002-generated-packages-migration.md
Due: format-oxfmt

docs: split @formatjs_generated/cldr into 5 sub-packages
  knowledge-base/011-generated-packages.md
  knowledge-base/migrations/002-generated-packages-migration.md
Due: format-oxfmt
