Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

format-package-json:
  run: pnpm syncpack fix-mismatches && pnpm syncpack format
  stage_fixed: true

format-oxfmt:
  run: pnpm oxfmt {staged_files}
  stage_fixed: true

format-starlark:
  run: 'set -- {staged_files}
  
    bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
  
    '
  stage_fixed: true

lint-staged:
  run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
  stage_fixed: true

bazel-lock-regen:
  run: bazel mod deps
  stage_fixed: true

docs: update upgrade guide to reflect relaxed React 18 support (#6818)
  docs/src/docs/react-intl/upgrade-guide-8.x.mdx
Due: format-oxfmt

chore: release main
  packages/intl-messageformat/BUILD.bazel
  packages/intl-messageformat/CHANGELOG.md
  packages/intl-messageformat/package.json
  packages/react-intl/BUILD.bazel
  packages/react-intl/CHANGELOG.md
  packages/react-intl/package.json
  packages/vue-intl/BUILD.bazel
  packages/vue-intl/CHANGELOG.md
  packages/vue-intl/package.json
Due: format-package-json, format-starlark, bazel-lock-regen

docs: add Korean (ko-KR) locale to homepage demo
  docs/src/components/home/HeroSection.tsx
  docs/src/lang/strings_ko-KR.json
Due: format-oxfmt, lint-staged

docs: fix Korean homepage demo
  docs/src/components/home/HeroSection.tsx
  docs/src/lang/strings_ko-KR.json
Due: format-oxfmt, lint-staged

test(@formatjs/intl-localematcher): relax maximized timing threshold
  packages/intl-localematcher/tests/benchmark.test.ts
Due: format-oxfmt, lint-staged

docs: add Korean (ko-KR) to homepage live demo (#6858)
  docs/src/components/home/HeroSection.tsx
  packages/intl-localematcher/tests/benchmark.test.ts
Due: format-oxfmt, lint-staged

chore(deps): update OXC packages to 0.138
  Cargo.lock
  MODULE.bazel.lock
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli/src/extractor.rs
  package.json
  pnpm-lock.yaml
  renovate.json
Due: format-oxfmt, bazel-lock-regen

chore(deps): regenerate Bazel lockfile
  MODULE.bazel.lock
Due: none

fix(deps): align NAPI runtime and derive
  Cargo.lock
  MODULE.bazel.lock
  renovate.json
Due: none

fix(deps): restore Jest 29 compatibility
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: bazel-lock-regen

fix(deps): restore Jest 29 compatibility (#6872)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: bazel-lock-regen

feat(babel-plugin-formatjs): require Babel 8
  MODULE.bazel.lock
  package.json
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/babel-plugin-formatjs/index.ts
  packages/babel-plugin-formatjs/package.json
  packages/babel-plugin-formatjs/tests/index.test.ts
  packages/babel-plugin-formatjs/types.ts
  packages/babel-plugin-formatjs/visitors/call-expression.ts
  packages/babel-plugin-formatjs/visitors/jsx-opening-element.ts
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore(deps): adopt TypeScript 7
  CONTRIBUTING.md
  MODULE.bazel
  MODULE.bazel.lock
  docs/BUILD.bazel
  knowledge-base/001a-bazel-toolchain.md
  package.json
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-pluralrules/scripts/plural-rules-compiler.ts
  packages/react-intl/tests/react18-typecheck/tsconfig.bazel.json
  packages/ts-transformer/integration-tests/BUILD.bazel
  packages/ts-transformer/integration-tests/vue/integration.test.ts
  packages/ts-transformer/transform.ts
  patches/@vue+compiler-sfc.patch
  patches/aspect_rules_ts-3.9.1.patch
  patches/typescript@7.0.2.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/compile.bzl
  tools/index.bzl
  tools/rolldown-bundle.ts
  tools/vitest.bzl
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore(deps): apply oxfmt 0.58 formatting
  MODULE.bazel.lock
  docs/src/docs/intl.mdx
  docs/src/docs/react-intl/api.mdx
  packages/icu-messageformat-parser/parser.ts
  packages/intl-collator/compare.ts
Due: format-oxfmt, lint-staged

feat(@formatjs/cli): add sync-source command
  docs/src/docs/tooling/cli.mdx
  docs/src/docs/tooling/ts-transformer.mdx
  knowledge-base/003-rust-crate-dependency-hierarchy.md
  knowledge-base/009-package-developer-tools.md
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/cli.ts
  packages/cli-lib/formatters/index.ts
  packages/cli-lib/index.ts
  packages/cli-lib/integration-tests/test_esm_imports.mjs
  packages/cli-lib/sync_source.ts
  packages/cli-lib/tests/unit/sync_source.test.ts
  packages/cli/integration-tests/BUILD.bazel
  packages/cli/integration-tests/sync-source/integration.test.ts
  packages/ts-transformer/BUILD.bazel
  packages/ts-transformer/tests/fixtures/descriptorLocations.tsx
  packages/ts-transformer/tests/fixtures/quotedDescriptorKeys.ts
  packages/ts-transformer/tests/index.test.ts
  packages/ts-transformer/transform.ts
  packages/ts-transformer/types.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat: expose FormatJS CLI as executable target (#82)
  rules/formatjs/.github/workflows/ci.yaml
  rules/formatjs/MODULE.bazel.lock
  rules/formatjs/README.md
  rules/formatjs/cli/BUILD.bazel
  rules/formatjs/examples/aggregate/MODULE.bazel.lock
  rules/formatjs/examples/custom_version/MODULE.bazel.lock
  rules/formatjs/examples/simple/MODULE.bazel.lock
  rules/formatjs/formatjs_cli/BUILD.bazel
  rules/formatjs/formatjs_cli/repositories.bzl
  rules/formatjs/formatjs_cli/toolchain.bzl
  rules/formatjs/tests/cli/BUILD.bazel
  rules/formatjs/tests/cli/cli_test.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

docs: document release workflow (#83)
  rules/formatjs/AGENTS.md
  rules/formatjs/CONTRIBUTING.md
  rules/formatjs/docs/releasing.md
Due: format-oxfmt

fix(deps): repair TypeScript 7 update
  examples/rescripts/tsconfig.json
  packages/cli-lib/package.json
  packages/ts-transformer/package.json
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, bazel-lock-regen

fix(deps): regenerate Bazel lock
  MODULE.bazel.lock
Due: none

fix(icu_messageformat_parser): dedupe structural variables
  crates/icu_messageformat_parser/manipulator.rs
Due: none

test(@formatjs/cli): cover locale-specific plural branches
  packages/cli/integration-tests/verify/integration.test.ts
  packages/cli/integration-tests/verify/structural-equality/fixtures3/en-US.json
  packages/cli/integration-tests/verify/structural-equality/fixtures3/pl-PL.json
Due: format-oxfmt, lint-staged

fix(icu_messageformat_parser): dedupe structural variables (#6883)
  crates/icu_messageformat_parser/manipulator.rs
  packages/cli/integration-tests/verify/integration.test.ts
  packages/cli/integration-tests/verify/structural-equality/fixtures3/en-US.json
  packages/cli/integration-tests/verify/structural-equality/fixtures3/pl-PL.json
Due: format-oxfmt, lint-staged

Saving release notes
  release-notes.md
Due: none

feat: add FormatJS CLI versions through 1.1.20 (#84)
  rules/formatjs/MODULE.bazel
  rules/formatjs/MODULE.bazel.lock
  rules/formatjs/formatjs_cli/extensions.bzl
  rules/formatjs/formatjs_cli/repositories.bzl
Due: format-starlark, bazel-lock-regen

fix: open BCR pull requests for review (#85)
  rules/formatjs/.github/workflows/publish.yaml
Due: format-oxfmt

fix(@formatjs/intl-datetimeformat): apply Date method defaults
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  packages/intl-datetimeformat/polyfill-force.ts
  packages/intl-datetimeformat/polyfill.ts
  packages/intl-datetimeformat/tests/format.test.ts
  packages/intl-datetimeformat/to_locale_string.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): apply Date method defaults (#6893)
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  packages/intl-datetimeformat/polyfill-force.ts
  packages/intl-datetimeformat/polyfill.ts
  packages/intl-datetimeformat/tests/format.test.ts
  packages/intl-datetimeformat/to_locale_string.ts
Due: format-oxfmt, lint-staged

chore(deps): sync Bazel lockfile for regex 1.13.0
  MODULE.bazel.lock
Due: none

chore(deps): sync Bazel lockfile for pnpm 11.11.0
  MODULE.bazel.lock
Due: none

chore: release main
  .release-please-manifest.json
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/CHANGELOG.md
  packages/intl-datetimeformat/package.json
  packages/react-intl/BUILD.bazel
  packages/react-intl/CHANGELOG.md
  packages/react-intl/package.json
Due: format-package-json, format-starlark, bazel-lock-regen

chore: release main (#6894)
  .release-please-manifest.json
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/CHANGELOG.md
  packages/intl-datetimeformat/package.json
  packages/react-intl/BUILD.bazel
  packages/react-intl/CHANGELOG.md
  packages/react-intl/package.json
Due: format-package-json, format-starlark, bazel-lock-regen

Path conditions:
  format-package-json: any of: **/package.json
  format-oxfmt: any of: **/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}, but not: **/locale-data/**, **/package.json, **/CHANGELOG.md, packages/cli-lib/tests/extract/typescript/err.tsx, packages/cli/integration-tests/extract/typescript/err.tsx
  format-starlark: any of: **/*.{bazel,bzl,BUILD}
  lint-staged: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}
  bazel-lock-regen: any of: pnpm-lock.yaml, package.json, pnpm-workspace.yaml, *.bazel
