Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

format-package-json:
  run: pnpm syncpack fix-mismatches && pnpm syncpack format
  stage_fixed: true

format-oxfmt:
  run: pnpm oxfmt {staged_files}
  stage_fixed: true

format-starlark:
  run: 'set -- {staged_files}
  
    bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
  
    '
  stage_fixed: true

lint-staged:
  run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
  stage_fixed: true

bazel-lock-regen:
  run: bazel mod deps
  stage_fixed: true

build: trigger BuildBuddy workflows for PRs (#6540)
  .bazelrc
  buildbuddy.yaml
Due: none

save
  packages/babel-plugin-formatjs/types.ts
Due: format-oxfmt, lint-staged

build: use public BuildBuddy workflow config
  .bazelrc
  buildbuddy.yaml
Due: none

docs: track Intl.Collator polyfill gap
  packages/intl-collator/README.md
  packages/intl-collator/package.json
Due: format-package-json, format-oxfmt

fix: align DateTimeFormat options with ECMA-402
  packages/ecma402-abstract/DateTimeFormat/InitializeDateTimeFormat.ts
  packages/intl-datetimeformat/core.ts
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix: expose NumberFormat rounding resolved options
  packages/intl-numberformat/core.ts
  packages/intl-numberformat/tests/misc.test.ts
Due: format-oxfmt, lint-staged

fix: align DurationFormat fractional unit style
  packages/ecma402-abstract/DurationFormat/GetDurationUnitOptions.ts
  packages/intl-durationformat/abstract/PartitionDurationFormatPattern.ts
  packages/intl-durationformat/core.ts
  packages/intl-durationformat/tests/index.test.ts
  packages/intl-durationformat/types.ts
Due: format-oxfmt, lint-staged

fix: polyfill BigInt toLocaleString
  packages/intl-numberformat/polyfill-force.ts
  packages/intl-numberformat/polyfill.ts
  packages/intl-numberformat/tests/misc.test.ts
  packages/intl-numberformat/to_locale_string.ts
Due: format-oxfmt, lint-staged

chore: update lockfile for intl-collator package
  pnpm-lock.yaml
Due: bazel-lock-regen

fix: avoid exposing fractional unit display
  packages/intl-durationformat/abstract/PartitionDurationFormatPattern.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-numberformat): polyfill BigInt toLocaleString (#6547)
  packages/intl-numberformat/polyfill-force.ts
  packages/intl-numberformat/polyfill.ts
  packages/intl-numberformat/tests/misc.test.ts
  packages/intl-numberformat/to_locale_string.ts
Due: format-oxfmt, lint-staged

test: cover NumberFormat rounding output
  packages/intl-numberformat/tests/misc.test.ts
Due: format-oxfmt, lint-staged

fix: format explicit DateTimeFormat time fields
  packages/ecma402-abstract/DateTimeFormat/FormatDateTimePattern.ts
  packages/ecma402-abstract/DateTimeFormat/InitializeDateTimeFormat.ts
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

test: cover DurationFormat fractional output
  packages/intl-durationformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-numberformat): expose rounding resolved options (#6545)
  packages/intl-numberformat/core.ts
  packages/intl-numberformat/tests/misc.test.ts
Due: format-oxfmt, lint-staged

docs(@formatjs/intl-collator): document missing ECMA-402 polyfill (#6546)
  packages/intl-collator/README.md
  packages/intl-collator/package.json
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, bazel-lock-regen

fix(@formatjs/intl-datetimeformat): align current ECMA-402 options (#6548)
  packages/ecma402-abstract/DateTimeFormat/FormatDateTimePattern.ts
  packages/ecma402-abstract/DateTimeFormat/InitializeDateTimeFormat.ts
  packages/intl-datetimeformat/core.ts
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-durationformat): align fractional unit style (#6549)
  packages/ecma402-abstract/DurationFormat/GetDurationUnitOptions.ts
  packages/intl-durationformat/abstract/PartitionDurationFormatPattern.ts
  packages/intl-durationformat/core.ts
  packages/intl-durationformat/tests/index.test.ts
  packages/intl-durationformat/types.ts
Due: format-oxfmt, lint-staged

docs(@formatjs/intl-collator): plan polyfill
  knowledge-base/007-package-intl-polyfills.md
  knowledge-base/007l-polyfill-intl-collator.md
Due: format-oxfmt

docs(@formatjs/intl-collator): plan polyfill (#6550)
  knowledge-base/007-package-intl-polyfills.md
  knowledge-base/007l-polyfill-intl-collator.md
Due: format-oxfmt

feat(@formatjs/intl-collator): add package skeleton
  BUILD.bazel
  MODULE.bazel.lock
  package.json
  packages/intl-collator/BUILD.bazel
  packages/intl-collator/LICENSE.md
  packages/intl-collator/README.md
  packages/intl-collator/compare.ts
  packages/intl-collator/core.ts
  packages/intl-collator/get_internal_slots.ts
  packages/intl-collator/index.ts
  packages/intl-collator/package.json
  packages/intl-collator/polyfill-force.ts
  packages/intl-collator/polyfill.ts
  packages/intl-collator/should-polyfill.ts
  packages/intl-collator/tests/index.test.ts
  packages/intl-collator/types.ts
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/intl-collator): add package skeleton (#6551)
  BUILD.bazel
  MODULE.bazel.lock
  package.json
  packages/intl-collator/BUILD.bazel
  packages/intl-collator/LICENSE.md
  packages/intl-collator/README.md
  packages/intl-collator/compare.ts
  packages/intl-collator/core.ts
  packages/intl-collator/get_internal_slots.ts
  packages/intl-collator/index.ts
  packages/intl-collator/package.json
  packages/intl-collator/polyfill-force.ts
  packages/intl-collator/polyfill.ts
  packages/intl-collator/should-polyfill.ts
  packages/intl-collator/tests/index.test.ts
  packages/intl-collator/types.ts
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/intl-collator): add UCA parser scaffold
  packages/intl-collator/scripts/BUILD.bazel
  packages/intl-collator/scripts/parse-uca.test.ts
  packages/intl-collator/scripts/parse-uca.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/intl-collator): add UCA parser scaffold (#6552)
  packages/intl-collator/scripts/BUILD.bazel
  packages/intl-collator/scripts/parse-uca.test.ts
  packages/intl-collator/scripts/parse-uca.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/intl-collator): add LDML collation parser
  knowledge-base/007l-polyfill-intl-collator.md
  knowledge-base/010-script-conventions.md
  packages/intl-collator/package.json
  packages/intl-collator/scripts/BUILD.bazel
  packages/intl-collator/scripts/parse-ldml-collation.test.ts
  packages/intl-collator/scripts/parse-ldml-collation.ts
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/intl-collator): add LDML collation parser (#6553)
  knowledge-base/007l-polyfill-intl-collator.md
  knowledge-base/010-script-conventions.md
  packages/intl-collator/package.json
  packages/intl-collator/scripts/BUILD.bazel
  packages/intl-collator/scripts/parse-ldml-collation.test.ts
  packages/intl-collator/scripts/parse-ldml-collation.ts
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

build(@formatjs/intl-collator): add CLDR common archive
  MODULE.bazel
  packages/intl-collator/cldr-common.BUILD.bazel
Due: format-starlark, bazel-lock-regen

build(@formatjs/intl-collator): add CLDR common archive (#6554)
  MODULE.bazel
  packages/intl-collator/cldr-common.BUILD.bazel
Due: format-starlark, bazel-lock-regen

feat(@formatjs/intl-collator): generate root collation data
  packages/generated/cldr-collation/BUILD.bazel
  packages/intl-collator/scripts/BUILD.bazel
  packages/intl-collator/scripts/generate-root-data.ts
  packages/intl-collator/scripts/parse-uca.test.ts
  packages/intl-collator/scripts/parse-uca.ts
  tools/generated_packages_registry.bzl
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/intl-collator): compare with root collation data
  packages/intl-collator/BUILD.bazel
  packages/intl-collator/compare.ts
  packages/intl-collator/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/intl-collator): honor prefixed UCA entries
  packages/intl-collator/compare.ts
  packages/intl-collator/scripts/generate-root-data.ts
  packages/intl-collator/scripts/parse-uca.test.ts
  packages/intl-collator/scripts/parse-uca.ts
  packages/intl-collator/tests/index.test.ts
Due: format-oxfmt, lint-staged

feat(@formatjs/intl-collator): generate locale collation data
  packages/generated/cldr-collation/BUILD.bazel
  packages/intl-collator/core.ts
  packages/intl-collator/scripts/BUILD.bazel
  packages/intl-collator/scripts/generate-locale-data.ts
  packages/intl-collator/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/intl-collator): generate locale tailoring data
  packages/generated/cldr-collation/BUILD.bazel
  packages/intl-collator/scripts/BUILD.bazel
  packages/intl-collator/scripts/generate-tailoring-data.ts
  packages/intl-collator/scripts/parse-ldml-collation.test.ts
  packages/intl-collator/scripts/parse-ldml-collation.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/intl-collator): apply pinyin tone tailorings
  packages/intl-collator/compare.ts
  packages/intl-collator/tests/index.test.ts
Due: format-oxfmt, lint-staged

feat(@formatjs/intl-collator): mark variable collation weights
  packages/intl-collator/compare.ts
  packages/intl-collator/scripts/generate-root-data.ts
  packages/intl-collator/scripts/parse-uca.test.ts
  packages/intl-collator/scripts/parse-uca.ts
  packages/intl-collator/tests/index.test.ts
Due: format-oxfmt, lint-staged

feat(@formatjs/intl-collator): honor default collation data
  packages/intl-collator/compare.ts
  packages/intl-collator/scripts/generate-locale-data.ts
  packages/intl-collator/tests/index.test.ts
  packages/intl-collator/types.ts
Due: format-oxfmt, lint-staged

feat(@formatjs/intl-collator): generate all locale collation data
  packages/generated/cldr-collation/BUILD.bazel
  packages/intl-collator/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/intl-collator): generate root collation data (#6555)
  packages/generated/cldr-collation/BUILD.bazel
  packages/intl-collator/scripts/BUILD.bazel
  packages/intl-collator/scripts/generate-root-data.ts
  packages/intl-collator/scripts/parse-uca.test.ts
  packages/intl-collator/scripts/parse-uca.ts
  tools/generated_packages_registry.bzl
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

Path conditions:
  format-package-json: any of: **/package.json
  format-oxfmt: any of: **/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}, but not: **/locale-data/**, **/package.json, **/CHANGELOG.md, packages/cli-lib/tests/extract/typescript/err.tsx, packages/cli/integration-tests/extract/typescript/err.tsx
  format-starlark: any of: **/*.{bazel,bzl,BUILD}
  lint-staged: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}
  bazel-lock-regen: any of: pnpm-lock.yaml, package.json, pnpm-workspace.yaml, *.bazel
