Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

lefthook.yml:

# Lefthook configuration
# Docs: https://github.com/evilmartians/lefthook

# Skip lefthook when LEFTHOOK=0 environment variable is set
# This is equivalent to husky's HUSKY=0 for CI/CD pipelines
skip_output:
  - meta
  - summary

pre-commit:
  parallel: false
  commands:
    format-package-json:
      glob: "**/package.json"
      run: pnpm syncpack fix-mismatches && pnpm syncpack format
      stage_fixed: true
    format-oxfmt:
      glob: "**/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}"
      run: pnpm oxfmt {staged_files}
      stage_fixed: true
      exclude:
        - '**/locale-data/**'
        - '**/package.json'
        - '**/CHANGELOG.md'
        - 'packages/cli-lib/tests/extract/typescript/err.tsx'
        - 'packages/cli/integration-tests/extract/typescript/err.tsx'
    format-starlark:
      glob: "**/*.{bazel,bzl,BUILD}"
      run: |
        set -- {staged_files}
        bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
      stage_fixed: true
    lint-staged:
      glob: '**/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}'
      run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
      stage_fixed: true
    bazel-lock-regen:
      glob:
        - "pnpm-lock.yaml"
        - "package.json"
        - "pnpm-workspace.yaml"
        - "*.bazel"
      run: bazel mod deps
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

fix(@formatjs/intl-displaynames): use canonical calendar data keys
  docs/src/docs/polyfills/intl-displaynames.mdx
  knowledge-base/007d-polyfill-intl-displaynames.md
  knowledge-base/014-test262-conformance.md
  packages/intl-displaynames/BUILD.bazel
  packages/intl-displaynames/scripts/extract-displaynames.ts
  packages/intl-displaynames/tests/index.test.ts
  tools/test262/baselines/combined-supportedvaluesof.json
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-numberformat): isolate internal plural options
  docs/src/docs/polyfills/intl-numberformat.mdx
  knowledge-base/007a-polyfill-intl-numberformat.md
  knowledge-base/014-test262-conformance.md
  packages/intl-numberformat/core.ts
  packages/intl-numberformat/tests/misc.test.ts
  tools/test262/baselines/combined-relativetimeformat.json
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-numberformat): honor locale grouping minimums
  docs/src/docs/polyfills/intl-numberformat.mdx
  knowledge-base/007a-polyfill-intl-numberformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/NumberFormat/format_to_parts.ts
  packages/ecma402-abstract/types/number.ts
  packages/intl-numberformat/scripts/extract-numbers.ts
  packages/intl-numberformat/tests/misc.test.ts
  tools/test262/baselines/combined-relativetimeformat.json
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): reuse parsed pattern fields
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/DateTimeFormat/BestFitFormatMatcher.ts
  packages/ecma402-abstract/DateTimeFormat/skeleton.ts
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-datetimeformat/tests/index.test.ts
  tools/test262/baselines/combined-datetimeformat.json
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): match hourless time requests
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/DateTimeFormat/BestFitFormatMatcher.ts
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-datetimeformat/tests/index.test.ts
  tools/test262/baselines/combined-datetimeformat.json
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): support ISO calendar negotiation
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/DateTimeFormat/ToLocalTime.ts
  packages/intl-datetimeformat/core.ts
  packages/intl-datetimeformat/scripts/extract-dates.ts
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-datetimeformat/tests/index.test.ts
  tools/test262/baselines/combined-datetimeformat.json
  tools/test262/baselines/combined-supportedvaluesof.json
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-pluralrules): generate compact exponent data
  docs/src/docs/polyfills/intl-pluralrules.mdx
  knowledge-base/007c-polyfill-intl-pluralrules.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/PluralRules/InitializePluralRules.ts
  packages/ecma402-abstract/PluralRules/ResolvePlural.ts
  packages/ecma402-abstract/types/plural-rules.ts
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-pluralrules/index.ts
  packages/intl-pluralrules/scripts/cldr-raw.ts
  packages/intl-pluralrules/scripts/plural-rules-compiler.ts
  packages/intl-pluralrules/test262-baseline.json
  packages/intl-pluralrules/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

codex/editor es2016 compatibility (#7286)
  packages/editor/validation.ts
  packages/editor/workflow.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-getcanonicallocales): preserve RegExp statics (#7287)
  docs/src/docs/polyfills/intl-getcanonicallocales.mdx
  knowledge-base/007j-polyfill-intl-getcanonicallocales.md
  knowledge-base/014-test262-conformance.md
  packages/intl-getcanonicallocales/parser.ts
  packages/intl-getcanonicallocales/tests/index.test.ts
  tools/test262/baselines/combined-collator.json
  tools/test262/baselines/combined-numberformat.json
Due: format-oxfmt, lint-staged

test(deps): cover combined polyfill installation (#7282)
  docs/src/docs/polyfills.mdx
  knowledge-base/014-test262-conformance.md
  packages/intl-collator/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  test262.BUILD
  tools/test262/BUILD.bazel
  tools/test262/baselines/combined-collator.json
  tools/test262/baselines/combined-datetimeformat.json
  tools/test262/baselines/combined-displaynames.json
  tools/test262/baselines/combined-durationformat.json
  tools/test262/baselines/combined-getcanonicallocales.json
  tools/test262/baselines/combined-listformat.json
  tools/test262/baselines/combined-locale.json
  tools/test262/baselines/combined-numberformat.json
  tools/test262/baselines/combined-pluralrules.json
  tools/test262/baselines/combined-relativetimeformat.json
  tools/test262/baselines/combined-segmenter.json
  tools/test262/baselines/combined-supportedvaluesof.json
  tools/test262/defs.bzl
  tools/test262/fixtures/second-prelude.js
  tools/test262/fixtures/test/realm.js
  tools/test262/prelude.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

test(deps): load required Test262 locale fixtures (#7284)
  docs/src/docs/polyfills.mdx
  knowledge-base/014-test262-conformance.md
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-numberformat/test262-baseline.json
  packages/intl-relativetimeformat/BUILD.bazel
  tools/test262/baselines/combined-numberformat.json
  tools/test262/baselines/combined-pluralrules.json
  tools/test262/baselines/combined-relativetimeformat.json
  tools/test262/locales.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

fix(@formatjs/intl-numberformat): isolate internal plural options (#7290)
  docs/src/docs/polyfills/intl-numberformat.mdx
  knowledge-base/007a-polyfill-intl-numberformat.md
  knowledge-base/014-test262-conformance.md
  packages/intl-numberformat/core.ts
  packages/intl-numberformat/tests/misc.test.ts
  tools/test262/baselines/combined-relativetimeformat.json
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-displaynames): use canonical calendar data keys (#7288)
  docs/src/docs/polyfills/intl-displaynames.mdx
  knowledge-base/007d-polyfill-intl-displaynames.md
  knowledge-base/014-test262-conformance.md
  packages/intl-displaynames/BUILD.bazel
  packages/intl-displaynames/scripts/extract-displaynames.ts
  packages/intl-displaynames/tests/index.test.ts
  tools/test262/baselines/combined-supportedvaluesof.json
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-numberformat): honor locale grouping minimums (#7291)
  docs/src/docs/polyfills/intl-numberformat.mdx
  knowledge-base/007a-polyfill-intl-numberformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/NumberFormat/format_to_parts.ts
  packages/ecma402-abstract/types/number.ts
  packages/intl-numberformat/scripts/extract-numbers.ts
  packages/intl-numberformat/tests/misc.test.ts
  tools/test262/baselines/combined-relativetimeformat.json
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): reuse parsed pattern fields (#7292)
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/DateTimeFormat/BestFitFormatMatcher.ts
  packages/ecma402-abstract/DateTimeFormat/skeleton.ts
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-datetimeformat/tests/index.test.ts
  tools/test262/baselines/combined-datetimeformat.json
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): support ISO calendar negotiation (#7294)
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/DateTimeFormat/ToLocalTime.ts
  packages/intl-datetimeformat/core.ts
  packages/intl-datetimeformat/scripts/extract-dates.ts
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-datetimeformat/tests/index.test.ts
  tools/test262/baselines/combined-datetimeformat.json
  tools/test262/baselines/combined-supportedvaluesof.json
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-pluralrules): generate compact exponent data (#7295)
  docs/src/docs/polyfills/intl-pluralrules.mdx
  knowledge-base/007c-polyfill-intl-pluralrules.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/PluralRules/InitializePluralRules.ts
  packages/ecma402-abstract/PluralRules/ResolvePlural.ts
  packages/ecma402-abstract/types/plural-rules.ts
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-pluralrules/index.ts
  packages/intl-pluralrules/scripts/cldr-raw.ts
  packages/intl-pluralrules/scripts/plural-rules-compiler.ts
  packages/intl-pluralrules/test262-baseline.json
  packages/intl-pluralrules/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-datetimeformat): match hourless time requests (#7293)
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/DateTimeFormat/BestFitFormatMatcher.ts
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-datetimeformat/tests/index.test.ts
  tools/test262/baselines/combined-datetimeformat.json
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): compare ranges at displayed precision
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/DateTimeFormat/PartitionDateTimeRangePattern.ts
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-datetimeformat/tests/format-range.test.ts
  tools/test262/baselines/combined-datetimeformat.json
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): format flexible day periods
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/DateTimeFormat/FormatDateTimePattern.ts
  packages/ecma402-abstract/DateTimeFormat/PartitionDateTimeRangePattern.ts
  packages/ecma402-abstract/DateTimeFormat/skeleton.ts
  packages/ecma402-abstract/types/date-time.ts
  packages/intl-datetimeformat/scripts/extract-dates.ts
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-datetimeformat/tests/abstract/BestFitFormatMatcher.test.ts
  packages/intl-datetimeformat/tests/abstract/skeleton.test.ts
  packages/intl-datetimeformat/tests/format-range.test.ts
  packages/intl-datetimeformat/tests/format.test.ts
  packages/intl-datetimeformat/tests/index.test.ts
  tools/test262/baselines/combined-datetimeformat.json
Due: format-oxfmt, lint-staged

fix(formatjs_cli): preserve IDs for empty descriptions
  crates/formatjs_cli/src/id_generator.rs
  docs/src/docs/tooling/cli.mdx
  knowledge-base/009-package-developer-tools.md
  packages/cli/integration-tests/conformance-tests/test_cases/26_empty_description.txt
  packages/unplugin/conformance-tests/cli-unplugin-conformance.test.ts
Due: format-oxfmt, lint-staged

fix(deps): preserve polyfill locale data during registration
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  docs/src/docs/polyfills/intl-displaynames.mdx
  docs/src/docs/polyfills/intl-listformat.mdx
  docs/src/docs/polyfills/intl-numberformat.mdx
  docs/src/docs/polyfills/intl-pluralrules.mdx
  docs/src/docs/polyfills/intl-relativetimeformat.mdx
  knowledge-base/007-package-intl-polyfills.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/BUILD.bazel
  packages/ecma402-abstract/registerLocaleData.ts
  packages/ecma402-abstract/tests/utils.test.ts
  packages/ecma402-abstract/utils.ts
  packages/generated/cldr-supported-locales/BUILD.bazel
  packages/intl-datetimeformat/core.ts
  packages/intl-displaynames/index.ts
  packages/intl-displaynames/test262-baseline.json
  packages/intl-listformat/index.ts
  packages/intl-listformat/test262-baseline.json
  packages/intl-listformat/tests/supported-locales-of.test.ts
  packages/intl-numberformat/core.ts
  packages/intl-numberformat/test262-baseline.json
  packages/intl-pluralrules/index.ts
  packages/intl-relativetimeformat/index.ts
  packages/intl-relativetimeformat/test262-baseline.json
  tools/BUILD.bazel
  tools/generate-default-content.ts
  tools/test262/baselines/combined-displaynames.json
  tools/test262/baselines/combined-listformat.json
  tools/test262/baselines/combined-numberformat.json
  tools/test262/baselines/combined-relativetimeformat.json
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-segmenter): register CLDR locale coverage
  docs/src/docs/polyfills/intl-segmenter.mdx
  knowledge-base/007h-polyfill-intl-segmenter.md
  knowledge-base/014-test262-conformance.md
  packages/intl-segmenter/BUILD.bazel
  packages/intl-segmenter/segmenter.ts
  packages/intl-segmenter/test262-baseline.json
  packages/intl-segmenter/tests/sentence.test.ts
  tools/generate-default-content.ts
  tools/test262/baselines/combined-segmenter.json
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-numberformat): preserve range separators and affixes
  docs/src/docs/polyfills/intl-numberformat.mdx
  knowledge-base/007a-polyfill-intl-numberformat.md
  packages/ecma402-abstract/NumberFormat/CollapseNumberRange.ts
  packages/ecma402-abstract/NumberFormat/FormatNumericRangeToParts.ts
  packages/ecma402-abstract/tests/CollapseNumberRange.test.ts
  packages/ecma402-abstract/tests/FormatNumericRange.test.ts
  packages/ecma402-abstract/tests/FormatNumericRangeToParts.test.ts
  packages/ecma402-abstract/types/number.ts
  packages/intl-numberformat/BUILD.bazel
  packages/intl-numberformat/scripts/extract-numbers.ts
  packages/intl-numberformat/test262-baseline.json
  packages/intl-numberformat/tests/misc.test.ts
  tools/test262/baselines/combined-numberformat.json
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-numberformat): place approximate signs in locale patterns
  docs/src/docs/polyfills/intl-numberformat.mdx
  knowledge-base/007a-polyfill-intl-numberformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/NumberFormat/FormatApproximately.ts
  packages/ecma402-abstract/NumberFormat/PartitionNumberPattern.ts
  packages/ecma402-abstract/NumberFormat/PartitionNumberRangePattern.ts
  packages/ecma402-abstract/NumberFormat/format_to_parts.ts
  packages/ecma402-abstract/tests/FormatApproximately.test.ts
  packages/intl-numberformat/BUILD.bazel
  packages/intl-numberformat/test262-baseline.json
  packages/intl-numberformat/tests/misc.test.ts
  tools/test262/baselines/combined-numberformat.json
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(formatjs_cli): preserve IDs for empty descriptions (#7296)
  crates/formatjs_cli/src/id_generator.rs
  docs/src/docs/tooling/cli.mdx
  knowledge-base/009-package-developer-tools.md
  packages/cli/integration-tests/conformance-tests/test_cases/26_empty_description.txt
  packages/unplugin/conformance-tests/cli-unplugin-conformance.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-numberformat): share signs with range unit suffixes
  docs/src/docs/polyfills/intl-numberformat.mdx
  knowledge-base/007a-polyfill-intl-numberformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/NumberFormat/CollapseNumberRange.ts
  packages/ecma402-abstract/tests/CollapseNumberRange.test.ts
  packages/intl-numberformat/test262-baseline.json
  packages/intl-numberformat/tests/misc.test.ts
  tools/test262/baselines/combined-numberformat.json
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-numberformat): repair benchmark entrypoints
  knowledge-base/007a-polyfill-intl-numberformat.md
  packages/intl-numberformat/benchmark/BUILD.bazel
  packages/intl-numberformat/benchmark/README.md
  packages/intl-numberformat/benchmark/benchmark.ts
  packages/intl-numberformat/benchmark/profile.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-numberformat): preserve supplementary digits when grouping
  knowledge-base/007a-polyfill-intl-numberformat.md
  packages/ecma402-abstract/NumberFormat/format_to_parts.ts
  packages/intl-numberformat/README.md
  packages/intl-numberformat/tests/format_to_parts.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-numberformat): generate complete CLDR digit mappings
  knowledge-base/007a-polyfill-intl-numberformat.md
  packages/ecma402-abstract/scripts/BUILD.bazel
  packages/ecma402-abstract/scripts/digit-mapping.ts
  packages/generated/unicode/BUILD.bazel
  packages/intl-numberformat/README.md
  packages/intl-numberformat/tests/format_to_parts.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-datetimeformat): format flexible day periods (#7298)
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/DateTimeFormat/FormatDateTimePattern.ts
  packages/ecma402-abstract/DateTimeFormat/PartitionDateTimeRangePattern.ts
  packages/ecma402-abstract/DateTimeFormat/skeleton.ts
  packages/ecma402-abstract/types/date-time.ts
  packages/intl-datetimeformat/scripts/extract-dates.ts
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-datetimeformat/tests/abstract/BestFitFormatMatcher.test.ts
  packages/intl-datetimeformat/tests/abstract/skeleton.test.ts
  packages/intl-datetimeformat/tests/format-range.test.ts
  packages/intl-datetimeformat/tests/format.test.ts
  packages/intl-datetimeformat/tests/index.test.ts
  tools/test262/baselines/combined-datetimeformat.json
Due: format-oxfmt, lint-staged

fix(deps): preserve polyfill locale data during registration (#7299)
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  docs/src/docs/polyfills/intl-displaynames.mdx
  docs/src/docs/polyfills/intl-listformat.mdx
  docs/src/docs/polyfills/intl-numberformat.mdx
  docs/src/docs/polyfills/intl-pluralrules.mdx
  docs/src/docs/polyfills/intl-relativetimeformat.mdx
  knowledge-base/007-package-intl-polyfills.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/BUILD.bazel
  packages/ecma402-abstract/registerLocaleData.ts
  packages/ecma402-abstract/tests/utils.test.ts
  packages/ecma402-abstract/utils.ts
  packages/generated/cldr-supported-locales/BUILD.bazel
  packages/intl-datetimeformat/core.ts
  packages/intl-displaynames/index.ts
  packages/intl-displaynames/test262-baseline.json
  packages/intl-listformat/index.ts
  packages/intl-listformat/test262-baseline.json
  packages/intl-listformat/tests/supported-locales-of.test.ts
  packages/intl-numberformat/core.ts
  packages/intl-numberformat/test262-baseline.json
  packages/intl-pluralrules/index.ts
  packages/intl-relativetimeformat/index.ts
  packages/intl-relativetimeformat/test262-baseline.json
  tools/BUILD.bazel
  tools/generate-default-content.ts
  tools/test262/baselines/combined-displaynames.json
  tools/test262/baselines/combined-listformat.json
  tools/test262/baselines/combined-numberformat.json
  tools/test262/baselines/combined-relativetimeformat.json
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-datetimeformat): compare ranges at displayed precision (#7297)
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/DateTimeFormat/PartitionDateTimeRangePattern.ts
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-datetimeformat/tests/format-range.test.ts
  tools/test262/baselines/combined-datetimeformat.json
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-segmenter): register CLDR locale coverage (#7300)
  docs/src/docs/polyfills/intl-segmenter.mdx
  knowledge-base/007h-polyfill-intl-segmenter.md
  knowledge-base/014-test262-conformance.md
  packages/intl-segmenter/BUILD.bazel
  packages/intl-segmenter/segmenter.ts
  packages/intl-segmenter/test262-baseline.json
  packages/intl-segmenter/tests/sentence.test.ts
  tools/generate-default-content.ts
  tools/test262/baselines/combined-segmenter.json
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-numberformat): preserve range separators and affixes (#7301)
  docs/src/docs/polyfills/intl-numberformat.mdx
  knowledge-base/007a-polyfill-intl-numberformat.md
  packages/ecma402-abstract/NumberFormat/CollapseNumberRange.ts
  packages/ecma402-abstract/NumberFormat/FormatNumericRangeToParts.ts
  packages/ecma402-abstract/tests/CollapseNumberRange.test.ts
  packages/ecma402-abstract/tests/FormatNumericRange.test.ts
  packages/ecma402-abstract/tests/FormatNumericRangeToParts.test.ts
  packages/ecma402-abstract/types/number.ts
  packages/intl-numberformat/BUILD.bazel
  packages/intl-numberformat/scripts/extract-numbers.ts
  packages/intl-numberformat/test262-baseline.json
  packages/intl-numberformat/tests/misc.test.ts
  tools/test262/baselines/combined-numberformat.json
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-numberformat): place approximate signs in locale patterns (#7302)
  docs/src/docs/polyfills/intl-numberformat.mdx
  knowledge-base/007a-polyfill-intl-numberformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/NumberFormat/FormatApproximately.ts
  packages/ecma402-abstract/NumberFormat/PartitionNumberPattern.ts
  packages/ecma402-abstract/NumberFormat/PartitionNumberRangePattern.ts
  packages/ecma402-abstract/NumberFormat/format_to_parts.ts
  packages/ecma402-abstract/tests/FormatApproximately.test.ts
  packages/intl-numberformat/BUILD.bazel
  packages/intl-numberformat/test262-baseline.json
  packages/intl-numberformat/tests/misc.test.ts
  tools/test262/baselines/combined-numberformat.json
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-numberformat): repair benchmark entrypoints (#7304)
  knowledge-base/007a-polyfill-intl-numberformat.md
  packages/intl-numberformat/benchmark/BUILD.bazel
  packages/intl-numberformat/benchmark/README.md
  packages/intl-numberformat/benchmark/benchmark.ts
  packages/intl-numberformat/benchmark/profile.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-numberformat): share signs with range unit suffixes (#7303)
  docs/src/docs/polyfills/intl-numberformat.mdx
  knowledge-base/007a-polyfill-intl-numberformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/NumberFormat/CollapseNumberRange.ts
  packages/ecma402-abstract/tests/CollapseNumberRange.test.ts
  packages/intl-numberformat/test262-baseline.json
  packages/intl-numberformat/tests/misc.test.ts
  tools/test262/baselines/combined-numberformat.json
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-numberformat): preserve supplementary digits when grouping (#7305)
  knowledge-base/007a-polyfill-intl-numberformat.md
  packages/ecma402-abstract/NumberFormat/format_to_parts.ts
  packages/intl-numberformat/README.md
  packages/intl-numberformat/tests/format_to_parts.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-numberformat): generate complete CLDR digit mappings (#7306)
  knowledge-base/007a-polyfill-intl-numberformat.md
  packages/ecma402-abstract/scripts/BUILD.bazel
  packages/ecma402-abstract/scripts/digit-mapping.ts
  packages/generated/unicode/BUILD.bazel
  packages/intl-numberformat/README.md
  packages/intl-numberformat/tests/format_to_parts.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen
