Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-oxfmt, format-starlark, lint-staged

lefthook.yml:

# Lefthook configuration
# Docs: https://github.com/evilmartians/lefthook

# Skip lefthook when LEFTHOOK=0 environment variable is set
# This is equivalent to husky's HUSKY=0 for CI/CD pipelines
skip_output:
  - meta
  - summary

pre-commit:
  parallel: false
  commands:
    format-oxfmt:
      glob: "**/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte,css,scss,sass,less,html,htm,md,mdx}"
      run: pnpm oxfmt {staged_files}
      stage_fixed: true
    format-starlark:
      glob: "**/*.{bazel,bzl,BUILD}"
      run: bazel run @buildifier_prebuilt//:buildifier -- -mode=fix {staged_files}
      stage_fixed: true
    lint-staged:
      glob: "**/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}"
      run: pnpm oxlint --config .oxlintrc.json {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

feat(eslint-plugin-formatjs): add allowWithDescription option to no-useless-message rule
  packages/eslint-plugin-formatjs/rules/no-useless-message.ts
  packages/eslint-plugin-formatjs/tests/no-useless-message.test.ts
Due: format-oxfmt, lint-staged

docs: add allowWithDescription option documentation for no-useless-message rule
  docs/src/docs/tooling/linter.mdx
Due: format-oxfmt

docs: fix white on white input, fix #5760
  docs/src/components/home/HeroSection.tsx
Due: format-oxfmt, lint-staged

docs: fix white on white input, fix #5760 (#5761)
  docs/src/components/home/HeroSection.tsx
Due: format-oxfmt, lint-staged

build: tag cldr targets
  BUILD.bazel
  CONTRIBUTING.md
  packages/icu-messageformat-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/defs.bzl
  packages/intl-datetimeformat/index.bzl
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-enumerator/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/utils/BUILD.bazel
  tools/index.bzl
Due: format-starlark

build: tag cldr targets (#5765)
  BUILD.bazel
  CONTRIBUTING.md
  packages/icu-messageformat-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/defs.bzl
  packages/intl-datetimeformat/index.bzl
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-enumerator/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/utils/BUILD.bazel
  tools/index.bzl
Due: format-starlark

test(@formatjs/intl-numberformat): add test for #4359
  .commitlintrc.mjs
  packages/intl-numberformat/tests/misc.test.ts
Due: format-oxfmt, lint-staged

test(@formatjs/intl-numberformat): add test for #4359 (#5773)
  .commitlintrc.mjs
  packages/intl-numberformat/tests/misc.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/ts-transformer): throws when message desc values are not statically analyzable, fix #4235
  packages/cli/integration-tests/extract/integration.test.ts
  packages/cli/integration-tests/extract/typescript/non-static.tsx
  packages/ts-transformer/src/transform.ts
  packages/ts-transformer/tests/fixtures/nonStaticMessages.tsx
  packages/ts-transformer/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/ts-transformer): throws when message desc values are not statically analyzable, fix #4235 (#5775)
  packages/cli/integration-tests/extract/integration.test.ts
  packages/cli/integration-tests/extract/typescript/non-static.tsx
  packages/ts-transformer/src/transform.ts
  packages/ts-transformer/tests/fixtures/nonStaticMessages.tsx
  packages/ts-transformer/tests/index.test.ts
Due: format-oxfmt, lint-staged

build: do not run BB on pull_request, just use GHA for it
  buildbuddy.yaml
Due: none

test(@formatjs/intl-displaynames): add more tests for #3387
  packages/intl-displaynames/tests/index.test.ts
Due: format-oxfmt, lint-staged

test(@formatjs/intl-displaynames): add more tests for #3387 (#5777)
  packages/intl-displaynames/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(deps): update dependency commander to v14 (#5705)
  packages/cli-lib/package.json
  pnpm-lock.yaml
Due: none

fix(@formatjs/intl-numberformat): handle massive numbers, fix #4236
  packages/ecma402-abstract/NumberFormat/ComputeExponentForMagnitude.ts
  packages/ecma402-abstract/NumberFormat/format_to_parts.ts
  packages/intl-numberformat/tests/misc.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-numberformat): handle massive numbers, fix #4236 (#5782)
  packages/ecma402-abstract/NumberFormat/ComputeExponentForMagnitude.ts
  packages/ecma402-abstract/NumberFormat/format_to_parts.ts
  packages/intl-numberformat/tests/misc.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/icu-messageformat-parser): fix flatten, fix #4202
  packages/icu-messageformat-parser/manipulator.ts
  packages/icu-messageformat-parser/tests/manipulator.test.ts
  rust/icu_messageformat_parser/manipulator.rs
Due: format-oxfmt, lint-staged

build(deps): bump qs and express in /packages/react-intl/example-sandboxes/rescripts (#5721)
  packages/react-intl/example-sandboxes/rescripts/package-lock.json
Due: none

fix(@formatjs/icu-messageformat-parser): fix flatten, fix #4202 (#5784)
  packages/icu-messageformat-parser/manipulator.ts
  packages/icu-messageformat-parser/tests/manipulator.test.ts
  rust/icu_messageformat_parser/manipulator.rs
Due: format-oxfmt, lint-staged

fix(@formatjs/ts-transformer): flatten before id generation, fix #3537
  docs/src/docs/tooling/babel-plugin.mdx
  docs/src/docs/tooling/ts-transformer.mdx
  packages/babel-plugin-formatjs/tests/fixtures/flattenWithOverrideIdFn.js
  packages/babel-plugin-formatjs/tests/index.test.ts
  packages/babel-plugin-formatjs/types.ts
  packages/babel-plugin-formatjs/utils.ts
  packages/babel-plugin-formatjs/visitors/call-expression.ts
  packages/babel-plugin-formatjs/visitors/jsx-opening-element.ts
  packages/cli-lib/src/extract.ts
  packages/cli/integration-tests/extract/flattenWithIdPattern/actual.js
  packages/cli/integration-tests/extract/integration.test.ts
  packages/ts-transformer/src/transform.ts
Due: format-oxfmt, lint-staged

feat(@formatjs/ts-transformer): flatten before id generation, fix #3537 (#5790)
  docs/src/docs/tooling/babel-plugin.mdx
  docs/src/docs/tooling/ts-transformer.mdx
  packages/babel-plugin-formatjs/tests/fixtures/flattenWithOverrideIdFn.js
  packages/babel-plugin-formatjs/tests/index.test.ts
  packages/babel-plugin-formatjs/types.ts
  packages/babel-plugin-formatjs/utils.ts
  packages/babel-plugin-formatjs/visitors/call-expression.ts
  packages/babel-plugin-formatjs/visitors/jsx-opening-element.ts
  packages/cli-lib/src/extract.ts
  packages/cli/integration-tests/extract/flattenWithIdPattern/actual.js
  packages/cli/integration-tests/extract/integration.test.ts
  packages/ts-transformer/src/transform.ts
Due: format-oxfmt, lint-staged

build: try to fix release
  .github/workflows/release.yml
Due: none

build: attempt to fix release
  .github/workflows/release.yml
Due: none

docs: update release section
  CONTRIBUTING.md
Due: none

build: update commitlint
  MODULE.bazel
  package.json
  patches/@commitlint__rules.patch
  pnpm-lock.yaml
Due: none

build: rm unused deps
  MODULE.bazel.lock
Due: none
