Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

lefthook.yml:

# Lefthook configuration
# Docs: https://github.com/evilmartians/lefthook

# Skip lefthook when LEFTHOOK=0 environment variable is set
# This is equivalent to husky's HUSKY=0 for CI/CD pipelines
skip_output:
  - meta
  - summary

pre-commit:
  parallel: false
  commands:
    format-package-json:
      glob: "**/package.json"
      run: pnpm syncpack fix-mismatches && pnpm syncpack format
      stage_fixed: true
    format-oxfmt:
      glob: "**/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}"
      run: pnpm oxfmt {staged_files}
      stage_fixed: true
      exclude:
        - '**/locale-data/**'
        - '**/package.json'
        - '**/CHANGELOG.md'
        - 'packages/cli-lib/tests/extract/typescript/err.tsx'
        - 'packages/cli/integration-tests/extract/typescript/err.tsx'
    format-starlark:
      glob: "**/*.{bazel,bzl,BUILD}"
      run: |
        set -- {staged_files}
        bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
      stage_fixed: true
    lint-staged:
      glob: '**/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}'
      run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
      stage_fixed: true
    bazel-lock-regen:
      glob:
        - "pnpm-lock.yaml"
        - "package.json"
        - "pnpm-workspace.yaml"
        - "*.bazel"
      run: bazel mod deps
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

docs: add internationalization best practices (#6972)
  .oxfmtrc.json
  .oxlintrc.json
  docs/public/sitemap.xml
  docs/src/docs-metadata.generated.json
  docs/src/docs/core-concepts/basic-internationalization-principles.mdx
  docs/src/docs/getting-started/message-declaration.mdx
  docs/src/docs/guides/best-practices.mdx
  docs/src/utils/navigation.ts
Due: format-oxfmt, lint-staged

docs: add i18n best practices skill
  skills/i18n-best-practices/SKILL.md
  skills/i18n-best-practices/agents/openai.yaml
Due: format-oxfmt

docs: publish i18n best practices skill
  .agents/skills/i18n-best-practices/SKILL.md
  .agents/skills/i18n-best-practices/agents/openai.yaml
  docs/public/.well-known/agent-skills/index.json
Due: format-oxfmt

ci: expose hook-generated changes
  .github/workflows/verify-hooks.yml
Due: format-oxfmt

docs: apply hook formatting
  .agents/skills/i18n-best-practices/agents/openai.yaml
  .github/workflows/verify-hooks.yml
Due: format-oxfmt

docs: add i18n best practices skill (#6973)
  .agents/skills/i18n-best-practices/SKILL.md
  .agents/skills/i18n-best-practices/agents/openai.yaml
  docs/public/.well-known/agent-skills/index.json
Due: format-oxfmt

feat(icu_messageformat): add Rust message formatter
  .github/workflows/crates-release.yml
  .release-please-manifest.json
  Cargo.lock
  Cargo.toml
  crates/icu_messageformat/BUILD.bazel
  crates/icu_messageformat/Cargo.toml
  crates/icu_messageformat/README.md
  crates/icu_messageformat/error.rs
  crates/icu_messageformat/formatter.rs
  crates/icu_messageformat/lib.rs
  crates/icu_messageformat/value.rs
  knowledge-base/001-repo-layout.md
  knowledge-base/003-rust-crate-dependency-hierarchy.md
  knowledge-base/008-package-intl-and-framework-integrations.md
  release-please-config.json
Due: format-oxfmt, format-starlark, bazel-lock-regen

feat(formatjs_intl): add Rust intl runtime
  .github/workflows/crates-release.yml
  .release-please-manifest.json
  Cargo.lock
  Cargo.toml
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli/README.md
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli/src/extractor.rs
  crates/formatjs_cli/src/lib.rs
  crates/formatjs_cli/src/main.rs
  crates/formatjs_cli/src/rust_extractor.rs
  crates/formatjs_intl/BUILD.bazel
  crates/formatjs_intl/Cargo.toml
  crates/formatjs_intl/README.md
  crates/formatjs_intl/lib.rs
  knowledge-base/003-rust-crate-dependency-hierarchy.md
  knowledge-base/008-package-intl-and-framework-integrations.md
  release-please-config.json
Due: format-oxfmt, format-starlark, bazel-lock-regen

feat(formatjs_intl): generate message descriptor ids
  .github/workflows/crates-release.yml
  .release-please-manifest.json
  Cargo.lock
  Cargo.toml
  crates/formatjs_cli/README.md
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli/src/rust_extractor.rs
  crates/formatjs_intl/BUILD.bazel
  crates/formatjs_intl/README.md
  crates/formatjs_intl/lib.rs
  crates/formatjs_intl_macros/BUILD.bazel
  crates/formatjs_intl_macros/Cargo.toml
  crates/formatjs_intl_macros/lib.rs
  knowledge-base/003-rust-crate-dependency-hierarchy.md
  knowledge-base/008-package-intl-and-framework-integrations.md
  release-please-config.json
Due: format-oxfmt, format-starlark, bazel-lock-regen

style(formatjs_intl): format dependency table
  knowledge-base/003-rust-crate-dependency-hierarchy.md
Due: format-oxfmt

feat(formatjs_intl): add Rust intl runtime (#6975)
  .github/workflows/crates-release.yml
  .release-please-manifest.json
  Cargo.lock
  Cargo.toml
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli/README.md
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli/src/extractor.rs
  crates/formatjs_cli/src/lib.rs
  crates/formatjs_cli/src/main.rs
  crates/formatjs_cli/src/rust_extractor.rs
  crates/formatjs_intl/BUILD.bazel
  crates/formatjs_intl/Cargo.toml
  crates/formatjs_intl/README.md
  crates/formatjs_intl/lib.rs
  crates/formatjs_intl_macros/BUILD.bazel
  crates/formatjs_intl_macros/Cargo.toml
  crates/formatjs_intl_macros/lib.rs
  knowledge-base/003-rust-crate-dependency-hierarchy.md
  knowledge-base/008-package-intl-and-framework-integrations.md
  release-please-config.json
Due: format-oxfmt, format-starlark, bazel-lock-regen

feat(formatjs_icu_messageformat): add Rust message formatter (#6974)
  .github/workflows/crates-release.yml
  .release-please-manifest.json
  Cargo.lock
  Cargo.toml
  crates/icu_messageformat/BUILD.bazel
  crates/icu_messageformat/Cargo.toml
  crates/icu_messageformat/README.md
  crates/icu_messageformat/error.rs
  crates/icu_messageformat/formatter.rs
  crates/icu_messageformat/lib.rs
  crates/icu_messageformat/value.rs
  knowledge-base/001-repo-layout.md
  knowledge-base/003-rust-crate-dependency-hierarchy.md
  knowledge-base/008-package-intl-and-framework-integrations.md
  release-please-config.json
Due: format-oxfmt, format-starlark, bazel-lock-regen

docs: document ember-intl virtual module types
  docs/src/docs/ember-intl.mdx
Due: format-oxfmt

chore: release main
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli_napi/Cargo.toml
Due: format-oxfmt, format-starlark, bazel-lock-regen

chore: release main (#6977)
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli_napi/Cargo.toml
Due: format-oxfmt, format-starlark, bazel-lock-regen

Documented how to use ember-intl (#6946)
  docs/public/sitemap.xml
  docs/src/docs-metadata.generated.json
  docs/src/docs/ember-intl.mdx
  docs/src/docs/getting-started/installation.mdx
  docs/src/utils/navigation.ts
Due: format-oxfmt, lint-staged

fix: support Rust 1.92 in new intl crates
  crates/formatjs_intl/Cargo.toml
  crates/formatjs_intl_macros/Cargo.toml
  crates/icu_messageformat/Cargo.toml
  knowledge-base/003-rust-crate-dependency-hierarchy.md
Due: format-oxfmt

fix: support Rust 1.92 in new intl crates (#6978)
  crates/formatjs_intl/Cargo.toml
  crates/formatjs_intl_macros/Cargo.toml
  crates/icu_messageformat/Cargo.toml
  knowledge-base/003-rust-crate-dependency-hierarchy.md
Due: format-oxfmt

chore: release main
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_intl/CHANGELOG.md
  crates/formatjs_intl/Cargo.toml
  crates/formatjs_intl_macros/CHANGELOG.md
  crates/formatjs_intl_macros/Cargo.toml
  crates/icu_messageformat/CHANGELOG.md
  crates/icu_messageformat/Cargo.toml
Due: format-oxfmt

chore: release main (#6979)
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_intl/CHANGELOG.md
  crates/formatjs_intl/Cargo.toml
  crates/formatjs_intl_macros/CHANGELOG.md
  crates/formatjs_intl_macros/Cargo.toml
  crates/icu_messageformat/CHANGELOG.md
  crates/icu_messageformat/Cargo.toml
Due: format-oxfmt

fix: queue crate release workflows
  .github/workflows/crates-release.yml
  knowledge-base/001-repo-layout.md
Due: format-oxfmt

fix: queue crate release workflows (#6980)
  .github/workflows/crates-release.yml
  knowledge-base/001-repo-layout.md
Due: format-oxfmt

feat: add FormatJS CLI versions through 1.2.0 (#91)
  rules/formatjs/MODULE.bazel
  rules/formatjs/MODULE.bazel.lock
  rules/formatjs/formatjs_cli/extensions.bzl
  rules/formatjs/formatjs_cli/repositories.bzl
Due: format-starlark, bazel-lock-regen

feat: automate releases with Release Please (#92)
  rules/formatjs/.github/workflows/release-please.yml
  rules/formatjs/.github/workflows/release.yaml
  rules/formatjs/.github/workflows/tag.yaml
  rules/formatjs/.release-please-manifest.json
  rules/formatjs/AGENTS.md
  rules/formatjs/CONTRIBUTING.md
  rules/formatjs/docs/releasing.md
  rules/formatjs/release-please-config.json
  rules/formatjs/version.txt
Due: format-oxfmt

chore(main): release 0.10.0 (#93)
  rules/formatjs/.release-please-manifest.json
  rules/formatjs/CHANGELOG.md
  rules/formatjs/version.txt
Due: format-oxfmt

docs: document Rust support
  docs/public/sitemap.xml
  docs/src/docs-metadata.generated.json
  docs/src/docs/rust.mdx
  docs/src/docs/rust/icu-messageformat.mdx
  docs/src/docs/rust/intl.mdx
  docs/src/docs/tooling/cli.mdx
  docs/src/docs/tooling/rust-icu-messageformat-parser.mdx
  docs/src/docs/tooling/rust-icu-skeleton-parser.mdx
  docs/src/utils/navigation.ts
Due: format-oxfmt, lint-staged

feat(formatjs_intl): add message fallbacks
  crates/formatjs_intl/README.md
  crates/formatjs_intl/lib.rs
  knowledge-base/003-rust-crate-dependency-hierarchy.md
Due: format-oxfmt

docs: document Rust support (#6981)
  docs/public/sitemap.xml
  docs/src/docs-metadata.generated.json
  docs/src/docs/rust.mdx
  docs/src/docs/rust/icu-messageformat.mdx
  docs/src/docs/rust/intl.mdx
  docs/src/docs/tooling/cli.mdx
  docs/src/docs/tooling/rust-icu-messageformat-parser.mdx
  docs/src/docs/tooling/rust-icu-skeleton-parser.mdx
  docs/src/utils/navigation.ts
Due: format-oxfmt, lint-staged

feat(formatjs_intl): add message fallbacks (#6982)
  crates/formatjs_intl/README.md
  crates/formatjs_intl/lib.rs
  knowledge-base/003-rust-crate-dependency-hierarchy.md
Due: format-oxfmt

feat(formatjs_intl): support precompiled catalogs
  Cargo.lock
  crates/formatjs_intl/BUILD.bazel
  crates/formatjs_intl/Cargo.toml
  crates/formatjs_intl/README.md
  crates/formatjs_intl/lib.rs
  crates/icu_messageformat_parser/BUILD.bazel
  crates/icu_messageformat_parser/error.rs
  crates/icu_messageformat_parser/types.rs
  docs/src/docs/rust/intl.mdx
  knowledge-base/003-rust-crate-dependency-hierarchy.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

docs(formatjs_intl): mention serde_json dependency
  crates/formatjs_intl/README.md
Due: format-oxfmt

feat(formatjs_intl): support precompiled catalogs (#6985)
  Cargo.lock
  crates/formatjs_intl/BUILD.bazel
  crates/formatjs_intl/Cargo.toml
  crates/formatjs_intl/README.md
  crates/formatjs_intl/lib.rs
  crates/icu_messageformat_parser/BUILD.bazel
  crates/icu_messageformat_parser/error.rs
  crates/icu_messageformat_parser/types.rs
  docs/src/docs/rust/intl.mdx
  knowledge-base/003-rust-crate-dependency-hierarchy.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

chore: release main
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli_napi/Cargo.toml
  crates/formatjs_intl/CHANGELOG.md
  crates/formatjs_intl/Cargo.toml
  crates/icu_messageformat/CHANGELOG.md
  crates/icu_messageformat/Cargo.toml
  crates/icu_messageformat_parser/CHANGELOG.md
  crates/icu_messageformat_parser/Cargo.toml
  packages/icu-messageformat-parser/integration-tests/Cargo.toml
Due: format-oxfmt, format-starlark, bazel-lock-regen

chore: release main (#6984)
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli_napi/Cargo.toml
  crates/formatjs_intl/CHANGELOG.md
  crates/formatjs_intl/Cargo.toml
  crates/icu_messageformat/CHANGELOG.md
  crates/icu_messageformat/Cargo.toml
  crates/icu_messageformat_parser/CHANGELOG.md
  crates/icu_messageformat_parser/Cargo.toml
  packages/icu-messageformat-parser/integration-tests/Cargo.toml
Due: format-oxfmt, format-starlark, bazel-lock-regen

build: remove root npmrc
  .npmrc
  MODULE.bazel
Due: bazel-lock-regen

chore: release main
  .release-please-manifest.json
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/babel-plugin-formatjs/CHANGELOG.md
  packages/babel-plugin-formatjs/package.json
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/CHANGELOG.md
  packages/cli-lib/package.json
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/CHANGELOG.md
  packages/eslint-plugin-formatjs/package.json
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-messageformat-parser/CHANGELOG.md
  packages/icu-messageformat-parser/package.json
  packages/intl-messageformat/BUILD.bazel
  packages/intl-messageformat/CHANGELOG.md
  packages/intl-messageformat/package.json
  packages/intl/BUILD.bazel
  packages/intl/CHANGELOG.md
  packages/intl/package.json
  packages/react-intl/BUILD.bazel
  packages/react-intl/CHANGELOG.md
  packages/react-intl/package.json
  packages/svelte-intl/BUILD.bazel
  packages/svelte-intl/CHANGELOG.md
  packages/svelte-intl/package.json
  packages/ts-transformer/BUILD.bazel
  packages/ts-transformer/CHANGELOG.md
  packages/ts-transformer/package.json
  packages/unplugin/BUILD.bazel
  packages/unplugin/CHANGELOG.md
  packages/unplugin/package.json
  packages/vue-intl/BUILD.bazel
  packages/vue-intl/CHANGELOG.md
  packages/vue-intl/package.json
Due: format-package-json, format-starlark, bazel-lock-regen

fix: skip unpublished Rust crates
  .release-please-manifest.json
  knowledge-base/001-repo-layout.md
  release-please-config.json
  tools/BUILD.bazel
  tools/release-please/cargo-workspace-plugin.test.ts
  tools/release-please/cargo-workspace-plugin.ts
  tools/release-please/run.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

build: remove root npmrc (#6988)
  .npmrc
  MODULE.bazel
Due: bazel-lock-regen

fix: skip unpublished Rust crates (#6992)
  .release-please-manifest.json
  knowledge-base/001-repo-layout.md
  release-please-config.json
  tools/BUILD.bazel
  tools/release-please/cargo-workspace-plugin.test.ts
  tools/release-please/cargo-workspace-plugin.ts
  tools/release-please/run.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen
