Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

format-package-json:
  run: pnpm syncpack fix-mismatches && pnpm syncpack format
  stage_fixed: true

format-oxfmt:
  run: pnpm oxfmt {staged_files}
  stage_fixed: true

format-starlark:
  run: 'set -- {staged_files}
  
    bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
  
    '
  stage_fixed: true

lint-staged:
  run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
  stage_fixed: true

bazel-lock-regen:
  run: bazel mod deps
  stage_fixed: true

fix(@formatjs/intl-collator): exclude root from locale negotiation (#7265)
  docs/src/docs/polyfills/intl-collator.mdx
  knowledge-base/007l-polyfill-intl-collator.md
  knowledge-base/014-test262-conformance.md
  packages/intl-collator/scripts/generate-locale-data.ts
  packages/intl-collator/test262-baseline.json
  packages/intl-collator/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-collator): preserve locale punctuation defaults (#7264)
  docs/src/docs/polyfills/intl-collator.mdx
  knowledge-base/007l-polyfill-intl-collator.md
  knowledge-base/014-test262-conformance.md
  packages/intl-collator/scripts/generate-locale-data.ts
  packages/intl-collator/test262-baseline.json
  packages/intl-collator/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-localematcher): respect Unicode extension boundaries (#7266)
  docs/src/docs/polyfills/intl-localematcher.mdx
  knowledge-base/005-package-intl-localematcher.md
  knowledge-base/014-test262-conformance.md
  packages/intl-collator/test262-baseline.json
  packages/intl-localematcher/abstract/BestFitMatcher.ts
  packages/intl-localematcher/abstract/InsertUnicodeExtensionAndCanonicalize.ts
  packages/intl-localematcher/abstract/LookupMatcher.ts
  packages/intl-localematcher/abstract/LookupSupportedLocales.ts
  packages/intl-localematcher/abstract/utils.ts
  packages/intl-localematcher/tests/BestFitMatcher.test.ts
  packages/intl-localematcher/tests/LookupMatcher.test.ts
  packages/intl-localematcher/tests/ResolveLocale.test.ts
  packages/intl-numberformat/test262-baseline.json
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-collator): resolve canonical collation types (#7267)
  docs/src/docs/polyfills/intl-collator.mdx
  knowledge-base/007l-polyfill-intl-collator.md
  knowledge-base/014-test262-conformance.md
  packages/generated/cldr-collation/BUILD.bazel
  packages/intl-collator/compare.ts
  packages/intl-collator/scripts/BUILD.bazel
  packages/intl-collator/scripts/canonical-collation.ts
  packages/intl-collator/scripts/generate-locale-data.ts
  packages/intl-collator/scripts/generate-tailoring-data.ts
  packages/intl-collator/test262-baseline.json
  packages/intl-collator/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-collator): select search collation tailoring (#7268)
  docs/src/docs/polyfills/intl-collator.mdx
  knowledge-base/007l-polyfill-intl-collator.md
  knowledge-base/014-test262-conformance.md
  packages/intl-collator/compare.ts
  packages/intl-collator/core.ts
  packages/intl-collator/test262-baseline.json
  packages/intl-collator/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-supportedvaluesof): probe locale-specific collations
  docs/src/docs/polyfills/intl-locale.mdx
  docs/src/docs/polyfills/intl-supportedvaluesof.mdx
  knowledge-base/007i-polyfill-intl-locale.md
  knowledge-base/007k-polyfill-intl-supportedvaluesof.md
  knowledge-base/014-test262-conformance.md
  packages/intl-collator/scripts/generate-locale-data.ts
  packages/intl-locale/index.ts
  packages/intl-locale/tests/index.test.ts
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl-supportedvaluesof/get-supported-collations.ts
  packages/intl-supportedvaluesof/test262-baseline.json
  packages/intl-supportedvaluesof/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-datetimeformat): handle exact date range boundaries
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma262-abstract/DateOperations.ts
  packages/ecma262-abstract/TimeClip.ts
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): align option property metadata
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/014-test262-conformance.md
  packages/intl-datetimeformat/core.ts
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): validate receiver internal slots
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/014-test262-conformance.md
  packages/intl-datetimeformat/core.ts
  packages/intl-datetimeformat/get_internal_slots.ts
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): format year zero in the BC era
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/DateTimeFormat/ToLocalTime.ts
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): normalize timezone inputs
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/CanonicalizeTimeZoneName.ts
  packages/ecma402-abstract/IsValidTimeZoneName.ts
  packages/ecma402-abstract/tests/CanonicalizeTimeZoneName.test.ts
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): isolate option records
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/DateTimeFormat/BestFitFormatMatcher.ts
  packages/ecma402-abstract/DateTimeFormat/InitializeDateTimeFormat.ts
  packages/intl-datetimeformat/core.ts
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): support all hour-cycle options
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/types/date-time.ts
  packages/intl-datetimeformat/scripts/extract-dates.ts
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-datetimeformat/tests/index.test.ts
  packages/intl-localematcher/abstract/ResolveLocale.ts
  packages/intl-localematcher/tests/ResolveLocale.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): select independent hour12 preferences
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/DateTimeFormat/InitializeDateTimeFormat.ts
  packages/ecma402-abstract/types/date-time.ts
  packages/intl-datetimeformat/scripts/extract-dates.ts
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

feat(@formatjs/editor): add headless translation workflow
  knowledge-base/013-editor-vrt.md
  packages/editor/BUILD.bazel
  packages/editor/README.md
  packages/editor/core.tsx
  packages/editor/demo.tsx
  packages/editor/design-system/components.tsx
  packages/editor/index.tsx
  packages/editor/validation.ts
  packages/editor/vrt/__screenshots__/editor-workflow-mobile-rtl.png
  packages/editor/vrt/__screenshots__/editor-workflow.png
  packages/editor/vrt/app.tsx
  packages/editor/vrt/editor.visual.spec.ts
  packages/editor/workflow-demo.tsx
  packages/editor/workflow.test.tsx
  packages/editor/workflow.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-getcanonicallocales): canonicalize locale extensions
  docs/src/docs/polyfills/intl-getcanonicallocales.mdx
  knowledge-base/007j-polyfill-intl-getcanonicallocales.md
  knowledge-base/014-test262-conformance.md
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-getcanonicallocales/canonicalizer.ts
  packages/intl-getcanonicallocales/emitter.ts
  packages/intl-getcanonicallocales/parser.ts
  packages/intl-getcanonicallocales/scripts/aliases.ts
  packages/intl-getcanonicallocales/test262-baseline.json
  packages/intl-getcanonicallocales/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

refactor(@formatjs/editor): let Gazelle manage editor packages
  codescythe.jsonc
  knowledge-base/013-editor-vrt.md
  packages/editor/BUILD.bazel
  packages/editor/README.md
  packages/editor/demo/BUILD.bazel
  packages/editor/demo/demo.tsx
  packages/editor/demo/design-system/components.tsx
  packages/editor/demo/design-system/tokens.stylex.ts
  packages/editor/demo/fixtures/en-GB.json
  packages/editor/demo/fixtures/en.json
  packages/editor/demo/fixtures/ru.json
  packages/editor/demo/index.html
  packages/editor/demo/main.tsx
  packages/editor/demo/workflow-demo.tsx
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/app.tsx
  packages/editor/vrt/defs.bzl
  packages/editor/vrt/editor.visual.spec.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-getcanonicallocales): resolve subdivision aliases
  docs/src/docs/polyfills/intl-getcanonicallocales.mdx
  knowledge-base/007j-polyfill-intl-getcanonicallocales.md
  knowledge-base/014-test262-conformance.md
  packages/intl-getcanonicallocales/canonicalizer.ts
  packages/intl-getcanonicallocales/scripts/aliases.ts
  packages/intl-getcanonicallocales/test262-baseline.json
  packages/intl-getcanonicallocales/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-getcanonicallocales): apply compound language aliases
  docs/src/docs/polyfills/intl-getcanonicallocales.mdx
  knowledge-base/007j-polyfill-intl-getcanonicallocales.md
  knowledge-base/014-test262-conformance.md
  packages/intl-getcanonicallocales/canonicalizer.ts
  packages/intl-getcanonicallocales/test262-baseline.json
  packages/intl-getcanonicallocales/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-getcanonicallocales): append list elements directly
  docs/src/docs/polyfills/intl-getcanonicallocales.mdx
  knowledge-base/007j-polyfill-intl-getcanonicallocales.md
  knowledge-base/014-test262-conformance.md
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-getcanonicallocales/appendToList.ts
  packages/intl-getcanonicallocales/canonicalizer.ts
  packages/intl-getcanonicallocales/emitter.ts
  packages/intl-getcanonicallocales/index.ts
  packages/intl-getcanonicallocales/parser.ts
  packages/intl-getcanonicallocales/test262-baseline.json
  packages/intl-getcanonicallocales/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/editor): add headless translation workflow (#7157)
  codescythe.jsonc
  knowledge-base/013-editor-vrt.md
  packages/editor/BUILD.bazel
  packages/editor/README.md
  packages/editor/core.tsx
  packages/editor/demo.tsx
  packages/editor/demo/BUILD.bazel
  packages/editor/demo/demo.tsx
  packages/editor/demo/design-system/components.tsx
  packages/editor/demo/design-system/tokens.stylex.ts
  packages/editor/demo/fixtures/en-GB.json
  packages/editor/demo/fixtures/en.json
  packages/editor/demo/fixtures/ru.json
  packages/editor/demo/index.html
  packages/editor/demo/main.tsx
  packages/editor/demo/workflow-demo.tsx
  packages/editor/index.tsx
  packages/editor/validation.ts
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/__screenshots__/editor-workflow-mobile-rtl.png
  packages/editor/vrt/__screenshots__/editor-workflow.png
  packages/editor/vrt/app.tsx
  packages/editor/vrt/defs.bzl
  packages/editor/vrt/editor.visual.spec.ts
  packages/editor/workflow.test.tsx
  packages/editor/workflow.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-datetimeformat): handle exact date range boundaries (#7270)
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma262-abstract/DateOperations.ts
  packages/ecma262-abstract/TimeClip.ts
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-supportedvaluesof): probe locale-specific collations (#7269)
  docs/src/docs/polyfills/intl-locale.mdx
  docs/src/docs/polyfills/intl-supportedvaluesof.mdx
  knowledge-base/007i-polyfill-intl-locale.md
  knowledge-base/007k-polyfill-intl-supportedvaluesof.md
  knowledge-base/014-test262-conformance.md
  packages/intl-collator/scripts/generate-locale-data.ts
  packages/intl-locale/index.ts
  packages/intl-locale/tests/index.test.ts
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl-supportedvaluesof/get-supported-collations.ts
  packages/intl-supportedvaluesof/test262-baseline.json
  packages/intl-supportedvaluesof/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-datetimeformat): align option property metadata (#7272)
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/014-test262-conformance.md
  packages/intl-datetimeformat/core.ts
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): format year zero in the BC era (#7273)
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/DateTimeFormat/ToLocalTime.ts
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): validate receiver internal slots (#7271)
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/014-test262-conformance.md
  packages/intl-datetimeformat/core.ts
  packages/intl-datetimeformat/get_internal_slots.ts
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): normalize timezone inputs (#7274)
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/CanonicalizeTimeZoneName.ts
  packages/ecma402-abstract/IsValidTimeZoneName.ts
  packages/ecma402-abstract/tests/CanonicalizeTimeZoneName.test.ts
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): isolate option records (#7275)
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/DateTimeFormat/BestFitFormatMatcher.ts
  packages/ecma402-abstract/DateTimeFormat/InitializeDateTimeFormat.ts
  packages/intl-datetimeformat/core.ts
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): support all hour-cycle options (#7276)
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/types/date-time.ts
  packages/intl-datetimeformat/scripts/extract-dates.ts
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-datetimeformat/tests/index.test.ts
  packages/intl-localematcher/abstract/ResolveLocale.ts
  packages/intl-localematcher/tests/ResolveLocale.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): select independent hour12 preferences (#7277)
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/DateTimeFormat/InitializeDateTimeFormat.ts
  packages/ecma402-abstract/types/date-time.ts
  packages/intl-datetimeformat/scripts/extract-dates.ts
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-getcanonicallocales): canonicalize locale extensions (#7278)
  docs/src/docs/polyfills/intl-getcanonicallocales.mdx
  knowledge-base/007j-polyfill-intl-getcanonicallocales.md
  knowledge-base/014-test262-conformance.md
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-getcanonicallocales/canonicalizer.ts
  packages/intl-getcanonicallocales/emitter.ts
  packages/intl-getcanonicallocales/parser.ts
  packages/intl-getcanonicallocales/scripts/aliases.ts
  packages/intl-getcanonicallocales/test262-baseline.json
  packages/intl-getcanonicallocales/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-getcanonicallocales): resolve subdivision aliases (#7279)
  docs/src/docs/polyfills/intl-getcanonicallocales.mdx
  knowledge-base/007j-polyfill-intl-getcanonicallocales.md
  knowledge-base/014-test262-conformance.md
  packages/intl-getcanonicallocales/canonicalizer.ts
  packages/intl-getcanonicallocales/scripts/aliases.ts
  packages/intl-getcanonicallocales/test262-baseline.json
  packages/intl-getcanonicallocales/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-getcanonicallocales): apply compound language aliases (#7280)
  docs/src/docs/polyfills/intl-getcanonicallocales.mdx
  knowledge-base/007j-polyfill-intl-getcanonicallocales.md
  knowledge-base/014-test262-conformance.md
  packages/intl-getcanonicallocales/canonicalizer.ts
  packages/intl-getcanonicallocales/test262-baseline.json
  packages/intl-getcanonicallocales/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-getcanonicallocales): append list elements directly (#7281)
  docs/src/docs/polyfills/intl-getcanonicallocales.mdx
  knowledge-base/007j-polyfill-intl-getcanonicallocales.md
  knowledge-base/014-test262-conformance.md
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-getcanonicallocales/appendToList.ts
  packages/intl-getcanonicallocales/canonicalizer.ts
  packages/intl-getcanonicallocales/emitter.ts
  packages/intl-getcanonicallocales/index.ts
  packages/intl-getcanonicallocales/parser.ts
  packages/intl-getcanonicallocales/test262-baseline.json
  packages/intl-getcanonicallocales/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/editor): publish headless editor package
  .release-please-manifest.json
  codescythe.jsonc
  knowledge-base/013-editor-vrt.md
  package.json
  packages/editor/BUILD.bazel
  packages/editor/README.md
  packages/editor/demo/BUILD.bazel
  packages/editor/demo/demo.tsx
  packages/editor/demo/workflow-demo.tsx
  packages/editor/index.ts
  packages/editor/index.tsx
  packages/editor/package.json
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/app.tsx
  packages/editor/vrt/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  release-please-config.json
  tools/dist_packages_registry.bzl
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore(@formatjs/editor): release as 1.2.0
  .release-please-manifest.json
  packages/editor/BUILD.bazel
  packages/editor/package.json
Due: format-package-json, format-starlark, bazel-lock-regen

fix(@formatjs/editor): preserve ES2016 library compatibility
  packages/editor/validation.ts
  packages/editor/workflow.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-getcanonicallocales): preserve RegExp statics
  docs/src/docs/polyfills/intl-getcanonicallocales.mdx
  knowledge-base/007j-polyfill-intl-getcanonicallocales.md
  knowledge-base/014-test262-conformance.md
  packages/intl-getcanonicallocales/parser.ts
  packages/intl-getcanonicallocales/tests/index.test.ts
  tools/test262/baselines/combined-collator.json
  tools/test262/baselines/combined-numberformat.json
Due: format-oxfmt, lint-staged

test(deps): load required Test262 locale fixtures
  docs/src/docs/polyfills.mdx
  knowledge-base/014-test262-conformance.md
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-numberformat/test262-baseline.json
  packages/intl-relativetimeformat/BUILD.bazel
  tools/test262/baselines/combined-numberformat.json
  tools/test262/baselines/combined-pluralrules.json
  tools/test262/baselines/combined-relativetimeformat.json
  tools/test262/locales.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

test(deps): cover combined polyfill installation
  docs/src/docs/polyfills.mdx
  knowledge-base/014-test262-conformance.md
  packages/intl-collator/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  test262.BUILD
  tools/test262/BUILD.bazel
  tools/test262/baselines/combined-collator.json
  tools/test262/baselines/combined-datetimeformat.json
  tools/test262/baselines/combined-displaynames.json
  tools/test262/baselines/combined-durationformat.json
  tools/test262/baselines/combined-getcanonicallocales.json
  tools/test262/baselines/combined-listformat.json
  tools/test262/baselines/combined-locale.json
  tools/test262/baselines/combined-numberformat.json
  tools/test262/baselines/combined-pluralrules.json
  tools/test262/baselines/combined-relativetimeformat.json
  tools/test262/baselines/combined-segmenter.json
  tools/test262/baselines/combined-supportedvaluesof.json
  tools/test262/defs.bzl
  tools/test262/fixtures/second-prelude.js
  tools/test262/fixtures/test/realm.js
  tools/test262/prelude.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

Path conditions:
  format-package-json: any of: **/package.json
  format-oxfmt: any of: **/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}, but not: **/locale-data/**, **/package.json, **/CHANGELOG.md, packages/cli-lib/tests/extract/typescript/err.tsx, packages/cli/integration-tests/extract/typescript/err.tsx
  format-starlark: any of: **/*.{bazel,bzl,BUILD}
  lint-staged: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}
  bazel-lock-regen: any of: pnpm-lock.yaml, package.json, pnpm-workspace.yaml, *.bazel
