Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

format-package-json:
  run: pnpm syncpack fix-mismatches && pnpm syncpack format
  stage_fixed: true

format-oxfmt:
  run: pnpm oxfmt {staged_files}
  stage_fixed: true

format-starlark:
  run: 'set -- {staged_files}
  
    bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
  
    '
  stage_fixed: true

lint-staged:
  run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
  stage_fixed: true

bazel-lock-regen:
  run: bazel mod deps
  stage_fixed: true

feat(@formatjs/ecma402-abstract): upgrade Unicode from 13.0.0 to 17.0.0 (#5866)
  MODULE.bazel.lock
  package.json
  packages/ecma402-abstract/BUILD.bazel
  packages/ecma402-abstract/regex.generated.ts
  packages/ecma402-abstract/scripts/regex-gen.ts
  packages/icu-messageformat-parser/tools/BUILD.bazel
  packages/icu-messageformat-parser/tools/regex-gen.ts
  packages/icu-skeleton-parser/BUILD.bazel
  packages/icu-skeleton-parser/scripts/regex-gen.ts
  pnpm-lock.yaml
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(deps): update oxlint monorepo (#5870)
  Cargo.lock
  package.json
  pnpm-lock.yaml
  rust/formatjs_cli/Cargo.toml
Due: format-oxfmt, bazel-lock-regen

chore(deps): update pnpm to v10.28.0 (#5868)
  .github/workflows/npm-release.yml
  .github/workflows/verify-hooks.yml
  package.json
Due: format-oxfmt, bazel-lock-regen

chore(deps): update bazel-contrib/setup-bazel action to v0.18.0 (#5864)
  .github/workflows/npm-release.yml
  .github/workflows/rust-cli-release.yml
  .github/workflows/rust-cli-test.yml
  .github/workflows/test.yml
  .github/workflows/typesense-index.yml
  .github/workflows/verify-hooks.yml
  .github/workflows/website.yml
Due: format-oxfmt

chore(deps): update dependency vite to v7.3.1 (#5857)
  package.json
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update dependency lefthook to v2.0.14 (#5867)
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update dependency @typescript/native-preview to v7.0.0-dev.20260112.1 (#5843)
  package.json
  pnpm-lock.yaml
Due: bazel-lock-regen

build(deps): bump brace-expansion in /packages/react-intl/example-sandboxes/rescripts (#5869)
  packages/react-intl/example-sandboxes/rescripts/package-lock.json
Due: format-oxfmt

build: relock
  MODULE.bazel.lock
Due: none

fix(eslint-plugin-formatjs): remove obsolete @types/eslint
  .syncpackrc.json
  package.json
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/package.json
  pnpm-lock.yaml
Due: format-package-json, format-starlark, bazel-lock-regen

fix(eslint-plugin-formatjs): remove obsolete @types/eslint (#5884)
  .syncpackrc.json
  package.json
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/package.json
  pnpm-lock.yaml
Due: format-package-json, format-starlark, bazel-lock-regen

chore(deps): update dependency @typescript/native-preview to v7.0.0-dev.20260114.1 (#5886)
  package.json
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update typescript-eslint monorepo to v8.53.0 (#5881)
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update dependency lefthook to v2.0.15 (#5887)
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update dependency aspect_rules_js to v2.9.1 (#5885)
  MODULE.bazel
Due: bazel-lock-regen

chore(deps): update dependency aspect_bazel_lib to v2.22.5 (#5863)
  MODULE.bazel
Due: bazel-lock-regen

docs: make dark colour scheme default
  docs/src/components/Admonition.tsx
  docs/src/components/SearchBar.tsx
  docs/src/components/ui/alert.tsx
Due: format-oxfmt, lint-staged

chore(deps): update dependency vike to v0.4.252 (#5880)
  pnpm-lock.yaml
Due: bazel-lock-regen

docs: make dark colour scheme default (#5895)
  docs/src/components/Admonition.tsx
  docs/src/components/SearchBar.tsx
  docs/src/components/ui/alert.tsx
Due: format-oxfmt, lint-staged

feat: upgrade CLDR to 48.1.0
  MODULE.bazel.lock
  package.json
  packages/intl-datetimeformat/test262-main.ts
  packages/intl-numberformat/src/currency-digits.generated.ts
  pnpm-lock.yaml
Due: format-oxfmt, lint-staged, bazel-lock-regen

feat: upgrade CLDR to 48.1.0 (#5899)
  MODULE.bazel.lock
  package.json
  packages/intl-datetimeformat/test262-main.ts
  packages/intl-numberformat/src/currency-digits.generated.ts
  pnpm-lock.yaml
Due: format-oxfmt, lint-staged, bazel-lock-regen

feat(@formatjs/intl-getcanonicallocales): update to latest spec, handle arraylike objs (#5903)
  packages/intl-getcanonicallocales/index.ts
  packages/intl-getcanonicallocales/tests/index.test.ts
Due: format-oxfmt, lint-staged

feat(@formatjs/intl-locale): support variants per latest spec (#5904)
  packages/intl-getcanonicallocales/index.ts
  packages/intl-locale/index.ts
  packages/intl-locale/should-polyfill.ts
  packages/intl-locale/tests/index.test.ts
Due: format-oxfmt, lint-staged

feat(@formatjs/intl-getcanonicallocales): update to latest spec, handle arraylike objs
  packages/intl-getcanonicallocales/index.ts
  packages/intl-getcanonicallocales/tests/index.test.ts
Due: format-oxfmt, lint-staged

feat(@formatjs/intl-locale): support variants per latest spec
  packages/intl-getcanonicallocales/index.ts
  packages/intl-locale/index.ts
  packages/intl-locale/should-polyfill.ts
  packages/intl-locale/tests/index.test.ts
Due: format-oxfmt, lint-staged

test(@formatjs/intl-displaynames): add conformance tests
  MODULE.bazel
  MODULE.bazel.lock
  conformance-tests/icu4j/BUILD.bazel
  conformance-tests/icu4j/ICUConformanceTest.java
  packages/intl-displaynames/should-polyfill.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

test(@formatjs/intl-displaynames): add conformance tests (#5909)
  MODULE.bazel
  MODULE.bazel.lock
  conformance-tests/icu4j/BUILD.bazel
  conformance-tests/icu4j/ICUConformanceTest.java
  packages/intl-displaynames/should-polyfill.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/intl-pluralrules): replace make-plural-compiler with native implementation and add BigInt support (#5910)
  MODULE.bazel
  MODULE.bazel.lock
  package.json
  packages/ecma402-abstract/262.ts
  packages/ecma402-abstract/NumberFormat/ApplyUnsignedRoundingMode.ts
  packages/ecma402-abstract/ToIntlMathematicalValue.ts
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-pluralrules/abstract/GetOperands.ts
  packages/intl-pluralrules/index.ts
  packages/intl-pluralrules/scripts/cldr-raw.ts
  packages/intl-pluralrules/scripts/plural-rules-compiler.ts
  packages/intl-pluralrules/test262-main.ts
  packages/intl-pluralrules/tests/index.test.ts
  packages/intl-pluralrules/tests/locale-data/en.ts
  packages/intl-pluralrules/tests/locale-data/fr.ts
  packages/intl-pluralrules/tests/locale-data/zh.ts
  patches/make-plural-compiler@5.1.0.patch
  pnpm-lock.yaml
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/intl-pluralrules): remove make-plural-compiler, add support for huge numbers
  MODULE.bazel
  MODULE.bazel.lock
  package.json
  packages/ecma402-abstract/262.ts
  packages/ecma402-abstract/NumberFormat/ApplyUnsignedRoundingMode.ts
  packages/ecma402-abstract/ToIntlMathematicalValue.ts
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-pluralrules/abstract/GetOperands.ts
  packages/intl-pluralrules/index.ts
  packages/intl-pluralrules/scripts/cldr-raw.ts
  packages/intl-pluralrules/scripts/plural-rules-compiler.ts
  packages/intl-pluralrules/test262-main.ts
  packages/intl-pluralrules/tests/index.test.ts
  packages/intl-pluralrules/tests/locale-data/en.ts
  packages/intl-pluralrules/tests/locale-data/fr.ts
  packages/intl-pluralrules/tests/locale-data/zh.ts
  patches/make-plural-compiler@5.1.0.patch
  pnpm-lock.yaml
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/intl-pluralrules): support selectRange
  conformance-tests/icu4j/ICUConformanceTest.java
  packages/ecma402-abstract/types/plural-rules.ts
  packages/intl-pluralrules/abstract/ResolvePlural.ts
  packages/intl-pluralrules/abstract/ResolvePluralRange.ts
  packages/intl-pluralrules/index.ts
  packages/intl-pluralrules/scripts/cldr-raw.ts
  packages/intl-pluralrules/test262-main.ts
  packages/intl-pluralrules/tests/index.test.ts
  packages/intl-pluralrules/tests/locale-data/en.ts
  packages/intl-pluralrules/tests/locale-data/fr.ts
  packages/intl-pluralrules/tests/locale-data/zh.ts
Due: format-oxfmt, lint-staged

feat(@formatjs/intl-pluralrules): support notation/compactDisplay (c/e operands)
  packages/ecma402-abstract/types/plural-rules.ts
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-pluralrules/abstract/GetOperands.ts
  packages/intl-pluralrules/abstract/InitializePluralRules.ts
  packages/intl-pluralrules/abstract/ResolvePlural.ts
  packages/intl-pluralrules/index.ts
  packages/intl-pluralrules/scripts/cldr-raw.ts
  packages/intl-pluralrules/scripts/plural-rules-compiler.ts
  packages/intl-pluralrules/test262-main.ts
  packages/intl-pluralrules/tests/index.test.ts
  packages/intl-pluralrules/tests/locale-data/en.ts
  packages/intl-pluralrules/tests/locale-data/fr.ts
  packages/intl-pluralrules/tests/locale-data/zh.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/intl-pluralrules): support selectRange (#5913)
  conformance-tests/icu4j/ICUConformanceTest.java
  packages/ecma402-abstract/types/plural-rules.ts
  packages/intl-pluralrules/abstract/ResolvePlural.ts
  packages/intl-pluralrules/abstract/ResolvePluralRange.ts
  packages/intl-pluralrules/index.ts
  packages/intl-pluralrules/scripts/cldr-raw.ts
  packages/intl-pluralrules/test262-main.ts
  packages/intl-pluralrules/tests/index.test.ts
  packages/intl-pluralrules/tests/locale-data/en.ts
  packages/intl-pluralrules/tests/locale-data/fr.ts
  packages/intl-pluralrules/tests/locale-data/zh.ts
Due: format-oxfmt, lint-staged

feat(@formatjs/intl-pluralrules): support notation/compactDisplay (c/e operands) (#5914)
  packages/ecma402-abstract/types/plural-rules.ts
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-pluralrules/abstract/GetOperands.ts
  packages/intl-pluralrules/abstract/InitializePluralRules.ts
  packages/intl-pluralrules/abstract/ResolvePlural.ts
  packages/intl-pluralrules/index.ts
  packages/intl-pluralrules/scripts/cldr-raw.ts
  packages/intl-pluralrules/scripts/plural-rules-compiler.ts
  packages/intl-pluralrules/test262-main.ts
  packages/intl-pluralrules/tests/index.test.ts
  packages/intl-pluralrules/tests/locale-data/en.ts
  packages/intl-pluralrules/tests/locale-data/fr.ts
  packages/intl-pluralrules/tests/locale-data/zh.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore(deps): update dependency aspect_rules_ts to v3.8.3 (#5897)
  MODULE.bazel
Due: bazel-lock-regen

chore(deps): update dependency @typescript/native-preview to v7.0.0-dev.20260115.1 (#5917)
  package.json
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update dependency rules_nodejs to v6.7.3 (#5908)
  MODULE.bazel
Due: bazel-lock-regen

chore(deps): update dependency happy-dom to v20.3.0 (#5853)
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update dependency bazel to v8.5.1 (#5883)
  .bazelversion
Due: none

chore(deps): update babel monorepo to v7.28.6 (#5882)
  pnpm-lock.yaml
Due: bazel-lock-regen

Path conditions:
  format-package-json: any of: **/package.json
  format-oxfmt: any of: **/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}, but not: **/locale-data/**, **/package.json, **/CHANGELOG.md, packages/cli-lib/tests/extract/typescript/err.tsx, packages/cli/integration-tests/extract/typescript/err.tsx
  format-starlark: any of: **/*.{bazel,bzl,BUILD}
  lint-staged: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}
  bazel-lock-regen: any of: pnpm-lock.yaml, package.json, pnpm-workspace.yaml, *.bazel
