Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

format-package-json:
  run: pnpm syncpack fix-mismatches && pnpm syncpack format
  stage_fixed: true

format-oxfmt:
  run: pnpm oxfmt {staged_files}
  stage_fixed: true

format-starlark:
  run: 'set -- {staged_files}
  
    bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
  
    '
  stage_fixed: true

lint-staged:
  run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
  stage_fixed: true

bazel-lock-regen:
  run: bazel mod deps
  stage_fixed: true

test: preserve Number coercion errors
  packages/ecma262-abstract/ToNumber.ts
  packages/ecma402-abstract/tests/262.test.ts
Due: format-oxfmt, lint-staged

fix(deps): enforce Number coercion at polyfill boundaries
  docs/src/docs/polyfills.mdx
  knowledge-base/004-package-ecma402-abstract.md
  packages/ecma262-abstract/ToNumber.ts
  packages/ecma402-abstract/DefaultNumberOption.ts
  packages/ecma402-abstract/PluralRules/GetOperands.ts
  packages/ecma402-abstract/tests/262.test.ts
  packages/intl-datetimeformat/tests/index.test.ts
  packages/intl-durationformat/tests/index.test.ts
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-pluralrules/tests/index.test.ts
  packages/intl-relativetimeformat/index.ts
  packages/intl-relativetimeformat/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

docs: correct ECMA-402 coercion references
  packages/ecma402-abstract/PluralRules/GetOperands.ts
  packages/intl-relativetimeformat/index.ts
Due: format-oxfmt, lint-staged

test: fix coercion regression case typing
  packages/ecma402-abstract/tests/262.test.ts
Due: format-oxfmt, lint-staged

docs: cite exact Number coercion specification lines
  packages/ecma262-abstract/ToNumber.ts
  packages/ecma402-abstract/DefaultNumberOption.ts
  packages/ecma402-abstract/PluralRules/GetOperands.ts
  packages/intl-relativetimeformat/index.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-supportedvaluesof): coerce keys before lookup
  docs/src/docs/polyfills/intl-supportedvaluesof.mdx
  knowledge-base/007k-polyfill-intl-supportedvaluesof.md
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl-supportedvaluesof/index.ts
  packages/intl-supportedvaluesof/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

docs: cite exact specification sections and source lines
  packages/intl-supportedvaluesof/index.ts
Due: format-oxfmt, lint-staged

docs: cite exact specification sections and source lines
  packages/ecma402-abstract/IsUnicodeLocaleIdentifierType.ts
  packages/ecma402-abstract/NumberFormat/InitializeNumberFormat.ts
  packages/intl-durationformat/core.ts
Due: format-oxfmt, lint-staged

fix(deps): negotiate well-formed numbering system options
  docs/src/docs/polyfills/intl-durationformat.mdx
  docs/src/docs/polyfills/intl-numberformat.mdx
  knowledge-base/007a-polyfill-intl-numberformat.md
  knowledge-base/007g-polyfill-intl-durationformat.md
  packages/ecma402-abstract/NumberFormat/InitializeNumberFormat.ts
  packages/intl-durationformat/core.ts
  packages/intl-durationformat/tests/index.test.ts
  packages/intl-numberformat/core.ts
  packages/intl-numberformat/tests/misc.test.ts
Due: format-oxfmt, lint-staged

refactor(@formatjs/intl-collator): reuse Unicode type validation
  packages/intl-collator/core.ts
Due: format-oxfmt, lint-staged

refactor: share Unicode locale type validation
  knowledge-base/004-package-ecma402-abstract.md
  packages/ecma402-abstract/BUILD.bazel
  packages/ecma402-abstract/DateTimeFormat/InitializeDateTimeFormat.ts
  packages/ecma402-abstract/IsUnicodeLocaleIdentifierType.ts
  packages/ecma402-abstract/NumberFormat/InitializeNumberFormat.ts
  packages/ecma402-abstract/RelativeTimeFormat/InitializeRelativeTimeFormat.ts
  packages/ecma402-abstract/tests/IsUnicodeLocaleIdentifierType.test.ts
  packages/intl-durationformat/core.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-listformat): follow the string iterator protocol
  docs/src/docs/polyfills/intl-listformat.mdx
  knowledge-base/007e-polyfill-intl-listformat.md
  packages/intl-listformat/index.ts
  packages/intl-listformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

docs: cite exact specification sections and source lines
  packages/intl-listformat/index.ts
Due: format-oxfmt, lint-staged

docs: cite the offset seconds rejection step
  packages/ecma402-abstract/IsValidTimeZoneName.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): reject offsets containing seconds
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  packages/ecma402-abstract/IsValidTimeZoneName.ts
  packages/ecma402-abstract/tests/IsValidTimeZoneName.test.ts
  packages/intl-datetimeformat/tests/index.test.ts
  packages/intl-datetimeformat/tests/offset-timezone.test.ts
Due: format-oxfmt, lint-staged

docs: cite exact specification sections and source lines
  packages/ecma402-abstract/IsValidTimeZoneName.ts
Due: format-oxfmt, lint-staged

docs: cite exact specification sections and source lines
  packages/intl-collator/core.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-collator): validate collation and comparison inputs
  docs/src/docs/polyfills/intl-collator.mdx
  knowledge-base/007l-polyfill-intl-collator.md
  packages/intl-collator/core.ts
  packages/intl-collator/tests/index.test.ts
Due: format-oxfmt, lint-staged

codex/ecma402 coercion (#7186)
  docs/src/docs/polyfills.mdx
  knowledge-base/004-package-ecma402-abstract.md
  packages/ecma262-abstract/ToNumber.ts
  packages/ecma402-abstract/DefaultNumberOption.ts
  packages/ecma402-abstract/PluralRules/GetOperands.ts
  packages/ecma402-abstract/tests/262.test.ts
  packages/intl-datetimeformat/tests/index.test.ts
  packages/intl-durationformat/tests/index.test.ts
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-pluralrules/tests/index.test.ts
  packages/intl-relativetimeformat/index.ts
  packages/intl-relativetimeformat/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-listformat): follow the string iterator protocol (#7189)
  docs/src/docs/polyfills/intl-listformat.mdx
  knowledge-base/007e-polyfill-intl-listformat.md
  packages/intl-listformat/index.ts
  packages/intl-listformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-supportedvaluesof): coerce keys before lookup (#7187)
  docs/src/docs/polyfills/intl-supportedvaluesof.mdx
  knowledge-base/007k-polyfill-intl-supportedvaluesof.md
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl-supportedvaluesof/index.ts
  packages/intl-supportedvaluesof/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(deps): negotiate well-formed numbering system options (#7190)
  docs/src/docs/polyfills/intl-durationformat.mdx
  docs/src/docs/polyfills/intl-numberformat.mdx
  knowledge-base/004-package-ecma402-abstract.md
  knowledge-base/007a-polyfill-intl-numberformat.md
  knowledge-base/007g-polyfill-intl-durationformat.md
  packages/ecma402-abstract/BUILD.bazel
  packages/ecma402-abstract/DateTimeFormat/InitializeDateTimeFormat.ts
  packages/ecma402-abstract/IsUnicodeLocaleIdentifierType.ts
  packages/ecma402-abstract/NumberFormat/InitializeNumberFormat.ts
  packages/ecma402-abstract/RelativeTimeFormat/InitializeRelativeTimeFormat.ts
  packages/ecma402-abstract/tests/IsUnicodeLocaleIdentifierType.test.ts
  packages/intl-durationformat/core.ts
  packages/intl-durationformat/tests/index.test.ts
  packages/intl-numberformat/core.ts
  packages/intl-numberformat/tests/misc.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-datetimeformat): reject offsets containing seconds (#7192)
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  packages/ecma402-abstract/IsValidTimeZoneName.ts
  packages/ecma402-abstract/tests/IsValidTimeZoneName.test.ts
  packages/intl-datetimeformat/tests/index.test.ts
  packages/intl-datetimeformat/tests/offset-timezone.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-collator): validate collation and comparison inputs (#7191)
  docs/src/docs/polyfills/intl-collator.mdx
  knowledge-base/007l-polyfill-intl-collator.md
  packages/intl-collator/core.ts
  packages/intl-collator/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-displaynames): validate and canonicalize display codes
  docs/src/docs/polyfills/intl-displaynames.mdx
  knowledge-base/007d-polyfill-intl-displaynames.md
  packages/ecma402-abstract/DisplayNames/CanonicalCodeForDisplayNames.ts
  packages/intl-displaynames/index.ts
  packages/intl-displaynames/tests/index.test.ts
Due: format-oxfmt, lint-staged

docs: cite exact specification sections and source lines
  packages/ecma402-abstract/DisplayNames/CanonicalCodeForDisplayNames.ts
  packages/intl-displaynames/index.ts
Due: format-oxfmt, lint-staged

refactor(@formatjs/intl-displaynames): reuse Unicode type validation
  packages/ecma402-abstract/DisplayNames/CanonicalCodeForDisplayNames.ts
  packages/intl-displaynames/index.ts
  packages/intl-displaynames/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-durationformat): validate duration records exactly
  docs/src/docs/polyfills/intl-durationformat.mdx
  knowledge-base/007g-polyfill-intl-durationformat.md
  packages/ecma402-abstract/DurationFormat/IsValidDurationRecord.ts
  packages/ecma402-abstract/DurationFormat/ToDurationRecord.ts
  packages/ecma402-abstract/DurationFormat/ToIntegerIfIntegral.ts
  packages/intl-durationformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-locale): align week info with ECMA-402
  docs/src/docs/polyfills/intl-locale.mdx
  knowledge-base/007i-polyfill-intl-locale.md
  packages/intl-locale/index.ts
  packages/intl-locale/preference-data.ts
  packages/intl-locale/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-locale): canonicalize weekday option casing
  packages/intl-locale/index.ts
  packages/intl-locale/tests/index.test.ts
Due: format-oxfmt, lint-staged

docs: cite exact specification sections and source lines
  packages/intl-locale/index.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-locale): canonicalize weekday and numeric options
  docs/src/docs/polyfills/intl-locale.mdx
  knowledge-base/007i-polyfill-intl-locale.md
  packages/intl-locale/index.ts
  packages/intl-locale/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-durationformat): preserve shared ES target support
  packages/ecma402-abstract/DurationFormat/IsValidDurationRecord.ts
Due: format-oxfmt, lint-staged

docs: cite exact specification sections and source lines
  packages/intl-locale/index.ts
  packages/intl-locale/preference-data.ts
Due: format-oxfmt, lint-staged

docs: update Locale week info example
  docs/src/docs/polyfills/intl-locale.mdx
Due: format-oxfmt

docs: cite exact specification sections and source lines
  packages/ecma402-abstract/DurationFormat/IsValidDurationRecord.ts
  packages/ecma402-abstract/DurationFormat/ToDurationRecord.ts
  packages/ecma402-abstract/DurationFormat/ToIntegerIfIntegral.ts
Due: format-oxfmt, lint-staged

refactor(@formatjs/intl-locale): reuse Unicode type validation
  packages/intl-locale/index.ts
Due: format-oxfmt, lint-staged

docs: describe PluralRules draft notation options
  knowledge-base/007c-polyfill-intl-pluralrules.md
Due: format-oxfmt

docs: cite exact specification sections and source lines
  packages/intl-segmenter/segmenter.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-pluralrules): align draft options and ranges
  docs/src/docs/polyfills/intl-pluralrules.mdx
  knowledge-base/007c-polyfill-intl-pluralrules.md
  packages/ecma402-abstract/PluralRules/InitializePluralRules.ts
  packages/ecma402-abstract/PluralRules/ResolvePluralRange.ts
  packages/ecma402-abstract/types/plural-rules.ts
  packages/intl-pluralrules/index.ts
  packages/intl-pluralrules/tests/index.test.ts
Due: format-oxfmt, lint-staged

Path conditions:
  format-package-json: any of: **/package.json
  format-oxfmt: any of: **/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}, but not: **/locale-data/**, **/package.json, **/CHANGELOG.md, packages/cli-lib/tests/extract/typescript/err.tsx, packages/cli/integration-tests/extract/typescript/err.tsx
  format-starlark: any of: **/*.{bazel,bzl,BUILD}
  lint-staged: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}
  bazel-lock-regen: any of: pnpm-lock.yaml, package.json, pnpm-workspace.yaml, *.bazel
