Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

lefthook.yml:

# Lefthook configuration
# Docs: https://github.com/evilmartians/lefthook

# Skip lefthook when LEFTHOOK=0 environment variable is set
# This is equivalent to husky's HUSKY=0 for CI/CD pipelines
skip_output:
  - meta
  - summary

pre-commit:
  parallel: false
  commands:
    format-package-json:
      glob: "**/package.json"
      run: pnpm syncpack fix-mismatches && pnpm syncpack format
      stage_fixed: true
    format-oxfmt:
      glob: "**/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}"
      run: pnpm oxfmt {staged_files}
      stage_fixed: true
      exclude:
        - '**/locale-data/**'
        - '**/package.json'
        - '**/CHANGELOG.md'
        - 'packages/cli-lib/tests/extract/typescript/err.tsx'
        - 'packages/cli/integration-tests/extract/typescript/err.tsx'
    format-starlark:
      glob: "**/*.{bazel,bzl,BUILD}"
      run: |
        set -- {staged_files}
        bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
      stage_fixed: true
    lint-staged:
      glob: '**/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}'
      run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
      stage_fixed: true
    bazel-lock-regen:
      glob:
        - "pnpm-lock.yaml"
        - "package.json"
        - "pnpm-workspace.yaml"
        - "*.bazel"
      run: bazel mod deps
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

chore: release main
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli_napi/Cargo.toml
Due: format-oxfmt, format-starlark, bazel-lock-regen

chore(deps): update typescript to v7 rc
  MODULE.bazel
  MODULE.bazel.lock
  package.json
  packages/cli-lib/BUILD.bazel
  packages/ts-transformer/BUILD.bazel
  pnpm-lock.yaml
Due: format-starlark, bazel-lock-regen

chore: release main (#6831)
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli_napi/Cargo.toml
Due: format-oxfmt, format-starlark, bazel-lock-regen

fix(@formatjs/intl-relativetimeformat): honor numberingSystem option
  packages/ecma402-abstract/RelativeTimeFormat/InitializeRelativeTimeFormat.ts
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-relativetimeformat/scripts/extract-relative.ts
  packages/intl-relativetimeformat/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/unplugin): add rsbuild adapter
  MODULE.bazel.lock
  docs/src/docs-metadata.generated.json
  docs/src/docs/guides/bundler-plugins.mdx
  docs/src/docs/tooling/unplugin.mdx
  package.json
  packages/unplugin/BUILD.bazel
  packages/unplugin/README.md
  packages/unplugin/rsbuild.ts
  pnpm-lock.yaml
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/unplugin): add rsbuild adapter (#6838)
  MODULE.bazel.lock
  docs/src/docs-metadata.generated.json
  docs/src/docs/guides/bundler-plugins.mdx
  docs/src/docs/tooling/unplugin.mdx
  package.json
  packages/unplugin/BUILD.bazel
  packages/unplugin/README.md
  packages/unplugin/rsbuild.ts
  pnpm-lock.yaml
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/icu-messageformat-parser): coalesce adjacent syntax chars when escaping
  packages/icu-messageformat-parser/printer.ts
  packages/icu-messageformat-parser/tests/printer.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/icu-messageformat-parser): mirror syntax escaping in rust printer
  conformance-tests/icu4j/BUILD.bazel
  conformance-tests/icu4j/MessageFormatEscapingConformanceTest.java
  crates/icu_messageformat_parser/printer.rs
  packages/icu-messageformat-parser/printer.ts
  packages/icu-messageformat-parser/tests/printer.test.ts
  packages/unplugin/conformance-tests/cli-unplugin-conformance.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-relativetimeformat): honor numberingSystem option (#6835)
  packages/ecma402-abstract/RelativeTimeFormat/InitializeRelativeTimeFormat.ts
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-relativetimeformat/scripts/extract-relative.ts
  packages/intl-relativetimeformat/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/icu-messageformat-parser): coalesce adjacent syntax chars when escaping (#6837)
  conformance-tests/icu4j/BUILD.bazel
  conformance-tests/icu4j/MessageFormatEscapingConformanceTest.java
  crates/icu_messageformat_parser/printer.rs
  packages/icu-messageformat-parser/printer.ts
  packages/icu-messageformat-parser/tests/printer.test.ts
  packages/unplugin/conformance-tests/cli-unplugin-conformance.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore: apply pre-commit cleanup
  benchmarks/cli-comparison/README.md
  benchmarks/cli-comparison/benchmark-tinybench.mjs
  benchmarks/cli-comparison/package.json
  benchmarks/oss-react-intl/README.md
  benchmarks/oss-react-intl/benchmark.ts
  codescythe.jsonc
  crates/formatjs_cli/README.md
  crates/formatjs_cli/RELEASE.md
  crates/icu_messageformat_parser/BENCHMARK.md
  docs/src/components/IcuEditor.tsx
  docs/src/components/SearchBar.tsx
  docs/src/docs/tooling/cli.mdx
  fuzz/fuzz_intl_messageformat.js
  knowledge-base/migrations/002-generated-packages-migration.md
  packages/icu-messageformat-parser/benchmark/BUILD.bazel
  packages/intl-collator/compare.ts
  packages/intl-collator/core.ts
  packages/intl-collator/scripts/BUILD.bazel
  packages/intl-collator/scripts/generate-locale-data.ts
  packages/intl-collator/scripts/parse-ldml-collation.ts
  packages/intl-collator/scripts/parse-uca.test.ts
  packages/intl-collator/scripts/parse-uca.ts
  packages/intl-durationformat/benchmark/BUILD.bazel
  packages/intl-localematcher/benchmark/BUILD.bazel
  packages/intl-numberformat/benchmark/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/react-intl/examples/SvenskaExample.tsx
  packages/react-intl/examples/SvensktStriktExample.tsx
  packages/ts-transformer/tests/fixtures/optionalChaining.tsx
  sg-rules/no-barrel-export.yml
  tools/oxc-transpiler/package.json
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

ci: run pre-commit hooks on all files
  .github/workflows/verify-hooks.yml
Due: format-oxfmt

chore: update Bazel module lockfile
  MODULE.bazel.lock
Due: none

ci: use bazel run for lefthook
  .github/workflows/verify-hooks.yml
Due: format-oxfmt

chore: apply pre-commit cleanup (#6841)
  .github/workflows/verify-hooks.yml
  MODULE.bazel.lock
  benchmarks/cli-comparison/README.md
  benchmarks/cli-comparison/benchmark-tinybench.mjs
  benchmarks/cli-comparison/package.json
  benchmarks/oss-react-intl/README.md
  benchmarks/oss-react-intl/benchmark.ts
  codescythe.jsonc
  crates/formatjs_cli/README.md
  crates/formatjs_cli/RELEASE.md
  crates/icu_messageformat_parser/BENCHMARK.md
  docs/src/components/IcuEditor.tsx
  docs/src/components/SearchBar.tsx
  docs/src/docs/tooling/cli.mdx
  fuzz/fuzz_intl_messageformat.js
  knowledge-base/migrations/002-generated-packages-migration.md
  packages/icu-messageformat-parser/benchmark/BUILD.bazel
  packages/intl-collator/compare.ts
  packages/intl-collator/core.ts
  packages/intl-collator/scripts/BUILD.bazel
  packages/intl-collator/scripts/generate-locale-data.ts
  packages/intl-collator/scripts/parse-ldml-collation.ts
  packages/intl-collator/scripts/parse-uca.test.ts
  packages/intl-collator/scripts/parse-uca.ts
  packages/intl-durationformat/benchmark/BUILD.bazel
  packages/intl-localematcher/benchmark/BUILD.bazel
  packages/intl-numberformat/benchmark/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/react-intl/examples/SvenskaExample.tsx
  packages/react-intl/examples/SvensktStriktExample.tsx
  packages/ts-transformer/tests/fixtures/optionalChaining.tsx
  sg-rules/no-barrel-export.yml
  tools/oxc-transpiler/package.json
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/cli-lib): handle fast-glob esm import
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/cli.ts
  packages/cli-lib/compile.ts
  packages/cli-lib/integration-tests/test_esm_imports.mjs
  packages/cli-lib/tests/unit/compile.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/cli-lib): handle fast-glob esm import (#6845)
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/cli.ts
  packages/cli-lib/compile.ts
  packages/cli-lib/integration-tests/test_esm_imports.mjs
  packages/cli-lib/tests/unit/compile.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-datetimeformat): honor hour12 with timeStyle
  packages/ecma402-abstract/DateTimeFormat/DateTimeStyleFormat.ts
  packages/ecma402-abstract/DateTimeFormat/InitializeDateTimeFormat.ts
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): honor hour12 with timeStyle (#6846)
  packages/ecma402-abstract/DateTimeFormat/DateTimeStyleFormat.ts
  packages/ecma402-abstract/DateTimeFormat/InitializeDateTimeFormat.ts
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

feat(vue-intl): add t helper
  docs/src/docs/vue-intl.mdx
  packages/cli-lib/tests/unit/__snapshots__/vue_extractor.test.ts.snap
  packages/cli-lib/tests/unit/extract.test.ts
  packages/cli-lib/tests/unit/fixtures/comp.vue
  packages/eslint-plugin-formatjs/rules/enforce-id.ts
  packages/eslint-plugin-formatjs/tests/enforce-default-message.test.ts
  packages/eslint-plugin-formatjs/tests/enforce-id.test.ts
  packages/eslint-plugin-formatjs/util.ts
  packages/ts-transformer/BUILD.bazel
  packages/ts-transformer/tests/fixtures/shorthandT.tsx
  packages/ts-transformer/tests/index.test.ts
  packages/ts-transformer/transform.ts
  packages/vue-intl/plugin.ts
  packages/vue-intl/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(formatjs_cli): parse JSX in JavaScript extract inputs
  crates/formatjs_cli/src/extractor.rs
  packages/cli/integration-tests/conformance-tests/test_cases/24_jsx_in_js_file.txt
Due: none

fix(formatjs_cli): parse JSX in JavaScript extract inputs (#6850)
  crates/formatjs_cli/src/extractor.rs
  packages/cli/integration-tests/conformance-tests/test_cases/24_jsx_in_js_file.txt
Due: none

fix(@formatjs/icu-skeleton-parser): map e/c weekday counts 4/5/6 to long/narrow/short
  packages/icu-skeleton-parser/date-time.ts
  packages/icu-skeleton-parser/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/icu-skeleton-parser): map e/c weekday counts 4/5/6 to long/narrow/short (#6852)
  packages/icu-skeleton-parser/date-time.ts
  packages/icu-skeleton-parser/tests/index.test.ts
Due: format-oxfmt, lint-staged

feat(@formatjs/intl-datetimeformat): update IANA timezone database to 2026c
  MODULE.bazel
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, lint-staged, bazel-lock-regen

feat(@formatjs/intl-datetimeformat): update IANA timezone database to 2026c (#6854)
  MODULE.bazel
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, lint-staged, bazel-lock-regen

build(@formatjs/intl-datetimeformat): make tzdata generation hermetic
  .github/workflows/test.yml
  MODULE.bazel
  codescythe.jsonc
  knowledge-base/001a-bazel-toolchain.md
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/011-generated-packages.md
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/hermetic_llvm.bzl
  packages/intl-datetimeformat/index.bzl
  packages/intl-datetimeformat/scripts/zic.ts
  packages/intl-datetimeformat/tzcode.BUILD.bazel
  packages/intl-datetimeformat/tzcode_repository.bzl
  packages/intl-datetimeformat/tzdata/BUILD.bazel
  packages/intl-datetimeformat/tzdata/generator.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

build(@formatjs/intl-datetimeformat): remove redundant action env
  packages/intl-datetimeformat/index.bzl
Due: format-starlark

build(@formatjs/intl-datetimeformat): preserve explicit tz outputs
  .github/workflows/test.yml
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/index.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

build(@formatjs/intl-datetimeformat): validate tzdata on macOS and Linux
  .github/workflows/test.yml
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/011-generated-packages.md
  packages/intl-datetimeformat/hermetic_llvm.bzl
Due: format-oxfmt, format-starlark

build(@formatjs/intl-datetimeformat): make tzdata generation hermetic (#6855)
  .github/workflows/test.yml
  MODULE.bazel
  codescythe.jsonc
  knowledge-base/001a-bazel-toolchain.md
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/011-generated-packages.md
  packages/intl-datetimeformat/hermetic_llvm.bzl
  packages/intl-datetimeformat/index.bzl
  packages/intl-datetimeformat/scripts/zic.ts
  packages/intl-datetimeformat/tzcode.BUILD.bazel
  packages/intl-datetimeformat/tzcode_repository.bzl
  packages/intl-datetimeformat/tzdata/BUILD.bazel
  packages/intl-datetimeformat/tzdata/generator.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(deps): sync release package manifests
  knowledge-base/001-repo-layout.md
  packages/babel-plugin-formatjs/package.json
  packages/bigdecimal/package.json
  packages/cli-lib/package.json
  packages/cli-native-darwin-arm64/package.json
  packages/cli-native-linux-arm64-musl/package.json
  packages/cli-native-linux-arm64/package.json
  packages/cli-native-linux-x64-musl/package.json
  packages/cli-native-linux-x64/package.json
  packages/cli-native-win32-x64/package.json
  packages/cli/package.json
  packages/ecma376/package.json
  packages/eslint-plugin-formatjs/package.json
  packages/fast-memoize/package.json
  packages/icu-messageformat-parser/package.json
  packages/icu-skeleton-parser/package.json
  packages/intl-collator/package.json
  packages/intl-datetimeformat/package.json
  packages/intl-displaynames/package.json
  packages/intl-durationformat/package.json
  packages/intl-getcanonicallocales/package.json
  packages/intl-listformat/package.json
  packages/intl-locale/package.json
  packages/intl-localematcher/package.json
  packages/intl-messageformat/package.json
  packages/intl-numberformat/package.json
  packages/intl-pluralrules/package.json
  packages/intl-relativetimeformat/package.json
  packages/intl-segmenter/package.json
  packages/intl-supportedvaluesof/package.json
  packages/intl/package.json
  packages/react-intl/package.json
  packages/svelte-intl/package.json
  packages/ts-transformer/package.json
  packages/unplugin/package.json
  packages/utils/package.json
  packages/vue-intl/package.json
  release-please-config.json
Due: format-package-json, format-oxfmt

fix(deps): update package manifests in release PRs
  .github/workflows/release-please.yml
  BUILD.bazel
  knowledge-base/001-repo-layout.md
  release-please-config.json
  tools/BUILD.bazel
  tools/release-please/config.test.ts
  tools/release-please/npm-workspace-graph.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(deps): update package manifests in release PRs (#6856)
  .github/workflows/release-please.yml
  BUILD.bazel
  knowledge-base/001-repo-layout.md
  release-please-config.json
  tools/BUILD.bazel
  tools/release-please/config.test.ts
  tools/release-please/npm-workspace-graph.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen
