Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

format-package-json:
  run: pnpm syncpack fix-mismatches && pnpm syncpack format
  stage_fixed: true

format-oxfmt:
  run: pnpm oxfmt {staged_files}
  stage_fixed: true

format-starlark:
  run: 'set -- {staged_files}
  
    bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
  
    '
  stage_fixed: true

lint-staged:
  run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
  stage_fixed: true

bazel-lock-regen:
  run: bazel mod deps
  stage_fixed: true

build: migrate remaining packages from ts_compile to rolldown
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/bigdecimal/BUILD.bazel
  packages/ecma376/BUILD.bazel
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/fast-memoize/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  packages/svelte-intl/BUILD.bazel
  packages/ts-transformer/BUILD.bazel
  packages/unplugin/BUILD.bazel
  packages/utils/BUILD.bazel
  packages/vue-intl/BUILD.bazel
Due: format-starlark, bazel-lock-regen

fix(@formatjs/intl-localematcher): update benchmark refs to use new rolldown target name
  packages/intl-localematcher/benchmark/BUILD.bazel
Due: format-starlark, bazel-lock-regen

build: migrate remaining packages from ts_compile to rolldown (#6276)
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/bigdecimal/BUILD.bazel
  packages/ecma376/BUILD.bazel
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/fast-memoize/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  packages/intl-localematcher/benchmark/BUILD.bazel
  packages/svelte-intl/BUILD.bazel
  packages/ts-transformer/BUILD.bazel
  packages/unplugin/BUILD.bazel
  packages/utils/BUILD.bazel
  packages/vue-intl/BUILD.bazel
Due: format-starlark, bazel-lock-regen

build(deps): migrate intl-getcanonicallocales and cli-lib to rolldown
  packages/cli-lib/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
Due: format-starlark, bazel-lock-regen

refactor(deps): add #packages/ imports field to all package.json files
  packages/babel-plugin-formatjs/package.json
  packages/bigdecimal/package.json
  packages/cli-lib/package.json
  packages/cli/package.json
  packages/ecma376/package.json
  packages/editor/package.json
  packages/eslint-plugin-formatjs/package.json
  packages/fast-memoize/package.json
  packages/icu-messageformat-parser/package.json
  packages/icu-skeleton-parser/package.json
  packages/intl-datetimeformat/package.json
  packages/intl-displaynames/package.json
  packages/intl-durationformat/package.json
  packages/intl-getcanonicallocales/package.json
  packages/intl-listformat/package.json
  packages/intl-locale/package.json
  packages/intl-localematcher/package.json
  packages/intl-messageformat/package.json
  packages/intl-numberformat/package.json
  packages/intl-pluralrules/package.json
  packages/intl-relativetimeformat/package.json
  packages/intl-segmenter/package.json
  packages/intl-supportedvaluesof/package.json
  packages/intl/package.json
  packages/react-intl/package.json
  packages/svelte-intl/package.json
  packages/ts-transformer/package.json
  packages/unplugin/package.json
  packages/utils/package.json
  packages/vue-intl/package.json
  tools/check_no_internal_imports.ts
Due: format-package-json, format-oxfmt, lint-staged

build(deps): migrate intl-getcanonicallocales and cli-lib to rolldown (#6278)
  packages/cli-lib/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
Due: format-starlark, bazel-lock-regen

refactor(@formatjs/intl-datetimeformat): split packer.ts into pack (scripts) and unpack (source)
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/core.ts
  packages/intl-datetimeformat/scripts/BUILD.bazel
  packages/intl-datetimeformat/scripts/packer.ts
  packages/intl-datetimeformat/scripts/process-zdump.ts
  packages/intl-datetimeformat/unpack.ts
  sg-rules/no-relative-import.yml
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(react-intl): address final Swedish example review notes
  packages/react-intl/examples/SvenskaExample.tsx
  packages/react-intl/examples/SvensktStriktExample.tsx
Due: format-oxfmt, lint-staged

fix(deps): revert example-sandboxes to relative imports, fix examples BUILD
  packages/react-intl/example-sandboxes/rescripts/src/App.tsx
  packages/react-intl/example-sandboxes/rescripts/src/index.tsx
  packages/react-intl/example-sandboxes/strict-locale-type/src/App.tsx
  packages/react-intl/example-sandboxes/strict-locale-type/src/index.tsx
  packages/react-intl/example-sandboxes/strict-message-types/src/App.tsx
  packages/react-intl/example-sandboxes/strict-message-types/src/index.tsx
  packages/react-intl/examples/BUILD.bazel
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(deps): revert example-sandboxes to relative imports, fix examples BUILD (#6292)
  packages/react-intl/example-sandboxes/rescripts/src/App.tsx
  packages/react-intl/example-sandboxes/rescripts/src/index.tsx
  packages/react-intl/example-sandboxes/strict-locale-type/src/App.tsx
  packages/react-intl/example-sandboxes/strict-locale-type/src/index.tsx
  packages/react-intl/example-sandboxes/strict-message-types/src/App.tsx
  packages/react-intl/example-sandboxes/strict-message-types/src/index.tsx
  packages/react-intl/examples/BUILD.bazel
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore(deps): update oxlint to ^1.59.0, remove patch
  MODULE.bazel.lock
  package.json
  patches/oxlint@1.48.0.patch
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update oxlint to ^1.59.0, remove patch (#6293)
  MODULE.bazel.lock
  package.json
  patches/oxlint@1.48.0.patch
  pnpm-lock.yaml
Due: bazel-lock-regen

fix(deps): use tsconfig-based resolution in rolldown bundler
  tools/rolldown-bundle.ts
Due: format-oxfmt, lint-staged

fix(deps): use tsconfig-based resolution in rolldown bundler (#6296)
  tools/rolldown-bundle.ts
Due: format-oxfmt, lint-staged

fix(react-intl): inline Swedish example messages
  packages/react-intl/examples/SvenskaExample.tsx
Due: format-oxfmt, lint-staged

refactor(deps): add formatjs_compile macro, migrate fast-memoize and intl-localematcher
  packages/fast-memoize/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  tools/compile.bzl
Due: format-starlark, bazel-lock-regen

refactor(deps): add formatjs_compile macro (#6299)
  packages/fast-memoize/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  tools/compile.bzl
Due: format-starlark, bazel-lock-regen

fix(deps): add id-token: write permission to Claude Code workflow
  .github/workflows/claude.yml
Due: format-oxfmt

fix(deps): add id-token: write permission to Claude Code workflow (#6309)
  .github/workflows/claude.yml
Due: format-oxfmt

fix(deps): add Rust CLI smoke test to BuildBuddy config
  buildbuddy.yaml
Due: none

refactor(deps): add formatjs_package macro, migrate fast-memoize and intl-localematcher
  packages/fast-memoize/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  tools/package.bzl
Due: format-starlark, bazel-lock-regen

refactor(deps): add formatjs_test macro with separated dep tracking
  packages/intl-localematcher/BUILD.bazel
  tools/test.bzl
Due: format-starlark, bazel-lock-regen

fix(deps): add Rust CLI smoke test to BuildBuddy config (#6310)
  buildbuddy.yaml
Due: none

chore(react-intl): remove unused Swedish example artifacts
  packages/react-intl/examples/advanced/compiled-lang/sv.json
  packages/react-intl/examples/svenska-messages.json
Due: format-oxfmt

refactor(deps): add formatjs_package macro (#6300)
  packages/fast-memoize/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  tools/package.bzl
Due: format-starlark, bazel-lock-regen

refactor(deps): migrate all 28 packages to formatjs_compile/package/test macros
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/bigdecimal/BUILD.bazel
  packages/cli-lib/BUILD.bazel
  packages/ecma376/BUILD.bazel
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-listformat/tsconfig.json
  packages/intl-locale/BUILD.bazel
  packages/intl-locale/tsconfig.json
  packages/intl-messageformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-numberformat/tsconfig.json
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-pluralrules/tsconfig.json
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-relativetimeformat/tsconfig.json
  packages/intl-segmenter/BUILD.bazel
  packages/intl-segmenter/tsconfig.json
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  packages/svelte-intl/BUILD.bazel
  packages/ts-transformer/BUILD.bazel
  packages/unplugin/BUILD.bazel
  packages/utils/BUILD.bazel
  packages/vue-intl/BUILD.bazel
  tools/compile.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

Path conditions:
  format-package-json: any of: **/package.json
  format-oxfmt: any of: **/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}, but not: **/locale-data/**, **/package.json, **/CHANGELOG.md, packages/cli-lib/tests/extract/typescript/err.tsx, packages/cli/integration-tests/extract/typescript/err.tsx
  format-starlark: any of: **/*.{bazel,bzl,BUILD}
  lint-staged: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}
  bazel-lock-regen: any of: pnpm-lock.yaml, package.json, pnpm-workspace.yaml, *.bazel
