Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

format-package-json:
  run: pnpm syncpack fix-mismatches && pnpm syncpack format
  stage_fixed: true

format-oxfmt:
  run: pnpm oxfmt {staged_files}
  stage_fixed: true

format-starlark:
  run: 'set -- {staged_files}
  
    bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
  
    '
  stage_fixed: true

lint-staged:
  run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
  stage_fixed: true

bazel-lock-regen:
  run: bazel mod deps
  stage_fixed: true

chore(deps): refresh Bazel lockfile
  MODULE.bazel.lock
Due: none

fix(deps): keep napi derive compatible
  Cargo.lock
  MODULE.bazel.lock
Due: none

fix(deps): migrate rolldown dts generator option
  tools/rolldown-bundle.ts
Due: format-oxfmt, lint-staged

chore(deps): refresh OXC Bazel lockfile
  MODULE.bazel.lock
Due: none

style: format rolldown bundle config
  tools/rolldown-bundle.ts
Due: format-oxfmt, lint-staged

docs: update i18n best-practices skill
  .agents/skills/i18n-best-practices/SKILL.md
Due: format-oxfmt

docs: cover units and calendar names in i18n skill (#7042)
  .agents/skills/i18n-best-practices/SKILL.md
Due: format-oxfmt

fix(deps): align napi derive backend
  Cargo.lock
  MODULE.bazel.lock
Due: none

fix(@formatjs/cli-lib): use native extraction
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli/src/extractor.rs
  crates/formatjs_cli/src/rust_extractor.rs
  crates/formatjs_cli_napi/BUILD.bazel
  crates/formatjs_cli_napi/Cargo.toml
  crates/formatjs_cli_napi/src/lib.rs
  knowledge-base/002-ts-package-dependency-hierarchy.md
  knowledge-base/003-rust-crate-dependency-hierarchy.md
  knowledge-base/009-package-developer-tools.md
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/extract.ts
  packages/cli-lib/formatters/default.ts
  packages/cli-lib/gts_extractor.ts
  packages/cli-lib/hbs_extractor.ts
  packages/cli-lib/index.ts
  packages/cli-lib/native.ts
  packages/cli-lib/package.json
  packages/cli-lib/parse_script.ts
  packages/cli-lib/svelte_extractor.ts
  packages/cli-lib/tests/unit/extract.test.ts
  packages/cli-lib/tests/unit/gts_extractor.test.ts
  packages/cli-lib/tests/unit/hbs_extractor.test.ts
  packages/cli-lib/tests/unit/svelte_extractor.test.ts
  packages/cli-lib/tests/unit/unit.test.ts
  packages/cli-lib/tests/unit/vue_extractor.test.ts
  packages/cli-lib/types.ts
  packages/cli-lib/vue_extractor.ts
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/cli-lib): resolve native test binding path
  packages/cli-lib/native.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/cli-lib): preserve native test runtime data
  packages/cli-lib/BUILD.bazel
Due: format-starlark, bazel-lock-regen

fix(@formatjs/cli-lib): parse Svelte message components as JSX
  packages/cli-lib/svelte_extractor.ts
Due: format-oxfmt, lint-staged

fix(deps): avoid implicit toolchain registry queries
  scripts/generate_dist_packages.sh
Due: none

fix(deps): avoid external repos during registry generation
  scripts/generate_dist_packages.sh
Due: none

style(@formatjs/cli-lib): apply oxfmt
  packages/cli-lib/extract.ts
  packages/cli-lib/tests/unit/extract.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/cli-lib): use native extraction (#7046)
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli/src/extractor.rs
  crates/formatjs_cli/src/rust_extractor.rs
  crates/formatjs_cli_napi/BUILD.bazel
  crates/formatjs_cli_napi/Cargo.toml
  crates/formatjs_cli_napi/src/lib.rs
  knowledge-base/002-ts-package-dependency-hierarchy.md
  knowledge-base/003-rust-crate-dependency-hierarchy.md
  knowledge-base/009-package-developer-tools.md
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/extract.ts
  packages/cli-lib/formatters/default.ts
  packages/cli-lib/gts_extractor.ts
  packages/cli-lib/hbs_extractor.ts
  packages/cli-lib/index.ts
  packages/cli-lib/native.ts
  packages/cli-lib/package.json
  packages/cli-lib/parse_script.ts
  packages/cli-lib/svelte_extractor.ts
  packages/cli-lib/tests/unit/extract.test.ts
  packages/cli-lib/tests/unit/gts_extractor.test.ts
  packages/cli-lib/tests/unit/hbs_extractor.test.ts
  packages/cli-lib/tests/unit/svelte_extractor.test.ts
  packages/cli-lib/tests/unit/unit.test.ts
  packages/cli-lib/tests/unit/vue_extractor.test.ts
  packages/cli-lib/types.ts
  packages/cli-lib/vue_extractor.ts
  pnpm-lock.yaml
  scripts/generate_dist_packages.sh
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix: recover partial npm releases
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  knowledge-base/001-repo-layout.md
  tools/BUILD.bazel
  tools/release-please/npm-release-paths.test.ts
  tools/release-please/npm-release-paths.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix: recover partial npm releases (#7053)
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  knowledge-base/001-repo-layout.md
  tools/BUILD.bazel
  tools/release-please/npm-release-paths.test.ts
  tools/release-please/npm-release-paths.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore: release main
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/CHANGELOG.md
  packages/cli-lib/package.json
  packages/cli-native-darwin-arm64/BUILD.bazel
  packages/cli-native-darwin-arm64/CHANGELOG.md
  packages/cli-native-darwin-arm64/package.json
  packages/cli-native-linux-arm64-musl/BUILD.bazel
  packages/cli-native-linux-arm64-musl/CHANGELOG.md
  packages/cli-native-linux-arm64-musl/package.json
  packages/cli-native-linux-arm64/BUILD.bazel
  packages/cli-native-linux-arm64/CHANGELOG.md
  packages/cli-native-linux-arm64/package.json
  packages/cli-native-linux-x64-musl/BUILD.bazel
  packages/cli-native-linux-x64-musl/CHANGELOG.md
  packages/cli-native-linux-x64-musl/package.json
  packages/cli-native-linux-x64/BUILD.bazel
  packages/cli-native-linux-x64/CHANGELOG.md
  packages/cli-native-linux-x64/package.json
  packages/cli-native-win32-x64/BUILD.bazel
  packages/cli-native-win32-x64/CHANGELOG.md
  packages/cli-native-win32-x64/package.json
  packages/cli/BUILD.bazel
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: format-package-json, format-oxfmt, format-starlark, bazel-lock-regen

chore: release main (#7047)
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/CHANGELOG.md
  packages/cli-lib/package.json
  packages/cli-native-darwin-arm64/BUILD.bazel
  packages/cli-native-darwin-arm64/CHANGELOG.md
  packages/cli-native-darwin-arm64/package.json
  packages/cli-native-linux-arm64-musl/BUILD.bazel
  packages/cli-native-linux-arm64-musl/CHANGELOG.md
  packages/cli-native-linux-arm64-musl/package.json
  packages/cli-native-linux-arm64/BUILD.bazel
  packages/cli-native-linux-arm64/CHANGELOG.md
  packages/cli-native-linux-arm64/package.json
  packages/cli-native-linux-x64-musl/BUILD.bazel
  packages/cli-native-linux-x64-musl/CHANGELOG.md
  packages/cli-native-linux-x64-musl/package.json
  packages/cli-native-linux-x64/BUILD.bazel
  packages/cli-native-linux-x64/CHANGELOG.md
  packages/cli-native-linux-x64/package.json
  packages/cli-native-win32-x64/BUILD.bazel
  packages/cli-native-win32-x64/CHANGELOG.md
  packages/cli-native-win32-x64/package.json
  packages/cli/BUILD.bazel
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: format-package-json, format-oxfmt, format-starlark, bazel-lock-regen

docs: clarify when to use ICU select
  docs/src/docs/guides/best-practices.mdx
Due: format-oxfmt

docs: discourage punctuation-only messages and hardcoded currency/sign affixes
  docs/src/docs/guides/best-practices.mdx
Due: format-oxfmt

docs: sync i18n best practices skill and guide
  .agents/skills/i18n-best-practices/SKILL.md
  BUILD.bazel
  docs/BUILD.bazel
  docs/src/docs-metadata.generated.json
  docs/src/docs/guides/best-practices.mdx
Due: format-oxfmt, format-starlark, bazel-lock-regen

docs: generate best practices guide from skill
  docs/BUILD.bazel
  docs/src/docs/guides/best-practices.mdx
Due: format-oxfmt, format-starlark, bazel-lock-regen

docs: clarify ICU select usage
  .agents/skills/i18n-best-practices/SKILL.md
Due: format-oxfmt

docs: sync i18n best practices skill and guide (#7062)
  .agents/skills/i18n-best-practices/SKILL.md
  BUILD.bazel
  docs/BUILD.bazel
  docs/src/docs-metadata.generated.json
  docs/src/docs/guides/best-practices.mdx
Due: format-oxfmt, format-starlark, bazel-lock-regen

chore(deps): refresh Bazel lock for rolldown
  MODULE.bazel.lock
Due: none

chore(deps): refresh Bazel lock for ICU
  MODULE.bazel.lock
Due: none

chore(deps): refresh Bazel lock for N-API
  MODULE.bazel.lock
Due: none

chore(deps): refresh Bazel lock for oxfmt
  MODULE.bazel.lock
Due: none

chore(deps): refresh Bazel lock for pnpm
  MODULE.bazel.lock
Due: none

Path conditions:
  format-package-json: any of: **/package.json
  format-oxfmt: any of: **/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}, but not: **/locale-data/**, **/package.json, **/CHANGELOG.md, packages/cli-lib/tests/extract/typescript/err.tsx, packages/cli/integration-tests/extract/typescript/err.tsx
  format-starlark: any of: **/*.{bazel,bzl,BUILD}
  lint-staged: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}
  bazel-lock-regen: any of: pnpm-lock.yaml, package.json, pnpm-workspace.yaml, *.bazel
