Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

lefthook.yml:

# Lefthook configuration
# Docs: https://github.com/evilmartians/lefthook

# Skip lefthook when LEFTHOOK=0 environment variable is set
# This is equivalent to husky's HUSKY=0 for CI/CD pipelines
skip_output:
  - meta
  - summary

pre-commit:
  parallel: false
  commands:
    format-package-json:
      glob: "**/package.json"
      run: pnpm syncpack fix-mismatches && pnpm syncpack format
      stage_fixed: true
    format-oxfmt:
      glob: "**/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}"
      run: pnpm oxfmt {staged_files}
      stage_fixed: true
      exclude:
        - '**/locale-data/**'
        - '**/package.json'
        - '**/CHANGELOG.md'
        - 'packages/cli-lib/tests/extract/typescript/err.tsx'
        - 'packages/cli/integration-tests/extract/typescript/err.tsx'
    format-starlark:
      glob: "**/*.{bazel,bzl,BUILD}"
      run: |
        set -- {staged_files}
        bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
      stage_fixed: true
    lint-staged:
      glob: '**/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}'
      run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
      stage_fixed: true
    bazel-lock-regen:
      glob:
        - "pnpm-lock.yaml"
        - "package.json"
        - "pnpm-workspace.yaml"
        - "*.bazel"
      run: bazel mod deps
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

fix(eslint-plugin-formatjs): generate lint-compatible empty message contracts
  docs/src/docs/tooling/linter.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/eslint-plugin-formatjs/message-types.ts
  packages/eslint-plugin-formatjs/rules/enforce-message-types.ts
  packages/eslint-plugin-formatjs/tests/enforce-message-types.test.ts
  packages/intl-messageformat/index.ts
  packages/intl-messageformat/message-types.ts
  packages/intl-messageformat/tests/message-types.test.ts
  packages/intl/typed-message.ts
  packages/react-intl/index.ts
  packages/react-intl/server.ts
  packages/react-intl/tests/unit/typed-message.test.tsx
  packages/svelte-intl/index.ts
  packages/vue-intl/index.ts
Due: format-oxfmt, lint-staged

fix(eslint-plugin-formatjs): generate lint-compatible empty message contracts (#7442)
  docs/src/docs/tooling/linter.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/eslint-plugin-formatjs/message-types.ts
  packages/eslint-plugin-formatjs/rules/enforce-message-types.ts
  packages/eslint-plugin-formatjs/tests/enforce-message-types.test.ts
  packages/intl-messageformat/index.ts
  packages/intl-messageformat/message-types.ts
  packages/intl-messageformat/tests/message-types.test.ts
  packages/intl/typed-message.ts
  packages/react-intl/index.ts
  packages/react-intl/server.ts
  packages/react-intl/tests/unit/typed-message.test.tsx
  packages/svelte-intl/index.ts
  packages/vue-intl/index.ts
Due: format-oxfmt, lint-staged

refactor(@formatjs/intl-datetimeformat): centralize calendar registry
  .github/workflows/release-please.yml
  BUILD.bazel
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  packages/ecma402-abstract/DateTimeFormat/calendars/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/calendar_package.bzl
  packages/intl-datetimeformat/calendar_registry.bzl
  packages/intl-datetimeformat/scripts/BUILD.bazel
  packages/intl-datetimeformat/scripts/calendar-bundle.test.ts
  packages/intl-datetimeformat/scripts/extract-dates.ts
  packages/intl-datetimeformat/scripts/locale-data.test.ts
  tools/BUILD.bazel
  tools/calendar-registry.test.ts
  tools/release-please/npm-workspace-plugin.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-datetimeformat): isolate calendar package generation
  MODULE.bazel
  MODULE.bazel.lock
  codescythe.jsonc
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  package.json
  packages/ecma402-abstract/DateTimeFormat/calendars/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/calendar_package.bzl
  packages/intl-datetimeformat/calendar_registry.bzl
  packages/intl-datetimeformat/package.json
  packages/intl-datetimeformat/scripts/BUILD.bazel
  packages/intl-datetimeformat/scripts/calendar-bundle.test.ts
  packages/intl-datetimeformat/scripts/cldr-calendar.ts
  packages/intl-datetimeformat/scripts/cldr.ts
  packages/intl-datetimeformat/scripts/emit-locale-data.ts
  packages/intl-datetimeformat/scripts/extract-dates.ts
  packages/intl-datetimeformat/scripts/locale-data.test.ts
  packages/intl-datetimeformat/scripts/registry/BUILD.bazel
  packages/intl-datetimeformat/scripts/yarn-install.test.mjs
  pnpm-lock.yaml
  tools/BUILD.bazel
  tools/calendar-registry.test.ts
  tools/generated_packages_registry.bzl
  tools/source_inventory.bzl
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

docs(@formatjs/intl-datetimeformat): trim calendar packaging docs
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
Due: format-oxfmt

fix(deps): update Ruff crates together to 0.16.7
  Cargo.lock
  MODULE.bazel.lock
  crates/formatjs_cli/Cargo.toml
  renovate.json
Due: format-oxfmt

fix(deps): update Ruff crates together to 0.16.7 (#7461)
  Cargo.lock
  MODULE.bazel.lock
  crates/formatjs_cli/Cargo.toml
  renovate.json
Due: format-oxfmt

fix(@formatjs/icu-messageformat-parser): restore Unicode regex fallback
  docs/src/docs/icu-messageformat-parser.mdx
  knowledge-base/006-package-icu-messageformat-parser.md
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-messageformat-parser/benchmark/benchmark.ts
  packages/icu-messageformat-parser/parser.ts
  packages/icu-messageformat-parser/tests/unicode-fallback.test.ts
  packages/icu-messageformat-parser/tools/regex-gen.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

test(@formatjs/icu-messageformat-parser): exercise fallback across parser corpus
  knowledge-base/006-package-icu-messageformat-parser.md
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-messageformat-parser/integration-tests/BUILD.bazel
  packages/icu-messageformat-parser/parser.ts
  packages/icu-messageformat-parser/tests/unicode-fallback.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/icu-messageformat-parser): restore Unicode regex fallback (#7464)
  docs/src/docs/icu-messageformat-parser.mdx
  knowledge-base/006-package-icu-messageformat-parser.md
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-messageformat-parser/benchmark/benchmark.ts
  packages/icu-messageformat-parser/integration-tests/BUILD.bazel
  packages/icu-messageformat-parser/parser.ts
  packages/icu-messageformat-parser/tests/unicode-fallback.test.ts
  packages/icu-messageformat-parser/tools/regex-gen.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

docs(eslint-plugin-formatjs): explain default message presence override
  docs/src/docs/tooling/linter.mdx
  knowledge-base/009-package-developer-tools.md
  packages/eslint-plugin-formatjs/tests/enforce-default-message.test.ts
Due: format-oxfmt, lint-staged

docs(eslint-plugin-formatjs): explain default message presence override (#7476)
  docs/src/docs/tooling/linter.mdx
  knowledge-base/009-package-developer-tools.md
  packages/eslint-plugin-formatjs/tests/enforce-default-message.test.ts
Due: format-oxfmt, lint-staged

test: adopt browser and worker presets for editor tests
  .bazelrc
  .github/scripts/actiond-vrt.sh
  .github/workflows/editor-browser.yml
  .gitignore
  MODULE.bazel
  MODULE.bazel.lock
  knowledge-base/013-editor-vrt.md
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
  tools/BUILD.bazel
Due: format-oxfmt, format-starlark, bazel-lock-regen

test: use released rules_web_e2e 3.4.0
  MODULE.bazel
  MODULE.bazel.lock
  packages/editor/vrt/README.md
Due: format-oxfmt, bazel-lock-regen

test: simplify editor browser setup with upstream presets (#7479)
  .bazelrc
  .github/scripts/actiond-vrt.sh
  .github/workflows/editor-browser.yml
  .gitignore
  MODULE.bazel
  MODULE.bazel.lock
  knowledge-base/013-editor-vrt.md
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
  tools/BUILD.bazel
Due: format-oxfmt, format-starlark, bazel-lock-regen

feat(eslint-plugin-formatjs): autofix prefer-formatted-message
  docs/src/docs/tooling/linter.mdx
  knowledge-base/009-package-developer-tools.md
  packages/eslint-plugin-formatjs/rules/prefer-formatted-message.ts
  packages/eslint-plugin-formatjs/tests/prefer-formatted-message.test.ts
Due: format-oxfmt, lint-staged

docs(eslint-plugin-formatjs): shorten autofix documentation
  docs/src/docs/tooling/linter.mdx
  knowledge-base/009-package-developer-tools.md
Due: format-oxfmt

feat(eslint-plugin-formatjs): autofix prefer-formatted-message (#7498)
  docs/src/docs/tooling/linter.mdx
  knowledge-base/009-package-developer-tools.md
  packages/eslint-plugin-formatjs/rules/prefer-formatted-message.ts
  packages/eslint-plugin-formatjs/tests/prefer-formatted-message.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/cli-lib): bound concurrent file reads in extract to avoid EMFILE
  packages/cli-lib/extract.ts
  packages/cli-lib/tests/unit/extract-concurrency.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/cli-lib): fail extraction on input read errors
  docs/src/docs/tooling/cli.mdx
  knowledge-base/009-package-developer-tools.md
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/extract.ts
  packages/cli-lib/tests/unit/abort_signal.test.ts
  packages/cli-lib/tests/unit/extract-concurrency.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

perf(@formatjs/cli-lib): delegate file extraction to Rust
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli_napi/src/lib.rs
  docs/src/docs/tooling/cli.mdx
  knowledge-base/009-package-developer-tools.md
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/extract.ts
  packages/cli-lib/native.ts
  packages/cli-lib/tests/unit/extract-concurrency.test.ts
  packages/cli-lib/tests/unit/extract-native.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(formatjs_cli): fail extraction on input read errors
  crates/formatjs_cli/src/extract.rs
  docs/src/docs/tooling/cli.mdx
  knowledge-base/009-package-developer-tools.md
Due: format-oxfmt

revert(@formatjs/cli-lib): remove native file extraction fast path
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli_napi/src/lib.rs
  docs/src/docs/tooling/cli.mdx
  knowledge-base/009-package-developer-tools.md
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/extract.ts
  packages/cli-lib/native.ts
  packages/cli-lib/tests/unit/extract-concurrency.test.ts
  packages/cli-lib/tests/unit/extract-native.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/cli): prevent partial catalogs after read failures (#7497)
  crates/formatjs_cli/src/extract.rs
  docs/src/docs/tooling/cli.mdx
  knowledge-base/009-package-developer-tools.md
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/extract.ts
  packages/cli-lib/tests/unit/abort_signal.test.ts
  packages/cli-lib/tests/unit/extract-concurrency.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

test(@formatjs/intl-supportedvaluesof): separate cold polyfill setup
  packages/intl-supportedvaluesof/tests/polyfill-force.test.ts
Due: format-oxfmt, lint-staged

docs(@formatjs/intl): clarify parser-free bundles
  docs/src/docs/guides/advanced-usage.mdx
  docs/src/docs/intl-messageformat.mdx
  knowledge-base/006-package-icu-messageformat-parser.md
  packages/intl-messageformat/tests/index.test.ts
  packages/intl/BUILD.bazel
  packages/intl/tests/no-parser-bundle.mjs
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

docs(@formatjs/intl): use Vite alias example
  docs/src/docs/guides/advanced-usage.mdx
Due: format-oxfmt

test(@formatjs/intl): use TypeScript for bundle regression
  packages/intl/BUILD.bazel
  packages/intl/tests/no-parser-bundle.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen
