Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

format-package-json:
  run: pnpm syncpack fix-mismatches && pnpm syncpack format
  stage_fixed: true

format-oxfmt:
  run: pnpm oxfmt {staged_files}
  stage_fixed: true

format-starlark:
  run: 'set -- {staged_files}
  
    bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
  
    '
  stage_fixed: true

lint-staged:
  run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
  stage_fixed: true

bazel-lock-regen:
  run: bazel mod deps
  stage_fixed: true

fix(@formatjs/intl): preserve process.env.NODE_ENV check in bundled output
  tools/rolldown-bundle.ts
Due: format-oxfmt, lint-staged

docs: use @knowledge-base/ references in CLAUDE.md
  CLAUDE.md
Due: none

test(@formatjs/intl): add asset test for process.env.NODE_ENV preservation
  packages/intl/BUILD.bazel
  tools/BUILD.bazel
  tools/check_node_env_preserved.ts
  tools/index.bzl
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

docs: use @knowledge-base/ references in CLAUDE.md (#6430)
  CLAUDE.md
Due: none

test(@formatjs/intl): add ast-grep binary toolchain and NODE_ENV asset test
  BUILD.bazel
  MODULE.bazel
  lefthook.yml
  package.json
  packages/intl/BUILD.bazel
  pnpm-lock.yaml
  tools/BUILD.bazel
  tools/ast_grep.BUILD
  tools/ast_grep.bzl
  tools/ast_grep_test.sh
  tools/check_node_env_preserved.ts
  tools/index.bzl
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore(deps): simplify test script to use lefthook
  package.json
Due: bazel-lock-regen

chore(deps): gazelle:ignore tools/ to prevent auto-generated formatjs_library
  tools/BUILD.bazel
Due: format-starlark, bazel-lock-regen

fix(@formatjs/intl): preserve process.env.NODE_ENV check in bundled output (#6429)
  BUILD.bazel
  MODULE.bazel
  lefthook.yml
  package.json
  packages/intl/BUILD.bazel
  pnpm-lock.yaml
  tools/BUILD.bazel
  tools/ast_grep.BUILD
  tools/ast_grep.bzl
  tools/ast_grep_test.sh
  tools/rolldown-bundle.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

test(@formatjs/intl-localematcher): add fixture-based locale matching conformance tests
  conformance-tests/icu4j/BUILD.bazel
  conformance-tests/icu4j/ICUConformanceTest.java
  packages/intl-localematcher/conformance-tests/BUILD.bazel
  packages/intl-localematcher/conformance-tests/conformance.test.ts
  packages/intl-localematcher/conformance-tests/locale-match-fixtures.json
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-localematcher): latin american locales match es-419 correctly
  conformance-tests/icu4j/ICUConformanceTest.java
  packages/intl-localematcher/abstract/utils.ts
  packages/intl-localematcher/tests/BestFitMatcher.test.ts
  packages/intl-localematcher/tests/index.test.ts
  packages/intl-localematcher/tests/utils.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-localematcher): fix conformance-tests BUILD and add perf test
  packages/intl-localematcher/conformance-tests/BUILD.bazel
  packages/intl-localematcher/conformance-tests/benchmark.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-localematcher): add gazelle:ignore to conformance-tests BUILD
  packages/intl-localematcher/conformance-tests/BUILD.bazel
Due: format-starlark, bazel-lock-regen

fix(@formatjs/intl-localematcher): move conformance tests into tests/ dir
  conformance-tests/icu4j/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  packages/intl-localematcher/conformance-tests/BUILD.bazel
  packages/intl-localematcher/tests/benchmark.test.ts
  packages/intl-localematcher/tests/conformance.test.ts
  packages/intl-localematcher/tests/locale-match-fixtures.json
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-localematcher): remove duplicate data entry in BUILD
  packages/intl-localematcher/BUILD.bazel
Due: format-starlark, bazel-lock-regen

fix(@formatjs/intl-localematcher): latin american locales match es-419 correctly (#6431)
  conformance-tests/icu4j/BUILD.bazel
  conformance-tests/icu4j/ICUConformanceTest.java
  packages/intl-localematcher/BUILD.bazel
  packages/intl-localematcher/abstract/utils.ts
  packages/intl-localematcher/tests/BestFitMatcher.test.ts
  packages/intl-localematcher/tests/benchmark.test.ts
  packages/intl-localematcher/tests/conformance.test.ts
  packages/intl-localematcher/tests/index.test.ts
  packages/intl-localematcher/tests/locale-match-fixtures.json
  packages/intl-localematcher/tests/utils.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/ts-transformer): include source location in extraction warnings
  crates/formatjs_cli/src/extractor.rs
  packages/ts-transformer/transform.ts
Due: format-oxfmt, lint-staged

test(@formatjs/ts-transformer): add unit tests for source location in extraction errors
  crates/formatjs_cli/src/extractor.rs
  packages/ts-transformer/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/ts-transformer): include source location in extraction warnings (#6432)
  crates/formatjs_cli/src/extractor.rs
  packages/ts-transformer/tests/index.test.ts
  packages/ts-transformer/transform.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/ts-transformer): restore ts-jest-integration import broken by exports field
  packages/ts-transformer/package.json
Due: format-package-json

feat(@formatjs/intl-datetimeformat): update IANA timezone database to 2026b
  packages/intl-datetimeformat/index.bzl
  packages/intl-datetimeformat/tz_data.tar.gz
Due: format-starlark

feat(@formatjs/intl-datetimeformat): update IANA timezone database to 2026b (#6436)
  packages/intl-datetimeformat/index.bzl
  packages/intl-datetimeformat/tz_data.tar.gz
Due: format-starlark

fix(@formatjs/ts-transformer): restore ts-jest-integration subpath export
  MODULE.bazel.lock
  packages/ts-transformer/BUILD.bazel
  packages/ts-transformer/integration-tests/integration/jest.config.js
  packages/ts-transformer/package.json
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/ts-transformer): restore ts-jest-integration subpath export (#6437)
  MODULE.bazel.lock
  packages/ts-transformer/BUILD.bazel
  packages/ts-transformer/integration-tests/integration/jest.config.js
  packages/ts-transformer/package.json
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore: [bazel] Move rust usage to rules_rs
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/RELEASE.md
  crates/formatjs_cli/platforms/BUILD.bazel
  crates/icu_messageformat_parser/BUILD.bazel
  crates/icu_messageformat_parser/README.md
  crates/icu_skeleton_parser/BUILD.bazel
  crates/ts_import_extractor/BUILD.bazel
  knowledge-base/001a-bazel-toolchain.md
  packages/icu-messageformat-parser/integration-tests/BUILD.bazel
  platforms/BUILD.bazel
  third_party/rules_rust_wasm_bindgen/BUILD.bazel
  third_party/rules_rust_wasm_bindgen/use_rules_rs.patch
Due: format-oxfmt, format-starlark, bazel-lock-regen

build: migrate Rust toolchain from rules_rust to rules_rs (#6423)
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/RELEASE.md
  crates/formatjs_cli/platforms/BUILD.bazel
  crates/icu_messageformat_parser/BUILD.bazel
  crates/icu_messageformat_parser/README.md
  crates/icu_skeleton_parser/BUILD.bazel
  crates/ts_import_extractor/BUILD.bazel
  knowledge-base/001a-bazel-toolchain.md
  packages/icu-messageformat-parser/integration-tests/BUILD.bazel
  platforms/BUILD.bazel
  third_party/rules_rust_wasm_bindgen/BUILD.bazel
  third_party/rules_rust_wasm_bindgen/use_rules_rs.patch
Due: format-oxfmt, format-starlark, bazel-lock-regen

build(deps): bump gazelle_plugins to HEAD with prebuilt import-extractor
  BUILD.bazel
  MODULE.bazel
  MODULE.bazel.lock
  third_party/gazelle_plugins/dev_dependency_extensions.patch
Due: bazel-lock-regen

build(deps): bump rust toolchain to 1.95.0 to align with gazelle_plugins
  MODULE.bazel
  MODULE.bazel.lock
  third_party/gazelle_plugins/dev_dependency_extensions.patch
Due: bazel-lock-regen

build(deps): revert rust toolchain bump; restore patch toolchain block
  MODULE.bazel
  MODULE.bazel.lock
  third_party/gazelle_plugins/dev_dependency_extensions.patch
Due: bazel-lock-regen

build(deps): bump gazelle_plugins to 4cabf84, drop patch
  MODULE.bazel
  MODULE.bazel.lock
  third_party/gazelle_plugins/BUILD.bazel
  third_party/gazelle_plugins/dev_dependency_extensions.patch
Due: format-starlark, bazel-lock-regen

build(deps): restore use_repo(crate, "rrprd") in MODULE.bazel
  MODULE.bazel
Due: bazel-lock-regen

build(deps): point --extra_execution_platforms at buildbuddy_linux_x86_64_gnu
  .bazelrc
Due: none

build(deps): bump rust to 1.95.0 + register llvm wasm toolchains
  MODULE.bazel
  MODULE.bazel.lock
Due: bazel-lock-regen

build(deps): bump rules_rs to 0.0.61 to fix wasm cross-compile
  MODULE.bazel
  MODULE.bazel.lock
  crates/formatjs_cli/platforms/BUILD.bazel
  crates/icu_messageformat_parser/BUILD.bazel
  platforms/BUILD.bazel
  third_party/gazelle_plugins/BUILD.bazel
  third_party/gazelle_plugins/rules_rs_paths.patch
Due: format-starlark, bazel-lock-regen

build(deps): update wasm-bindgen patch to rules_rs 0.0.61 platform path
  third_party/rules_rust_wasm_bindgen/use_rules_rs.patch
Due: none

build(deps): bump gazelle_ts to v0.2.0; drop gazelle_plugins patch
  BUILD.bazel
  MODULE.bazel
  MODULE.bazel.lock
  third_party/gazelle_plugins/BUILD.bazel
  third_party/gazelle_plugins/rules_rs_paths.patch
Due: format-starlark, bazel-lock-regen

build(deps): restore @llvm//toolchain:all per rules_rs paved path
  MODULE.bazel
Due: bazel-lock-regen

build(deps): drop wasm cross-compile + register full @llvm//toolchain:all
  Cargo.lock
  MODULE.bazel
  MODULE.bazel.lock
  crates/icu_messageformat_parser/BUILD.bazel
  crates/icu_messageformat_parser/Cargo.toml
  crates/icu_messageformat_parser/lib_wasm.rs
  third_party/rules_rust_wasm_bindgen/BUILD.bazel
  third_party/rules_rust_wasm_bindgen/use_rules_rs.patch
Due: format-oxfmt, format-starlark, bazel-lock-regen

build(deps): drop @llvm//toolchain:all registration
  MODULE.bazel
Due: bazel-lock-regen

Path conditions:
  format-package-json: any of: **/package.json
  format-oxfmt: any of: **/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}, but not: **/locale-data/**, **/package.json, **/CHANGELOG.md, packages/cli-lib/tests/extract/typescript/err.tsx, packages/cli/integration-tests/extract/typescript/err.tsx
  format-starlark: any of: **/*.{bazel,bzl,BUILD}
  lint-staged: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}
  bazel-lock-regen: any of: pnpm-lock.yaml, package.json, pnpm-workspace.yaml, *.bazel
