Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

lefthook.yml:

# Lefthook configuration
# Docs: https://github.com/evilmartians/lefthook

# Skip lefthook when LEFTHOOK=0 environment variable is set
# This is equivalent to husky's HUSKY=0 for CI/CD pipelines
skip_output:
  - meta
  - summary

pre-commit:
  parallel: false
  commands:
    format-package-json:
      glob: "**/package.json"
      run: pnpm syncpack fix-mismatches && pnpm syncpack format
      stage_fixed: true
    format-oxfmt:
      glob: "**/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}"
      run: pnpm oxfmt {staged_files}
      stage_fixed: true
      exclude:
        - '**/locale-data/**'
        - '**/package.json'
        - '**/CHANGELOG.md'
        - 'packages/cli-lib/tests/extract/typescript/err.tsx'
        - 'packages/cli/integration-tests/extract/typescript/err.tsx'
    format-starlark:
      glob: "**/*.{bazel,bzl,BUILD}"
      run: |
        set -- {staged_files}
        bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
      stage_fixed: true
    lint-staged:
      glob: '**/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}'
      run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
      stage_fixed: true
    bazel-lock-regen:
      glob:
        - "pnpm-lock.yaml"
        - "package.json"
        - "pnpm-workspace.yaml"
        - "*.bazel"
      run: bazel mod deps
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

docs: update polyfills docs
  MODULE.bazel.lock
  docs/src/docs/getting-started/application-workflow.mdx
  docs/src/docs/getting-started/message-declaration.mdx
  docs/src/docs/getting-started/message-distribution.mdx
  docs/src/docs/getting-started/message-extraction.mdx
  docs/src/docs/guides/advanced-usage.mdx
  docs/src/docs/guides/bundler-plugins.mdx
  docs/src/docs/guides/develop.mdx
  docs/src/docs/guides/distribute-libraries.mdx
  docs/src/docs/guides/runtime-requirements.mdx
  docs/src/docs/guides/testing-with-react-intl.mdx
  docs/src/docs/icu-messageformat-parser.mdx
  docs/src/docs/intl-messageformat.mdx
  docs/src/docs/intl.mdx
  docs/src/docs/polyfills.mdx
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  docs/src/docs/polyfills/intl-displaynames.mdx
  docs/src/docs/polyfills/intl-durationformat.mdx
  docs/src/docs/polyfills/intl-listformat.mdx
  docs/src/docs/polyfills/intl-locale.mdx
  docs/src/docs/polyfills/intl-numberformat.mdx
  docs/src/docs/polyfills/intl-pluralrules.mdx
  docs/src/docs/polyfills/intl-relativetimeformat.mdx
  docs/src/docs/polyfills/intl-segmenter.mdx
  docs/src/docs/react-intl.mdx
  docs/src/docs/react-intl/api.mdx
  docs/src/docs/react-intl/components.mdx
  docs/src/docs/react-intl/upgrade-guide-2.x.mdx
  docs/src/docs/react-intl/upgrade-guide-3.x.mdx
  docs/src/docs/tooling/cli.mdx
  docs/src/docs/tooling/linter.mdx
  docs/src/docs/tooling/rust-icu-messageformat-parser.mdx
  docs/src/docs/tooling/rust-icu-skeleton-parser.mdx
  docs/src/docs/vue-intl.mdx
Due: format-oxfmt

docs: update polyfills docs (#5926)
  MODULE.bazel.lock
  docs/src/docs/getting-started/application-workflow.mdx
  docs/src/docs/getting-started/message-declaration.mdx
  docs/src/docs/getting-started/message-distribution.mdx
  docs/src/docs/getting-started/message-extraction.mdx
  docs/src/docs/guides/advanced-usage.mdx
  docs/src/docs/guides/bundler-plugins.mdx
  docs/src/docs/guides/develop.mdx
  docs/src/docs/guides/distribute-libraries.mdx
  docs/src/docs/guides/runtime-requirements.mdx
  docs/src/docs/guides/testing-with-react-intl.mdx
  docs/src/docs/icu-messageformat-parser.mdx
  docs/src/docs/intl-messageformat.mdx
  docs/src/docs/intl.mdx
  docs/src/docs/polyfills.mdx
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  docs/src/docs/polyfills/intl-displaynames.mdx
  docs/src/docs/polyfills/intl-durationformat.mdx
  docs/src/docs/polyfills/intl-listformat.mdx
  docs/src/docs/polyfills/intl-locale.mdx
  docs/src/docs/polyfills/intl-numberformat.mdx
  docs/src/docs/polyfills/intl-pluralrules.mdx
  docs/src/docs/polyfills/intl-relativetimeformat.mdx
  docs/src/docs/polyfills/intl-segmenter.mdx
  docs/src/docs/react-intl.mdx
  docs/src/docs/react-intl/api.mdx
  docs/src/docs/react-intl/components.mdx
  docs/src/docs/react-intl/upgrade-guide-2.x.mdx
  docs/src/docs/react-intl/upgrade-guide-3.x.mdx
  docs/src/docs/tooling/cli.mdx
  docs/src/docs/tooling/linter.mdx
  docs/src/docs/tooling/rust-icu-messageformat-parser.mdx
  docs/src/docs/tooling/rust-icu-skeleton-parser.mdx
  docs/src/docs/vue-intl.mdx
Due: format-oxfmt

docs: convert rich text formatting to static example, fix #4360
  docs/src/docs/core-concepts/icu-syntax.mdx
Due: format-oxfmt

build: rm pinned dep
  MODULE.bazel.lock
  package.json
  pnpm-lock.yaml
Due: bazel-lock-regen

build: rm pinned dep (#5928)
  MODULE.bazel.lock
  package.json
  pnpm-lock.yaml
Due: bazel-lock-regen

docs: convert rich text formatting to static example, fix #4360 (#5930)
  docs/src/docs/core-concepts/icu-syntax.mdx
Due: format-oxfmt

build: fix release workflow name
  .github/workflows/release.yml
Due: format-oxfmt

test(@formatjs/intl-datetimeformat): add test for #4270
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/tests/format.test.ts
  packages/intl-datetimeformat/tests/locale-data/bs.json
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

build: fix release workflow name (#5934)
  .github/workflows/release.yml
Due: format-oxfmt

test(@formatjs/intl-datetimeformat): add test for #4270 (#5931)
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/tests/format.test.ts
  packages/intl-datetimeformat/tests/locale-data/bs.json
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/cli-lib): add missing options to compile-folder command, fix #4200
  packages/cli-lib/src/cli.ts
  rust/formatjs_cli/src/compile_folder.rs
  rust/formatjs_cli/src/main.rs
Due: format-oxfmt, lint-staged

docs: add MISSING_OTHER_CLAUSE error to development guide, fix #4052
  docs/src/docs/guides/develop.mdx
  packages/cli/integration-tests/compile_folder/__snapshots__/integration.test.ts.snap
  packages/cli/integration-tests/compile_folder/integration.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl): remove hot path optimization to fix escaped character handling, fix #4973
  packages/intl/src/message.ts
  packages/intl/tests/formatMessage.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/ts-transformer): add file and line info to flatten errors, fix #4161
  packages/babel-plugin-formatjs/tests/fixtures/flattenError.js
  packages/babel-plugin-formatjs/tests/index.test.ts
  packages/babel-plugin-formatjs/utils.ts
  packages/ts-transformer/src/transform.ts
  packages/ts-transformer/tests/fixtures/flattenError.tsx
  packages/ts-transformer/tests/index.test.ts
  rust/formatjs_cli/src/extractor.rs
  rust/icu_messageformat_parser/lib.rs
  rust/icu_messageformat_parser/manipulator.rs
Due: format-oxfmt, lint-staged

chore(deps): update dependency @types/node to v22.19.7 (#5861)
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update dependency @typescript/native-preview to v7.0.0-dev.20260117.1 (#5937)
  package.json
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update dependency aspect_rules_js to v2.9.2 (#5943)
  MODULE.bazel
Due: bazel-lock-regen

chore(deps): update dependency @typescript/native-preview to v7.0.0-dev.20260118.1 (#5942)
  package.json
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update lerna-lite monorepo to v4.11.0 (#5846)
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update dependency @bazel/bazelisk to v1.28.0 (#5935)
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update dependency happy-dom to v20.3.1 (#5936)
  pnpm-lock.yaml
Due: bazel-lock-regen

build: fix deps
  .github/workflows/tests-karma.yml.bak
  BUILD.bazel
  MODULE.bazel.lock
  README.md
  karma.conf.js
  package.json
  packages/cli-lib/package.json
  packages/cli/package.json
  packages/intl-messageformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  pnpm-lock.yaml
Due: format-package-json, format-starlark, bazel-lock-regen

build: fix deps (#5949)
  .github/workflows/tests-karma.yml.bak
  BUILD.bazel
  MODULE.bazel.lock
  README.md
  karma.conf.js
  package.json
  packages/cli-lib/package.json
  packages/cli/package.json
  packages/intl-messageformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  pnpm-lock.yaml
Due: format-package-json, format-starlark, bazel-lock-regen

build: fix deps
  .syncpackrc.json
  MODULE.bazel.lock
Due: none

fix(@formatjs/cli-lib): remove ember-template-recast dep
  MODULE.bazel.lock
  package.json
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/package.json
  packages/cli-lib/src/hbs_extractor.ts
  packages/cli-lib/tests/unit/__snapshots__/gts_extractor.test.ts.snap
  packages/cli-lib/tests/unit/__snapshots__/hbs_extractor.test.ts.snap
  packages/cli-lib/tests/unit/__snapshots__/vue_extractor.test.ts.snap
  packages/cli-lib/tests/unit/gts_extractor.test.ts
  packages/cli-lib/tests/unit/hbs_extractor.test.ts
  packages/cli-lib/tests/unit/vue_extractor.test.ts
  packages/cli/integration-tests/BUILD.bazel
  packages/cli/package.json
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/cli-lib): remove ember-template-recast dep (#5952)
  MODULE.bazel.lock
  package.json
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/package.json
  packages/cli-lib/src/hbs_extractor.ts
  packages/cli-lib/tests/unit/__snapshots__/gts_extractor.test.ts.snap
  packages/cli-lib/tests/unit/__snapshots__/hbs_extractor.test.ts.snap
  packages/cli-lib/tests/unit/__snapshots__/vue_extractor.test.ts.snap
  packages/cli-lib/tests/unit/gts_extractor.test.ts
  packages/cli-lib/tests/unit/hbs_extractor.test.ts
  packages/cli-lib/tests/unit/vue_extractor.test.ts
  packages/cli/integration-tests/BUILD.bazel
  packages/cli/package.json
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

build: rm unused deps
  MODULE.bazel.lock
  package.json
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update dependency @testing-library/react to v16.3.2 (#5955)
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update dependency happy-dom to v20.3.3 (#5954)
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update dependency @typescript/native-preview to v7.0.0-dev.20260119.1 (#5956)
  package.json
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update vue monorepo to v3.5.27 (#5959)
  package.json
  packages/cli-lib/package.json
  packages/cli/package.json
  packages/vue-intl/package.json
  pnpm-lock.yaml
Due: format-package-json, bazel-lock-regen

build: consolidate macos builds
  .github/workflows/rust-cli-test.yml
  .github/workflows/test.yml
Due: format-oxfmt

fix(eslint-plugin-formatjs): fix emoji false positives, fix #5957
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/emoji-utils.ts
  packages/eslint-plugin-formatjs/package.json
  packages/eslint-plugin-formatjs/tests/emoji-utils.test.ts
  packages/eslint-plugin-formatjs/tests/no-emoji.test.ts
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(eslint-plugin-formatjs): fix emoji false positives, fix #5957 (#5960)
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/emoji-utils.ts
  packages/eslint-plugin-formatjs/package.json
  packages/eslint-plugin-formatjs/tests/emoji-utils.test.ts
  packages/eslint-plugin-formatjs/tests/no-emoji.test.ts
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

build: add GHA to release
  .github/workflows/prerelease.yml
  MODULE.bazel.lock
  packages/eslint-plugin-formatjs/emoji-utils.ts
  packages/eslint-plugin-formatjs/tests/emoji-utils.test.ts
Due: format-oxfmt, lint-staged

chore(deps): update dependency @bazel/bazelisk to v1.28.1 (#5968)
  pnpm-lock.yaml
Due: bazel-lock-regen
