Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

lefthook.yml:

# Lefthook configuration
# Docs: https://github.com/evilmartians/lefthook

# Skip lefthook when LEFTHOOK=0 environment variable is set
# This is equivalent to husky's HUSKY=0 for CI/CD pipelines
skip_output:
  - meta
  - summary

pre-commit:
  parallel: false
  commands:
    format-package-json:
      glob: "**/package.json"
      run: pnpm syncpack fix-mismatches && pnpm syncpack format
      stage_fixed: true
    format-oxfmt:
      glob: "**/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}"
      run: pnpm oxfmt {staged_files}
      stage_fixed: true
      exclude:
        - '**/locale-data/**'
        - '**/package.json'
        - '**/CHANGELOG.md'
        - 'packages/cli-lib/tests/extract/typescript/err.tsx'
        - 'packages/cli/integration-tests/extract/typescript/err.tsx'
    format-starlark:
      glob: "**/*.{bazel,bzl,BUILD}"
      run: |
        set -- {staged_files}
        bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
      stage_fixed: true
    lint-staged:
      glob: '**/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}'
      run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
      stage_fixed: true
    bazel-lock-regen:
      glob:
        - "pnpm-lock.yaml"
        - "package.json"
        - "pnpm-workspace.yaml"
        - "*.bazel"
      run: bazel mod deps
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

chore: release main
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli_napi/Cargo.toml
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/CHANGELOG.md
  packages/cli-native-darwin-arm64/BUILD.bazel
  packages/cli-native-darwin-arm64/CHANGELOG.md
  packages/cli-native-linux-arm64-musl/BUILD.bazel
  packages/cli-native-linux-arm64-musl/CHANGELOG.md
  packages/cli-native-linux-arm64/BUILD.bazel
  packages/cli-native-linux-arm64/CHANGELOG.md
  packages/cli-native-linux-x64-musl/BUILD.bazel
  packages/cli-native-linux-x64-musl/CHANGELOG.md
  packages/cli-native-linux-x64/BUILD.bazel
  packages/cli-native-linux-x64/CHANGELOG.md
  packages/cli-native-win32-x64/BUILD.bazel
  packages/cli-native-win32-x64/CHANGELOG.md
  packages/cli/BUILD.bazel
  packages/cli/CHANGELOG.md
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/CHANGELOG.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

chore: release main (#6770)
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli_napi/Cargo.toml
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/CHANGELOG.md
  packages/cli-native-darwin-arm64/BUILD.bazel
  packages/cli-native-darwin-arm64/CHANGELOG.md
  packages/cli-native-linux-arm64-musl/BUILD.bazel
  packages/cli-native-linux-arm64-musl/CHANGELOG.md
  packages/cli-native-linux-arm64/BUILD.bazel
  packages/cli-native-linux-arm64/CHANGELOG.md
  packages/cli-native-linux-x64-musl/BUILD.bazel
  packages/cli-native-linux-x64-musl/CHANGELOG.md
  packages/cli-native-linux-x64/BUILD.bazel
  packages/cli-native-linux-x64/CHANGELOG.md
  packages/cli-native-win32-x64/BUILD.bazel
  packages/cli-native-win32-x64/CHANGELOG.md
  packages/cli/BUILD.bazel
  packages/cli/CHANGELOG.md
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/CHANGELOG.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

fix(@formatjs/intl-durationformat): respect numberingSystem option
  knowledge-base/007g-polyfill-intl-durationformat.md
  packages/intl-durationformat/abstract/PartitionDurationFormatPattern.ts
  packages/intl-durationformat/core.ts
  packages/intl-durationformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-durationformat): respect numberingSystem option (#6795)
  knowledge-base/007g-polyfill-intl-durationformat.md
  packages/intl-durationformat/abstract/PartitionDurationFormatPattern.ts
  packages/intl-durationformat/core.ts
  packages/intl-durationformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(babel-plugin-formatjs): respect throws false for extraction errors
  docs/src/docs/tooling/babel-plugin.mdx
  packages/babel-plugin-formatjs/tests/fixtures/throwsFalse.js
  packages/babel-plugin-formatjs/tests/index.test.ts
  packages/babel-plugin-formatjs/types.ts
  packages/babel-plugin-formatjs/visitors/call-expression.ts
  packages/babel-plugin-formatjs/visitors/jsx-opening-element.ts
Due: format-oxfmt, lint-staged

fix(babel-plugin-formatjs): respect throws false for extraction errors (#6798)
  docs/src/docs/tooling/babel-plugin.mdx
  packages/babel-plugin-formatjs/tests/fixtures/throwsFalse.js
  packages/babel-plugin-formatjs/tests/index.test.ts
  packages/babel-plugin-formatjs/types.ts
  packages/babel-plugin-formatjs/visitors/call-expression.ts
  packages/babel-plugin-formatjs/visitors/jsx-opening-element.ts
Due: format-oxfmt, lint-staged

chore: release main
  .release-please-manifest.json
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/babel-plugin-formatjs/CHANGELOG.md
  packages/intl-durationformat/BUILD.bazel
  packages/intl-durationformat/CHANGELOG.md
Due: format-starlark, bazel-lock-regen

chore: release main (#6797)
  .release-please-manifest.json
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/babel-plugin-formatjs/CHANGELOG.md
  packages/intl-durationformat/BUILD.bazel
  packages/intl-durationformat/CHANGELOG.md
Due: format-starlark, bazel-lock-regen

fix(@formatjs/icu-messageformat-parser): print plural/select branches in canonical order
  packages/icu-messageformat-parser/printer.ts
  packages/icu-messageformat-parser/tests/__snapshots__/manipulator.test.ts.snap
  packages/icu-messageformat-parser/tests/printer.test.ts
  packages/unplugin/conformance-tests/cli-unplugin-conformance.test.ts
Due: format-oxfmt, lint-staged

fix(react-intl): support react 18 peer range
  MODULE.bazel
  packages/react-intl/BUILD.bazel
  packages/react-intl/index.ts
  packages/react-intl/tests/react18-typecheck/BUILD.bazel
  packages/react-intl/tests/react18-typecheck/package.json
  packages/react-intl/tests/react18-typecheck/pnpm-lock.yaml
  packages/react-intl/tests/react18-typecheck/pnpm-workspace.yaml
  packages/react-intl/tests/react18-typecheck/src/index.tsx
  packages/react-intl/tests/react18-typecheck/tsconfig.bazel.json
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(react-intl): support react 18 peer range (#6800)
  MODULE.bazel
  packages/react-intl/BUILD.bazel
  packages/react-intl/index.ts
  packages/react-intl/tests/react18-typecheck/BUILD.bazel
  packages/react-intl/tests/react18-typecheck/package.json
  packages/react-intl/tests/react18-typecheck/pnpm-lock.yaml
  packages/react-intl/tests/react18-typecheck/pnpm-workspace.yaml
  packages/react-intl/tests/react18-typecheck/src/index.tsx
  packages/react-intl/tests/react18-typecheck/tsconfig.bazel.json
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/icu-messageformat-parser): match rust select key sorting
  packages/icu-messageformat-parser/printer.ts
  packages/icu-messageformat-parser/tests/printer.test.ts
  packages/unplugin/conformance-tests/cli-unplugin-conformance.test.ts
Due: format-oxfmt, lint-staged

test(react-intl): add React 17 typecheck fixture
  MODULE.bazel
  packages/react-intl/tests/react17-typecheck/BUILD.bazel
  packages/react-intl/tests/react17-typecheck/package.json
  packages/react-intl/tests/react17-typecheck/pnpm-lock.yaml
  packages/react-intl/tests/react17-typecheck/pnpm-workspace.yaml
  packages/react-intl/tests/react17-typecheck/src/index.tsx
  packages/react-intl/tests/react17-typecheck/tsconfig.bazel.json
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

test(react-intl): add React 17 typecheck fixture (#6805)
  MODULE.bazel
  packages/react-intl/tests/react17-typecheck/BUILD.bazel
  packages/react-intl/tests/react17-typecheck/package.json
  packages/react-intl/tests/react17-typecheck/pnpm-lock.yaml
  packages/react-intl/tests/react17-typecheck/pnpm-workspace.yaml
  packages/react-intl/tests/react17-typecheck/src/index.tsx
  packages/react-intl/tests/react17-typecheck/tsconfig.bazel.json
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

test(react-intl): add React 16.8 typecheck fixture
  MODULE.bazel
  packages/react-intl/tests/react16-8-typecheck/BUILD.bazel
  packages/react-intl/tests/react16-8-typecheck/package.json
  packages/react-intl/tests/react16-8-typecheck/pnpm-lock.yaml
  packages/react-intl/tests/react16-8-typecheck/pnpm-workspace.yaml
  packages/react-intl/tests/react16-8-typecheck/src/index.tsx
  packages/react-intl/tests/react16-8-typecheck/tsconfig.bazel.json
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

test(react-intl): add React 16.8 typecheck fixture (#6806)
  MODULE.bazel
  packages/react-intl/tests/react16-8-typecheck/BUILD.bazel
  packages/react-intl/tests/react16-8-typecheck/package.json
  packages/react-intl/tests/react16-8-typecheck/pnpm-lock.yaml
  packages/react-intl/tests/react16-8-typecheck/pnpm-workspace.yaml
  packages/react-intl/tests/react16-8-typecheck/src/index.tsx
  packages/react-intl/tests/react16-8-typecheck/tsconfig.bazel.json
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(react-intl): support React 18+ consumers
  MODULE.bazel
  packages/react-intl/BUILD.bazel
  packages/react-intl/integration-tests/BUILD.bazel
  packages/react-intl/integration-tests/react_consumer_smoke_test.ts
  packages/react-intl/tests/react16-8-typecheck/BUILD.bazel
  packages/react-intl/tests/react16-8-typecheck/package.json
  packages/react-intl/tests/react16-8-typecheck/pnpm-lock.yaml
  packages/react-intl/tests/react16-8-typecheck/pnpm-workspace.yaml
  packages/react-intl/tests/react16-8-typecheck/src/index.tsx
  packages/react-intl/tests/react16-8-typecheck/tsconfig.bazel.json
  packages/react-intl/tests/react17-typecheck/BUILD.bazel
  packages/react-intl/tests/react17-typecheck/package.json
  packages/react-intl/tests/react17-typecheck/pnpm-lock.yaml
  packages/react-intl/tests/react17-typecheck/pnpm-workspace.yaml
  packages/react-intl/tests/react17-typecheck/src/index.tsx
  packages/react-intl/tests/react17-typecheck/tsconfig.bazel.json
  packages/react-intl/tests/react18-typecheck/BUILD.bazel
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(react-intl): support React 18+ consumers (#6807)
  MODULE.bazel
  packages/react-intl/BUILD.bazel
  packages/react-intl/integration-tests/BUILD.bazel
  packages/react-intl/integration-tests/react_consumer_smoke_test.ts
  packages/react-intl/tests/react16-8-typecheck/BUILD.bazel
  packages/react-intl/tests/react16-8-typecheck/package.json
  packages/react-intl/tests/react16-8-typecheck/pnpm-lock.yaml
  packages/react-intl/tests/react16-8-typecheck/pnpm-workspace.yaml
  packages/react-intl/tests/react16-8-typecheck/src/index.tsx
  packages/react-intl/tests/react16-8-typecheck/tsconfig.bazel.json
  packages/react-intl/tests/react17-typecheck/BUILD.bazel
  packages/react-intl/tests/react17-typecheck/package.json
  packages/react-intl/tests/react17-typecheck/pnpm-lock.yaml
  packages/react-intl/tests/react17-typecheck/pnpm-workspace.yaml
  packages/react-intl/tests/react17-typecheck/src/index.tsx
  packages/react-intl/tests/react17-typecheck/tsconfig.bazel.json
  packages/react-intl/tests/react18-typecheck/BUILD.bazel
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/icu-messageformat-parser): print plural/select branches in canonical order (#6802)
  packages/icu-messageformat-parser/printer.ts
  packages/icu-messageformat-parser/tests/__snapshots__/manipulator.test.ts.snap
  packages/icu-messageformat-parser/tests/printer.test.ts
  packages/unplugin/conformance-tests/cli-unplugin-conformance.test.ts
Due: format-oxfmt, lint-staged

chore(deps): update dependency esbuild to v0.28.1 [security]
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update pnpm to v11.8.0
  .github/workflows/release.yml
  examples/rescripts/package.json
  examples/strict-locale-type/package.json
  examples/strict-message-types/package.json
  package.json
  packages/react-intl/tests/react18-typecheck/package.json
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, bazel-lock-regen

chore(deps): update dependency semver to v7.8.4
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update dependency @vue/test-utils to v2.4.11
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update dependency oxlint to v1.70.0
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update dependency lucide-react to v1.21.0
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update dependency happy-dom to v20.10.6
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update dependency @typescript/native-preview to v7.0.0-dev.20260618.1
  package.json
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update dependency ts-loader to v9.6.1
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update dependency svelte to v5.56.3
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update dependency @rspack/core to v2.0.8
  pnpm-lock.yaml
Due: bazel-lock-regen

build(deps): bump esbuild from 0.28.0 to 0.28.1
  package.json
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update dependency rollup to v4.62.0
  pnpm-lock.yaml
Due: bazel-lock-regen

build(deps): bump vite from 8.0.0 to 8.1.0
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update dependency @unicode/unicode-17.0.0 to v1.6.17
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update dependency rolldown to v1.1.2
  package.json
  pnpm-lock.yaml
Due: bazel-lock-regen

chore: release main
  .release-please-manifest.json
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/babel-plugin-formatjs/CHANGELOG.md
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/CHANGELOG.md
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/CHANGELOG.md
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-messageformat-parser/CHANGELOG.md
  packages/intl-messageformat/BUILD.bazel
  packages/intl-messageformat/CHANGELOG.md
  packages/intl/BUILD.bazel
  packages/intl/CHANGELOG.md
  packages/react-intl/BUILD.bazel
  packages/react-intl/CHANGELOG.md
  packages/svelte-intl/BUILD.bazel
  packages/svelte-intl/CHANGELOG.md
  packages/ts-transformer/BUILD.bazel
  packages/ts-transformer/CHANGELOG.md
  packages/unplugin/BUILD.bazel
  packages/unplugin/CHANGELOG.md
  packages/vue-intl/BUILD.bazel
  packages/vue-intl/CHANGELOG.md
Due: format-starlark, bazel-lock-regen

chore: release main (#6804)
  .release-please-manifest.json
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/babel-plugin-formatjs/CHANGELOG.md
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/CHANGELOG.md
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/CHANGELOG.md
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-messageformat-parser/CHANGELOG.md
  packages/intl-messageformat/BUILD.bazel
  packages/intl-messageformat/CHANGELOG.md
  packages/intl/BUILD.bazel
  packages/intl/CHANGELOG.md
  packages/react-intl/BUILD.bazel
  packages/react-intl/CHANGELOG.md
  packages/svelte-intl/BUILD.bazel
  packages/svelte-intl/CHANGELOG.md
  packages/ts-transformer/BUILD.bazel
  packages/ts-transformer/CHANGELOG.md
  packages/unplugin/BUILD.bazel
  packages/unplugin/CHANGELOG.md
  packages/vue-intl/BUILD.bazel
  packages/vue-intl/CHANGELOG.md
Due: format-starlark, bazel-lock-regen

docs: update upgrade guide to reflect relaxed React 18 support in v10.1.14
  docs/src/docs/react-intl/upgrade-guide-8.x.mdx
Due: format-oxfmt

chore(deps): fix pnpm install warnings
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: bazel-lock-regen

chore(deps): fix pnpm install warnings (#6833)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: bazel-lock-regen
