Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

format-package-json:
  run: pnpm syncpack fix-mismatches && pnpm syncpack format
  stage_fixed: true

format-oxfmt:
  run: pnpm oxfmt {staged_files}
  stage_fixed: true

format-starlark:
  run: 'set -- {staged_files}
  
    bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
  
    '
  stage_fixed: true

lint-staged:
  run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
  stage_fixed: true

bazel-lock-regen:
  run: bazel mod deps
  stage_fixed: true

chore(deps): update Bazel lockfile
  MODULE.bazel.lock
Due: none

fix: address unpublished crate review feedback
  tools/release-please/cargo-workspace-plugin.test.ts
  tools/release-please/cargo-workspace-plugin.ts
  tools/release-please/run.ts
Due: format-oxfmt, lint-staged

fix: handle Cargo publish and merge options (#6993)
  tools/release-please/cargo-workspace-plugin.test.ts
  tools/release-please/cargo-workspace-plugin.ts
  tools/release-please/run.ts
Due: format-oxfmt, lint-staged

chore(deps): update Bazel lockfile for quote
  MODULE.bazel.lock
Due: none

chore(deps): update Bazel lockfile for syn
  MODULE.bazel.lock
Due: none

chore(deps): update Bazel lockfile for rolldown
  MODULE.bazel.lock
Due: none

chore(deps): update Bazel lockfile for eslint
  MODULE.bazel.lock
Due: none

fix(deps): align react-intl peer versions
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): sync Bazel lockfile for codescythe
  MODULE.bazel.lock
Due: none

feat: support Rust extraction sources (#95)
  rules/formatjs/README.md
  rules/formatjs/formatjs/extract.bzl
  rules/formatjs/tests/arguments/BUILD.bazel
  rules/formatjs/tests/arguments/fixtures/messages_rust.json
  rules/formatjs/tests/arguments/test.rs
Due: format-oxfmt, format-starlark, bazel-lock-regen

chore(main): release 0.11.0 (#94)
  rules/formatjs/.release-please-manifest.json
  rules/formatjs/CHANGELOG.md
  rules/formatjs/version.txt
Due: format-oxfmt

fix(formatjs_cli): fail on input resolution errors
  crates/formatjs_cli/README.md
  crates/formatjs_cli/src/extract.rs
  docs/src/docs/tooling/cli.mdx
  knowledge-base/003-rust-crate-dependency-hierarchy.md
Due: format-oxfmt

fix(formatjs_cli): validate all extract inputs
  crates/formatjs_cli/src/extract.rs
Due: none

fix(formatjs_cli): fail on input resolution errors (#7005)
  crates/formatjs_cli/README.md
  crates/formatjs_cli/src/extract.rs
  docs/src/docs/tooling/cli.mdx
  knowledge-base/003-rust-crate-dependency-hierarchy.md
Due: format-oxfmt

fix: expose rules_formatjs Stardoc dependency
  rules/formatjs/MODULE.bazel
Due: format-starlark, bazel-lock-regen

chore: use monorepo tooling for rules_formatjs
  .bcr/rules/formatjs/metadata.template.json
  .bcr/rules/formatjs/presubmit.yml
  AGENTS.md
  CONTRIBUTING.md
  rules/formatjs/.bcr/README.md
  rules/formatjs/.bcr/config.yml
  rules/formatjs/.bcr/metadata.template.json
  rules/formatjs/.bcr/presubmit.yml
  rules/formatjs/.bcr/source.template.json
  rules/formatjs/.devcontainer/Dockerfile
  rules/formatjs/.devcontainer/devcontainer.json
  rules/formatjs/.github/workflows/BUILD.bazel
  rules/formatjs/.github/workflows/ci.bazelrc
  rules/formatjs/.github/workflows/ci.yaml
  rules/formatjs/.github/workflows/publish.yaml
  rules/formatjs/.github/workflows/release-please.yml
  rules/formatjs/.github/workflows/release.yaml
  rules/formatjs/.github/workflows/release_prep.sh
  rules/formatjs/.github/workflows/verify-hooks.yml
  rules/formatjs/.release-please-manifest.json
  rules/formatjs/.typos.toml
  rules/formatjs/AGENTS.md
  rules/formatjs/CONTRIBUTING.md
  rules/formatjs/README.md
  rules/formatjs/commitlint.config.mjs
  rules/formatjs/docs/releasing.md
  rules/formatjs/lefthook.yml
  rules/formatjs/package.json
  rules/formatjs/pnpm-lock.yaml
  rules/formatjs/pnpm-workspace.yaml
  rules/formatjs/release-please-config.json
  rules/formatjs/renovate.json
  rules/formatjs/test-all.sh
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

ci: reuse monorepo rules_formatjs checks
  .github/workflows/test.yml
  lefthook.yml
Due: format-oxfmt

ci: show staged hook changes
  .github/workflows/verify-hooks.yml
Due: format-oxfmt

chore: apply monorepo generators
  rules/formatjs/MODULE.bazel
  tools/rules_formatjs/BUILD.bazel
Due: format-starlark, bazel-lock-regen

feat(formatjs_intl): add extractable format_message macro
  crates/formatjs_cli/README.md
  crates/formatjs_cli/src/rust_extractor.rs
  crates/formatjs_intl/README.md
  crates/formatjs_intl/lib.rs
  docs/src/docs/rust/intl.mdx
  knowledge-base/003-rust-crate-dependency-hierarchy.md
  knowledge-base/008-package-intl-and-framework-integrations.md
Due: format-oxfmt

feat(formatjs_intl): add extractable format_message macro (#7018)
  crates/formatjs_cli/README.md
  crates/formatjs_cli/src/rust_extractor.rs
  crates/formatjs_intl/README.md
  crates/formatjs_intl/lib.rs
  docs/src/docs/rust/intl.mdx
  knowledge-base/003-rust-crate-dependency-hierarchy.md
  knowledge-base/008-package-intl-and-framework-integrations.md
Due: format-oxfmt

Saving release notes
  release-notes.md
Due: none

feat(formatjs_intl): accept inline named values
  Cargo.lock
  crates/formatjs_cli/README.md
  crates/formatjs_cli/src/rust_extractor.rs
  crates/formatjs_intl/README.md
  crates/formatjs_intl/lib.rs
  crates/formatjs_intl_macros/BUILD.bazel
  crates/formatjs_intl_macros/Cargo.toml
  crates/formatjs_intl_macros/lib.rs
  knowledge-base/003-rust-crate-dependency-hierarchy.md
  knowledge-base/008-package-intl-and-framework-integrations.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

feat(formatjs_intl): accept inline named values (#7031)
  Cargo.lock
  crates/formatjs_cli/README.md
  crates/formatjs_cli/src/rust_extractor.rs
  crates/formatjs_intl/README.md
  crates/formatjs_intl/lib.rs
  crates/formatjs_intl_macros/BUILD.bazel
  crates/formatjs_intl_macros/Cargo.toml
  crates/formatjs_intl_macros/lib.rs
  knowledge-base/003-rust-crate-dependency-hierarchy.md
  knowledge-base/008-package-intl-and-framework-integrations.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

chore(deps): exclude Renovate from release notes
  .github/release.yml
  knowledge-base/001-repo-layout.md
  tools/release-please/config.test.ts
Due: format-oxfmt, lint-staged

chore(release): exclude Renovate from release notes (#7030)
  .github/release.yml
  knowledge-base/001-repo-layout.md
  tools/release-please/config.test.ts
Due: format-oxfmt, lint-staged

chore: release main
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_intl/CHANGELOG.md
  crates/formatjs_intl/Cargo.toml
  crates/formatjs_intl_macros/CHANGELOG.md
  crates/formatjs_intl_macros/Cargo.toml
Due: format-oxfmt, format-starlark, bazel-lock-regen

feat(eslint-plugin-formatjs): detect glued placeholders
  docs/src/docs/guides/best-practices.mdx
  docs/src/docs/tooling/linter.mdx
  packages/eslint-plugin-formatjs/rules/prefer-full-sentence.ts
  packages/eslint-plugin-formatjs/tests/prefer-full-sentence.test.ts
Due: format-oxfmt, lint-staged

feat(eslint-plugin-formatjs): detect glued placeholders (#7036)
  docs/src/docs/guides/best-practices.mdx
  docs/src/docs/tooling/linter.mdx
  packages/eslint-plugin-formatjs/rules/prefer-full-sentence.ts
  packages/eslint-plugin-formatjs/tests/prefer-full-sentence.test.ts
Due: format-oxfmt, lint-staged

chore(deps): refresh Bazel lockfile
  MODULE.bazel.lock
Due: none

Path conditions:
  format-package-json: any of: **/package.json
  format-oxfmt: any of: **/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}, but not: **/locale-data/**, **/package.json, **/CHANGELOG.md, packages/cli-lib/tests/extract/typescript/err.tsx, packages/cli/integration-tests/extract/typescript/err.tsx
  format-starlark: any of: **/*.{bazel,bzl,BUILD}
  lint-staged: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}
  bazel-lock-regen: any of: pnpm-lock.yaml, package.json, pnpm-workspace.yaml, *.bazel
