Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

format-package-json:
  run: pnpm syncpack fix-mismatches && pnpm syncpack format
  stage_fixed: true

format-oxfmt:
  run: pnpm oxfmt {staged_files}
  stage_fixed: true

format-starlark:
  run: 'set -- {staged_files}
  
    bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
  
    '
  stage_fixed: true

lint-staged:
  run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
  stage_fixed: true

bazel-lock-regen:
  run: bazel mod deps
  stage_fixed: true

chore(deps): update dependency happy-dom to v20.3.4 (#5970)
  pnpm-lock.yaml
Due: bazel-lock-regen

fix(deps): update oxlint monorepo (#5965)
  Cargo.lock
  crates/formatjs_cli/Cargo.toml
  package.json
  pnpm-lock.yaml
Due: format-oxfmt, bazel-lock-regen

docs: add more docs wrt wrapper components, fix #5972
  docs/src/docs-metadata.generated.json
  docs/src/docs/guides/wrapper-components.mdx
  docs/src/docs/tooling/babel-plugin.mdx
  docs/src/docs/tooling/cli.mdx
  docs/src/docs/tooling/ts-transformer.mdx
  docs/src/utils/navigation.ts
Due: format-oxfmt, lint-staged

build: fix deps
  MODULE.bazel.lock
  package.json
  packages/eslint-plugin-formatjs/BUILD.bazel
  pnpm-lock.yaml
Due: format-starlark, bazel-lock-regen

docs: add more docs wrt wrapper components, fix #5972 (#5977)
  docs/src/docs-metadata.generated.json
  docs/src/docs/guides/wrapper-components.mdx
  docs/src/docs/tooling/babel-plugin.mdx
  docs/src/docs/tooling/cli.mdx
  docs/src/docs/tooling/ts-transformer.mdx
  docs/src/utils/navigation.ts
Due: format-oxfmt, lint-staged

build: fix deps (#5978)
  MODULE.bazel.lock
  package.json
  packages/eslint-plugin-formatjs/BUILD.bazel
  pnpm-lock.yaml
Due: format-starlark, bazel-lock-regen

docs: add docs for bazel rules
  docs/src/docs-metadata.generated.json
  docs/src/docs/tooling/bazel.mdx
  docs/src/utils/navigation.ts
Due: format-oxfmt, lint-staged

docs: add docs for bazel rules (#5981)
  docs/src/docs-metadata.generated.json
  docs/src/docs/tooling/bazel.mdx
  docs/src/utils/navigation.ts
Due: format-oxfmt, lint-staged

fix(formatjs_cli): fix format extraction bug
  Cargo.lock
  MODULE.bazel.lock
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli/src/compile.rs
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli/src/formatters/crowdin.rs
  crates/formatjs_cli/src/formatters/mod.rs
Due: format-oxfmt

fix(formatjs_cli): fix format extraction bug (#5995)
  Cargo.lock
  MODULE.bazel.lock
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli/src/compile.rs
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli/src/formatters/crowdin.rs
  crates/formatjs_cli/src/formatters/mod.rs
Due: format-oxfmt

fix(formatjs_cli): bump version
  Cargo.lock
  MODULE.bazel.lock
  crates/formatjs_cli/Cargo.toml
Due: format-oxfmt

fix: upgrade CLI to 0.1.11 (#34)
  rules/formatjs/MODULE.bazel
  rules/formatjs/MODULE.bazel.lock
  rules/formatjs/examples/aggregate/MODULE.bazel.lock
  rules/formatjs/examples/custom_version/MODULE.bazel.lock
  rules/formatjs/examples/simple/MODULE.bazel.lock
  rules/formatjs/formatjs_cli/repositories.bzl
  rules/formatjs/tests/arguments/BUILD.bazel
  rules/formatjs/tests/arguments/fixtures/messages_crowdin.json
Due: format-oxfmt, format-starlark, bazel-lock-regen

feat(formatjs_cli): add base62 support
  Cargo.lock
  MODULE.bazel.lock
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli/src/id_generator.rs
Due: format-oxfmt

feat(formatjs_cli): add base62 support (#5996)
  Cargo.lock
  MODULE.bazel.lock
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli/src/id_generator.rs
Due: format-oxfmt

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: format-oxfmt

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: format-oxfmt

build: add Claude Code GitHub Workflow (#5998)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: format-oxfmt

fix(@formatjs/intl-datetimeformat): Fix formatRange date duplication and h24 midnight issues (#6001)
  packages/intl-datetimeformat/scripts/extract-dates.ts
  packages/intl-datetimeformat/src/abstract/FormatDateTimePattern.ts
  packages/intl-datetimeformat/src/abstract/PartitionDateTimeRangePattern.ts
  packages/intl-datetimeformat/tests/format-range.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): fix formatRange date duplication and h24 midnight issues (#6001)
  packages/intl-datetimeformat/scripts/extract-dates.ts
  packages/intl-datetimeformat/src/abstract/FormatDateTimePattern.ts
  packages/intl-datetimeformat/src/abstract/PartitionDateTimeRangePattern.ts
  packages/intl-datetimeformat/tests/format-range.test.ts
Due: format-oxfmt, lint-staged

fix(cli-lib): respect throws:false flag in extract() function (#6002)
  crates/formatjs_cli/src/extract.rs
  packages/cli-lib/src/extract.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/cli-lib): respect throws:false flag in extract() function (#6002)
  crates/formatjs_cli/src/extract.rs
  packages/cli-lib/src/extract.ts
Due: format-oxfmt, lint-staged

build: allow renovate and graphite-app bot for Claude
  .github/workflows/claude.yml
Due: format-oxfmt

fix(formatjs_cli): match TypeScript CLI extract output format (#6010)
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli/src/id_generator.rs
  packages/cli/integration-tests/extract/integration.test.ts
  packages/cli/integration-tests/extract/issue-6009/Test.tsx
Due: format-oxfmt, lint-staged

fix(@formatjs/cli-lib): respect throws flag in extract() function (#6011)
  CLAUDE.md
  packages/cli-lib/src/extract.ts
  packages/cli/integration-tests/BUILD.bazel
  packages/cli/integration-tests/extract/__snapshots__/integration.test.ts.snap
  packages/cli/integration-tests/extract/integration.test.ts
  packages/cli/integration-tests/extract/throwsFlag/all-valid.tsx
  packages/cli/integration-tests/extract/throwsFlag/mixed-valid-invalid.tsx
  packages/ts-transformer/src/transform.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(react-intl): update react/react-dom dep versions to 19
  .github/workflows/claude-code-review.yml
  .syncpackrc.json
  MODULE.bazel.lock
  package.json
  packages/cli/integration-tests/BUILD.bazel
  packages/cli/integration-tests/extract/__snapshots__/integration.test.ts.snap
  packages/cli/integration-tests/extract/issue-6009/Test.tsx
  packages/cli/integration-tests/extract/throwsFlag/all-valid.tsx
  packages/react-intl/examples/package.json
  packages/react-intl/package.json
  pnpm-lock.yaml
  test_nested
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(react-intl): update react/react-dom dep versions to 19 (#6015)
  .github/workflows/claude-code-review.yml
  .syncpackrc.json
  MODULE.bazel.lock
  package.json
  packages/cli/integration-tests/BUILD.bazel
  packages/cli/integration-tests/extract/__snapshots__/integration.test.ts.snap
  packages/cli/integration-tests/extract/issue-6009/Test.tsx
  packages/cli/integration-tests/extract/throwsFlag/all-valid.tsx
  packages/react-intl/examples/package.json
  packages/react-intl/package.json
  pnpm-lock.yaml
  test_nested
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

docs: fix ESM imports throughout docs
  docs/src/docs/polyfills/intl-displaynames.mdx
  docs/src/docs/polyfills/intl-durationformat.mdx
  docs/src/docs/polyfills/intl-listformat.mdx
  docs/src/docs/polyfills/intl-locale.mdx
  docs/src/docs/polyfills/intl-numberformat.mdx
  docs/src/docs/polyfills/intl-pluralrules.mdx
  docs/src/docs/polyfills/intl-relativetimeformat.mdx
  docs/src/docs/polyfills/intl-segmenter.mdx
  docs/src/docs/tooling/ts-transformer.mdx
Due: format-oxfmt

feat(formatjs_cli): bump version
  Cargo.lock
  crates/formatjs_cli/Cargo.toml
Due: format-oxfmt

docs: fix ESM imports throughout docs (#6016)
  docs/src/docs/polyfills/intl-displaynames.mdx
  docs/src/docs/polyfills/intl-durationformat.mdx
  docs/src/docs/polyfills/intl-listformat.mdx
  docs/src/docs/polyfills/intl-locale.mdx
  docs/src/docs/polyfills/intl-numberformat.mdx
  docs/src/docs/polyfills/intl-pluralrules.mdx
  docs/src/docs/polyfills/intl-relativetimeformat.mdx
  docs/src/docs/polyfills/intl-segmenter.mdx
  docs/src/docs/tooling/ts-transformer.mdx
Due: format-oxfmt

feat(@formatjs/cli-lib): migrate from chalk to native Node styleText, bump min Node version to 20.12.0
  MODULE.bazel.lock
  package.json
  packages/cli-lib/package.json
  packages/cli-lib/src/console_utils.ts
  packages/cli/package.json
  packages/ts-transformer/package.json
  packages/ts-transformer/src/console_utils.ts
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, lint-staged, bazel-lock-regen

build: fix build
  packages/cli-lib/BUILD.bazel
  packages/ts-transformer/BUILD.bazel
Due: format-starlark, bazel-lock-regen

docs: #6016 update intl-durationformat polyfill docs page
  docs/src/docs/polyfills/intl-durationformat.mdx
Due: format-oxfmt

docs: #6016 update missing doc pages
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  docs/src/docs/polyfills/intl-displaynames.mdx
  docs/src/docs/polyfills/intl-durationformat.mdx
  docs/src/docs/polyfills/intl-listformat.mdx
  docs/src/docs/polyfills/intl-locale.mdx
  docs/src/docs/polyfills/intl-numberformat.mdx
  docs/src/docs/polyfills/intl-pluralrules.mdx
  docs/src/docs/polyfills/intl-relativetimeformat.mdx
  docs/src/docs/polyfills/intl-segmenter.mdx
Due: format-oxfmt

refactor: remove unnecessary import
  docs/src/docs/polyfills/intl-durationformat.mdx
Due: format-oxfmt

fix(formatjs_cli): fix newlines/whitespace handling to conform with TS version
  Cargo.lock
  MODULE.bazel.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli/src/extractor.rs
  packages/cli/integration-tests/BUILD.bazel
  packages/cli/integration-tests/conformance-tests/README.md
  packages/cli/integration-tests/conformance-tests/SUMMARY.md
  packages/cli/integration-tests/conformance-tests/conformance.test.ts
  packages/cli/integration-tests/conformance-tests/test_cases/01_basic_extract.txt
  packages/cli/integration-tests/conformance-tests/test_cases/02_plural_messages.txt
  packages/cli/integration-tests/conformance-tests/test_cases/03_flatten_option.txt
  packages/cli/integration-tests/conformance-tests/test_cases/04_content_hash_id.txt
  packages/cli/integration-tests/conformance-tests/test_cases/05_additional_function_names.txt
  packages/cli/integration-tests/conformance-tests/test_cases/06_extract_source_location.txt
  packages/cli/integration-tests/conformance-tests/test_cases/07_format_simple.txt
  packages/cli/integration-tests/conformance-tests/test_cases/08_whitespace_preservation.txt
  packages/cli/integration-tests/conformance-tests/test_cases/09_escaped_quotes.txt
  packages/cli/integration-tests/conformance-tests/test_cases/10_nested_select_plural.txt
  packages/cli/integration-tests/conformance-tests/test_cases/11_format_transifex.txt
  packages/cli/integration-tests/conformance-tests/test_cases/12_format_lokalise.txt
  packages/cli/integration-tests/conformance-tests/test_cases/13_format_crowdin.txt
  packages/cli/integration-tests/conformance-tests/test_cases/14_format_smartling.txt
  packages/cli/integration-tests/conformance-tests/test_cases/15_inline_formatmessage.txt
  packages/cli/integration-tests/conformance-tests/test_cases/16_typescript_file.txt
  packages/cli/integration-tests/conformance-tests/test_cases/17_pragma.txt
  packages/cli/integration-tests/conformance-tests/test_cases/18_optional_chaining.txt
  packages/cli/integration-tests/conformance-tests/test_cases/19_no_id_with_hash.txt
  packages/cli/integration-tests/conformance-tests/test_cases/20_flatten_with_hash.txt
  packages/cli/integration-tests/extract/__snapshots__/integration.test.ts.snap
  packages/cli/integration-tests/extract/integration.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(formatjs_cli): fix newlines/whitespace handling to conform with TS version, fix #6021 (#6022)
  Cargo.lock
  MODULE.bazel.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli/src/extractor.rs
  packages/cli/integration-tests/BUILD.bazel
  packages/cli/integration-tests/conformance-tests/README.md
  packages/cli/integration-tests/conformance-tests/SUMMARY.md
  packages/cli/integration-tests/conformance-tests/conformance.test.ts
  packages/cli/integration-tests/conformance-tests/test_cases/01_basic_extract.txt
  packages/cli/integration-tests/conformance-tests/test_cases/02_plural_messages.txt
  packages/cli/integration-tests/conformance-tests/test_cases/03_flatten_option.txt
  packages/cli/integration-tests/conformance-tests/test_cases/04_content_hash_id.txt
  packages/cli/integration-tests/conformance-tests/test_cases/05_additional_function_names.txt
  packages/cli/integration-tests/conformance-tests/test_cases/06_extract_source_location.txt
  packages/cli/integration-tests/conformance-tests/test_cases/07_format_simple.txt
  packages/cli/integration-tests/conformance-tests/test_cases/08_whitespace_preservation.txt
  packages/cli/integration-tests/conformance-tests/test_cases/09_escaped_quotes.txt
  packages/cli/integration-tests/conformance-tests/test_cases/10_nested_select_plural.txt
  packages/cli/integration-tests/conformance-tests/test_cases/11_format_transifex.txt
  packages/cli/integration-tests/conformance-tests/test_cases/12_format_lokalise.txt
  packages/cli/integration-tests/conformance-tests/test_cases/13_format_crowdin.txt
  packages/cli/integration-tests/conformance-tests/test_cases/14_format_smartling.txt
  packages/cli/integration-tests/conformance-tests/test_cases/15_inline_formatmessage.txt
  packages/cli/integration-tests/conformance-tests/test_cases/16_typescript_file.txt
  packages/cli/integration-tests/conformance-tests/test_cases/17_pragma.txt
  packages/cli/integration-tests/conformance-tests/test_cases/18_optional_chaining.txt
  packages/cli/integration-tests/conformance-tests/test_cases/19_no_id_with_hash.txt
  packages/cli/integration-tests/conformance-tests/test_cases/20_flatten_with_hash.txt
  packages/cli/integration-tests/extract/__snapshots__/integration.test.ts.snap
  packages/cli/integration-tests/extract/integration.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

build: move files
  data/BUILD.bazel
  packages/utils/BUILD.bazel
  packages/utils/data/list-one.xml
Due: format-starlark, bazel-lock-regen

Path conditions:
  format-package-json: any of: **/package.json
  format-oxfmt: any of: **/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}, but not: **/locale-data/**, **/package.json, **/CHANGELOG.md, packages/cli-lib/tests/extract/typescript/err.tsx, packages/cli/integration-tests/extract/typescript/err.tsx
  format-starlark: any of: **/*.{bazel,bzl,BUILD}
  lint-staged: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}
  bazel-lock-regen: any of: pnpm-lock.yaml, package.json, pnpm-workspace.yaml, *.bazel
