Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

format-package-json:
  run: pnpm syncpack fix-mismatches && pnpm syncpack format
  stage_fixed: true

format-oxfmt:
  run: pnpm oxfmt {staged_files}
  stage_fixed: true

format-starlark:
  run: 'set -- {staged_files}
  
    bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
  
    '
  stage_fixed: true

lint-staged:
  run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
  stage_fixed: true

bazel-lock-regen:
  run: bazel mod deps
  stage_fixed: true

build: add release-please pilot
  .github/workflows/crates-release.yml
  .github/workflows/release-please.yml
  .github/workflows/rust-cli-release.yml
  .release-please-manifest.json
  AGENTS.md
  CONTRIBUTING.md
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/RELEASE.md
  knowledge-base/001-repo-layout.md
  release-please-config.json
Due: format-oxfmt, format-starlark, bazel-lock-regen

build: add release-please pilot (#6582)
  .github/workflows/crates-release.yml
  .github/workflows/release-please.yml
  .github/workflows/rust-cli-release.yml
  .release-please-manifest.json
  AGENTS.md
  CONTRIBUTING.md
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/RELEASE.md
  knowledge-base/001-repo-layout.md
  release-please-config.json
Due: format-oxfmt, format-starlark, bazel-lock-regen

Add Datadog Synthetic tests workflow
  .github/workflows/datadog-synthetics.yml
Due: format-oxfmt

chore: release main
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli_napi/Cargo.toml
Due: format-oxfmt

chore: release main (#6654)
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli_napi/Cargo.toml
Due: format-oxfmt

ci: fix crates release dependency polling
  .github/workflows/crates-release.yml
Due: format-oxfmt

ci(formatjs_cli): cross-compile release binaries on linux
  .github/workflows/rust-cli-release.yml
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/README.md
  crates/formatjs_cli/RELEASE.md
  crates/formatjs_cli/platforms/BUILD.bazel
  crates/formatjs_cli/release_binary.bzl
  knowledge-base/001-repo-layout.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

ci(formatjs_cli): cross-compile release binaries on linux (#6656)
  .github/workflows/rust-cli-release.yml
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/README.md
  crates/formatjs_cli/RELEASE.md
  crates/formatjs_cli/platforms/BUILD.bazel
  crates/formatjs_cli/release_binary.bzl
  knowledge-base/001-repo-layout.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

ci: fix crates release dependency polling (#6655)
  .github/workflows/crates-release.yml
Due: format-oxfmt

fix(deps): align oxc rust crates to 0.132
  Cargo.lock
  MODULE.bazel.lock
  crates/formatjs_cli/Cargo.toml
Due: format-oxfmt

ci: use node24 crates auth action
  .github/workflows/crates-release.yml
Due: format-oxfmt

ci: use node24 crates auth action (#6658)
  .github/workflows/crates-release.yml
Due: format-oxfmt

chore: release main (#6657)
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli_napi/Cargo.toml
Due: format-oxfmt

fix(@formatjs/unplugin): decode JSX bull entity
  MODULE.bazel.lock
  package.json
  packages/unplugin/BUILD.bazel
  packages/unplugin/package.json
  packages/unplugin/tests/transform.test.ts
  packages/unplugin/transform.ts
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/unplugin): decode JSX bull entity (#6662)
  MODULE.bazel.lock
  package.json
  packages/unplugin/BUILD.bazel
  packages/unplugin/package.json
  packages/unplugin/tests/transform.test.ts
  packages/unplugin/transform.ts
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/cli-lib): expose native extract binding
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli_napi/src/lib.rs
  packages/cli-lib/extract.ts
  packages/cli-lib/native.ts
  packages/cli-lib/tests/unit/extract.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/cli-lib): expose native extract binding (#6663)
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli_napi/src/lib.rs
  packages/cli-lib/extract.ts
  packages/cli-lib/native.ts
  packages/cli-lib/tests/unit/extract.test.ts
Due: format-oxfmt, lint-staged

build: publish npm from release please
  .github/workflows/prerelease.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  AGENTS.md
  CONTRIBUTING.md
  MODULE.bazel.lock
  crates/formatjs_cli/RELEASE.md
  knowledge-base/001-repo-layout.md
  knowledge-base/007l-polyfill-intl-collator.md
  lerna.json
  package.json
  pnpm-lock.yaml
  release.sh
Due: format-oxfmt, bazel-lock-regen

build: publish npm from release please (#6664)
  .github/workflows/prerelease.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  AGENTS.md
  CONTRIBUTING.md
  MODULE.bazel.lock
  crates/formatjs_cli/RELEASE.md
  knowledge-base/001-repo-layout.md
  knowledge-base/007l-polyfill-intl-collator.md
  lerna.json
  package.json
  pnpm-lock.yaml
  release.sh
Due: format-oxfmt, bazel-lock-regen

fix: align release-please package components
  release-please-config.json
Due: none

fix: align release-please package components (#6665)
  release-please-config.json
Due: none

fix: preserve release-please workspace candidates
  release-please-config.json
Due: none

fix: preserve release-please workspace candidates (#6667)
  release-please-config.json
Due: none

chore: release main
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli_napi/Cargo.toml
  packages/cli-lib/CHANGELOG.md
  packages/cli-lib/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/react-intl/CHANGELOG.md
  packages/react-intl/package.json
  packages/unplugin/CHANGELOG.md
  packages/unplugin/package.json
Due: format-package-json, format-oxfmt

chore: release main (#6666)
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli_napi/Cargo.toml
  packages/cli-lib/CHANGELOG.md
  packages/cli-lib/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/react-intl/CHANGELOG.md
  packages/react-intl/package.json
  packages/unplugin/CHANGELOG.md
  packages/unplugin/package.json
Due: format-package-json, format-oxfmt

chore: add codescythe hook
  MODULE.bazel.lock
  codescythe.jsonc
  docs/src/components/ui/button.tsx
  docs/src/components/ui/command.tsx
  docs/src/components/ui/popover.tsx
  lefthook.yml
  package.json
  packages/eslint-plugin-formatjs/rules/enforce-id.ts
  packages/eslint-plugin-formatjs/rules/enforce-plural-rules.ts
  packages/eslint-plugin-formatjs/rules/no-emoji.ts
  packages/eslint-plugin-formatjs/rules/no-missing-icu-plural-one-placeholders.ts
  packages/eslint-plugin-formatjs/tests/enforce-id.test.ts
  packages/intl-localematcher/BUILD.bazel
  packages/intl-localematcher/abstract/UnicodeExtensionValue.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore: update codescythe integration
  MODULE.bazel.lock
  package.json
  packages/eslint-plugin-formatjs/rules/enforce-id.ts
  packages/eslint-plugin-formatjs/tests/enforce-id.test.ts
  packages/unplugin/BUILD.bazel
  pnpm-lock.yaml
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore: narrow codescythe entries
  codescythe.jsonc
  packages/cli-lib/compile.ts
  packages/cli-lib/console_utils.ts
  packages/cli-lib/pseudo_locale.ts
  packages/ecma262-abstract/DateOperations.ts
  packages/ecma402-abstract/BUILD.bazel
  packages/ecma402-abstract/RelativeTimeFormat/BUILD.bazel
  packages/ecma402-abstract/RelativeTimeFormat/FormatRelativeTime.ts
  packages/ecma402-abstract/RelativeTimeFormat/FormatRelativeTimeToParts.ts
  packages/ecma402-abstract/constants.ts
  packages/ecma402-abstract/data.ts
  packages/ecma402-abstract/types/core.ts
  packages/ecma402-abstract/types/relative-time.ts
  packages/ecma402-abstract/utils.ts
  packages/eslint-plugin-formatjs/emoji-utils.ts
  packages/intl-durationformat/constants.ts
  packages/react-intl/scripts/perf.tsx
  packages/ts-transformer/console_utils.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore: add codescythe hook (#6668)
  MODULE.bazel.lock
  codescythe.jsonc
  docs/src/components/ui/button.tsx
  docs/src/components/ui/command.tsx
  docs/src/components/ui/popover.tsx
  lefthook.yml
  package.json
  packages/cli-lib/compile.ts
  packages/cli-lib/console_utils.ts
  packages/cli-lib/pseudo_locale.ts
  packages/ecma262-abstract/DateOperations.ts
  packages/ecma402-abstract/BUILD.bazel
  packages/ecma402-abstract/RelativeTimeFormat/BUILD.bazel
  packages/ecma402-abstract/RelativeTimeFormat/FormatRelativeTime.ts
  packages/ecma402-abstract/RelativeTimeFormat/FormatRelativeTimeToParts.ts
  packages/ecma402-abstract/constants.ts
  packages/ecma402-abstract/data.ts
  packages/ecma402-abstract/types/core.ts
  packages/ecma402-abstract/types/relative-time.ts
  packages/ecma402-abstract/utils.ts
  packages/eslint-plugin-formatjs/emoji-utils.ts
  packages/eslint-plugin-formatjs/rules/enforce-id.ts
  packages/eslint-plugin-formatjs/rules/enforce-plural-rules.ts
  packages/eslint-plugin-formatjs/rules/no-emoji.ts
  packages/eslint-plugin-formatjs/rules/no-missing-icu-plural-one-placeholders.ts
  packages/intl-durationformat/constants.ts
  packages/intl-localematcher/BUILD.bazel
  packages/intl-localematcher/abstract/UnicodeExtensionValue.ts
  packages/react-intl/scripts/perf.tsx
  packages/ts-transformer/console_utils.ts
  packages/unplugin/BUILD.bazel
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore: release main
  .release-please-manifest.json
  packages/babel-plugin-formatjs/CHANGELOG.md
  packages/babel-plugin-formatjs/package.json
  packages/cli-lib/CHANGELOG.md
  packages/cli-lib/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/eslint-plugin-formatjs/CHANGELOG.md
  packages/eslint-plugin-formatjs/package.json
  packages/intl-collator/CHANGELOG.md
  packages/intl-collator/package.json
  packages/intl-datetimeformat/CHANGELOG.md
  packages/intl-datetimeformat/package.json
  packages/intl-displaynames/CHANGELOG.md
  packages/intl-displaynames/package.json
  packages/intl-durationformat/CHANGELOG.md
  packages/intl-durationformat/package.json
  packages/intl-listformat/CHANGELOG.md
  packages/intl-listformat/package.json
  packages/intl-localematcher/CHANGELOG.md
  packages/intl-localematcher/package.json
  packages/intl-numberformat/CHANGELOG.md
  packages/intl-numberformat/package.json
  packages/intl-pluralrules/CHANGELOG.md
  packages/intl-pluralrules/package.json
  packages/intl-relativetimeformat/CHANGELOG.md
  packages/intl-relativetimeformat/package.json
  packages/intl-segmenter/CHANGELOG.md
  packages/intl-segmenter/package.json
  packages/react-intl/CHANGELOG.md
  packages/react-intl/package.json
  packages/ts-transformer/CHANGELOG.md
  packages/ts-transformer/package.json
  packages/unplugin/CHANGELOG.md
  packages/unplugin/package.json
Due: format-package-json

chore: release main (#6676)
  .release-please-manifest.json
  packages/babel-plugin-formatjs/CHANGELOG.md
  packages/babel-plugin-formatjs/package.json
  packages/cli-lib/CHANGELOG.md
  packages/cli-lib/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/eslint-plugin-formatjs/CHANGELOG.md
  packages/eslint-plugin-formatjs/package.json
  packages/intl-collator/CHANGELOG.md
  packages/intl-collator/package.json
  packages/intl-datetimeformat/CHANGELOG.md
  packages/intl-datetimeformat/package.json
  packages/intl-displaynames/CHANGELOG.md
  packages/intl-displaynames/package.json
  packages/intl-durationformat/CHANGELOG.md
  packages/intl-durationformat/package.json
  packages/intl-listformat/CHANGELOG.md
  packages/intl-listformat/package.json
  packages/intl-localematcher/CHANGELOG.md
  packages/intl-localematcher/package.json
  packages/intl-numberformat/CHANGELOG.md
  packages/intl-numberformat/package.json
  packages/intl-pluralrules/CHANGELOG.md
  packages/intl-pluralrules/package.json
  packages/intl-relativetimeformat/CHANGELOG.md
  packages/intl-relativetimeformat/package.json
  packages/intl-segmenter/CHANGELOG.md
  packages/intl-segmenter/package.json
  packages/react-intl/CHANGELOG.md
  packages/react-intl/package.json
  packages/ts-transformer/CHANGELOG.md
  packages/ts-transformer/package.json
  packages/unplugin/CHANGELOG.md
  packages/unplugin/package.json
Due: format-package-json

build: dispatch release workflow for npm publishing
  .github/workflows/release-please.yml
  .github/workflows/release.yml
Due: format-oxfmt

build: dispatch release workflow for npm publishing (#6677)
  .github/workflows/release-please.yml
  .github/workflows/release.yml
Due: format-oxfmt

fix(@formatjs/cli): guard native ABI releases
  .github/workflows/release.yml
  .github/workflows/test.yml
  BUILD.bazel
  crates/formatjs_cli_napi/BUILD.bazel
  crates/formatjs_cli_napi/native_abi.json
  knowledge-base/001-repo-layout.md
  packages/cli-native-darwin-arm64/BUILD.bazel
  packages/cli-native-darwin-arm64/native_abi.json
  packages/cli-native-darwin-arm64/package.json
  packages/cli-native-linux-arm64/BUILD.bazel
  packages/cli-native-linux-arm64/native_abi.json
  packages/cli-native-linux-arm64/package.json
  packages/cli-native-linux-x64/BUILD.bazel
  packages/cli-native-linux-x64/native_abi.json
  packages/cli-native-linux-x64/package.json
  packages/cli-native-win32-x64/BUILD.bazel
  packages/cli-native-win32-x64/native_abi.json
  packages/cli-native-win32-x64/package.json
  tools/BUILD.bazel
  tools/check_cli_native_abi.ts
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore(deps): bump CLI native packages
  .release-please-manifest.json
  packages/cli-lib/package.json
  packages/cli-native-darwin-arm64/package.json
  packages/cli-native-linux-arm64/package.json
  packages/cli-native-linux-x64/package.json
  packages/cli-native-win32-x64/package.json
  packages/cli/package.json
Due: format-package-json

chore: keep gazelle idempotent
  MODULE.bazel.lock
  benchmarks/oss-react-intl/BUILD.bazel
  knowledge-base/001a-bazel-toolchain.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

chore: keep gazelle idempotent (#6689)
  MODULE.bazel.lock
  benchmarks/oss-react-intl/BUILD.bazel
  knowledge-base/001a-bazel-toolchain.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

ci: set Renovate minimum release age to 7d (#68)
  rules/formatjs/renovate.json
Due: format-oxfmt

chore(deps): update codescythe to 0.6.1
  MODULE.bazel.lock
  package.json
  pnpm-lock.yaml
Due: bazel-lock-regen

Path conditions:
  format-package-json: any of: **/package.json
  format-oxfmt: any of: **/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}, but not: **/locale-data/**, **/package.json, **/CHANGELOG.md, packages/cli-lib/tests/extract/typescript/err.tsx, packages/cli/integration-tests/extract/typescript/err.tsx
  format-starlark: any of: **/*.{bazel,bzl,BUILD}
  lint-staged: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}
  bazel-lock-regen: any of: pnpm-lock.yaml, package.json, pnpm-workspace.yaml, *.bazel
