Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

lefthook.yml:

# Lefthook configuration
# Docs: https://github.com/evilmartians/lefthook

# Skip lefthook when LEFTHOOK=0 environment variable is set
# This is equivalent to husky's HUSKY=0 for CI/CD pipelines
skip_output:
  - meta
  - summary

pre-commit:
  parallel: false
  commands:
    format-package-json:
      glob: "**/package.json"
      run: pnpm syncpack fix-mismatches && pnpm syncpack format
      stage_fixed: true
    format-oxfmt:
      glob: "**/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}"
      run: pnpm oxfmt {staged_files}
      stage_fixed: true
      exclude:
        - '**/locale-data/**'
        - '**/package.json'
        - '**/CHANGELOG.md'
        - 'packages/cli-lib/tests/extract/typescript/err.tsx'
        - 'packages/cli/integration-tests/extract/typescript/err.tsx'
    format-starlark:
      glob: "**/*.{bazel,bzl,BUILD}"
      run: |
        set -- {staged_files}
        bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
      stage_fixed: true
    lint-staged:
      glob: '**/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}'
      run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
      stage_fixed: true
    bazel-lock-regen:
      glob:
        - "pnpm-lock.yaml"
        - "package.json"
        - "pnpm-workspace.yaml"
        - "*.bazel"
      run: bazel mod deps
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

fix(@formatjs/ts-transformer): interpolate ID placeholders in a single pass
  packages/ts-transformer/interpolate-name.ts
  packages/ts-transformer/tests/interpolate-name.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/ts-transformer): interpolate ID placeholders in a single pass (#7527)
  packages/ts-transformer/interpolate-name.ts
  packages/ts-transformer/tests/interpolate-name.test.ts
Due: format-oxfmt, lint-staged

test(@formatjs/intl): type parser-free bundle error callback
  packages/intl/tests/no-parser-bundle.ts
Due: format-oxfmt, lint-staged

docs(@formatjs/intl): clarify parser-free bundles (#7522)
  docs/src/docs/guides/advanced-usage.mdx
  docs/src/docs/intl-messageformat.mdx
  knowledge-base/006-package-icu-messageformat-parser.md
  packages/intl-messageformat/tests/index.test.ts
  packages/intl/BUILD.bazel
  packages/intl/tests/no-parser-bundle.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/ts-transformer): support [content] in idInterpolationPattern
  crates/formatjs_cli/src/id_generator.rs
  docs/src/docs/tooling/babel-plugin.mdx
  docs/src/docs/tooling/cli.mdx
  packages/ts-transformer/interpolate-name.ts
  packages/ts-transformer/tests/interpolate-name.test.ts
Due: format-oxfmt, lint-staged

fix(formatjs_cli_napi): statically link libunwind into linux-gnu addons
  crates/formatjs_cli_napi/BUILD.bazel
Due: format-starlark, bazel-lock-regen

test(formatjs_cli_napi): check glibc addons for undefined unwinder symbols
  .github/workflows/test.yml
Due: format-oxfmt

chore(deps): update rules_web_e2e to 3.7.0
  MODULE.bazel
  MODULE.bazel.lock
  knowledge-base/013-editor-vrt.md
  packages/editor/vrt/README.md
Due: format-oxfmt, bazel-lock-regen

test(@formatjs/editor): cover native E2E visual regression rules
  .github/scripts/actiond-vrt.sh
  .github/workflows/editor-browser.yml
  knowledge-base/013-editor-vrt.md
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
  packages/editor/vrt/__e2e_screenshots__/editor-editing.png
  packages/editor/vrt/__e2e_screenshots__/editor-invalid.png
  packages/editor/vrt/__e2e_screenshots__/editor-loaded.png
  packages/editor/vrt/__e2e_screenshots__/editor-workflow.png
  packages/editor/vrt/editor.visual.spec.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

test(@formatjs/editor): upgrade rules_web_e2e and cover all browser test rules (#7546)
  .github/scripts/actiond-vrt.sh
  .github/workflows/editor-browser.yml
  MODULE.bazel
  MODULE.bazel.lock
  knowledge-base/013-editor-vrt.md
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
  packages/editor/vrt/__e2e_screenshots__/editor-editing.png
  packages/editor/vrt/__e2e_screenshots__/editor-invalid.png
  packages/editor/vrt/__e2e_screenshots__/editor-loaded.png
  packages/editor/vrt/__e2e_screenshots__/editor-workflow.png
  packages/editor/vrt/editor.visual.spec.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-datetimeformat): update IANA timezone database to 2026e
  MODULE.bazel
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, lint-staged, bazel-lock-regen

fix(@formatjs/intl-datetimeformat): update IANA timezone database to 2026e (#7547)
  MODULE.bazel
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, lint-staged, bazel-lock-regen

fix(@formatjs/icu-messageformat-parser): tolerate MicrosoftAjax startsWith override
  docs/src/docs/icu-messageformat-parser.mdx
  knowledge-base/006-package-icu-messageformat-parser.md
  packages/icu-messageformat-parser/parser.ts
  packages/icu-messageformat-parser/tests/browser-smoke.test.ts
  packages/intl-messageformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/icu-messageformat-parser): tolerate MicrosoftAjax startsWith override (#7549)
  docs/src/docs/icu-messageformat-parser.mdx
  knowledge-base/006-package-icu-messageformat-parser.md
  packages/icu-messageformat-parser/parser.ts
  packages/icu-messageformat-parser/tests/browser-smoke.test.ts
  packages/intl-messageformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/unplugin): use unplugin 3.4 transform filter types
  docs/src/docs/tooling/unplugin.mdx
  knowledge-base/009-package-developer-tools.md
  packages/unplugin/BUILD.bazel
  packages/unplugin/index.ts
  packages/unplugin/package.json
  packages/unplugin/transform.ts
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

test(@formatjs/intl-datetimeformat): archive stable package copies
  packages/intl-datetimeformat/scripts/calendar-bundle.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/ts-transformer): interpolate empty content
  packages/ts-transformer/interpolate-name.ts
  packages/ts-transformer/tests/interpolate-name.test.ts
Due: format-oxfmt, lint-staged

feat(@formatjs/ts-transformer): support `[content]` in `idInterpolationPattern` (#7530)
  crates/formatjs_cli/src/id_generator.rs
  docs/src/docs/tooling/babel-plugin.mdx
  docs/src/docs/tooling/cli.mdx
  packages/ts-transformer/interpolate-name.ts
  packages/ts-transformer/tests/interpolate-name.test.ts
Due: format-oxfmt, lint-staged

chore: release main
  packages/intl-messageformat/package.json
  packages/react-intl/BUILD.bazel
  packages/react-intl/CHANGELOG.md
  packages/react-intl/package.json
  packages/vue-intl/BUILD.bazel
  packages/vue-intl/CHANGELOG.md
  packages/vue-intl/package.json
Due: format-package-json, format-starlark, bazel-lock-regen

fix(formatjs_cli_napi): load glibc Node addons outside Node (#7536)
  .github/workflows/test.yml
  crates/formatjs_cli_napi/BUILD.bazel
Due: format-oxfmt, format-starlark, bazel-lock-regen

fix(docs): fix es-AR translation in Hero message
  docs/src/components/home/HeroSection.tsx
Due: format-oxfmt, lint-staged

feat(formatjs_intl): support caller-provided ICU data
  .github/workflows/test.yml
  Cargo.lock
  crates/formatjs_intl/BUILD.bazel
  crates/formatjs_intl/Cargo.toml
  crates/formatjs_intl/README.md
  crates/formatjs_intl/argument_types.rs
  crates/formatjs_intl/formatted_message.rs
  crates/formatjs_intl/lib.rs
  crates/formatjs_intl/provider_tests.rs
  crates/formatjs_intl_macros/Cargo.toml
  crates/icu_messageformat/BUILD.bazel
  crates/icu_messageformat/Cargo.toml
  crates/icu_messageformat/README.md
  crates/icu_messageformat/formatter.rs
  crates/icu_messageformat/lib.rs
  crates/icu_messageformat/provider_tests.rs
  crates/icu_messageformat_parser/BUILD.bazel
  crates/icu_messageformat_parser/Cargo.toml
  docs/src/docs/rust/icu-messageformat.mdx
  docs/src/docs/rust/intl.mdx
  knowledge-base/003-rust-crate-dependency-hierarchy.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

refactor(formatjs_intl): share locale data through one context
  Cargo.lock
  crates/formatjs_intl/BUILD.bazel
  crates/formatjs_intl/Cargo.toml
  crates/formatjs_intl/README.md
  crates/formatjs_intl/lib.rs
  crates/formatjs_intl/provider_tests.rs
  docs/src/docs/rust/intl.mdx
  knowledge-base/003-rust-crate-dependency-hierarchy.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

docs(formatjs_intl): show adding French locale data
  crates/formatjs_intl/README.md
  docs/src/docs/rust/intl.mdx
  knowledge-base/003-rust-crate-dependency-hierarchy.md
Due: format-oxfmt

docs(formatjs_intl): trim locale data example
  crates/formatjs_intl/README.md
  docs/src/docs/rust/intl.mdx
  knowledge-base/003-rust-crate-dependency-hierarchy.md
Due: format-oxfmt

fix(formatjs_intl): fall back to available provider locale data
  Cargo.lock
  MODULE.bazel.lock
  crates/formatjs_intl/BUILD.bazel
  crates/formatjs_intl/Cargo.toml
  crates/formatjs_intl/README.md
  crates/formatjs_intl/lib.rs
  crates/formatjs_intl/provider_tests.rs
  docs/src/docs/rust/intl.mdx
  knowledge-base/003-rust-crate-dependency-hierarchy.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

feat(formatjs_intl): support caller-provided ICU data (#7573)
  .github/workflows/test.yml
  Cargo.lock
  MODULE.bazel.lock
  crates/formatjs_intl/BUILD.bazel
  crates/formatjs_intl/Cargo.toml
  crates/formatjs_intl/README.md
  crates/formatjs_intl/argument_types.rs
  crates/formatjs_intl/formatted_message.rs
  crates/formatjs_intl/lib.rs
  crates/formatjs_intl/provider_tests.rs
  crates/formatjs_intl_macros/Cargo.toml
  crates/icu_messageformat/BUILD.bazel
  crates/icu_messageformat/Cargo.toml
  crates/icu_messageformat/README.md
  crates/icu_messageformat/formatter.rs
  crates/icu_messageformat/lib.rs
  crates/icu_messageformat/provider_tests.rs
  crates/icu_messageformat_parser/BUILD.bazel
  crates/icu_messageformat_parser/Cargo.toml
  docs/src/docs/rust/icu-messageformat.mdx
  docs/src/docs/rust/intl.mdx
  knowledge-base/003-rust-crate-dependency-hierarchy.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

chore: release main
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_intl/CHANGELOG.md
  crates/formatjs_intl/Cargo.toml
  crates/formatjs_intl_macros/CHANGELOG.md
  crates/formatjs_intl_macros/Cargo.toml
  crates/icu_messageformat/CHANGELOG.md
  crates/icu_messageformat/Cargo.toml
  crates/icu_messageformat_parser/CHANGELOG.md
  crates/icu_messageformat_parser/Cargo.toml
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/CHANGELOG.md
  packages/cli-lib/package.json
  packages/cli-native-darwin-arm64/BUILD.bazel
  packages/cli-native-darwin-arm64/CHANGELOG.md
  packages/cli-native-darwin-arm64/package.json
  packages/cli-native-linux-arm64-musl/BUILD.bazel
  packages/cli-native-linux-arm64-musl/CHANGELOG.md
  packages/cli-native-linux-arm64-musl/package.json
  packages/cli-native-linux-arm64/BUILD.bazel
  packages/cli-native-linux-arm64/CHANGELOG.md
  packages/cli-native-linux-arm64/package.json
  packages/cli-native-linux-x64-musl/BUILD.bazel
  packages/cli-native-linux-x64-musl/CHANGELOG.md
  packages/cli-native-linux-x64-musl/package.json
  packages/cli-native-linux-x64/BUILD.bazel
  packages/cli-native-linux-x64/CHANGELOG.md
  packages/cli-native-linux-x64/package.json
  packages/cli-native-win32-x64/BUILD.bazel
  packages/cli-native-win32-x64/CHANGELOG.md
  packages/cli-native-win32-x64/package.json
  packages/cli/BUILD.bazel
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: format-package-json, format-oxfmt, format-starlark, bazel-lock-regen

fix(deps): preserve provider features in release manifests
  Cargo.lock
  crates/formatjs_intl/Cargo.toml
  crates/formatjs_intl_macros/Cargo.toml
  crates/icu_messageformat/Cargo.toml
  crates/icu_messageformat_parser/Cargo.toml
Due: format-oxfmt

chore: release main (#7572)
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_intl/CHANGELOG.md
  crates/formatjs_intl/Cargo.toml
  crates/formatjs_intl_macros/CHANGELOG.md
  crates/formatjs_intl_macros/Cargo.toml
  crates/icu_messageformat/CHANGELOG.md
  crates/icu_messageformat/Cargo.toml
  crates/icu_messageformat_parser/CHANGELOG.md
  crates/icu_messageformat_parser/Cargo.toml
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/CHANGELOG.md
  packages/cli-lib/package.json
  packages/cli-native-darwin-arm64/BUILD.bazel
  packages/cli-native-darwin-arm64/CHANGELOG.md
  packages/cli-native-darwin-arm64/package.json
  packages/cli-native-linux-arm64-musl/BUILD.bazel
  packages/cli-native-linux-arm64-musl/CHANGELOG.md
  packages/cli-native-linux-arm64-musl/package.json
  packages/cli-native-linux-arm64/BUILD.bazel
  packages/cli-native-linux-arm64/CHANGELOG.md
  packages/cli-native-linux-arm64/package.json
  packages/cli-native-linux-x64-musl/BUILD.bazel
  packages/cli-native-linux-x64-musl/CHANGELOG.md
  packages/cli-native-linux-x64-musl/package.json
  packages/cli-native-linux-x64/BUILD.bazel
  packages/cli-native-linux-x64/CHANGELOG.md
  packages/cli-native-linux-x64/package.json
  packages/cli-native-win32-x64/BUILD.bazel
  packages/cli-native-win32-x64/CHANGELOG.md
  packages/cli-native-win32-x64/package.json
  packages/cli/BUILD.bazel
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: format-package-json, format-oxfmt, format-starlark, bazel-lock-regen

feat(icu_messageformat): name the locale in data errors and add Formatters::check_locale
  Cargo.lock
  MODULE.bazel.lock
  crates/icu_messageformat/BUILD.bazel
  crates/icu_messageformat/Cargo.toml
  crates/icu_messageformat/README.md
  crates/icu_messageformat/formatter.rs
  crates/icu_messageformat/provider_tests.rs
  crates/icu_messageformat/testdata/fr_pl.postcard
  docs/src/docs/rust/icu-messageformat.mdx
Due: format-oxfmt, format-starlark, bazel-lock-regen

feat(icu_messageformat): expose the runtime's default parser options
  crates/icu_messageformat/README.md
  crates/icu_messageformat/lib.rs
  crates/icu_messageformat/provider_tests.rs
  docs/src/docs/rust/icu-messageformat.mdx
  knowledge-base/003-rust-crate-dependency-hierarchy.md
Due: format-oxfmt

feat(formatjs_intl): add IntlContext::check_catalog
  Cargo.lock
  crates/formatjs_intl/BUILD.bazel
  crates/formatjs_intl/Cargo.toml
  crates/formatjs_intl/README.md
  crates/formatjs_intl/lib.rs
  crates/formatjs_intl/provider_tests.rs
  crates/formatjs_intl/testdata/en_fr.postcard
  docs/src/docs/rust/intl.mdx
  knowledge-base/003-rust-crate-dependency-hierarchy.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

docs(formatjs_intl): recommend --markers-for-bin for provider blobs
  crates/formatjs_intl/README.md
  docs/src/docs/rust/intl.mdx
Due: format-oxfmt

docs(icu_messageformat): fix the provider manifest example
  crates/icu_messageformat/README.md
  docs/src/docs/rust/icu-messageformat.mdx
Due: format-oxfmt
