Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

lefthook.yml:

# Lefthook configuration
# Docs: https://github.com/evilmartians/lefthook

# Skip lefthook when LEFTHOOK=0 environment variable is set
# This is equivalent to husky's HUSKY=0 for CI/CD pipelines
skip_output:
  - meta
  - summary

pre-commit:
  parallel: false
  commands:
    format-package-json:
      glob: "**/package.json"
      run: pnpm syncpack fix-mismatches && pnpm syncpack format
      stage_fixed: true
    format-oxfmt:
      glob: "**/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}"
      run: pnpm oxfmt {staged_files}
      stage_fixed: true
      exclude:
        - '**/locale-data/**'
        - '**/package.json'
        - '**/CHANGELOG.md'
        - 'packages/cli-lib/tests/extract/typescript/err.tsx'
        - 'packages/cli/integration-tests/extract/typescript/err.tsx'
    format-starlark:
      glob: "**/*.{bazel,bzl,BUILD}"
      run: |
        set -- {staged_files}
        bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
      stage_fixed: true
    lint-staged:
      glob: '**/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}'
      run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
      stage_fixed: true
    bazel-lock-regen:
      glob:
        - "pnpm-lock.yaml"
        - "package.json"
        - "pnpm-workspace.yaml"
        - "*.bazel"
      run: bazel mod deps
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

docs: cite exact specification sections and source lines
  packages/intl-getcanonicallocales/index.ts
  packages/intl-locale/index.ts
Due: format-oxfmt, lint-staged

docs: cite exact specification sections and source lines
  packages/ecma402-abstract/PluralRules/InitializePluralRules.ts
  packages/ecma402-abstract/PluralRules/ResolvePluralRange.ts
  packages/intl-pluralrules/index.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-segmenter): preserve iterator progress and locale
  docs/src/docs/polyfills/intl-segmenter.mdx
  knowledge-base/007h-polyfill-intl-segmenter.md
  packages/intl-segmenter/BUILD.bazel
  packages/intl-segmenter/scripts/benchmark.ts
  packages/intl-segmenter/segmenter.ts
  packages/intl-segmenter/tests/grapheme.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-getcanonicallocales): follow locale-list coercion
  docs/src/docs/polyfills/intl-getcanonicallocales.mdx
  knowledge-base/007j-polyfill-intl-getcanonicallocales.md
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-getcanonicallocales/index.ts
  packages/intl-getcanonicallocales/tests/index.test.ts
  packages/intl-locale/index.ts
  packages/intl-locale/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-displaynames): validate and canonicalize display codes (#7193)
  docs/src/docs/polyfills/intl-displaynames.mdx
  knowledge-base/007d-polyfill-intl-displaynames.md
  packages/ecma402-abstract/DisplayNames/CanonicalCodeForDisplayNames.ts
  packages/intl-displaynames/index.ts
  packages/intl-displaynames/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-durationformat): validate duration records exactly (#7194)
  docs/src/docs/polyfills/intl-durationformat.mdx
  knowledge-base/007g-polyfill-intl-durationformat.md
  packages/ecma402-abstract/DurationFormat/IsValidDurationRecord.ts
  packages/ecma402-abstract/DurationFormat/ToDurationRecord.ts
  packages/ecma402-abstract/DurationFormat/ToIntegerIfIntegral.ts
  packages/intl-durationformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-locale): canonicalize weekday and numeric options (#7195)
  docs/src/docs/polyfills/intl-locale.mdx
  knowledge-base/007i-polyfill-intl-locale.md
  packages/intl-locale/index.ts
  packages/intl-locale/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-pluralrules): align draft options and ranges (#7197)
  docs/src/docs/polyfills/intl-pluralrules.mdx
  knowledge-base/007c-polyfill-intl-pluralrules.md
  packages/ecma402-abstract/PluralRules/InitializePluralRules.ts
  packages/ecma402-abstract/PluralRules/ResolvePluralRange.ts
  packages/ecma402-abstract/types/plural-rules.ts
  packages/intl-pluralrules/index.ts
  packages/intl-pluralrules/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-locale): align week info with ECMA-402 (#7196)
  docs/src/docs/polyfills/intl-locale.mdx
  knowledge-base/007i-polyfill-intl-locale.md
  packages/intl-locale/index.ts
  packages/intl-locale/preference-data.ts
  packages/intl-locale/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-segmenter): preserve iterator progress and locale (#7198)
  docs/src/docs/polyfills/intl-segmenter.mdx
  knowledge-base/007h-polyfill-intl-segmenter.md
  packages/intl-segmenter/BUILD.bazel
  packages/intl-segmenter/scripts/benchmark.ts
  packages/intl-segmenter/segmenter.ts
  packages/intl-segmenter/tests/grapheme.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-getcanonicallocales): follow locale-list coercion (#7199)
  docs/src/docs/polyfills/intl-getcanonicallocales.mdx
  knowledge-base/007j-polyfill-intl-getcanonicallocales.md
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-getcanonicallocales/index.ts
  packages/intl-getcanonicallocales/tests/index.test.ts
  packages/intl-locale/index.ts
  packages/intl-locale/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix: accept callable Intl option objects
  docs/src/docs/polyfills/intl-numberformat.mdx
  knowledge-base/007-package-intl-polyfills.md
  packages/ecma402-abstract/BUILD.bazel
  packages/ecma402-abstract/GetOption.ts
  packages/ecma402-abstract/GetOptionsObject.ts
  packages/ecma402-abstract/tests/GetOptionsObject.test.ts
  packages/intl-numberformat/tests/misc.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-segmenter): reject coerced BigInt indices
  docs/src/docs/polyfills/intl-segmenter.mdx
  knowledge-base/007h-polyfill-intl-segmenter.md
  packages/intl-segmenter/segmenter.ts
  packages/intl-segmenter/tests/grapheme.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-segmenter): reject coerced BigInt indices (#7202)
  docs/src/docs/polyfills/intl-segmenter.mdx
  knowledge-base/007h-polyfill-intl-segmenter.md
  packages/intl-segmenter/segmenter.ts
  packages/intl-segmenter/tests/grapheme.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-numberformat): accept callable option objects (#7201)
  docs/src/docs/polyfills/intl-numberformat.mdx
  knowledge-base/007-package-intl-polyfills.md
  packages/ecma402-abstract/BUILD.bazel
  packages/ecma402-abstract/GetOption.ts
  packages/ecma402-abstract/GetOptionsObject.ts
  packages/ecma402-abstract/tests/GetOptionsObject.test.ts
  packages/intl-numberformat/tests/misc.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

test(@formatjs/editor): add Bazel visual regression coverage
  MODULE.bazel
  knowledge-base/013-editor-vrt.md
  packages/editor/BUILD.bazel
  packages/editor/README.md
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
  packages/editor/vrt/__screenshots__/editor-editing.png
  packages/editor/vrt/__screenshots__/editor-loaded.png
  packages/editor/vrt/editor.visual.test.tsx
  packages/editor/vrt/package.json
  packages/editor/vrt/pnpm-lock.yaml
  packages/editor/vrt/pnpm-workspace.yaml
  packages/editor/vrt/vitest.config.mjs
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

refactor(@formatjs/editor): require strict VRT typechecking
  MODULE.bazel
  MODULE.bazel.lock
  knowledge-base/013-editor-vrt.md
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
  packages/editor/vrt/package.json
  packages/editor/vrt/pnpm-lock.yaml
  packages/editor/vrt/tsconfig.bazel.json
  packages/editor/vrt/vitest.config.ts
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

docs: update reference web index and resources
  README.md
Due: none

test(@formatjs/intl-numberformat): enforce Test262 result accounting
  docs/src/docs/polyfills/intl-numberformat.mdx
  knowledge-base/007-package-intl-polyfills.md
  packages/intl-displaynames/BUILD.bazel
  packages/intl-displaynames/test262-baseline.json
  packages/intl-listformat/BUILD.bazel
  packages/intl-listformat/test262-baseline.json
  packages/intl-locale/BUILD.bazel
  packages/intl-locale/test262-baseline.json
  packages/intl-numberformat/BUILD.bazel
  packages/intl-numberformat/test262-baseline.json
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-pluralrules/test262-baseline.json
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-relativetimeformat/test262-baseline.json
  packages/intl-segmenter/BUILD.bazel
  packages/intl-segmenter/test262-baseline.json
  tools/test262/BUILD.bazel
  tools/test262/README.md
  tools/test262/defs.bzl
  tools/test262/runner.test.ts
  tools/test262/runner.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

test(@formatjs/intl-numberformat): declare Test262 generated data
  packages/intl-locale/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
Due: format-starlark, bazel-lock-regen

test(@formatjs/intl-numberformat): cover complete current Test262 suites
  MODULE.bazel
  docs/src/docs/guides/develop.mdx
  knowledge-base/007-package-intl-polyfills.md
  knowledge-base/014-test262-conformance.md
  packages/intl-collator/BUILD.bazel
  packages/intl-collator/test262-baseline.json
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/scripts/test262-main-gen.ts
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-displaynames/test262-baseline.json
  packages/intl-durationformat/BUILD.bazel
  packages/intl-durationformat/test262-baseline.json
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-getcanonicallocales/test262-baseline.json
  packages/intl-listformat/test262-baseline.json
  packages/intl-locale/test262-baseline.json
  packages/intl-numberformat/test262-baseline.json
  packages/intl-pluralrules/test262-baseline.json
  packages/intl-relativetimeformat/test262-baseline.json
  packages/intl-segmenter/test262-baseline.json
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl-supportedvaluesof/test262-baseline.json
  test262.BUILD
  tools/test262/README.md
  tools/test262/defs.bzl
  tools/test262/runner.test.ts
  tools/test262/runner.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

test(@formatjs/intl-numberformat): reject host crashes in Test262 gates
  docs/src/docs/guides/develop.mdx
  knowledge-base/007-package-intl-polyfills.md
  knowledge-base/014-test262-conformance.md
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-getcanonicallocales/test262-baseline.json
  tools/test262/README.md
  tools/test262/runner.test.ts
  tools/test262/runner.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-numberformat): omit NaN sign with exceptZero
  docs/src/docs/polyfills/intl-numberformat.mdx
  knowledge-base/007a-polyfill-intl-numberformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/NumberFormat/PartitionNumberPattern.ts
  packages/intl-numberformat/test262-baseline.json
  packages/intl-numberformat/tests/misc.test.ts
Due: format-oxfmt, lint-staged

refactor(@formatjs/editor): use native Playwright visual tests
  MODULE.bazel
  knowledge-base/013-editor-vrt.md
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
  packages/editor/vrt/app.tsx
  packages/editor/vrt/editor.visual.spec.ts
  packages/editor/vrt/editor.visual.test.tsx
  packages/editor/vrt/index.html
  packages/editor/vrt/package.json
  packages/editor/vrt/playwright.config.ts
  packages/editor/vrt/pnpm-lock.yaml
  packages/editor/vrt/tsconfig.bazel.json
  packages/editor/vrt/vite.config.ts
  packages/editor/vrt/vitest.config.ts
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/editor): use isolated Testcontainers VRT runtime
  MODULE.bazel
  knowledge-base/013-editor-vrt.md
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

chore(deps): pin VRT rules with portable isolation tests
  MODULE.bazel
Due: bazel-lock-regen

feat(@formatjs/editor): use custom VRT server and shell
  MODULE.bazel
  MODULE.bazel.lock
  knowledge-base/013-editor-vrt.md
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
  packages/editor/vrt/app.tsx
  packages/editor/vrt/package.json
  packages/editor/vrt/pnpm-lock.yaml
  packages/editor/vrt/pnpm-workspace.yaml
  packages/editor/vrt/server.ts
  packages/editor/vrt/shell.tsx
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

docs(@formatjs/editor): remove private VRT dependency blocker
  packages/editor/vrt/README.md
Due: format-oxfmt

test(@formatjs/intl-numberformat): enforce Test262 result accounting (#7209)
  docs/src/docs/polyfills/intl-numberformat.mdx
  knowledge-base/007-package-intl-polyfills.md
  packages/intl-displaynames/BUILD.bazel
  packages/intl-displaynames/test262-baseline.json
  packages/intl-listformat/BUILD.bazel
  packages/intl-listformat/test262-baseline.json
  packages/intl-locale/BUILD.bazel
  packages/intl-locale/test262-baseline.json
  packages/intl-numberformat/BUILD.bazel
  packages/intl-numberformat/test262-baseline.json
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-pluralrules/test262-baseline.json
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-relativetimeformat/test262-baseline.json
  packages/intl-segmenter/BUILD.bazel
  packages/intl-segmenter/test262-baseline.json
  tools/test262/BUILD.bazel
  tools/test262/README.md
  tools/test262/defs.bzl
  tools/test262/runner.test.ts
  tools/test262/runner.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-numberformat): omit NaN sign with exceptZero (#7212)
  docs/src/docs/polyfills/intl-numberformat.mdx
  knowledge-base/007a-polyfill-intl-numberformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/NumberFormat/PartitionNumberPattern.ts
  packages/intl-numberformat/test262-baseline.json
  packages/intl-numberformat/tests/misc.test.ts
Due: format-oxfmt, lint-staged

test(@formatjs/intl-numberformat): cover complete current Test262 suites (#7210)
  MODULE.bazel
  docs/src/docs/guides/develop.mdx
  knowledge-base/007-package-intl-polyfills.md
  knowledge-base/014-test262-conformance.md
  packages/intl-collator/BUILD.bazel
  packages/intl-collator/test262-baseline.json
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/scripts/test262-main-gen.ts
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-displaynames/test262-baseline.json
  packages/intl-durationformat/BUILD.bazel
  packages/intl-durationformat/test262-baseline.json
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-getcanonicallocales/test262-baseline.json
  packages/intl-listformat/test262-baseline.json
  packages/intl-locale/test262-baseline.json
  packages/intl-numberformat/test262-baseline.json
  packages/intl-pluralrules/test262-baseline.json
  packages/intl-relativetimeformat/test262-baseline.json
  packages/intl-segmenter/test262-baseline.json
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl-supportedvaluesof/test262-baseline.json
  test262.BUILD
  tools/test262/README.md
  tools/test262/defs.bzl
  tools/test262/runner.test.ts
  tools/test262/runner.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

refactor(@formatjs/intl-numberformat): use generated Test262 harness rules
  docs/src/docs/guides/develop.mdx
  knowledge-base/007-package-intl-polyfills.md
  knowledge-base/014-test262-conformance.md
  packages/intl-datetimeformat/test262-baseline.json
  tools/test262/BUILD.bazel
  tools/test262/README.md
  tools/test262/defs.bzl
  tools/test262/fixtures/harness/assert.js
  tools/test262/fixtures/harness/sta.js
  tools/test262/fixtures/package.json
  tools/test262/fixtures/prelude.js
  tools/test262/fixtures/test/fail.js
  tools/test262/fixtures/test/pass.js
  tools/test262/fixtures/test/realm.js
  tools/test262/prelude.ts
  tools/test262/results.test.ts
  tools/test262/results.ts
  tools/test262/runner.test.ts
  tools/test262/runner.ts
  tools/test262/validate.ts
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-numberformat): execute Test262 reports at test time
  docs/src/docs/guides/develop.mdx
  knowledge-base/007-package-intl-polyfills.md
  knowledge-base/014-test262-conformance.md
  tools/test262/BUILD.bazel
  tools/test262/README.md
  tools/test262/defs.bzl
  tools/test262/fixtures/test/fail.js
  tools/test262/fixtures_test.sh
  tools/test262/results.test.ts
  tools/test262/run.sh
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-numberformat): reject undefined range endpoints
  docs/src/docs/polyfills/intl-numberformat.mdx
  knowledge-base/007a-polyfill-intl-numberformat.md
  knowledge-base/014-test262-conformance.md
  packages/intl-numberformat/core.ts
  packages/intl-numberformat/test262-baseline.json
  packages/intl-numberformat/tests/misc.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-numberformat): preserve Symbol coercion errors
  docs/src/docs/polyfills/intl-numberformat.mdx
  knowledge-base/007a-polyfill-intl-numberformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/ToIntlMathematicalValue.ts
  packages/intl-numberformat/test262-baseline.json
  packages/intl-numberformat/tests/misc.test.ts
  packages/intl-pluralrules/test262-baseline.json
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-numberformat): reject undefined range endpoints
  knowledge-base/014-test262-conformance.md
Due: format-oxfmt

test: use generated Test262 harness rules (#7216)
  docs/src/docs/guides/develop.mdx
  knowledge-base/007-package-intl-polyfills.md
  knowledge-base/014-test262-conformance.md
  packages/intl-datetimeformat/test262-baseline.json
  tools/test262/BUILD.bazel
  tools/test262/README.md
  tools/test262/defs.bzl
  tools/test262/fixtures/harness/assert.js
  tools/test262/fixtures/harness/sta.js
  tools/test262/fixtures/package.json
  tools/test262/fixtures/prelude.js
  tools/test262/fixtures/test/fail.js
  tools/test262/fixtures/test/pass.js
  tools/test262/fixtures/test/realm.js
  tools/test262/fixtures_test.sh
  tools/test262/prelude.ts
  tools/test262/results.test.ts
  tools/test262/results.ts
  tools/test262/run.sh
  tools/test262/runner.test.ts
  tools/test262/runner.ts
  tools/test262/validate.ts
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-numberformat): preserve Symbol coercion errors (#7227)
  docs/src/docs/polyfills/intl-numberformat.mdx
  knowledge-base/007a-polyfill-intl-numberformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/ToIntlMathematicalValue.ts
  packages/intl-numberformat/test262-baseline.json
  packages/intl-numberformat/tests/misc.test.ts
  packages/intl-pluralrules/test262-baseline.json
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-numberformat): reject undefined range endpoints (#7226)
  docs/src/docs/polyfills/intl-numberformat.mdx
  knowledge-base/007a-polyfill-intl-numberformat.md
  knowledge-base/014-test262-conformance.md
  packages/intl-numberformat/core.ts
  packages/intl-numberformat/test262-baseline.json
  packages/intl-numberformat/tests/misc.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-numberformat): validate current unit and rounding options
  docs/src/docs/polyfills/intl-numberformat.mdx
  knowledge-base/007a-polyfill-intl-numberformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/IsSanctionedSimpleUnitIdentifier.ts
  packages/ecma402-abstract/IsWellFormedUnitIdentifier.ts
  packages/ecma402-abstract/NumberFormat/SetNumberFormatDigitOptions.ts
  packages/ecma402-abstract/tests/SetNumberFormatDigitOptions.test.ts
  packages/intl-numberformat/test262-baseline.json
  packages/intl-numberformat/tests/misc.test.ts
  packages/intl-supportedvaluesof/get-supported-units.ts
  packages/intl-supportedvaluesof/test262-baseline.json
Due: format-oxfmt, lint-staged
