Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

lefthook.yml:

# Lefthook configuration
# Docs: https://github.com/evilmartians/lefthook

# Skip lefthook when LEFTHOOK=0 environment variable is set
# This is equivalent to husky's HUSKY=0 for CI/CD pipelines
skip_output:
  - meta
  - summary

pre-commit:
  parallel: false
  commands:
    format-package-json:
      glob: "**/package.json"
      run: pnpm syncpack fix-mismatches && pnpm syncpack format
      stage_fixed: true
    format-oxfmt:
      glob: "**/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}"
      run: pnpm oxfmt {staged_files}
      stage_fixed: true
      exclude:
        - '**/locale-data/**'
        - '**/package.json'
        - '**/CHANGELOG.md'
        - 'packages/cli-lib/tests/extract/typescript/err.tsx'
        - 'packages/cli/integration-tests/extract/typescript/err.tsx'
    format-starlark:
      glob: "**/*.{bazel,bzl,BUILD}"
      run: |
        set -- {staged_files}
        bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
      stage_fixed: true
    lint-staged:
      glob: '**/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}'
      run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
      stage_fixed: true
    bazel-lock-regen:
      glob:
        - "pnpm-lock.yaml"
        - "package.json"
        - "pnpm-workspace.yaml"
        - "*.bazel"
      run: bazel mod deps
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

build: make sure lockfile is updated
  .bazelrc
Due: none

build: rm lockfile_mode
  .bazelrc
Due: none

build: fix formatjs_cli release
  .github/workflows/rust-cli-release.yml
Due: format-oxfmt

feat(formatjs_cli): sort key before serializing (#5833)
  rust/formatjs_cli/BUILD.bazel
  rust/formatjs_cli/src/compile.rs
  rust/formatjs_cli/src/extract.rs
  rust/formatjs_cli/src/id_generator.rs
  rust/formatjs_cli/src/main.rs
Due: format-starlark, bazel-lock-regen

feat(formatjs_cli): sort key before serializing
  rust/formatjs_cli/BUILD.bazel
  rust/formatjs_cli/src/compile.rs
  rust/formatjs_cli/src/extract.rs
  rust/formatjs_cli/src/id_generator.rs
  rust/formatjs_cli/src/main.rs
Due: format-starlark, bazel-lock-regen

chore(deps): update typescript-eslint monorepo to v8.52.0 (#5832)
  pnpm-lock.yaml
Due: bazel-lock-regen

fix(deps): update oxlint monorepo (#5804)
  Cargo.lock
  package.json
  pnpm-lock.yaml
  rust/formatjs_cli/Cargo.toml
Due: format-oxfmt, bazel-lock-regen

chore(deps): update rust crate clap to v4.5.54 (#5816)
  Cargo.lock
Due: none

fix(deps): update rust crate wasm-bindgen to v0.2.106 (#5797)
  Cargo.lock
  rust/icu_messageformat_parser/Cargo.toml
Due: format-oxfmt

chore(deps): update dependency @typescript/native-preview to v7.0.0-dev.20260105.1 (#5806)
  package.json
  pnpm-lock.yaml
Due: bazel-lock-regen

fix(formatjs_cli): fix warnings
  Cargo.lock
  MODULE.bazel.lock
  rust/formatjs_cli/Cargo.toml
  rust/formatjs_cli/src/extract.rs
Due: format-oxfmt

fix(formatjs_cli): fix warnings (#5841)
  Cargo.lock
  MODULE.bazel.lock
  rust/formatjs_cli/Cargo.toml
  rust/formatjs_cli/src/extract.rs
Due: format-oxfmt

build: lockfile update
  MODULE.bazel.lock
Due: none

fix(formatjs_cli): ignore null, serialize out newline
  Cargo.lock
  rust/formatjs_cli/Cargo.toml
  rust/formatjs_cli/src/extract.rs
  rust/formatjs_cli/src/extractor.rs
Due: format-oxfmt

build: attempt to fix build (#16)
  rules/formatjs/.bcr/presubmit.yml
  rules/formatjs/.github/workflows/ci.yaml
  rules/formatjs/.github/workflows/publish.yaml
  rules/formatjs/.github/workflows/release_prep.sh
  rules/formatjs/.github/workflows/verify-hooks.yml
  rules/formatjs/MODULE.bazel
  rules/formatjs/MODULE.bazel.lock
  rules/formatjs/examples/aggregate/MODULE.bazel.lock
  rules/formatjs/examples/aggregate/app/App.tsx
  rules/formatjs/examples/aggregate/app/all_messages.fixture.json
  rules/formatjs/examples/aggregate/app/test.sh
  rules/formatjs/examples/aggregate/module1/Messages.tsx
  rules/formatjs/examples/aggregate/module2/Messages.tsx
  rules/formatjs/examples/aggregate/module3/Messages.tsx
  rules/formatjs/examples/simple/.npmrc
  rules/formatjs/examples/simple/MODULE.bazel.lock
  rules/formatjs/examples/simple/extract_messages.fixture.json
  rules/formatjs/examples/simple/src/App.tsx
  rules/formatjs/formatjs/aggregate.bzl
  rules/formatjs/formatjs/extract.bzl
  rules/formatjs/formatjs_cli/repositories.bzl
  rules/formatjs/lefthook.yml
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

build: fix hooks verification (#19)
  rules/formatjs/.prettierignore
  rules/formatjs/commitlint.config.mjs
  rules/formatjs/lefthook.yml
  rules/formatjs/package.json
  rules/formatjs/pnpm-lock.yaml
Due: format-package-json, format-oxfmt, lint-staged

build: fix release-prep.sh
  rules/formatjs/.github/workflows/release_prep.sh
  rules/formatjs/examples/simple/MODULE.bazel
  rules/formatjs/lefthook.yml
  rules/formatjs/package.json
  rules/formatjs/pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, bazel-lock-regen

build: allow dispatch release
  rules/formatjs/.github/workflows/release.yaml
Due: format-oxfmt

fix: more docs
  rules/formatjs/BUILD.bazel
  rules/formatjs/MODULE.bazel.lock
  rules/formatjs/formatjs/aggregate.bzl
  rules/formatjs/formatjs/compile.bzl
  rules/formatjs/formatjs/extract.bzl
  rules/formatjs/formatjs/verify.bzl
  rules/formatjs/formatjs_cli/extensions.bzl
Due: format-starlark, bazel-lock-regen

fix: declare rules_shell as dep
  rules/formatjs/MODULE.bazel
  rules/formatjs/MODULE.bazel.lock
  rules/formatjs/examples/simple/MODULE.bazel.lock
  rules/formatjs/formatjs_cli/extensions.bzl
  rules/formatjs/tools/preset.bazelrc
Due: format-starlark, bazel-lock-regen

build: add script to test all
  rules/formatjs/examples/aggregate/MODULE.bazel.lock
  rules/formatjs/test-all.sh
Due: none

fix: fix toolchains issue and maintainers
  rules/formatjs/.bcr/metadata.template.json
  rules/formatjs/.github/workflows/release.yaml
  rules/formatjs/.github/workflows/release_prep.sh
  rules/formatjs/MODULE.bazel
  rules/formatjs/MODULE.bazel.lock
  rules/formatjs/examples/aggregate/MODULE.bazel
  rules/formatjs/examples/aggregate/MODULE.bazel.lock
  rules/formatjs/examples/simple/MODULE.bazel
  rules/formatjs/examples/simple/MODULE.bazel.lock
  rules/formatjs/formatjs_cli/BUILD.bazel
  rules/formatjs/formatjs_cli/extensions.bzl
  rules/formatjs/formatjs_cli/repositories.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

fix: fix maintainer
  rules/formatjs/.bcr/metadata.template.json
Due: format-oxfmt

fix: set version properly
  rules/formatjs/MODULE.bazel
Due: format-starlark, bazel-lock-regen

fix: add other platforms
  rules/formatjs/MODULE.bazel
  rules/formatjs/MODULE.bazel.lock
  rules/formatjs/examples/aggregate/MODULE.bazel.lock
  rules/formatjs/examples/simple/MODULE.bazel.lock
  rules/formatjs/formatjs_cli/extensions.bzl
  rules/formatjs/formatjs_cli/repositories.bzl
Due: format-starlark, bazel-lock-regen

fix: add e2e/smoke to tar so bcr presubmit can run (#20)
  rules/formatjs/.bcr/presubmit.yml
  rules/formatjs/.github/workflows/release_prep.sh
  rules/formatjs/e2e/smoke/.bazelrc
  rules/formatjs/e2e/smoke/BUILD.bazel
  rules/formatjs/e2e/smoke/MODULE.bazel
  rules/formatjs/e2e/smoke/MODULE.bazel.lock
  rules/formatjs/e2e/smoke/README.md
  rules/formatjs/e2e/smoke/REPO.bazel
  rules/formatjs/e2e/smoke/src/Hello.tsx
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat: allow aggregate to output to specific file (#22)
  rules/formatjs/examples/aggregate/app/BUILD.bazel
  rules/formatjs/examples/aggregate/app/transitive_messages.fixture.json
  rules/formatjs/formatjs/aggregate.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

fix: remove rules_shell dep (#23)
  rules/formatjs/MODULE.bazel
  rules/formatjs/MODULE.bazel.lock
  rules/formatjs/examples/aggregate/MODULE.bazel.lock
  rules/formatjs/examples/simple/MODULE.bazel.lock
  rules/formatjs/examples/simple/tests_verify/BUILD.bazel
  rules/formatjs/examples/simple/tests_verify/README.md
  rules/formatjs/formatjs/aggregate.bzl
  rules/formatjs/formatjs/compile.bzl
  rules/formatjs/formatjs/extract.bzl
  rules/formatjs/formatjs/verify.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

feat: allow custom formatjs_cli toolchain (#24)
  rules/formatjs/.gitattributes
  rules/formatjs/MODULE.bazel.lock
  rules/formatjs/examples/aggregate/MODULE.bazel.lock
  rules/formatjs/examples/custom_version/BUILD.bazel
  rules/formatjs/examples/custom_version/MODULE.bazel
  rules/formatjs/examples/custom_version/MODULE.bazel.lock
  rules/formatjs/examples/custom_version/README.md
  rules/formatjs/examples/custom_version/test_cli_version.sh
  rules/formatjs/examples/custom_version/test_extraction.sh
  rules/formatjs/formatjs_cli/extensions.bzl
  rules/formatjs/formatjs_cli/repositories.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

build: remove lockfile_mode
  rules/formatjs/.bazelrc
  rules/formatjs/.github/workflows/conventional-commits.yaml
  rules/formatjs/lefthook.yml
  rules/formatjs/tools/preset.bazelrc
Due: format-oxfmt

build: resync preset
  rules/formatjs/lefthook.yml
  rules/formatjs/tools/preset.bazelrc
Due: format-oxfmt

feat: support all args from formatjs_cli
  rules/formatjs/BUILD.dev.bazel
  rules/formatjs/MODULE.bazel
  rules/formatjs/MODULE.bazel.lock
  rules/formatjs/examples/aggregate/MODULE.bazel.lock
  rules/formatjs/examples/custom_version/MODULE.bazel.lock
  rules/formatjs/examples/simple/BUILD.bazel
  rules/formatjs/examples/simple/MODULE.bazel.lock
  rules/formatjs/examples/simple/compile_messages.fixture.json
  rules/formatjs/formatjs/compile.bzl
  rules/formatjs/formatjs/extract.bzl
  rules/formatjs/tests/arguments/BUILD.bazel
  rules/formatjs/tests/arguments/fixtures/compiled_ast.json
  rules/formatjs/tests/arguments/fixtures/compiled_multiple.json
  rules/formatjs/tests/arguments/fixtures/messages_default.json
  rules/formatjs/tests/arguments/fixtures/messages_merge.json
  rules/formatjs/tests/arguments/test.tsx
  rules/formatjs/tests/arguments/test_empty.tsx
  rules/formatjs/tests/arguments/test_merge.tsx
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore(deps): update oxlint monorepo (#5844)
  package.json
  pnpm-lock.yaml
Due: bazel-lock-regen

fix(formatjs_cli): bump oxc deps
  Cargo.lock
  MODULE.bazel.lock
  rust/formatjs_cli/Cargo.toml
Due: format-oxfmt

fix: use newer formatjs_cli
  rules/formatjs/MODULE.bazel
  rules/formatjs/MODULE.bazel.lock
  rules/formatjs/examples/aggregate/MODULE.bazel.lock
  rules/formatjs/examples/custom_version/MODULE.bazel.lock
  rules/formatjs/examples/simple/MODULE.bazel.lock
  rules/formatjs/formatjs_cli/repositories.bzl
Due: format-starlark, bazel-lock-regen

build: bump versions
  Cargo.lock
  MODULE.bazel.lock
  rust/formatjs_cli/Cargo.toml
  rust/icu_messageformat_parser/Cargo.toml
  rust/icu_skeleton_parser/Cargo.toml
Due: format-oxfmt

fix(icu_messageformat_parser,formatjs_cli): fix serialization and element ordering
  Cargo.lock
  MODULE.bazel.lock
  packages/cli/integration-tests/compile/__snapshots__/integration.test.ts.snap
  rust/formatjs_cli/Cargo.toml
  rust/formatjs_cli/src/extract.rs
  rust/formatjs_cli/src/formatters/crowdin.rs
  rust/formatjs_cli/src/formatters/default.rs
  rust/formatjs_cli/src/formatters/lokalise.rs
  rust/formatjs_cli/src/formatters/mod.rs
  rust/formatjs_cli/src/formatters/simple.rs
  rust/formatjs_cli/src/formatters/smartling.rs
  rust/formatjs_cli/src/formatters/transifex.rs
  rust/icu_messageformat_parser/BUILD.bazel
  rust/icu_messageformat_parser/Cargo.toml
  rust/icu_messageformat_parser/manipulator.rs
  rust/icu_messageformat_parser/parser.rs
  rust/icu_messageformat_parser/printer.rs
  rust/icu_messageformat_parser/types.rs
Due: format-oxfmt, format-starlark, bazel-lock-regen
