Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

lefthook.yml:

# Lefthook configuration
# Docs: https://github.com/evilmartians/lefthook

# Skip lefthook when LEFTHOOK=0 environment variable is set
# This is equivalent to husky's HUSKY=0 for CI/CD pipelines
skip_output:
  - meta
  - summary

pre-commit:
  parallel: false
  commands:
    format-package-json:
      glob: "**/package.json"
      run: pnpm syncpack fix-mismatches && pnpm syncpack format
      stage_fixed: true
    format-oxfmt:
      glob: "**/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}"
      run: pnpm oxfmt {staged_files}
      stage_fixed: true
      exclude:
        - '**/locale-data/**'
        - '**/package.json'
        - '**/CHANGELOG.md'
        - 'packages/cli-lib/tests/extract/typescript/err.tsx'
        - 'packages/cli/integration-tests/extract/typescript/err.tsx'
    format-starlark:
      glob: "**/*.{bazel,bzl,BUILD}"
      run: |
        set -- {staged_files}
        bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
      stage_fixed: true
    lint-staged:
      glob: '**/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}'
      run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
      stage_fixed: true
    bazel-lock-regen:
      glob:
        - "pnpm-lock.yaml"
        - "package.json"
        - "pnpm-workspace.yaml"
        - "*.bazel"
      run: bazel mod deps
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

fix(eslint-plugin-formatjs): restore ability to import util module
  packages/eslint-plugin-formatjs/package.json
Due: format-package-json

feat(@formatjs/ecma402-abstract): buffer locale data for parallel polyfill + data loading
  packages/intl-datetimeformat/polyfill-force.ts
  packages/intl-datetimeformat/polyfill.ts
  packages/intl-datetimeformat/scripts/cldr.ts
  packages/intl-displaynames/polyfill-force.ts
  packages/intl-displaynames/polyfill.ts
  packages/intl-displaynames/scripts/cldr.ts
  packages/intl-listformat/polyfill-force.ts
  packages/intl-listformat/polyfill.ts
  packages/intl-listformat/scripts/cldr.ts
  packages/intl-numberformat/polyfill-force.ts
  packages/intl-numberformat/polyfill.ts
  packages/intl-numberformat/scripts/cldr.ts
  packages/intl-pluralrules/polyfill-force.ts
  packages/intl-pluralrules/polyfill.ts
  packages/intl-pluralrules/scripts/cldr.ts
  packages/intl-relativetimeformat/polyfill-force.ts
  packages/intl-relativetimeformat/polyfill.ts
  packages/intl-relativetimeformat/scripts/cldr.ts
Due: format-oxfmt, lint-staged

feat(@formatjs/bigdecimal): add BigInt-backed decimal arithmetic library
  packages/bigdecimal/BUILD.bazel
  packages/bigdecimal/CHANGELOG.md
  packages/bigdecimal/LICENSE.md
  packages/bigdecimal/README.md
  packages/bigdecimal/index.ts
  packages/bigdecimal/package.json
  packages/bigdecimal/tests/bigdecimal.test.ts
  packages/bigdecimal/tsconfig.json
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/bigdecimal): fix log10 overflow for very large mantissas
  packages/bigdecimal/index.ts
  packages/bigdecimal/tests/bigdecimal.test.ts
Due: format-oxfmt, lint-staged

chore: remove unused aspect_rules_lint dependency
  MODULE.bazel
Due: bazel-lock-regen

fix(deps): disable bazelisk cache to fix stale Bazel version
  .github/workflows/release.yml
  .github/workflows/rust-cli-release.yml
  .github/workflows/test.yml
  .github/workflows/typesense-index.yml
  .github/workflows/verify-hooks.yml
  .github/workflows/website.yml
Due: format-oxfmt

fix(deps): remove .bazeliskrc that overrides .bazelversion
  .bazeliskrc
Due: none

revert(deps): restore bazelisk-cache in CI workflows
  .github/workflows/release.yml
  .github/workflows/rust-cli-release.yml
  .github/workflows/test.yml
  .github/workflows/typesense-index.yml
  .github/workflows/verify-hooks.yml
  .github/workflows/website.yml
Due: format-oxfmt

fix(deps): update external repo canonical names for Bazel 9
  packages/intl-displaynames/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-segmenter/tests/test-utils.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(deps): regenerate pnpm-lock.yaml for oxlint update
  pnpm-lock.yaml
Due: bazel-lock-regen

fix(deps): fix docs BUILD.bazel for aspect_rules_js v3
  docs/BUILD.bazel
Due: format-starlark, bazel-lock-regen

fix(@formatjs/unplugin): fix id insertion when description is first JSX attr
  MODULE.bazel.lock
  packages/unplugin/tests/transform.test.ts
  packages/unplugin/transform.ts
Due: format-oxfmt, lint-staged

chore(@formatjs/unplugin): deprecate vite-plugin in favor of unplugin
  BUILD.bazel
  docs/src/docs-metadata.generated.json
  docs/src/docs/tooling/vite-plugin.mdx
  docs/src/utils/navigation.ts
  packages/vite-plugin/BUILD.bazel
  packages/vite-plugin/README.md
  packages/vite-plugin/index.ts
  packages/vite-plugin/integration-tests/BUILD.bazel
  packages/vite-plugin/integration-tests/__snapshots__/integration.test.ts.snap
  packages/vite-plugin/integration-tests/fixtures/compiledJsx.js
  packages/vite-plugin/integration-tests/fixtures/defineMessage.ts
  packages/vite-plugin/integration-tests/fixtures/defineMessages.ts
  packages/vite-plugin/integration-tests/fixtures/formatMessage.ts
  packages/vite-plugin/integration-tests/fixtures/jsx.tsx
  packages/vite-plugin/integration-tests/fixtures/removeDescription.tsx
  packages/vite-plugin/integration-tests/integration.test.ts
  packages/vite-plugin/integration-tests/package.json
  packages/vite-plugin/package.json
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore(@formatjs/unplugin): delete vite-plugin package and migrate tests
  docs/src/docs/guides/bundler-plugins.mdx
  docs/src/docs/guides/migrate-from-lingui.mdx
  docs/src/docs/guides/performance.mdx
  docs/src/docs/tooling/unplugin.mdx
  docs/src/docs/tooling/vite-plugin.mdx
  packages/unplugin/integration-tests/BUILD.bazel
  packages/unplugin/integration-tests/__snapshots__/integration.test.ts.snap
  packages/unplugin/integration-tests/fixtures/compiledJsx.js
  packages/unplugin/integration-tests/fixtures/jsx.tsx
  packages/unplugin/integration-tests/fixtures/removeDescription.tsx
  packages/unplugin/integration-tests/integration.test.ts
  packages/vite-plugin/BUILD.bazel
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/LICENSE.md
  packages/vite-plugin/README.md
  packages/vite-plugin/index.ts
  packages/vite-plugin/package.json
  packages/vite-plugin/tsconfig.json
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(deps): add bigdecimal and svelte-intl to PACKAGES_TO_DIST
  BUILD.bazel
Due: bazel-lock-regen

chore(deps): update pnpm-lock.yaml after removing vite-plugin
  pnpm-lock.yaml
Due: bazel-lock-regen

feat(formatjs_cli): replace glob crate with fast-glob + walkdir for brace expansion support
  Cargo.lock
  MODULE.bazel.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli/src/compile.rs
  crates/formatjs_cli/src/compile_folder.rs
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli/src/verify.rs
Due: format-oxfmt, format-starlark, bazel-lock-regen

test(formatjs_cli): add tests for brace expansion, nested dirs, literal paths, and ignore patterns
  crates/formatjs_cli/src/compile.rs
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli/src/verify.rs
Due: none

fix: bump formatjs_cli to 1.0.0 (#39)
  rules/formatjs/MODULE.bazel
  rules/formatjs/MODULE.bazel.lock
  rules/formatjs/examples/aggregate/MODULE.bazel.lock
  rules/formatjs/examples/aggregate/app/all_messages.fixture.json
  rules/formatjs/examples/aggregate/app/transitive_messages.fixture.json
  rules/formatjs/examples/custom_version/MODULE.bazel
  rules/formatjs/examples/custom_version/MODULE.bazel.lock
  rules/formatjs/examples/simple/MODULE.bazel.lock
  rules/formatjs/examples/simple/extract_messages.fixture.json
  rules/formatjs/examples/simple/messages/fr.json
  rules/formatjs/formatjs_cli/repositories.bzl
  rules/formatjs/tests/arguments/fixtures/compiled_ast.json
  rules/formatjs/tests/arguments/fixtures/compiled_multiple.json
  rules/formatjs/tests/arguments/fixtures/messages_crowdin.json
  rules/formatjs/tests/arguments/fixtures/messages_default.json
  rules/formatjs/tests/arguments/fixtures/messages_merge.json
Due: format-oxfmt, format-starlark, bazel-lock-regen

feat(@formatjs/cli): add --follow-links flag for symlink traversal in glob patterns
  crates/formatjs_cli/src/compile.rs
  crates/formatjs_cli/src/compile_folder.rs
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli/src/main.rs
  crates/formatjs_cli/src/verify.rs
  packages/cli-lib/src/cli.ts
  packages/cli-lib/src/compile.ts
  packages/cli-lib/src/extract.ts
  packages/cli-lib/src/verify/index.ts
  packages/cli/integration-tests/compile/__snapshots__/integration.test.ts.snap
  packages/cli/integration-tests/compile/integration.test.ts
Due: format-oxfmt, lint-staged

test(@formatjs/cli): add node_modules glob integration test for #6173
  packages/cli/integration-tests/compile/integration.test.ts
Due: format-oxfmt, lint-staged

test(@formatjs/cli): add pnpm-style symlinked node_modules integration test
  packages/cli/integration-tests/compile/integration.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/cli): remove static glob-nested fixture test
  packages/cli/integration-tests/compile/__snapshots__/integration.test.ts.snap
  packages/cli/integration-tests/compile/integration.test.ts
Due: format-oxfmt, lint-staged

fix(deps): harden claude.yml workflow against prompt injection
  .github/workflows/claude.yml
Due: format-oxfmt

fix(deps): remove typescript peer dependencies
  packages/intl/package.json
  packages/react-intl/package.json
  pnpm-lock.yaml
Due: format-package-json, bazel-lock-regen

chore: update some github actions
  .github/workflows/verify-hooks.yml
Due: format-oxfmt

chore(deps): upgrade typescript to 6.0.2 and expand dep range to ^5.6 || 6
  .syncpackrc.json
  MODULE.bazel.lock
  lefthook.yml
  package.json
  packages/cli-lib/package.json
  packages/react-intl/example-sandboxes/rescripts/package.json
  packages/react-intl/example-sandboxes/strict-locale-type/package.json
  packages/react-intl/example-sandboxes/strict-message-types/package.json
  packages/react-intl/package.json
  packages/ts-transformer/package.json
  pnpm-lock.yaml
Due: format-package-json, bazel-lock-regen

fix(deps): update typescript integrity hash in MODULE.bazel.lock
  MODULE.bazel.lock
Due: none

fix(deps): remove deprecated TS 6 options from tsconfig
  tools/tsconfig.bzl
  tools/vitest.bzl
  tsconfig.json
Due: format-starlark

fix(deps): fix TS 6 compatibility issues across the build
  packages/icu-messageformat-parser-wasm/BUILD.bazel
  packages/react-intl/examples/advanced/Advanced.tsx
  packages/unplugin/transform.ts
  tools/index.bzl
  tools/tsconfig.bzl
  tools/vitest.bzl
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(deps): remove leftover bzl_library rules and add migration docs
  BUILD.bazel
  knowledge-base/gazelle-migration.md
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  tools/BUILD.bazel
Due: format-oxfmt, format-starlark, bazel-lock-regen

style(deps): accept gazelle attribute ordering in BUILD.bazel
  BUILD.bazel
Due: bazel-lock-regen

docs(deps): add knowledge-base documentation for repo architecture
  knowledge-base/001-repo-layout-and-toolchain.md
  knowledge-base/002-ts-package-dependency-hierarchy.md
  knowledge-base/003-rust-crate-dependency-hierarchy.md
  knowledge-base/004-package-ecma402-abstract.md
  knowledge-base/005-package-intl-localematcher.md
  knowledge-base/006-package-icu-messageformat-parser.md
  knowledge-base/007-package-intl-polyfills.md
  knowledge-base/008-package-intl-and-framework-integrations.md
  knowledge-base/009-package-developer-tools.md
  knowledge-base/migrations/001-gazelle-migration.md
Due: format-oxfmt

docs(deps): expand polyfill docs with CLDR pipelines, simplify CLAUDE.md
  CLAUDE.md
  knowledge-base/007-package-intl-polyfills.md
  knowledge-base/007a-polyfill-intl-numberformat.md
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/007c-polyfill-intl-pluralrules.md
  knowledge-base/007d-polyfill-intl-displaynames.md
  knowledge-base/007e-polyfill-intl-listformat.md
  knowledge-base/007f-polyfill-intl-relativetimeformat.md
  knowledge-base/007g-polyfill-intl-durationformat.md
  knowledge-base/007h-polyfill-intl-segmenter.md
  knowledge-base/007i-polyfill-intl-locale.md
  knowledge-base/007j-polyfill-intl-getcanonicallocales.md
  knowledge-base/007k-polyfill-intl-supportedvaluesof.md
Due: format-oxfmt

refactor(deps): gazelle migration phase 1 — inline thin wrappers
  CLAUDE.md
  docs/BUILD.bazel
  knowledge-base/migrations/001-gazelle-migration.md
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/bigdecimal/BUILD.bazel
  packages/cli-lib/BUILD.bazel
  packages/ecma376/BUILD.bazel
  packages/ecma402-abstract/BUILD.bazel
  packages/editor/BUILD.bazel
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/fast-memoize/BUILD.bazel
  packages/icu-messageformat-parser-wasm/BUILD.bazel
  packages/icu-messageformat-parser-wasm/benchmark/BUILD.bazel
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-messageformat-parser/benchmark/BUILD.bazel
  packages/icu-messageformat-parser/tools/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-durationformat/benchmark/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  packages/intl-localematcher/benchmark/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-numberformat/benchmark/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  packages/svelte-intl/BUILD.bazel
  packages/ts-transformer/BUILD.bazel
  packages/unplugin/BUILD.bazel
  packages/utils/BUILD.bazel
  packages/vue-intl/BUILD.bazel
  tools/BUILD.bazel
Due: format-oxfmt, format-starlark, bazel-lock-regen

refactor(deps): enable gazelle for ESNEXT packages
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/bigdecimal/BUILD.bazel
  packages/cli-lib/BUILD.bazel
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/svelte-intl/BUILD.bazel
  packages/svelte-intl/tsconfig.json
  packages/vue-intl/BUILD.bazel
  packages/vue-intl/tsconfig.json
Due: format-oxfmt, format-starlark, bazel-lock-regen
