Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

format-package-json:
  run: pnpm syncpack fix-mismatches && pnpm syncpack format
  stage_fixed: true

format-oxfmt:
  run: pnpm oxfmt {staged_files}
  stage_fixed: true

format-starlark:
  run: 'set -- {staged_files}
  
    bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
  
    '
  stage_fixed: true

lint-staged:
  run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
  stage_fixed: true

bazel-lock-regen:
  run: bazel mod deps
  stage_fixed: true

chore: release main (#7375)
  .release-please-manifest.json
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/CHANGELOG.md
  packages/eslint-plugin-formatjs/package.json
  packages/intl-messageformat/BUILD.bazel
  packages/intl-messageformat/CHANGELOG.md
  packages/intl-messageformat/package.json
  packages/intl/BUILD.bazel
  packages/intl/CHANGELOG.md
  packages/intl/package.json
  packages/react-intl/BUILD.bazel
  packages/react-intl/CHANGELOG.md
  packages/react-intl/package.json
  packages/svelte-intl/BUILD.bazel
  packages/svelte-intl/CHANGELOG.md
  packages/svelte-intl/package.json
  packages/vue-intl/BUILD.bazel
  packages/vue-intl/CHANGELOG.md
  packages/vue-intl/package.json
Due: format-package-json, format-starlark, bazel-lock-regen

fix(deps): allow subsequent RC versions in release checks
  tools/release-please/npm-workspace-plugin.test.ts
Due: format-oxfmt, lint-staged

fix(deps): refresh ESLint update Bazel lockfile
  MODULE.bazel.lock
Due: none

fix(deps): allow subsequent RC versions in release checks (#7377)
  tools/release-please/npm-workspace-plugin.test.ts
Due: format-oxfmt, lint-staged

chore(deps): upgrade rules_web_e2e to 3.0.0
  MODULE.bazel
  MODULE.bazel.lock
  knowledge-base/013-editor-vrt.md
  packages/editor/README.md
  packages/editor/vrt/README.md
Due: format-oxfmt, bazel-lock-regen

chore(deps): refresh Node extension lock metadata
  MODULE.bazel.lock
Due: none

chore(deps): pin rules_web_e2e release archive
  MODULE.bazel
  MODULE.bazel.lock
  packages/editor/vrt/README.md
Due: format-oxfmt, bazel-lock-regen

chore(deps): use rules_web_e2e from BCR
  MODULE.bazel
  MODULE.bazel.lock
  packages/editor/vrt/README.md
Due: format-oxfmt, bazel-lock-regen

chore(deps): migrate editor tests to latest rules_web_e2e
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
  knowledge-base/013-editor-vrt.md
  packages/editor/README.md
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

fix(eslint-plugin-formatjs): preserve annotated catalog contracts
  docs/src/docs/tooling/linter.mdx
  knowledge-base/009-package-developer-tools.md
  packages/eslint-plugin-formatjs/rules/enforce-message-types.ts
  packages/eslint-plugin-formatjs/tests/enforce-message-types.test.ts
  packages/eslint-plugin-formatjs/tests/inline-message-types.test.tsx
Due: format-oxfmt, lint-staged

chore(deps): replace rules_playwright with rules_browsers
  MODULE.bazel
  MODULE.bazel.lock
  knowledge-base/013-editor-vrt.md
  packages/editor/README.md
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
  packages/editor/vrt/browsers/BUILD.bazel
Due: format-oxfmt, format-starlark, bazel-lock-regen

chore(deps): complete declared browser runtime migration
  .github/scripts/actiond-vrt.sh
  .github/workflows/editor-browser.yml
  MODULE.bazel
  knowledge-base/013-editor-vrt.md
  packages/editor/README.md
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
  packages/editor/vrt/fonts.conf
  tools/browser/BUILD.bazel
  tools/browser/actiond-advice.patch
  tools/browser/repositories.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

chore(deps): retain shared host browser setup
  .github/workflows/editor-browser.yml
  tools/browser/BUILD.bazel
  tools/browser/repositories.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

fix(deps): preserve browser image font configuration
  .github/scripts/actiond-vrt.sh
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/fonts.conf
Due: format-starlark, bazel-lock-regen

fix(deps): validate captures without rewriting references
  .github/scripts/actiond-vrt.sh
  knowledge-base/013-editor-vrt.md
  packages/editor/vrt/README.md
Due: format-oxfmt

feat(eslint-plugin-formatjs): replace broad catalog annotations
  docs/src/docs/tooling/linter.mdx
  knowledge-base/009-package-developer-tools.md
  packages/eslint-plugin-formatjs/rules/enforce-message-types.ts
  packages/eslint-plugin-formatjs/tests/enforce-message-types.test.ts
  packages/eslint-plugin-formatjs/tests/inline-message-types.test.tsx
Due: format-oxfmt, lint-staged

feat(eslint-plugin-formatjs): generate readonly message contracts
  docs/src/docs/tooling/linter.mdx
  knowledge-base/009-package-developer-tools.md
  packages/eslint-plugin-formatjs/message-types.ts
  packages/eslint-plugin-formatjs/rules/enforce-message-types.ts
  packages/eslint-plugin-formatjs/tests/enforce-message-types.test.ts
  packages/eslint-plugin-formatjs/tests/inline-message-types.test.tsx
Due: format-oxfmt, lint-staged

feat(eslint-plugin-formatjs): generate exact catalog annotations (#7379)
  docs/src/docs/tooling/linter.mdx
  knowledge-base/009-package-developer-tools.md
  packages/eslint-plugin-formatjs/message-types.ts
  packages/eslint-plugin-formatjs/rules/enforce-message-types.ts
  packages/eslint-plugin-formatjs/tests/enforce-message-types.test.ts
  packages/eslint-plugin-formatjs/tests/inline-message-types.test.tsx
Due: format-oxfmt, lint-staged

chore(deps): assemble editor VRT runtime without OCI
  MODULE.bazel
  MODULE.bazel.lock
  knowledge-base/013-editor-vrt.md
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

feat(@formatjs/intl): return readonly message descriptors
  docs/src/docs/react-intl/upgrade-guide-11.x.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/intl/tests/typed-message.test.ts
  packages/intl/typed-message.ts
  packages/react-intl/define-message.ts
  packages/react-intl/tests/unit/typed-message.test.tsx
Due: format-oxfmt, lint-staged

feat(react-intl): check typed FormattedMessage values
  docs/src/docs/react-intl/upgrade-guide-11.x.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/react-intl/BUILD.bazel
  packages/react-intl/components/message.tsx
  packages/react-intl/tests/unit/typed-message.test.tsx
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/intl): retain typed descriptor metadata
  docs/src/docs/react-intl/upgrade-guide-11.x.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/eslint-plugin-formatjs/rules/enforce-message-types.ts
  packages/eslint-plugin-formatjs/tests/enforce-message-types.test.ts
  packages/intl/tests/typed-message.test.ts
  packages/intl/typed-message.ts
  packages/react-intl/define-message.ts
  packages/react-intl/tests/unit/typed-message.test.tsx
Due: format-oxfmt, lint-staged

feat(@formatjs/intl): check registered message arguments by ID
  docs/src/docs/react-intl/api.mdx
  docs/src/docs/react-intl/upgrade-guide-11.x.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/eslint-plugin-formatjs/tests/inline-message-types.test.tsx
  packages/intl/tests/typed-message.test.ts
  packages/intl/typed-message.ts
  packages/intl/types.ts
  packages/react-intl/index.ts
  packages/react-intl/server.ts
  packages/react-intl/tests/unit/typed-message.test.tsx
  packages/react-intl/types.ts
Due: format-oxfmt, lint-staged

feat(@formatjs/intl): return readonly message descriptors (#7381)
  docs/src/docs/react-intl/upgrade-guide-11.x.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/intl/tests/typed-message.test.ts
  packages/intl/typed-message.ts
  packages/react-intl/define-message.ts
  packages/react-intl/tests/unit/typed-message.test.tsx
Due: format-oxfmt, lint-staged

feat(react-intl): check typed FormattedMessage values (#7383)
  docs/src/docs/react-intl/upgrade-guide-11.x.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/react-intl/BUILD.bazel
  packages/react-intl/components/message.tsx
  packages/react-intl/tests/unit/typed-message.test.tsx
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/intl): retain typed descriptor metadata (#7382)
  docs/src/docs/react-intl/upgrade-guide-11.x.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/eslint-plugin-formatjs/rules/enforce-message-types.ts
  packages/eslint-plugin-formatjs/tests/enforce-message-types.test.ts
  packages/intl/tests/typed-message.test.ts
  packages/intl/typed-message.ts
  packages/react-intl/define-message.ts
  packages/react-intl/tests/unit/typed-message.test.tsx
Due: format-oxfmt, lint-staged

feat(@formatjs/intl): check registered message arguments by ID (#7384)
  docs/src/docs/react-intl/api.mdx
  docs/src/docs/react-intl/upgrade-guide-11.x.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/eslint-plugin-formatjs/tests/inline-message-types.test.tsx
  packages/intl/tests/typed-message.test.ts
  packages/intl/typed-message.ts
  packages/intl/types.ts
  packages/react-intl/index.ts
  packages/react-intl/server.ts
  packages/react-intl/tests/unit/typed-message.test.tsx
  packages/react-intl/types.ts
Due: format-oxfmt, lint-staged

chore(deps): use public Chromium runtime helpers
  MODULE.bazel
  MODULE.bazel.lock
  knowledge-base/013-editor-vrt.md
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
  packages/editor/vrt/browsers/BUILD.bazel
  packages/editor/vrt/fonts.conf
Due: format-oxfmt, format-starlark, bazel-lock-regen

test: refresh visual baselines and use unpatched upstream actiond
  .bazelrc
  .github/scripts/actiond-vrt.sh
  MODULE.bazel
  knowledge-base/013-editor-vrt.md
  packages/editor/vrt/README.md
  packages/editor/vrt/__screenshots__/editor-editing.png
  packages/editor/vrt/__screenshots__/editor-invalid.png
  packages/editor/vrt/__screenshots__/editor-loaded.png
  packages/editor/vrt/__screenshots__/editor-mobile-rtl.png
  packages/editor/vrt/__screenshots__/editor-tools-mobile-rtl.png
  packages/editor/vrt/__screenshots__/editor-tools.png
  packages/editor/vrt/__screenshots__/editor-workflow-mobile-rtl.png
  packages/editor/vrt/__screenshots__/editor-workflow.png
  tools/browser/actiond-advice.patch
Due: format-oxfmt, bazel-lock-regen

chore(deps): pin landed rules_web_e2e runtime helpers
  MODULE.bazel
Due: bazel-lock-regen

chore(deps): migrate editor tests to latest rules_web_e2e (#7378)
  .bazelrc
  .github/scripts/actiond-vrt.sh
  .github/workflows/editor-browser.yml
  MODULE.bazel
  MODULE.bazel.lock
  knowledge-base/013-editor-vrt.md
  packages/editor/README.md
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
  packages/editor/vrt/__screenshots__/editor-editing.png
  packages/editor/vrt/__screenshots__/editor-invalid.png
  packages/editor/vrt/__screenshots__/editor-loaded.png
  packages/editor/vrt/__screenshots__/editor-mobile-rtl.png
  packages/editor/vrt/__screenshots__/editor-tools-mobile-rtl.png
  packages/editor/vrt/__screenshots__/editor-tools.png
  packages/editor/vrt/__screenshots__/editor-workflow-mobile-rtl.png
  packages/editor/vrt/__screenshots__/editor-workflow.png
  packages/editor/vrt/browsers/BUILD.bazel
Due: format-oxfmt, format-starlark, bazel-lock-regen

test: run editor interactions hermetically in actiond
  .bazelrc
  .github/scripts/actiond-vrt.sh
  .github/workflows/editor-browser.yml
  MODULE.bazel
  knowledge-base/013-editor-vrt.md
  packages/editor/README.md
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
  packages/editor/vrt/browsers/BUILD.bazel
Due: format-oxfmt, format-starlark, bazel-lock-regen

docs: align editor test walkthrough with isolated execution
  knowledge-base/013-editor-vrt.md
Due: format-oxfmt

docs: declare isolated test selection in Bazel targets
  packages/editor/vrt/README.md
Due: format-oxfmt

test(@formatjs/editor): use native Bazel browser test actions
  .bazelrc
  MODULE.bazel
  knowledge-base/013-editor-vrt.md
  packages/editor/README.md
  packages/editor/vrt/README.md
Due: format-oxfmt, bazel-lock-regen

feat(formatjs_intl): check inline ICU argument types
  crates/formatjs_intl/BUILD.bazel
  crates/formatjs_intl/README.md
  crates/formatjs_intl/argument_types.rs
  crates/formatjs_intl/formatted_message.rs
  crates/formatjs_intl/lib.rs
  crates/formatjs_intl_macros/lib.rs
  crates/icu_messageformat_parser/BUILD.bazel
  crates/icu_messageformat_parser/arguments.rs
  crates/icu_messageformat_parser/lib.rs
  docs/src/docs/rust/intl.mdx
  knowledge-base/003-rust-crate-dependency-hierarchy.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

feat(formatjs_intl): check inline ICU argument types (#7392)
  crates/formatjs_intl/BUILD.bazel
  crates/formatjs_intl/README.md
  crates/formatjs_intl/argument_types.rs
  crates/formatjs_intl/formatted_message.rs
  crates/formatjs_intl/lib.rs
  crates/formatjs_intl_macros/lib.rs
  crates/icu_messageformat_parser/BUILD.bazel
  crates/icu_messageformat_parser/arguments.rs
  crates/icu_messageformat_parser/lib.rs
  docs/src/docs/rust/intl.mdx
  knowledge-base/003-rust-crate-dependency-hierarchy.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

test(intl_python): use consistent imports in codegen checks
  python/intl/tests/test_codegen.py
Due: none

feat(intl_python): generate readonly Python message contracts
  Cargo.lock
  MODULE.bazel
  crates/intl_python/BUILD.bazel
  crates/intl_python/Cargo.toml
  crates/intl_python/lib.rs
  docs/src/docs/python.mdx
  knowledge-base/003-rust-crate-dependency-hierarchy.md
  python/intl/BUILD.bazel
  python/intl/README.md
  python/intl/intl/codegen.py
  python/intl/tests/test_codegen.py
  python/intl/tests/test_wheel.py
Due: format-oxfmt, format-starlark, bazel-lock-regen

feat(intl_python): generate readonly Python message contracts (#7393)
  Cargo.lock
  MODULE.bazel
  crates/intl_python/BUILD.bazel
  crates/intl_python/Cargo.toml
  crates/intl_python/lib.rs
  docs/src/docs/python.mdx
  knowledge-base/003-rust-crate-dependency-hierarchy.md
  python/intl/BUILD.bazel
  python/intl/README.md
  python/intl/intl/codegen.py
  python/intl/tests/test_codegen.py
  python/intl/tests/test_wheel.py
Due: format-oxfmt, format-starlark, bazel-lock-regen

Path conditions:
  format-package-json: any of: **/package.json
  format-oxfmt: any of: **/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}, but not: **/locale-data/**, **/package.json, **/CHANGELOG.md, packages/cli-lib/tests/extract/typescript/err.tsx, packages/cli/integration-tests/extract/typescript/err.tsx
  format-starlark: any of: **/*.{bazel,bzl,BUILD}
  lint-staged: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}
  bazel-lock-regen: any of: pnpm-lock.yaml, package.json, pnpm-workspace.yaml, *.bazel
