Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

lefthook.yml:

# Lefthook configuration
# Docs: https://github.com/evilmartians/lefthook

# Skip lefthook when LEFTHOOK=0 environment variable is set
# This is equivalent to husky's HUSKY=0 for CI/CD pipelines
skip_output:
  - meta
  - summary

pre-commit:
  parallel: false
  commands:
    format-package-json:
      glob: "**/package.json"
      run: pnpm syncpack fix-mismatches && pnpm syncpack format
      stage_fixed: true
    format-oxfmt:
      glob: "**/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}"
      run: pnpm oxfmt {staged_files}
      stage_fixed: true
      exclude:
        - '**/locale-data/**'
        - '**/package.json'
        - '**/CHANGELOG.md'
        - 'packages/cli-lib/tests/extract/typescript/err.tsx'
        - 'packages/cli/integration-tests/extract/typescript/err.tsx'
    format-starlark:
      glob: "**/*.{bazel,bzl,BUILD}"
      run: |
        set -- {staged_files}
        bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
      stage_fixed: true
    lint-staged:
      glob: '**/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}'
      run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
      stage_fixed: true
    bazel-lock-regen:
      glob:
        - "pnpm-lock.yaml"
        - "package.json"
        - "pnpm-workspace.yaml"
        - "*.bazel"
      run: bazel mod deps
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

chore(deps): refresh editor workspace lock metadata
  MODULE.bazel.lock
Due: none

fix(deps): align CLDR common data with JSON 48.2
  MODULE.bazel
  knowledge-base/007l-polyfill-intl-collator.md
Due: format-oxfmt, bazel-lock-regen

feat(@formatjs/editor): publish headless editor package (#7285)
  .release-please-manifest.json
  MODULE.bazel.lock
  codescythe.jsonc
  knowledge-base/013-editor-vrt.md
  package.json
  packages/editor/BUILD.bazel
  packages/editor/README.md
  packages/editor/demo/BUILD.bazel
  packages/editor/demo/demo.tsx
  packages/editor/demo/workflow-demo.tsx
  packages/editor/index.ts
  packages/editor/index.tsx
  packages/editor/package.json
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/app.tsx
  packages/editor/vrt/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  release-please-config.json
  tools/dist_packages_registry.bzl
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

refactor(@formatjs/intl-numberformat): add LDML number data lookup
  packages/intl-numberformat/scripts/BUILD.bazel
  packages/intl-numberformat/scripts/number-data.test.ts
  packages/intl-numberformat/scripts/number-data.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

refactor(@formatjs/intl-numberformat): prepare numbering-system data aliases
  packages/ecma402-abstract/types/number.ts
  packages/intl-numberformat/core.ts
  packages/intl-numberformat/scripts/BUILD.bazel
  packages/intl-numberformat/scripts/numbering-system-data.ts
  packages/intl-numberformat/tests/misc.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-numberformat): align numbering systems across formatters
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  docs/src/docs/polyfills/intl-numberformat.mdx
  docs/src/docs/polyfills/intl-relativetimeformat.mdx
  knowledge-base/007a-polyfill-intl-numberformat.md
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/007f-polyfill-intl-relativetimeformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/DateTimeFormat/FormatDateTimePattern.ts
  packages/ecma402-abstract/DateTimeFormat/InitializeDateTimeFormat.ts
  packages/intl-collator/cldr-common.BUILD.bazel
  packages/intl-datetimeformat/scripts/extract-dates.ts
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-datetimeformat/tests/index.test.ts
  packages/intl-numberformat/BUILD.bazel
  packages/intl-numberformat/scripts/BUILD.bazel
  packages/intl-numberformat/scripts/cldr-raw.ts
  packages/intl-numberformat/test262-baseline.json
  packages/intl-numberformat/tests/misc.test.ts
  packages/intl-relativetimeformat/scripts/extract-relative.ts
  packages/intl-relativetimeformat/test262-baseline.json
  packages/intl-relativetimeformat/tests/index.test.ts
  tools/test262/baselines/combined-datetimeformat.json
  tools/test262/baselines/combined-durationformat.json
  tools/test262/baselines/combined-numberformat.json
  tools/test262/baselines/combined-relativetimeformat.json
  tools/test262/baselines/combined-supportedvaluesof.json
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

refactor(@formatjs/intl-numberformat): let Gazelle own number data helpers
  knowledge-base/007a-polyfill-intl-numberformat.md
  packages/intl-numberformat/scripts/BUILD.bazel
  packages/intl-numberformat/scripts/cldr-raw.ts
  packages/intl-numberformat/scripts/extract-currencies.ts
  packages/intl-numberformat/scripts/extract-numbers.ts
  packages/intl-numberformat/scripts/extract-units.ts
  packages/intl-numberformat/scripts/number-data/BUILD.bazel
  packages/intl-numberformat/scripts/number-data/number-data.test.ts
  packages/intl-numberformat/scripts/number-data/number-data.ts
  packages/intl-numberformat/scripts/number-data/numbering-system-data.ts
  packages/intl-numberformat/scripts/number-data/utils.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-datetimeformat): mark shared date range parts
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/DateTimeFormat/FormatDateTimePattern.ts
  packages/ecma402-abstract/DateTimeFormat/PartitionDateTimeRangePattern.ts
  packages/ecma402-abstract/DateTimeFormat/skeleton.ts
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-datetimeformat/tests/abstract/skeleton.test.ts
  packages/intl-datetimeformat/tests/format-range.test.ts
  tools/test262/baselines/combined-datetimeformat.json
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): preserve h24 midnight in ranges
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  packages/ecma402-abstract/DateTimeFormat/FormatDateTimePattern.ts
  packages/ecma402-abstract/DateTimeFormat/PartitionDateTimeRangePattern.ts
  packages/intl-datetimeformat/tests/format-range.test.ts
Due: format-oxfmt, lint-staged

refactor(deps): give Test262 tools Gazelle-owned sources
  knowledge-base/014-test262-conformance.md
  tools/test262/BUILD.bazel
  tools/test262/runner/BUILD.bazel
  tools/test262/runner/prelude.ts
  tools/test262/runner/results-checks.ts
  tools/test262/runner/results.ts
  tools/test262/runner/tsconfig.json
  tools/test262/runner/validate.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

perf(@formatjs/intl-collator): reduce root data startup cost
  docs/src/docs/polyfills/intl-collator.mdx
  knowledge-base/007l-polyfill-intl-collator.md
  packages/intl-collator/benchmark/BUILD.bazel
  packages/intl-collator/benchmark/benchmark.ts
  packages/intl-collator/scripts/generate-root-data.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

test(@formatjs/intl-datetimeformat): repair and expand benchmarks
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/benchmark/BUILD.bazel
  packages/intl-datetimeformat/benchmark/benchmark.ts
  packages/intl-datetimeformat/tests/benchmark.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

perf(@formatjs/intl-datetimeformat): reuse range formatting setup
  packages/ecma402-abstract/DateTimeFormat/FormatDateTimePattern.ts
  packages/ecma402-abstract/DateTimeFormat/PartitionDateTimeRangePattern.ts
  packages/intl-datetimeformat/tests/format-range.test.ts
Due: format-oxfmt, lint-staged

docs(deps): track Test262 results and deferred gaps
  docs/src/docs-metadata.generated.json
  docs/src/docs/polyfills/intl-collator.mdx
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  docs/src/docs/polyfills/intl-displaynames.mdx
  docs/src/docs/polyfills/intl-durationformat.mdx
  docs/src/docs/polyfills/intl-getcanonicallocales.mdx
  docs/src/docs/polyfills/intl-listformat.mdx
  docs/src/docs/polyfills/intl-locale.mdx
  docs/src/docs/polyfills/intl-numberformat.mdx
  docs/src/docs/polyfills/intl-pluralrules.mdx
  docs/src/docs/polyfills/intl-relativetimeformat.mdx
  docs/src/docs/polyfills/intl-segmenter.mdx
  docs/src/docs/polyfills/intl-supportedvaluesof.mdx
  knowledge-base/007-package-intl-polyfills.md
  knowledge-base/007c-polyfill-intl-pluralrules.md
  knowledge-base/007e-polyfill-intl-listformat.md
  knowledge-base/007g-polyfill-intl-durationformat.md
  knowledge-base/007h-polyfill-intl-segmenter.md
  knowledge-base/007i-polyfill-intl-locale.md
  knowledge-base/007j-polyfill-intl-getcanonicallocales.md
  knowledge-base/014-test262-conformance.md
  knowledge-base/015-test262-progress-2026-09-09.md
  knowledge-base/015a-test262-deferred-cases.json
Due: format-oxfmt

fix(@formatjs/editor): bootstrap the headless editor release
  .release-please-manifest.json
  knowledge-base/013-editor-vrt.md
  release-please-config.json
Due: format-oxfmt

fix(@formatjs/editor): bootstrap the headless editor release (#7321)
  .release-please-manifest.json
  knowledge-base/013-editor-vrt.md
  release-please-config.json
Due: format-oxfmt

feat(@formatjs/editor): add Playwright E2E interaction specs
  MODULE.bazel
  knowledge-base/013-editor-vrt.md
  packages/editor/index.tsx
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
  packages/editor/vrt/e2e.config.ts
  packages/editor/vrt/editor.spec.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

ci(deps): avoid duplicate Bazel cache uploads
  .github/actions/setup-bazel/action.yml
  .github/workflows/crates-release.yml
  .github/workflows/python-release.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .github/workflows/renovate-bazel-lock.yml
  .github/workflows/rust-cli-release.yml
  .github/workflows/test.yml
  .github/workflows/typesense-index.yml
  .github/workflows/verify-hooks.yml
  .github/workflows/website.yml
  CONTRIBUTING.md
  knowledge-base/001a-bazel-toolchain.md
  knowledge-base/016-build-test-speed-2026-09-10.md
Due: format-oxfmt

chore(@formatjs/editor): pin rules with remote and component support
  MODULE.bazel
Due: bazel-lock-regen

feat(@formatjs/editor): add native component browser tests
  MODULE.bazel
  knowledge-base/013-editor-vrt.md
  packages/editor/README.md
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
  packages/editor/vrt/component.config.ts
  packages/editor/vrt/defs.bzl
  packages/editor/vrt/editor.browser.spec.ts
  packages/editor/vrt/editor.story.tsx
  packages/editor/vrt/gallery.html
  packages/editor/vrt/gallery.tsx
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

refactor(@formatjs/editor): rename component stories to fixtures
  MODULE.bazel
  knowledge-base/013-editor-vrt.md
  packages/editor/README.md
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
  packages/editor/vrt/defs.bzl
  packages/editor/vrt/editor.browser.spec.ts
  packages/editor/vrt/editor.fixture.tsx
  packages/editor/vrt/gallery.tsx
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

refactor(@formatjs/editor): use visual component module naming
  knowledge-base/013-editor-vrt.md
  packages/editor/README.md
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
  packages/editor/vrt/editor.browser.spec.ts
  packages/editor/vrt/editor.visual.tsx
  packages/editor/vrt/gallery.tsx
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

refactor(@formatjs/editor): generate VRT from visual modules
  MODULE.bazel
  knowledge-base/013-editor-vrt.md
  packages/editor/README.md
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
  packages/editor/vrt/app.tsx
  packages/editor/vrt/editor.browser.spec.tsx
  packages/editor/vrt/editor.visual.spec.ts
  packages/editor/vrt/editor.visual.tsx
  packages/editor/vrt/gallery.tsx
  packages/editor/vrt/playwright.config.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/editor): support shared locale drafts and typed save results
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/editor/BUILD.bazel
  packages/editor/README.md
  packages/editor/index.ts
  packages/editor/multi-locale.test.tsx
  packages/editor/workflow.test.tsx
  packages/editor/workflow.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/editor): support shared locale drafts and typed save results (#7325)
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/editor/BUILD.bazel
  packages/editor/README.md
  packages/editor/index.ts
  packages/editor/multi-locale.test.tsx
  packages/editor/workflow.test.tsx
  packages/editor/workflow.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore: release main
  .release-please-manifest.json
  packages/editor/BUILD.bazel
  packages/editor/CHANGELOG.md
  packages/editor/package.json
Due: format-package-json, format-starlark, bazel-lock-regen
