Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

format-package-json:
  run: pnpm syncpack fix-mismatches && pnpm syncpack format
  stage_fixed: true

format-oxfmt:
  run: pnpm oxfmt {staged_files}
  stage_fixed: true

format-starlark:
  run: 'set -- {staged_files}
  
    bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
  
    '
  stage_fixed: true

lint-staged:
  run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
  stage_fixed: true

bazel-lock-regen:
  run: bazel mod deps
  stage_fixed: true

fix(@formatjs/unplugin): parse module ids with queries
  packages/unplugin/tests/transform.test.ts
  packages/unplugin/transform.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/unplugin): parse module ids with queries (#6896)
  packages/unplugin/tests/transform.test.ts
  packages/unplugin/transform.ts
Due: format-oxfmt, lint-staged

chore: release main
  .release-please-manifest.json
  packages/unplugin/BUILD.bazel
  packages/unplugin/CHANGELOG.md
  packages/unplugin/package.json
Due: format-package-json, format-starlark, bazel-lock-regen

chore: release main (#6898)
  .release-please-manifest.json
  packages/unplugin/BUILD.bazel
  packages/unplugin/CHANGELOG.md
  packages/unplugin/package.json
Due: format-package-json, format-starlark, bazel-lock-regen

fix(icu-messageformat-parser): preserve plural context in tags
  crates/icu_messageformat_parser/printer.rs
  packages/babel-plugin-formatjs/tests/fixtures/flattenLiteralPoundsInPluralTag.js
  packages/babel-plugin-formatjs/tests/index.test.ts
  packages/icu-messageformat-parser/printer.ts
  packages/icu-messageformat-parser/tests/printer.test.ts
Due: format-oxfmt, lint-staged

fix: repair corrupted patches/typescript@7.0.2.patch
  patches/typescript@7.0.2.patch
  pnpm-lock.yaml
Due: bazel-lock-regen

chore: validate pnpm-lock.yaml by installing with pnpm
  .github/workflows/test.yml
Due: format-oxfmt

fix(babel-plugin-formatjs): stop enabling JSX syntax implicitly
  docs/src/docs/tooling/babel-plugin.mdx
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/babel-plugin-formatjs/global.d.ts
  packages/babel-plugin-formatjs/index.ts
  packages/babel-plugin-formatjs/package.json
  packages/babel-plugin-formatjs/tests/fixtures/6928.ts
  packages/babel-plugin-formatjs/tests/fixtures/6928.tsx
  packages/babel-plugin-formatjs/tests/fixtures/BUILD.bazel
  packages/babel-plugin-formatjs/tests/index.test.ts
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix: repair corrupted `patches/typescript@7.0.2.patch` (#6929)
  .github/workflows/test.yml
  patches/typescript@7.0.2.patch
  pnpm-lock.yaml
Due: format-oxfmt, bazel-lock-regen

fix(babel-plugin-formatjs): stop enabling JSX syntax implicitly (#6930)
  docs/src/docs/tooling/babel-plugin.mdx
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/babel-plugin-formatjs/global.d.ts
  packages/babel-plugin-formatjs/index.ts
  packages/babel-plugin-formatjs/package.json
  packages/babel-plugin-formatjs/tests/fixtures/6928.ts
  packages/babel-plugin-formatjs/tests/fixtures/6928.tsx
  packages/babel-plugin-formatjs/tests/fixtures/BUILD.bazel
  packages/babel-plugin-formatjs/tests/index.test.ts
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

test(@formatjs/intl-datetimeformat): cover ar-EG numbering system
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat: upgrade CLDR to 48.2.0
  MODULE.bazel.lock
  package.json
  packages/intl-datetimeformat/tests/format.test.ts
  pnpm-lock.yaml
Due: format-oxfmt, lint-staged, bazel-lock-regen

chore: format ar-EG regression test
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

test(@formatjs/intl-datetimeformat): cover ar-EG locale data (#6933)
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

test(@formatjs/intl-numberformat): update fr-CH grouping
  packages/intl-numberformat/tests/misc.test.ts
Due: format-oxfmt, lint-staged

feat: upgrade CLDR to 48.2.0 (#6934)
  MODULE.bazel.lock
  package.json
  packages/intl-datetimeformat/tests/format.test.ts
  packages/intl-numberformat/tests/misc.test.ts
  pnpm-lock.yaml
Due: format-oxfmt, lint-staged, bazel-lock-regen

fix(@formatjs/intl): include context in missing id errors
  packages/intl/message.ts
  packages/intl/tests/formatMessage.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl): serialize missing id context
  packages/intl/message.ts
  packages/intl/tests/formatMessage.test.ts
Due: format-oxfmt, lint-staged

refactor(@formatjs/intl): remove unused invariant
  packages/intl/utils.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl): preserve invariant helper
  packages/intl/message.ts
  packages/intl/utils.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl): include context in missing id errors (#6935)
  packages/intl/message.ts
  packages/intl/tests/formatMessage.test.ts
Due: format-oxfmt, lint-staged

fix(deps): make native release deps host-independent
  scripts/generate_dist_packages.sh
Due: none

fix(deps): make native release deps host-independent (#6936)
  scripts/generate_dist_packages.sh
Due: none

fix(@formatjs/icu-messageformat-parser): preserve plural context in tags
  crates/icu_messageformat_parser/printer.rs
  packages/babel-plugin-formatjs/tests/fixtures/flattenLiteralPoundsInPluralTag.js
  packages/babel-plugin-formatjs/tests/index.test.ts
  packages/icu-messageformat-parser/printer.ts
  packages/icu-messageformat-parser/tests/printer.test.ts
Due: format-oxfmt, lint-staged

fix(icu-messageformat-parser): preserve plural context in tags (#6908)
  crates/icu_messageformat_parser/printer.rs
  packages/babel-plugin-formatjs/tests/fixtures/flattenLiteralPoundsInPluralTag.js
  packages/babel-plugin-formatjs/tests/index.test.ts
  packages/icu-messageformat-parser/printer.ts
  packages/icu-messageformat-parser/tests/printer.test.ts
Due: format-oxfmt, lint-staged

docs: documented an example of formatMessage and formatNumber in getting-started/installation
  docs/src/docs/getting-started/installation.mdx
Due: format-oxfmt

docs: created a dedicated page for ember-intl
  docs/public/sitemap.xml
  docs/src/docs-metadata.generated.json
  docs/src/docs/ember-intl.mdx
  docs/src/utils/navigation.ts
Due: format-oxfmt, lint-staged

fix(formatjs_cli): extract id-only messages
  crates/formatjs_cli/src/extractor.rs
  packages/cli/integration-tests/conformance-tests/test_cases/25_id_only_messages.txt
Due: none

fix(formatjs_cli): preserve message id whitespace
  crates/formatjs_cli/src/extractor.rs
  packages/cli/integration-tests/conformance-tests/test_cases/25_id_only_messages.txt
Due: none

fix(formatjs_cli): extract id-only messages (#6962)
  crates/formatjs_cli/src/extractor.rs
  packages/cli/integration-tests/conformance-tests/test_cases/25_id_only_messages.txt
Due: none

chore: release main
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli_napi/Cargo.toml
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/CHANGELOG.md
  packages/cli-lib/package.json
  packages/cli-native-darwin-arm64/BUILD.bazel
  packages/cli-native-darwin-arm64/CHANGELOG.md
  packages/cli-native-darwin-arm64/package.json
  packages/cli-native-linux-arm64-musl/BUILD.bazel
  packages/cli-native-linux-arm64-musl/CHANGELOG.md
  packages/cli-native-linux-arm64-musl/package.json
  packages/cli-native-linux-arm64/BUILD.bazel
  packages/cli-native-linux-arm64/CHANGELOG.md
  packages/cli-native-linux-arm64/package.json
  packages/cli-native-linux-x64-musl/BUILD.bazel
  packages/cli-native-linux-x64-musl/CHANGELOG.md
  packages/cli-native-linux-x64-musl/package.json
  packages/cli-native-linux-x64/BUILD.bazel
  packages/cli-native-linux-x64/CHANGELOG.md
  packages/cli-native-linux-x64/package.json
  packages/cli-native-win32-x64/BUILD.bazel
  packages/cli-native-win32-x64/CHANGELOG.md
  packages/cli-native-win32-x64/package.json
  packages/cli/BUILD.bazel
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/react-intl/BUILD.bazel
  packages/react-intl/CHANGELOG.md
  packages/react-intl/package.json
Due: format-package-json, format-oxfmt, format-starlark, bazel-lock-regen

chore: release main (#6955)
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli_napi/Cargo.toml
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/CHANGELOG.md
  packages/cli-lib/package.json
  packages/cli-native-darwin-arm64/BUILD.bazel
  packages/cli-native-darwin-arm64/CHANGELOG.md
  packages/cli-native-darwin-arm64/package.json
  packages/cli-native-linux-arm64-musl/BUILD.bazel
  packages/cli-native-linux-arm64-musl/CHANGELOG.md
  packages/cli-native-linux-arm64-musl/package.json
  packages/cli-native-linux-arm64/BUILD.bazel
  packages/cli-native-linux-arm64/CHANGELOG.md
  packages/cli-native-linux-arm64/package.json
  packages/cli-native-linux-x64-musl/BUILD.bazel
  packages/cli-native-linux-x64-musl/CHANGELOG.md
  packages/cli-native-linux-x64-musl/package.json
  packages/cli-native-linux-x64/BUILD.bazel
  packages/cli-native-linux-x64/CHANGELOG.md
  packages/cli-native-linux-x64/package.json
  packages/cli-native-win32-x64/BUILD.bazel
  packages/cli-native-win32-x64/CHANGELOG.md
  packages/cli-native-win32-x64/package.json
  packages/cli/BUILD.bazel
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/react-intl/BUILD.bazel
  packages/react-intl/CHANGELOG.md
  packages/react-intl/package.json
Due: format-package-json, format-oxfmt, format-starlark, bazel-lock-regen

docs: add internationalization best practices
  docs/public/sitemap.xml
  docs/src/docs-metadata.generated.json
  docs/src/docs/core-concepts/basic-internationalization-principles.mdx
  docs/src/docs/getting-started/message-declaration.mdx
  docs/src/docs/guides/best-practices.mdx
  docs/src/utils/navigation.ts
Due: format-oxfmt, lint-staged

docs: clarify relative time guidance
  docs/src/docs/guides/best-practices.mdx
Due: format-oxfmt

docs: document label and value formatting
  docs/src/docs/guides/best-practices.mdx
Due: format-oxfmt

chore: format oxc configuration
  .oxfmtrc.json
  .oxlintrc.json
Due: none

ci: expose hook-generated changes
  .github/workflows/verify-hooks.yml
Due: format-oxfmt

docs: apply hook formatting
  .github/workflows/verify-hooks.yml
  docs/src/docs/guides/best-practices.mdx
Due: format-oxfmt

Path conditions:
  format-package-json: any of: **/package.json
  format-oxfmt: any of: **/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}, but not: **/locale-data/**, **/package.json, **/CHANGELOG.md, packages/cli-lib/tests/extract/typescript/err.tsx, packages/cli/integration-tests/extract/typescript/err.tsx
  format-starlark: any of: **/*.{bazel,bzl,BUILD}
  lint-staged: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}
  bazel-lock-regen: any of: pnpm-lock.yaml, package.json, pnpm-workspace.yaml, *.bazel
