Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

lefthook.yml:

# Lefthook configuration
# Docs: https://github.com/evilmartians/lefthook

# Skip lefthook when LEFTHOOK=0 environment variable is set
# This is equivalent to husky's HUSKY=0 for CI/CD pipelines
skip_output:
  - meta
  - summary

pre-commit:
  parallel: false
  commands:
    format-package-json:
      glob: "**/package.json"
      run: pnpm syncpack fix-mismatches && pnpm syncpack format
      stage_fixed: true
    format-oxfmt:
      glob: "**/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}"
      run: pnpm oxfmt {staged_files}
      stage_fixed: true
      exclude:
        - '**/locale-data/**'
        - '**/package.json'
        - '**/CHANGELOG.md'
        - 'packages/cli-lib/tests/extract/typescript/err.tsx'
        - 'packages/cli/integration-tests/extract/typescript/err.tsx'
    format-starlark:
      glob: "**/*.{bazel,bzl,BUILD}"
      run: |
        set -- {staged_files}
        bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
      stage_fixed: true
    lint-staged:
      glob: '**/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}'
      run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
      stage_fixed: true
    bazel-lock-regen:
      glob:
        - "pnpm-lock.yaml"
        - "package.json"
        - "pnpm-workspace.yaml"
        - "*.bazel"
      run: bazel mod deps
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

docs: fix unicode package file count (7 → 6)
  knowledge-base/011-generated-packages.md
  knowledge-base/migrations/002-generated-packages-migration.md
Due: format-oxfmt

docs: add @formatjs_generated packages architecture and migration plan (#6382)
  knowledge-base/011-generated-packages.md
  knowledge-base/migrations/002-generated-packages-migration.md
Due: format-oxfmt

build: add @formatjs_generated infrastructure (Phase 0)
  BUILD.bazel
  tools/compile.bzl
  tools/gazelle/ts/resolve.go
  tools/generated.bzl
  tools/generated_packages.bzl
  tools/index.bzl
  tools/tsconfig.bzl
Due: format-starlark, bazel-lock-regen

docs: update knowledge-base for @formatjs_generated infrastructure
  knowledge-base/001-repo-layout.md
  knowledge-base/001a-bazel-toolchain.md
Due: format-oxfmt

build: address PR feedback on @formatjs_generated infrastructure
  scripts/generate_generated_packages.sh
  tools/generated.bzl
  tools/generated_packages.bzl
  tools/generated_packages_registry.bzl
Due: format-starlark

docs: update knowledge-base for registry split and no-formatting
  knowledge-base/011-generated-packages.md
Due: format-oxfmt

build: regenerate tsconfig.json files with @formatjs_generated/* paths
  docs/tsconfig.json
  packages/babel-plugin-formatjs/tsconfig.json
  packages/bigdecimal/tsconfig.json
  packages/cli-lib/tsconfig.json
  packages/ecma262-abstract/tsconfig.json
  packages/ecma376/tsconfig.json
  packages/ecma402-abstract/DateTimeFormat/tsconfig.json
  packages/ecma402-abstract/DisplayNames/tsconfig.json
  packages/ecma402-abstract/DurationFormat/tsconfig.json
  packages/ecma402-abstract/NumberFormat/tsconfig.json
  packages/ecma402-abstract/PluralRules/tsconfig.json
  packages/ecma402-abstract/RelativeTimeFormat/tsconfig.json
  packages/ecma402-abstract/tsconfig.json
  packages/ecma402-abstract/types/tsconfig.json
  packages/eslint-plugin-formatjs/tsconfig.json
  packages/fast-memoize/tsconfig.json
  packages/icu-messageformat-parser/tsconfig.json
  packages/icu-skeleton-parser/tsconfig.json
  packages/intl-datetimeformat/tsconfig.json
  packages/intl-displaynames/tsconfig.json
  packages/intl-durationformat/tsconfig.json
  packages/intl-getcanonicallocales/tsconfig.json
  packages/intl-listformat/tsconfig.json
  packages/intl-locale/tsconfig.json
  packages/intl-localematcher/tsconfig.json
  packages/intl-messageformat/tsconfig.json
  packages/intl-numberformat/tsconfig.json
  packages/intl-pluralrules/tsconfig.json
  packages/intl-relativetimeformat/tsconfig.json
  packages/intl-segmenter/tsconfig.json
  packages/intl-supportedvaluesof/tsconfig.json
  packages/intl/tsconfig.json
  packages/react-intl/tsconfig.json
  packages/svelte-intl/tsconfig.json
  packages/ts-transformer/tsconfig.json
  packages/unplugin/tsconfig.json
  packages/utils/tsconfig.json
  packages/vue-intl/tsconfig.json
Due: format-oxfmt

build(@formatjs/intl-datetimeformat): migrate tz data to @formatjs_generated/tz
  BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/core.ts
  packages/intl-datetimeformat/data/all-tz.generated.ts
  packages/intl-datetimeformat/data/links.generated.ts
  packages/intl-datetimeformat/scripts/test262-main-gen.ts
  packages/intl-datetimeformat/test262-main.ts
  packages/intl-datetimeformat/tests/benchmark.ts
  packages/intl-datetimeformat/tests/format-range.test.ts
  packages/intl-datetimeformat/tests/format.test.ts
  packages/intl-datetimeformat/tests/ftp-main.test.ts
  packages/intl-datetimeformat/tests/index.test.ts
  packages/intl-datetimeformat/tests/offset-timezone.test.ts
  tools/generated_packages_registry.bzl
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

build(@formatjs/intl-locale): migrate locale data to @formatjs_generated/cldr.locale
  BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-locale/calendars.generated.ts
  packages/intl-locale/character-orders.generated.ts
  packages/intl-locale/hour-cycles.generated.ts
  packages/intl-locale/index.ts
  packages/intl-locale/numbering-systems.generated.ts
  packages/intl-locale/preference-data.ts
  packages/intl-locale/timezones.generated.ts
  packages/intl-locale/week-data.generated.ts
  tools/generated_packages_registry.bzl
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

ci: add merge_group trigger to CI workflows
  .github/workflows/test.yml
  .github/workflows/verify-hooks.yml
Due: format-oxfmt

build: migrate supplemental data to @formatjs_generated/cldr.core
  BUILD.bazel
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-messageformat-parser/date-time-pattern-generator.ts
  packages/icu-messageformat-parser/time-data.generated.ts
  packages/icu-messageformat-parser/tools/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-getcanonicallocales/aliases.generated.ts
  packages/intl-getcanonicallocales/canonicalizer.ts
  packages/intl-getcanonicallocales/index.ts
  packages/intl-getcanonicallocales/likelySubtags.generated.ts
  packages/intl-localematcher/BUILD.bazel
  packages/intl-localematcher/abstract/regions.generated.ts
  packages/intl-localematcher/abstract/utils.ts
  packages/intl-localematcher/scripts/BUILD.bazel
  packages/utils/BUILD.bazel
  packages/utils/currencyMinorUnits.generated.ts
  packages/utils/defaultCurrency.ts
  packages/utils/defaultCurrencyData.generated.ts
  packages/utils/defaultLocale.ts
  packages/utils/defaultLocaleData.generated.ts
  packages/utils/iso4217.ts
  packages/utils/tools/BUILD.bazel
  tools/generated_packages_registry.bzl
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

ci: add merge_group trigger to CI workflows (#6398)
  .github/workflows/test.yml
  .github/workflows/verify-hooks.yml
Due: format-oxfmt

build(@formatjs/intl-datetimeformat): migrate tz data to @formatjs_generated/tz (#6385)
  BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/core.ts
  packages/intl-datetimeformat/data/all-tz.generated.ts
  packages/intl-datetimeformat/data/links.generated.ts
  packages/intl-datetimeformat/scripts/test262-main-gen.ts
  packages/intl-datetimeformat/test262-main.ts
  packages/intl-datetimeformat/tests/benchmark.ts
  packages/intl-datetimeformat/tests/format-range.test.ts
  packages/intl-datetimeformat/tests/format.test.ts
  packages/intl-datetimeformat/tests/ftp-main.test.ts
  packages/intl-datetimeformat/tests/index.test.ts
  packages/intl-datetimeformat/tests/offset-timezone.test.ts
  tools/generated_packages_registry.bzl
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

build: migrate number/currency data to @formatjs_generated/cldr.number
  BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-durationformat/core.ts
  packages/intl-durationformat/numbering-systems.generated.ts
  packages/intl-durationformat/scripts/BUILD.bazel
  packages/intl-durationformat/time-separators.generated.ts
  packages/intl-numberformat/BUILD.bazel
  packages/intl-numberformat/core.ts
  packages/intl-numberformat/currency-digits.generated.ts
  packages/intl-numberformat/numbering-systems.generated.ts
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl-supportedvaluesof/get-supported-numbering-systems.ts
  packages/intl-supportedvaluesof/numbering-systems.generated.ts
  tools/generated_packages_registry.bzl
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

build(@formatjs/intl-supportedvaluesof): migrate to @formatjs_generated/cldr.supported-values
  BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl-supportedvaluesof/calendars.generated.ts
  packages/intl-supportedvaluesof/collations.generated.ts
  packages/intl-supportedvaluesof/currencies.generated.ts
  packages/intl-supportedvaluesof/get-supported-calendars.ts
  packages/intl-supportedvaluesof/get-supported-collations.ts
  packages/intl-supportedvaluesof/get-supported-currencies.ts
  packages/intl-supportedvaluesof/get-supported-timezones.ts
  packages/intl-supportedvaluesof/get-supported-units.ts
  packages/intl-supportedvaluesof/index.ts
  packages/intl-supportedvaluesof/timezones.generated.ts
  packages/intl-supportedvaluesof/units.generated.ts
  tools/generated_packages_registry.bzl
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

build: migrate supported-locales to @formatjs_generated/cldr.supported-locales
  BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/should-polyfill.ts
  packages/intl-datetimeformat/supported-locales.generated.ts
  packages/intl-displaynames/BUILD.bazel
  packages/intl-displaynames/should-polyfill.ts
  packages/intl-displaynames/supported-locales.generated.ts
  packages/intl-listformat/BUILD.bazel
  packages/intl-listformat/should-polyfill.ts
  packages/intl-listformat/supported-locales.generated.ts
  packages/intl-numberformat/BUILD.bazel
  packages/intl-numberformat/should-polyfill.ts
  packages/intl-numberformat/supported-locales.generated.ts
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-pluralrules/should-polyfill.ts
  packages/intl-pluralrules/supported-locales.generated.ts
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-relativetimeformat/should-polyfill.ts
  packages/intl-relativetimeformat/supported-locales.generated.ts
  tools/generated.bzl
  tools/generated_packages_registry.bzl
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

build: migrate unicode/regex data to @formatjs_generated/unicode
  BUILD.bazel
  packages/ecma402-abstract/BUILD.bazel
  packages/ecma402-abstract/NumberFormat/BUILD.bazel
  packages/ecma402-abstract/NumberFormat/digit-mapping.generated.ts
  packages/ecma402-abstract/NumberFormat/format_to_parts.ts
  packages/ecma402-abstract/regex.generated.ts
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/emoji-data.generated.ts
  packages/eslint-plugin-formatjs/emoji-utils.ts
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-messageformat-parser/parser.ts
  packages/icu-messageformat-parser/regex.generated.ts
  packages/icu-skeleton-parser/BUILD.bazel
  packages/icu-skeleton-parser/number.ts
  packages/icu-skeleton-parser/regex.generated.ts
  packages/intl-segmenter/BUILD.bazel
  packages/intl-segmenter/cldr-segmentation-rules.generated.ts
  packages/intl-segmenter/segmenter.ts
  tools/generated_packages_registry.bzl
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

build: remove direct write_source_files targets from packages
  BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
Due: format-starlark, bazel-lock-regen

build: remove direct write_source_files targets from packages (#6406)
  BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
Due: format-starlark, bazel-lock-regen

Revert "build: remove direct write_source_files targets from packages (#6406)"
  BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
Due: format-starlark, bazel-lock-regen

Revert "build: remove direct write_source_files targets from packages" (#6407)
  BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
Due: format-starlark, bazel-lock-regen

fix(deps): add generated locale data to test data deps
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
Due: format-starlark, bazel-lock-regen

fix(deps): move generated locale data to srcs for typecheck
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
Due: format-starlark, bazel-lock-regen

fix(deps): remove obsolete test262-main refs from cldr-gen multirun
  BUILD.bazel
Due: bazel-lock-regen

build(deps): remove obsolete cldr-gen multirun target
  BUILD.bazel
Due: bazel-lock-regen
