Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

lefthook.yml:

# Lefthook configuration
# Docs: https://github.com/evilmartians/lefthook

# Skip lefthook when LEFTHOOK=0 environment variable is set
# This is equivalent to husky's HUSKY=0 for CI/CD pipelines
skip_output:
  - meta
  - summary

pre-commit:
  parallel: false
  commands:
    format-package-json:
      glob: "**/package.json"
      run: pnpm syncpack fix-mismatches && pnpm syncpack format
      stage_fixed: true
    format-oxfmt:
      glob: "**/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}"
      run: pnpm oxfmt {staged_files}
      stage_fixed: true
      exclude:
        - '**/locale-data/**'
        - '**/package.json'
        - '**/CHANGELOG.md'
        - 'packages/cli-lib/tests/extract/typescript/err.tsx'
        - 'packages/cli/integration-tests/extract/typescript/err.tsx'
    format-starlark:
      glob: "**/*.{bazel,bzl,BUILD}"
      run: |
        set -- {staged_files}
        bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
      stage_fixed: true
    lint-staged:
      glob: '**/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}'
      run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
      stage_fixed: true
    bazel-lock-regen:
      glob:
        - "pnpm-lock.yaml"
        - "package.json"
        - "pnpm-workspace.yaml"
        - "*.bazel"
      run: bazel mod deps
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

chore(@formatjs/intl-displaynames): use #packages direct imports for ecma402-abstract
  BUILD.bazel
  docs/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-displaynames/abstract/CanonicalCodeForDisplayNames.ts
  packages/intl-displaynames/index.ts
  packages/intl-displaynames/scripts/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  tools/tsconfig.bzl
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore(@formatjs/intl-listformat): use #packages direct imports for ecma402-abstract
  packages/intl-listformat/BUILD.bazel
  packages/intl-listformat/index.ts
  packages/intl-listformat/scripts/BUILD.bazel
  packages/intl-listformat/scripts/extract-list.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore(@formatjs/intl-displaynames): use #packages direct imports for ecma402-abstract
  packages/ecma402-abstract/BUILD.bazel
Due: format-starlark, bazel-lock-regen

chore(@formatjs/intl-numberformat): use #packages direct imports for ecma402-abstract
  packages/intl-numberformat/BUILD.bazel
  packages/intl-numberformat/polyfill-force.ts
  packages/intl-numberformat/polyfill.ts
  packages/intl-numberformat/scripts/BUILD.bazel
  packages/intl-numberformat/scripts/extract-currencies.ts
  packages/intl-numberformat/scripts/extract-numbers.ts
  packages/intl-numberformat/scripts/extract-units.ts
  packages/intl-numberformat/scripts/units-constants.ts
  packages/intl-numberformat/scripts/utils.ts
  packages/intl-numberformat/src/core.ts
  packages/intl-numberformat/src/get_internal_slots.ts
  packages/intl-numberformat/src/to_locale_string.ts
  packages/intl-numberformat/src/types.ts
  packages/intl-numberformat/tests/currency/currencyTest.ts
  packages/intl-numberformat/tests/decimal/decimalTest.ts
  packages/intl-numberformat/tests/format_to_parts.test.ts
  packages/intl-numberformat/tests/notation-compact-ko-KR.test.ts
  packages/intl-numberformat/tests/percent/percentTest.ts
  packages/intl-numberformat/tests/unit/unitTest.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore(@formatjs/intl-pluralrules): use #packages direct imports for ecma402-abstract
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-pluralrules/abstract/GetOperands.ts
  packages/intl-pluralrules/abstract/InitializePluralRules.ts
  packages/intl-pluralrules/abstract/ResolvePlural.ts
  packages/intl-pluralrules/abstract/ResolvePluralRange.ts
  packages/intl-pluralrules/index.ts
  packages/intl-pluralrules/scripts/BUILD.bazel
  packages/intl-pluralrules/scripts/cldr-raw.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore(@formatjs/intl-relativetimeformat): use #packages direct imports for ecma402-abstract
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-relativetimeformat/abstract/FormatRelativeTime.ts
  packages/intl-relativetimeformat/abstract/FormatRelativeTimeToParts.ts
  packages/intl-relativetimeformat/abstract/InitializeRelativeTimeFormat.ts
  packages/intl-relativetimeformat/abstract/MakePartsList.ts
  packages/intl-relativetimeformat/abstract/PartitionRelativeTimePattern.ts
  packages/intl-relativetimeformat/abstract/SingularRelativeTimeUnit.ts
  packages/intl-relativetimeformat/get_internal_slots.ts
  packages/intl-relativetimeformat/index.ts
  packages/intl-relativetimeformat/scripts/BUILD.bazel
  packages/intl-relativetimeformat/scripts/extract-relative.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore: convert scripts to use #packages imports for ecma402-abstract (#6227)
  packages/intl-displaynames/BUILD.bazel
  packages/intl-displaynames/scripts/BUILD.bazel
  packages/intl-displaynames/scripts/extract-displaynames.ts
  packages/intl-listformat/BUILD.bazel
  packages/intl-listformat/scripts/BUILD.bazel
  packages/intl-listformat/scripts/extract-list.ts
  packages/intl-numberformat/BUILD.bazel
  packages/intl-numberformat/scripts/BUILD.bazel
  packages/intl-numberformat/scripts/extract-currencies.ts
  packages/intl-numberformat/scripts/extract-numbers.ts
  packages/intl-numberformat/scripts/extract-units.ts
  packages/intl-numberformat/scripts/units-constants.ts
  packages/intl-numberformat/scripts/utils.ts
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-pluralrules/scripts/BUILD.bazel
  packages/intl-pluralrules/scripts/cldr-raw.ts
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-relativetimeformat/scripts/BUILD.bazel
  packages/intl-relativetimeformat/scripts/extract-relative.ts
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl-supportedvaluesof/scripts/BUILD.bazel
  packages/intl-supportedvaluesof/scripts/units.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore: convert remaining packages to #packages imports for ecma402-abstract
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
Due: format-starlark, bazel-lock-regen

chore: remove :node_modules/@formatjs/ecma402-abstract from bundled polyfill packages (#6228)
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
Due: format-starlark, bazel-lock-regen

chore: add esbuild bundling to remaining 7 packages
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
Due: format-starlark, bazel-lock-regen

chore: add esbuild bundling to remaining 7 packages (#6230)
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
Due: format-starlark, bazel-lock-regen

fix: restore type conflict detection using Map.has() instead of in operator
  packages/icu-messageformat-parser/manipulator.ts
Due: format-oxfmt, lint-staged

chore: migrate from esbuild to rolldown for JS bundling
  MODULE.bazel.lock
  knowledge-base/010-script-conventions.md
  package.json
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  packages/react-intl/examples/BUILD.bazel
  pnpm-lock.yaml
  tools/BUILD.bazel
  tools/rolldown-bundle.ts
  tools/rolldown.bzl
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore: migrate from esbuild to rolldown for JS bundling (#6236)
  MODULE.bazel.lock
  knowledge-base/010-script-conventions.md
  package.json
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  packages/react-intl/examples/BUILD.bazel
  pnpm-lock.yaml
  tools/BUILD.bazel
  tools/rolldown-bundle.ts
  tools/rolldown.bzl
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore: add package_exports_test to validate npm package exports
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/bigdecimal/BUILD.bazel
  packages/cli-lib/BUILD.bazel
  packages/cli/BUILD.bazel
  packages/ecma376/BUILD.bazel
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/fast-memoize/BUILD.bazel
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  packages/svelte-intl/BUILD.bazel
  packages/ts-transformer/BUILD.bazel
  packages/unplugin/BUILD.bazel
  packages/utils/BUILD.bazel
  packages/vue-intl/BUILD.bazel
  tools/BUILD.bazel
  tools/check_package_exports.test.ts
  tools/check_package_exports.ts
  tools/index.bzl
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore: add package_exports_test to validate npm package exports (#6237)
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/bigdecimal/BUILD.bazel
  packages/cli-lib/BUILD.bazel
  packages/cli/BUILD.bazel
  packages/ecma376/BUILD.bazel
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/fast-memoize/BUILD.bazel
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  packages/svelte-intl/BUILD.bazel
  packages/ts-transformer/BUILD.bazel
  packages/unplugin/BUILD.bazel
  packages/utils/BUILD.bazel
  packages/vue-intl/BUILD.bazel
  tools/BUILD.bazel
  tools/check_package_exports.test.ts
  tools/check_package_exports.ts
  tools/index.bzl
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore: validate .d.ts files exist for all .js exports in package_exports_test
  tools/check_package_exports.test.ts
  tools/check_package_exports.ts
Due: format-oxfmt, lint-staged

chore: validate .d.ts files exist for all .js exports (#6238)
  tools/check_package_exports.test.ts
  tools/check_package_exports.ts
Due: format-oxfmt, lint-staged

chore: bundle .d.ts files with rolldown-plugin-dts
  MODULE.bazel.lock
  knowledge-base/001-repo-layout-and-toolchain.md
  knowledge-base/007-package-intl-polyfills.md
  package.json
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  pnpm-lock.yaml
  tools/BUILD.bazel
  tools/check_no_internal_imports.sh
  tools/rolldown-bundle.ts
  tools/rolldown.bzl
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore: bundle .d.ts files with rolldown-plugin-dts (#6239)
  MODULE.bazel.lock
  knowledge-base/001-repo-layout-and-toolchain.md
  knowledge-base/007-package-intl-polyfills.md
  package.json
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  pnpm-lock.yaml
  tools/BUILD.bazel
  tools/check_no_internal_imports.sh
  tools/rolldown-bundle.ts
  tools/rolldown.bzl
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore: rewrite check_no_internal_imports from sh to TypeScript
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  tools/BUILD.bazel
  tools/check_no_internal_imports.sh
  tools/check_no_internal_imports.ts
  tools/index.bzl
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore: rewrite check_no_internal_imports from sh to TypeScript
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  tools/BUILD.bazel
  tools/check_no_internal_imports.sh
  tools/check_no_internal_imports.ts
  tools/check_package_exports.ts
  tools/index.bzl
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore: rewrite check_no_internal_imports from sh to TypeScript (#6240)
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  tools/BUILD.bazel
  tools/check_no_internal_imports.sh
  tools/check_no_internal_imports.ts
  tools/check_package_exports.ts
  tools/index.bzl
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

docs(react-intl): remove references to injectIntl HOC removed in v10
  docs/src/docs/getting-started/message-extraction.mdx
  docs/src/docs/guides/testing-with-react-intl.mdx
  docs/src/docs/react-intl.mdx
  docs/src/docs/react-intl/api.mdx
Due: format-oxfmt

docs(react-intl): remove references to injectIntl HOC removed in v10 (#6241)
  docs/src/docs/getting-started/message-extraction.mdx
  docs/src/docs/guides/testing-with-react-intl.mdx
  docs/src/docs/react-intl.mdx
  docs/src/docs/react-intl/api.mdx
Due: format-oxfmt

fix(@formatjs/icu-messageformat-parser): use Map.has() instead of in operator in collectVariables
  packages/icu-messageformat-parser/manipulator.ts
  packages/icu-messageformat-parser/tests/manipulator.test.ts
Due: format-oxfmt, lint-staged

test(@formatjs/icu-messageformat-parser): add Rust conformance tests for GH #6212
  crates/icu_messageformat_parser/manipulator.rs
Due: none

fix(@formatjs/icu-messageformat-parser): use Map.has() instead of in operator in collectVariables (#6242)
  crates/icu_messageformat_parser/manipulator.rs
  packages/icu-messageformat-parser/manipulator.ts
  packages/icu-messageformat-parser/tests/manipulator.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/cli-lib): add missing EOF newline in compile-folder output
  packages/cli-lib/src/compile_folder.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-segmenter): add default index export
  packages/intl-segmenter/BUILD.bazel
  packages/intl-segmenter/index.ts
  packages/intl-segmenter/package.json
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/cli-lib): add missing EOF newline in compile-folder output (#6244)
  packages/cli-lib/src/compile_folder.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-segmenter): add default index export (#6243)
  packages/intl-segmenter/BUILD.bazel
  packages/intl-segmenter/index.ts
  packages/intl-segmenter/package.json
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen
