Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

format-package-json:
  run: pnpm syncpack fix-mismatches && pnpm syncpack format
  stage_fixed: true

format-oxfmt:
  run: pnpm oxfmt {staged_files}
  stage_fixed: true

format-starlark:
  run: 'set -- {staged_files}
  
    bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
  
    '
  stage_fixed: true

lint-staged:
  run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
  stage_fixed: true

bazel-lock-regen:
  run: bazel mod deps
  stage_fixed: true

refactor(deps): add formatjs_test macro with separated dep tracking
  packages/intl-localematcher/BUILD.bazel
  tools/test.bzl
Due: format-starlark, bazel-lock-regen

fix(deps): use effective_tsconfig for types target, add package.json to eslint-plugin srcs
  .gitignore
  packages/eslint-plugin-formatjs/BUILD.bazel
  tools/compile.bzl
Due: format-starlark, bazel-lock-regen

refactor(deps): add formatjs_test macro (#6301)
  packages/intl-localematcher/BUILD.bazel
  tools/test.bzl
Due: format-starlark, bazel-lock-regen

refactor(deps): migrate all 28 packages to formatjs macros (#6306)
  .gitignore
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/bigdecimal/BUILD.bazel
  packages/cli-lib/BUILD.bazel
  packages/ecma376/BUILD.bazel
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-listformat/tsconfig.json
  packages/intl-locale/BUILD.bazel
  packages/intl-locale/tsconfig.json
  packages/intl-messageformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-numberformat/tsconfig.json
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-pluralrules/tsconfig.json
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-relativetimeformat/tsconfig.json
  packages/intl-segmenter/BUILD.bazel
  packages/intl-segmenter/tsconfig.json
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  packages/svelte-intl/BUILD.bazel
  packages/ts-transformer/BUILD.bazel
  packages/unplugin/BUILD.bazel
  packages/utils/BUILD.bazel
  packages/vue-intl/BUILD.bazel
  tools/compile.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

refactor(deps): add custom gazelle plugin with tree-sitter TS parser
  BUILD.bazel
  MODULE.bazel
  go.mod
  go.sum
  tools/gazelle/ts/BUILD.bazel
  tools/gazelle/ts/config.go
  tools/gazelle/ts/kinds.go
  tools/gazelle/ts/language.go
  tools/gazelle/ts/parser.go
  tools/gazelle/ts/parser_test.go
  tools/gazelle/ts/resolve.go
Due: format-starlark, bazel-lock-regen

test(deps): add unit tests for gazelle resolve and utility functions
  tools/gazelle/ts/BUILD.bazel
  tools/gazelle/ts/resolve_test.go
Due: format-starlark, bazel-lock-regen

refactor(deps): add custom gazelle plugin with tree-sitter TS parser (#6307)
  BUILD.bazel
  MODULE.bazel
  go.mod
  go.sum
  tools/gazelle/ts/BUILD.bazel
  tools/gazelle/ts/config.go
  tools/gazelle/ts/kinds.go
  tools/gazelle/ts/language.go
  tools/gazelle/ts/parser.go
  tools/gazelle/ts/parser_test.go
  tools/gazelle/ts/resolve.go
  tools/gazelle/ts/resolve_test.go
Due: format-starlark, bazel-lock-regen

test(deps): add unit tests for gazelle resolve and utility functions
  tools/gazelle/ts/BUILD.bazel
  tools/gazelle/ts/config.go
  tools/gazelle/ts/resolve_test.go
Due: format-starlark, bazel-lock-regen

fix: remove ignore_directories from REPO.bazel for Bazel 7 compat (#47)
  rules/formatjs/.bazelignore
  rules/formatjs/REPO.bazel
Due: format-starlark, bazel-lock-regen

refactor(deps): enable gazelle by default, remove dead deps param, update knowledge-base
  knowledge-base/001a-bazel-toolchain.md
  knowledge-base/migrations/001-gazelle-migration.md
  tools/gazelle/ts/config.go
  tools/package.bzl
Due: format-oxfmt, format-starlark

refactor(deps): enable gazelle plugin, update knowledge-base (#6308)
  knowledge-base/001a-bazel-toolchain.md
  knowledge-base/migrations/001-gazelle-migration.md
  tools/gazelle/ts/config.go
  tools/package.bzl
Due: format-oxfmt, format-starlark

chore(formatjs_cli): bump version to 1.1.1
  crates/formatjs_cli/Cargo.toml
Due: format-oxfmt

chore(formatjs_cli): bump version to 1.1.1 (#6323)
  crates/formatjs_cli/Cargo.toml
Due: format-oxfmt

build: update MODULE.bazel.lock (#51)
  rules/formatjs/MODULE.bazel.lock
Due: none

feat: add formatjs_cli v1.1.0 and v1.1.1 (#54)
  rules/formatjs/MODULE.bazel
  rules/formatjs/MODULE.bazel.lock
  rules/formatjs/formatjs_cli/repositories.bzl
Due: format-starlark, bazel-lock-regen

chore(deps): update BUILD.bazel files via gazelle
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/bigdecimal/BUILD.bazel
  packages/cli-lib/BUILD.bazel
  packages/ecma376/BUILD.bazel
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  packages/svelte-intl/BUILD.bazel
  packages/ts-transformer/BUILD.bazel
  packages/unplugin/BUILD.bazel
  packages/utils/BUILD.bazel
  packages/vue-intl/BUILD.bazel
Due: format-starlark, bazel-lock-regen

feat: add tree-sitter grammar for ICU MessageFormat
  docs/src/docs/tooling/tree-sitter-icu-messageformat.mdx
  docs/src/utils/navigation.ts
  knowledge-base/011-tree-sitter-icu-messageformat.md
  package.json
  packages/icu-messageformat-parser/integration-tests/BUILD.bazel
  packages/tree-sitter-icu-messageformat/BUILD.bazel
  packages/tree-sitter-icu-messageformat/grammar.js
  packages/tree-sitter-icu-messageformat/integration-tests/BUILD.bazel
  packages/tree-sitter-icu-messageformat/integration-tests/ast_grep_test.sh
  packages/tree-sitter-icu-messageformat/integration-tests/conformance_test.sh
  packages/tree-sitter-icu-messageformat/integration-tests/sg-rule-tests/no-nested-select-test.yml
  packages/tree-sitter-icu-messageformat/integration-tests/sg-rule-tests/no-offset-in-plural-test.yml
  packages/tree-sitter-icu-messageformat/integration-tests/sg-rules/no-nested-select.yml
  packages/tree-sitter-icu-messageformat/integration-tests/sg-rules/no-offset-in-plural.yml
  packages/tree-sitter-icu-messageformat/integration-tests/sgconfig.yml
  packages/tree-sitter-icu-messageformat/package.json
  packages/tree-sitter-icu-messageformat/queries/highlights.scm
  packages/tree-sitter-icu-messageformat/queries/injections.scm
  packages/tree-sitter-icu-messageformat/queries/tags.scm
  packages/tree-sitter-icu-messageformat/test/corpus/arguments.txt
  packages/tree-sitter-icu-messageformat/test/corpus/date_time.txt
  packages/tree-sitter-icu-messageformat/test/corpus/edge_cases.txt
  packages/tree-sitter-icu-messageformat/test/corpus/literals.txt
  packages/tree-sitter-icu-messageformat/test/corpus/nested.txt
  packages/tree-sitter-icu-messageformat/test/corpus/number.txt
  packages/tree-sitter-icu-messageformat/test/corpus/plural.txt
  packages/tree-sitter-icu-messageformat/test/corpus/quoting.txt
  packages/tree-sitter-icu-messageformat/test/corpus/select.txt
  packages/tree-sitter-icu-messageformat/test/corpus/tags.txt
  packages/tree-sitter-icu-messageformat/tree-sitter.json
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(deps): fix gazelle plugin to resolve project_references and scoped @types
  Cargo.lock
  MODULE.bazel.lock
  package.json
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/bigdecimal/BUILD.bazel
  packages/cli-lib/BUILD.bazel
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  packages/svelte-intl/BUILD.bazel
  packages/ts-transformer/BUILD.bazel
  packages/unplugin/BUILD.bazel
  packages/utils/BUILD.bazel
  packages/vue-intl/BUILD.bazel
  pnpm-lock.yaml
  tools/gazelle/ts/kinds.go
  tools/gazelle/ts/language.go
  tools/gazelle/ts/resolve.go
  tools/gazelle/ts/resolve_test.go
Due: format-starlark, bazel-lock-regen

fix(deps): exclude examples dirs from gazelle source scanning
  packages/react-intl/BUILD.bazel
  tools/gazelle/ts/language.go
Due: format-starlark, bazel-lock-regen

refactor(deps): use gazelle:ignore, accumulate subdir imports, remove manual walks
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/scripts/BUILD.bazel
  packages/icu-messageformat-parser/benchmark/BUILD.bazel
  packages/icu-messageformat-parser/tools/BUILD.bazel
  packages/icu-skeleton-parser/scripts/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/scripts/BUILD.bazel
  packages/intl-displaynames/scripts/BUILD.bazel
  packages/intl-durationformat/benchmark/BUILD.bazel
  packages/intl-durationformat/scripts/BUILD.bazel
  packages/intl-getcanonicallocales/scripts/BUILD.bazel
  packages/intl-listformat/scripts/BUILD.bazel
  packages/intl-locale/scripts/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  packages/intl-localematcher/benchmark/BUILD.bazel
  packages/intl-localematcher/scripts/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-numberformat/benchmark/BUILD.bazel
  packages/intl-numberformat/scripts/BUILD.bazel
  packages/intl-pluralrules/scripts/BUILD.bazel
  packages/intl-relativetimeformat/scripts/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-segmenter/scripts/BUILD.bazel
  packages/intl-supportedvaluesof/scripts/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  packages/react-intl/example-sandboxes/BUILD.bazel
  packages/react-intl/examples/BUILD.bazel
  packages/ts-transformer/BUILD.bazel
  packages/utils/tools/BUILD.bazel
  packages/vue-intl/BUILD.bazel
  tools/gazelle/ts/language.go
Due: format-starlark, bazel-lock-regen

refactor(deps): use gazelle generation_mode update_only for recursive file discovery
  BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  packages/ts-transformer/BUILD.bazel
  tools/gazelle/ts/language.go
Due: format-starlark, bazel-lock-regen

fix(deps): use gazelle:ignore BUILD files instead of gazelle:exclude
  packages/ts-transformer/examples/BUILD.bazel
  packages/ts-transformer/tsconfig.json
  packages/utils/BUILD.bazel
  packages/utils/tsconfig.json
Due: format-oxfmt, format-starlark, bazel-lock-regen

fix(deps): fix utils/tools sub-package entry_point references
  packages/utils/BUILD.bazel
  packages/utils/tools/BUILD.bazel
Due: format-starlark, bazel-lock-regen

feat(deps): let gazelle manage srcs on formatjs_compile
  MODULE.bazel.lock
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/bigdecimal/BUILD.bazel
  packages/cli-lib/BUILD.bazel
  packages/ecma376/BUILD.bazel
  packages/fast-memoize/BUILD.bazel
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  packages/svelte-intl/BUILD.bazel
  packages/ts-transformer/BUILD.bazel
  packages/unplugin/BUILD.bazel
  packages/utils/BUILD.bazel
  packages/vue-intl/BUILD.bazel
  tools/compile.bzl
  tools/gazelle/ts/kinds.go
  tools/gazelle/ts/language.go
  tools/test.bzl
  tools/vitest.bzl
Due: format-starlark, bazel-lock-regen

refactor(deps): rename formatjs_compile to formatjs_library
  docs/src/docs/tooling/bazel.mdx
  knowledge-base/001a-bazel-toolchain.md
  knowledge-base/migrations/001-gazelle-migration.md
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/bigdecimal/BUILD.bazel
  packages/cli-lib/BUILD.bazel
  packages/ecma376/BUILD.bazel
  packages/fast-memoize/BUILD.bazel
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  packages/svelte-intl/BUILD.bazel
  packages/ts-transformer/BUILD.bazel
  packages/unplugin/BUILD.bazel
  packages/utils/BUILD.bazel
  packages/vue-intl/BUILD.bazel
  tools/compile.bzl
  tools/gazelle/ts/kinds.go
  tools/gazelle/ts/language.go
  tools/package.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

l10n: comprehensive Swedish language support (#6200)
  docs/src/lang/strings_sv-SE.json
  packages/react-intl/examples/SvenskaExample.tsx
  packages/react-intl/examples/SvensktStriktExample.tsx
  packages/react-intl/examples/index.html
  packages/react-intl/examples/index.tsx
Due: format-oxfmt, lint-staged

refactor(deps): rename formatjs_compile to formatjs_library (#6342)
  docs/src/docs/tooling/bazel.mdx
  knowledge-base/001a-bazel-toolchain.md
  knowledge-base/migrations/001-gazelle-migration.md
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/bigdecimal/BUILD.bazel
  packages/cli-lib/BUILD.bazel
  packages/ecma376/BUILD.bazel
  packages/fast-memoize/BUILD.bazel
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  packages/svelte-intl/BUILD.bazel
  packages/ts-transformer/BUILD.bazel
  packages/unplugin/BUILD.bazel
  packages/utils/BUILD.bazel
  packages/vue-intl/BUILD.bazel
  tools/compile.bzl
  tools/gazelle/ts/kinds.go
  tools/gazelle/ts/language.go
  tools/package.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

refactor(deps): merge formatjs_package into formatjs_library
  knowledge-base/migrations/001-gazelle-migration.md
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/bigdecimal/BUILD.bazel
  packages/cli-lib/BUILD.bazel
  packages/ecma376/BUILD.bazel
  packages/fast-memoize/BUILD.bazel
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  packages/svelte-intl/BUILD.bazel
  packages/ts-transformer/BUILD.bazel
  packages/unplugin/BUILD.bazel
  packages/utils/BUILD.bazel
  packages/vue-intl/BUILD.bazel
  tools/compile.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

refactor(deps): merge formatjs_package into formatjs_library (#6344)
  knowledge-base/migrations/001-gazelle-migration.md
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/bigdecimal/BUILD.bazel
  packages/cli-lib/BUILD.bazel
  packages/ecma376/BUILD.bazel
  packages/fast-memoize/BUILD.bazel
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  packages/svelte-intl/BUILD.bazel
  packages/ts-transformer/BUILD.bazel
  packages/unplugin/BUILD.bazel
  packages/utils/BUILD.bazel
  packages/vue-intl/BUILD.bazel
  tools/compile.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

refactor(deps): expose js_library from formatjs_library, use in tests
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/bigdecimal/BUILD.bazel
  packages/cli-lib/BUILD.bazel
  packages/ecma376/BUILD.bazel
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  packages/svelte-intl/BUILD.bazel
  packages/ts-transformer/BUILD.bazel
  packages/unplugin/BUILD.bazel
  packages/utils/BUILD.bazel
  packages/vue-intl/BUILD.bazel
  tools/compile.bzl
  tools/test.bzl
Due: format-starlark, bazel-lock-regen

refactor(deps): move rolldown_bundle into _formatjs_package
  tools/compile.bzl
Due: format-starlark

fix(deps): include :srcs in test typecheck, move rolldown to _formatjs_package
  tools/test.bzl
Due: format-starlark

refactor(deps): expose js_library from formatjs_library, use in tests (#6345)
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/bigdecimal/BUILD.bazel
  packages/cli-lib/BUILD.bazel
  packages/ecma376/BUILD.bazel
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  packages/svelte-intl/BUILD.bazel
  packages/ts-transformer/BUILD.bazel
  packages/unplugin/BUILD.bazel
  packages/utils/BUILD.bazel
  packages/vue-intl/BUILD.bazel
  tools/compile.bzl
  tools/test.bzl
Due: format-starlark, bazel-lock-regen

refactor(deps): simplify formatjs_test deps, remove test_deps split
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/bigdecimal/BUILD.bazel
  packages/cli-lib/BUILD.bazel
  packages/ecma376/BUILD.bazel
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  packages/svelte-intl/BUILD.bazel
  packages/ts-transformer/BUILD.bazel
  packages/unplugin/BUILD.bazel
  packages/utils/BUILD.bazel
  packages/vue-intl/BUILD.bazel
  tools/gazelle/ts/kinds.go
  tools/gazelle/ts/language.go
  tools/gazelle/ts/resolve.go
  tools/test.bzl
Due: format-starlark, bazel-lock-regen

refactor(deps): simplify formatjs_test, move rolldown to _formatjs_package (#6346)
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/bigdecimal/BUILD.bazel
  packages/cli-lib/BUILD.bazel
  packages/ecma376/BUILD.bazel
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  packages/svelte-intl/BUILD.bazel
  packages/ts-transformer/BUILD.bazel
  packages/unplugin/BUILD.bazel
  packages/utils/BUILD.bazel
  packages/vue-intl/BUILD.bazel
  tools/gazelle/ts/kinds.go
  tools/gazelle/ts/language.go
  tools/gazelle/ts/resolve.go
  tools/test.bzl
Due: format-starlark, bazel-lock-regen

refactor(deps): let gazelle manage srcs for formatjs_library and formatjs_test
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/bigdecimal/BUILD.bazel
  packages/cli-lib/BUILD.bazel
  packages/ecma376/BUILD.bazel
  packages/fast-memoize/BUILD.bazel
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  packages/svelte-intl/BUILD.bazel
  packages/ts-transformer/BUILD.bazel
  packages/unplugin/BUILD.bazel
  packages/utils/BUILD.bazel
  packages/vue-intl/BUILD.bazel
  tools/gazelle/ts/config.go
  tools/gazelle/ts/kinds.go
  tools/gazelle/ts/language.go
Due: format-starlark, bazel-lock-regen

refactor(deps): let gazelle manage srcs for formatjs_library and formatjs_test (#6349)
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/bigdecimal/BUILD.bazel
  packages/cli-lib/BUILD.bazel
  packages/ecma376/BUILD.bazel
  packages/fast-memoize/BUILD.bazel
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  packages/svelte-intl/BUILD.bazel
  packages/ts-transformer/BUILD.bazel
  packages/unplugin/BUILD.bazel
  packages/utils/BUILD.bazel
  packages/vue-intl/BUILD.bazel
  tools/gazelle/ts/config.go
  tools/gazelle/ts/kinds.go
  tools/gazelle/ts/language.go
Due: format-starlark, bazel-lock-regen

refactor(deps): remove formatjs_srcs_exclude by restructuring packages
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-segmenter/scripts/benchmark.ts
  packages/intl-segmenter/scripts/debug.ts
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  packages/react-intl/scripts/BUILD.bazel
  packages/react-intl/scripts/perf.tsx
  packages/react-intl/tsconfig.json
  tools/gazelle/ts/config.go
  tools/gazelle/ts/language.go
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

refactor(deps): remove formatjs_srcs_exclude by restructuring packages (#6350)
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-segmenter/scripts/benchmark.ts
  packages/intl-segmenter/scripts/debug.ts
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  packages/react-intl/scripts/BUILD.bazel
  packages/react-intl/scripts/perf.tsx
  packages/react-intl/tsconfig.json
  tools/gazelle/ts/config.go
  tools/gazelle/ts/language.go
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

Path conditions:
  format-package-json: any of: **/package.json
  format-oxfmt: any of: **/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}, but not: **/locale-data/**, **/package.json, **/CHANGELOG.md, packages/cli-lib/tests/extract/typescript/err.tsx, packages/cli/integration-tests/extract/typescript/err.tsx
  format-starlark: any of: **/*.{bazel,bzl,BUILD}
  lint-staged: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}
  bazel-lock-regen: any of: pnpm-lock.yaml, package.json, pnpm-workspace.yaml, *.bazel
