Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

format-package-json:
  run: pnpm syncpack fix-mismatches && pnpm syncpack format
  stage_fixed: true

format-oxfmt:
  run: pnpm oxfmt {staged_files}
  stage_fixed: true

format-starlark:
  run: 'set -- {staged_files}
  
    bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
  
    '
  stage_fixed: true

lint-staged:
  run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
  stage_fixed: true

bazel-lock-regen:
  run: bazel mod deps
  stage_fixed: true

chore(formatjs_cli): bump version to 1.1.3
  Cargo.lock
  crates/formatjs_cli/Cargo.toml
Due: format-oxfmt

build: use resolve_regexp for generated packages
  BUILD.bazel
  knowledge-base/001a-bazel-toolchain.md
  knowledge-base/011-generated-packages.md
Due: format-oxfmt, bazel-lock-regen

build: use resolve_regexp for generated packages (#6485)
  BUILD.bazel
  knowledge-base/001a-bazel-toolchain.md
  knowledge-base/011-generated-packages.md
Due: format-oxfmt, bazel-lock-regen

fix(@formatjs/intl-durationformat): export duration format options
  packages/intl-durationformat/index.ts
  packages/intl-durationformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-durationformat): export duration format options (#6487)
  packages/intl-durationformat/index.ts
  packages/intl-durationformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(formatjs_cli): build linux binary without glibc dependency
  .github/workflows/rust-cli-release.yml
  .github/workflows/test.yml
  MODULE.bazel
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/platforms/BUILD.bazel
  crates/formatjs_cli/release_binary.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

fix(formatjs_cli): build Linux binary without glibc dependency (#6489)
  .github/workflows/rust-cli-release.yml
  .github/workflows/test.yml
  MODULE.bazel
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/platforms/BUILD.bazel
  crates/formatjs_cli/release_binary.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

chore(formatjs_cli): release 1.1.4
  Cargo.lock
  crates/formatjs_cli/Cargo.toml
Due: format-oxfmt

build: generate tzdata hermetically with bazel
  CONTRIBUTING.md
  MODULE.bazel
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/011-generated-packages.md
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/index.bzl
  packages/intl-datetimeformat/scripts/BUILD.bazel
  packages/intl-datetimeformat/scripts/execute_tz_docker.sh
  packages/intl-datetimeformat/tz_data.tar.gz
  packages/intl-datetimeformat/tzcode.BUILD.bazel
  packages/intl-datetimeformat/tzdata.BUILD.bazel
Due: format-oxfmt, format-starlark, bazel-lock-regen

build: generate tzdata hermetically with bazel (#6490)
  CONTRIBUTING.md
  MODULE.bazel
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/011-generated-packages.md
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/index.bzl
  packages/intl-datetimeformat/scripts/BUILD.bazel
  packages/intl-datetimeformat/scripts/execute_tz_docker.sh
  packages/intl-datetimeformat/tz_data.tar.gz
  packages/intl-datetimeformat/tzcode.BUILD.bazel
  packages/intl-datetimeformat/tzdata.BUILD.bazel
Due: format-oxfmt, format-starlark, bazel-lock-regen

build: sync formatjs cli versions (#62)
  rules/formatjs/MODULE.bazel
  rules/formatjs/MODULE.bazel.lock
  rules/formatjs/examples/custom_version/MODULE.bazel
  rules/formatjs/examples/custom_version/README.md
  rules/formatjs/formatjs_cli/extensions.bzl
  rules/formatjs/formatjs_cli/repositories.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

refactor(formatjs_cli): expose shared rust library
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/src/lib.rs
  crates/formatjs_cli/src/main.rs
Due: format-starlark, bazel-lock-regen

refactor(formatjs_cli): expose shared rust library (#6511)
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/src/lib.rs
  crates/formatjs_cli/src/main.rs
Due: format-starlark, bazel-lock-regen

feat(formatjs_cli): add napi binding crate
  Cargo.lock
  Cargo.toml
  MODULE.bazel.lock
  crates/formatjs_cli_napi/BUILD.bazel
  crates/formatjs_cli_napi/Cargo.toml
  crates/formatjs_cli_napi/src/lib.rs
Due: format-oxfmt, format-starlark, bazel-lock-regen

feat(formatjs_cli): add napi binding crate (#6512)
  Cargo.lock
  Cargo.toml
  MODULE.bazel.lock
  crates/formatjs_cli_napi/BUILD.bazel
  crates/formatjs_cli_napi/Cargo.toml
  crates/formatjs_cli_napi/src/lib.rs
Due: format-oxfmt, format-starlark, bazel-lock-regen

feat(formatjs_cli): expose compile through napi
  crates/formatjs_cli/src/compile.rs
  crates/formatjs_cli_napi/src/lib.rs
Due: none

feat(formatjs_cli): expose compile through napi (#6513)
  crates/formatjs_cli/src/compile.rs
  crates/formatjs_cli_napi/src/lib.rs
Due: none

build(formatjs_cli): add cross platform release artifacts
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/platforms/BUILD.bazel
  crates/formatjs_cli/release_binary.bzl
  crates/formatjs_cli_napi/BUILD.bazel
  crates/formatjs_cli_napi/release_node.bzl
Due: format-starlark, bazel-lock-regen

ci(deps): add OSS-Fuzz fuzz targets under fuzz
  fuzz/README.md
  fuzz/babel.config.json
  fuzz/build.sh
  fuzz/fuzz_icu_messageformat_parser.js
  fuzz/fuzz_icu_skeleton_parser.js
  fuzz/fuzz_intl_messageformat.js
  fuzz/package.json
Due: format-package-json, format-oxfmt, lint-staged

build(formatjs_cli): add cross platform release artifacts (#6518)
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/platforms/BUILD.bazel
  crates/formatjs_cli/release_binary.bzl
  crates/formatjs_cli_napi/BUILD.bazel
  crates/formatjs_cli_napi/release_node.bzl
Due: format-starlark, bazel-lock-regen

feat(@formatjs/cli-lib): prefer native compile when available
  crates/formatjs_cli/src/compile.rs
  crates/formatjs_cli_napi/src/lib.rs
  docs/src/docs/getting-started/message-distribution.mdx
  docs/src/docs/tooling/bazel.mdx
  docs/src/docs/tooling/cli.mdx
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/cli.ts
  packages/cli-lib/compile.ts
  packages/cli-lib/native.ts
  packages/cli-lib/package.json
  packages/cli-native-darwin-arm64/BUILD.bazel
  packages/cli-native-darwin-arm64/package.json
  packages/cli-native-linux-x64/BUILD.bazel
  packages/cli-native-linux-x64/package.json
  packages/cli/integration-tests/compile/__snapshots__/integration.test.ts.snap
  packages/cli/integration-tests/compile_folder/__snapshots__/integration.test.ts.snap
  packages/cli/package.json
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

build: require renovate updates to be 7 days old
  renovate.json
Due: none

feat(@formatjs/cli-lib): prefer native compile and deprecate custom --format files (#6519)
  crates/formatjs_cli/src/compile.rs
  crates/formatjs_cli_napi/src/lib.rs
  docs/src/docs/getting-started/message-distribution.mdx
  docs/src/docs/tooling/bazel.mdx
  docs/src/docs/tooling/cli.mdx
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/cli.ts
  packages/cli-lib/compile.ts
  packages/cli-lib/native.ts
  packages/cli-lib/package.json
  packages/cli-native-darwin-arm64/BUILD.bazel
  packages/cli-native-darwin-arm64/package.json
  packages/cli-native-linux-x64/BUILD.bazel
  packages/cli-native-linux-x64/package.json
  packages/cli/integration-tests/compile/__snapshots__/integration.test.ts.snap
  packages/cli/integration-tests/compile_folder/__snapshots__/integration.test.ts.snap
  packages/cli/package.json
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

build: require Renovate updates to be 7 days old (#6529)
  renovate.json
Due: none

Add OSS-Fuzz fuzz targets under fuzz (#6524)
  fuzz/README.md
  fuzz/babel.config.json
  fuzz/build.sh
  fuzz/fuzz_icu_messageformat_parser.js
  fuzz/fuzz_icu_skeleton_parser.js
  fuzz/fuzz_intl_messageformat.js
  fuzz/package.json
Due: format-package-json, format-oxfmt, lint-staged

chore: inline Bazel 9 rc settings
  .aspect/bazelrc/.gitignore
  .aspect/bazelrc/bazel5.bazelrc
  .aspect/bazelrc/bazel6.bazelrc
  .aspect/bazelrc/ci.bazelrc
  .aspect/bazelrc/convenience.bazelrc
  .aspect/bazelrc/correctness.bazelrc
  .aspect/bazelrc/debug.bazelrc
  .aspect/bazelrc/javascript.bazelrc
  .aspect/bazelrc/performance.bazelrc
  .bazelrc
  knowledge-base/001-repo-layout.md
  knowledge-base/001a-bazel-toolchain.md
Due: format-oxfmt

build: configure BuildBuddy RBE
  .bazelrc
  knowledge-base/001a-bazel-toolchain.md
Due: format-oxfmt

chore: inline Bazel 9 rc settings (#6532)
  .aspect/bazelrc/.gitignore
  .aspect/bazelrc/bazel5.bazelrc
  .aspect/bazelrc/bazel6.bazelrc
  .aspect/bazelrc/ci.bazelrc
  .aspect/bazelrc/convenience.bazelrc
  .aspect/bazelrc/correctness.bazelrc
  .aspect/bazelrc/debug.bazelrc
  .aspect/bazelrc/javascript.bazelrc
  .aspect/bazelrc/performance.bazelrc
  .bazelrc
  knowledge-base/001-repo-layout.md
  knowledge-base/001a-bazel-toolchain.md
Due: format-oxfmt

build: include native packages in release dist
  BUILD.bazel
Due: bazel-lock-regen

build: include native packages in release dist (#6534)
  BUILD.bazel
Due: bazel-lock-regen

build: enable RBE for BuildBuddy workflows
  buildbuddy.yaml
Due: none

build: enable RBE for BuildBuddy workflows (#6535)
  buildbuddy.yaml
Due: none

chore: upgrade oxc dependencies
  Cargo.lock
  MODULE.bazel.lock
  crates/formatjs_cli/Cargo.toml
  package.json
  pnpm-lock.yaml
Due: format-oxfmt, bazel-lock-regen

chore: upgrade oxc dependencies (#6536)
  Cargo.lock
  MODULE.bazel.lock
  crates/formatjs_cli/Cargo.toml
  package.json
  pnpm-lock.yaml
Due: format-oxfmt, bazel-lock-regen

build: minimize BuildBuddy workflow downloads
  buildbuddy.yaml
Due: none

build: minimize BuildBuddy workflow downloads (#6538)
  buildbuddy.yaml
Due: none

build: trigger BuildBuddy workflows for PRs
  .bazelrc
  buildbuddy.yaml
Due: none

Path conditions:
  format-package-json: any of: **/package.json
  format-oxfmt: any of: **/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}, but not: **/locale-data/**, **/package.json, **/CHANGELOG.md, packages/cli-lib/tests/extract/typescript/err.tsx, packages/cli/integration-tests/extract/typescript/err.tsx
  format-starlark: any of: **/*.{bazel,bzl,BUILD}
  lint-staged: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}
  bazel-lock-regen: any of: pnpm-lock.yaml, package.json, pnpm-workspace.yaml, *.bazel
