Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

lefthook.yml:

# Lefthook configuration
# Docs: https://github.com/evilmartians/lefthook

# Skip lefthook when LEFTHOOK=0 environment variable is set
# This is equivalent to husky's HUSKY=0 for CI/CD pipelines
skip_output:
  - meta
  - summary

pre-commit:
  parallel: false
  commands:
    format-package-json:
      glob: "**/package.json"
      run: pnpm syncpack fix-mismatches && pnpm syncpack format
      stage_fixed: true
    format-oxfmt:
      glob: "**/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}"
      run: pnpm oxfmt {staged_files}
      stage_fixed: true
      exclude:
        - '**/locale-data/**'
        - '**/package.json'
        - '**/CHANGELOG.md'
        - 'packages/cli-lib/tests/extract/typescript/err.tsx'
        - 'packages/cli/integration-tests/extract/typescript/err.tsx'
    format-starlark:
      glob: "**/*.{bazel,bzl,BUILD}"
      run: |
        set -- {staged_files}
        bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
      stage_fixed: true
    lint-staged:
      glob: '**/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}'
      run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
      stage_fixed: true
    bazel-lock-regen:
      glob:
        - "pnpm-lock.yaml"
        - "package.json"
        - "pnpm-workspace.yaml"
        - "*.bazel"
      run: bazel mod deps
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

chore(formatjs_cli): release 1.1.6
  Cargo.lock
  crates/formatjs_cli/Cargo.toml
Due: format-oxfmt

fix(@formatjs/cli-native-win32-x64): escape release script variables
  crates/formatjs_cli_napi/BUILD.bazel
Due: format-starlark, bazel-lock-regen

fix(formatjs_cli): align Windows release toolchain
  MODULE.bazel
  MODULE.bazel.lock
  crates/formatjs_cli/platforms/BUILD.bazel
  crates/formatjs_cli/release_binary.bzl
  crates/formatjs_cli_napi/release_node.bzl
Due: format-starlark, bazel-lock-regen

fix(formatjs_cli): use Windows gnullvm release target
  MODULE.bazel
  crates/formatjs_cli/platforms/BUILD.bazel
  crates/formatjs_cli/release_binary.bzl
Due: format-starlark, bazel-lock-regen

fix(formatjs_cli): use native MSVC for Windows release
  .github/workflows/release.yml
  .github/workflows/rust-cli-release.yml
  .github/workflows/test.yml
  crates/formatjs_cli/platforms/BUILD.bazel
  crates/formatjs_cli/release_binary.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

fix(formatjs_cli): select local Windows C++ toolchain
  .github/workflows/release.yml
  .github/workflows/rust-cli-release.yml
  .github/workflows/test.yml
  MODULE.bazel
Due: format-oxfmt, bazel-lock-regen

fix(formatjs_cli): avoid Windows exec panic unwind link
  MODULE.bazel
Due: bazel-lock-regen

fix(formatjs_cli): use direct Windows Rust sysroot
  MODULE.bazel
Due: bazel-lock-regen

fix(formatjs_cli): shorten Windows Rust toolchain path
  MODULE.bazel
Due: bazel-lock-regen

fix(release): preserve pnpm workspace config in dist
  BUILD.bazel
Due: bazel-lock-regen

chore(ci): remove Node 20 workflow actions
  .github/actions/setup-msvc/action.yml
  .github/workflows/claude.yml
  .github/workflows/release.yml
  .github/workflows/rust-cli-release.yml
  .github/workflows/test.yml
  .github/workflows/website.yml
Due: format-oxfmt

fix(@formatjs/unplugin): preserve escaped tag literals when flattening
  crates/icu_messageformat_parser/printer.rs
  packages/icu-messageformat-parser/printer.ts
  packages/icu-messageformat-parser/tests/printer.test.ts
  packages/unplugin/conformance-tests/cli-unplugin-conformance.test.ts
  packages/unplugin/tests/transform.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/unplugin): preserve escaped tag literals when flattening (#6599)
  crates/icu_messageformat_parser/printer.rs
  packages/icu-messageformat-parser/printer.ts
  packages/icu-messageformat-parser/tests/printer.test.ts
  packages/unplugin/conformance-tests/cli-unplugin-conformance.test.ts
  packages/unplugin/tests/transform.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/cli-lib): handle literal Windows compile paths
  .github/workflows/test.yml
  crates/formatjs_cli/src/compile.rs
Due: format-oxfmt

fix(@formatjs/cli-lib): handle literal Windows compile paths (#6607)
  .github/workflows/test.yml
  crates/formatjs_cli/src/compile.rs
Due: format-oxfmt

fix(@formatjs/unplugin): preserve JSX defaultMessage output
  packages/unplugin/tests/transform.test.ts
  packages/unplugin/transform.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/unplugin): preserve JSX defaultMessage output (#6608)
  packages/unplugin/tests/transform.test.ts
  packages/unplugin/transform.ts
Due: format-oxfmt, lint-staged

docs: clarify cli native binding support
  docs/src/docs/tooling/cli.mdx
Due: format-oxfmt

docs: clarify cli native binding support (#6609)
  docs/src/docs/tooling/cli.mdx
Due: format-oxfmt

chore(formatjs_cli): release 1.1.7
  Cargo.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli/RELEASE.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

perf(formatjs_cli): parallelize file processing
  Cargo.lock
  benchmarks/cli-comparison/BUILD.bazel
  benchmarks/cli-comparison/README.md
  benchmarks/cli-comparison/benchmark-results.json
  benchmarks/cli-comparison/benchmark-tinybench.mjs
  benchmarks/cli-comparison/run-benchmark.sh
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli/src/compile.rs
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli/src/verify.rs
  docs/src/docs/tooling/bazel.mdx
  docs/src/docs/tooling/cli.mdx
  packages/cli/BUILD.bazel
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

perf(formatjs_cli): parallelize file processing (#6611)
  Cargo.lock
  benchmarks/cli-comparison/BUILD.bazel
  benchmarks/cli-comparison/README.md
  benchmarks/cli-comparison/benchmark-results.json
  benchmarks/cli-comparison/benchmark-tinybench.mjs
  benchmarks/cli-comparison/run-benchmark.sh
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli/src/compile.rs
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli/src/verify.rs
  docs/src/docs/tooling/bazel.mdx
  docs/src/docs/tooling/cli.mdx
  packages/cli/BUILD.bazel
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

docs(formatjs_cli): document rayon thread cap
  crates/formatjs_cli/README.md
Due: format-oxfmt

docs(formatjs_cli): document rayon thread cap (#6616)
  crates/formatjs_cli/README.md
Due: format-oxfmt

perf(formatjs_cli): reduce parser and extract allocations
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli/src/id_generator.rs
  crates/icu_messageformat_parser/lib.rs
  crates/icu_messageformat_parser/parser.rs
  crates/icu_messageformat_parser/printer.rs
Due: none

perf(formatjs_cli): reduce parser and extract allocations (#6617)
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli/src/id_generator.rs
  crates/icu_messageformat_parser/lib.rs
  crates/icu_messageformat_parser/parser.rs
  crates/icu_messageformat_parser/printer.rs
Due: none

perf(formatjs_cli): add oss react-intl corpora
  MODULE.bazel
  MODULE.bazel.lock
  benchmarks/oss-react-intl/BUILD.bazel
  benchmarks/oss-react-intl/README.md
  benchmarks/oss-react-intl/benchmark.ts
  benchmarks/oss-react-intl/kibana.BUILD.bazel
  benchmarks/oss-react-intl/mattermost.BUILD.bazel
  benchmarks/oss-react-intl/mattermost_desktop.BUILD.bazel
  packages/cli/BUILD.bazel
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

bench(formatjs_cli): add OSS React Intl corpora (#6621)
  MODULE.bazel
  MODULE.bazel.lock
  benchmarks/oss-react-intl/BUILD.bazel
  benchmarks/oss-react-intl/README.md
  benchmarks/oss-react-intl/benchmark.ts
  benchmarks/oss-react-intl/kibana.BUILD.bazel
  benchmarks/oss-react-intl/mattermost.BUILD.bazel
  benchmarks/oss-react-intl/mattermost_desktop.BUILD.bazel
  packages/cli/BUILD.bazel
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/unplugin): expose transform hook filters
  MODULE.bazel.lock
  packages/unplugin/README.md
  packages/unplugin/index.ts
  packages/unplugin/tests/transform.test.ts
  packages/unplugin/transform.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/unplugin): expose transform hook filters (#6622)
  MODULE.bazel.lock
  packages/unplugin/README.md
  packages/unplugin/index.ts
  packages/unplugin/tests/transform.test.ts
  packages/unplugin/transform.ts
Due: format-oxfmt, lint-staged

docs(formatjs_cli): document prerelease before tag
  AGENTS.md
  CONTRIBUTING.md
  crates/formatjs_cli/RELEASE.md
  knowledge-base/001-repo-layout.md
Due: format-oxfmt

docs(formatjs_cli): document prerelease before tag (#6626)
  AGENTS.md
  CONTRIBUTING.md
  crates/formatjs_cli/RELEASE.md
  knowledge-base/001-repo-layout.md
Due: format-oxfmt

fix(deps): align oxc rust crates to 0.131
  Cargo.lock
  MODULE.bazel.lock
  crates/formatjs_cli/Cargo.toml
Due: format-oxfmt

chore(formatjs_cli): release 1.1.8
  Cargo.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/Cargo.toml
Due: format-oxfmt, format-starlark, bazel-lock-regen

chore(formatjs_cli): release 1.1.9
  Cargo.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/Cargo.toml
Due: format-oxfmt, format-starlark, bazel-lock-regen

perf(formatjs_cli): parallelize catalog parsing
  AGENTS.md
  CLAUDE.md
  crates/formatjs_cli/README.md
  crates/formatjs_cli/src/compile.rs
  crates/formatjs_cli/src/verify.rs
  crates/icu_messageformat_parser/BENCHMARK.md
  crates/icu_messageformat_parser/OPTIMIZATION_SUMMARY.md
  crates/icu_messageformat_parser/README.md
  crates/icu_messageformat_parser/benches/parser_bench.rs
  crates/icu_messageformat_parser/parser.rs
  docs/src/docs/tooling/rust-icu-messageformat-parser.mdx
  knowledge-base/001-repo-layout.md
  knowledge-base/003-rust-crate-dependency-hierarchy.md
  knowledge-base/006-package-icu-messageformat-parser.md
  knowledge-base/009-package-developer-tools.md
  packages/icu-messageformat-parser/README.md
  packages/icu-messageformat-parser/benchmark/BUILD.bazel
  packages/icu-messageformat-parser/benchmark/benchmark.ts
  packages/icu-messageformat-parser/benchmark/package.json
  packages/icu-messageformat-parser/parser.ts
  packages/icu-messageformat-parser/tests/printer.test.ts
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

perf(formatjs_cli): parallelize catalog parsing (#6642)
  AGENTS.md
  CLAUDE.md
  crates/formatjs_cli/README.md
  crates/formatjs_cli/src/compile.rs
  crates/formatjs_cli/src/verify.rs
  crates/icu_messageformat_parser/BENCHMARK.md
  crates/icu_messageformat_parser/OPTIMIZATION_SUMMARY.md
  crates/icu_messageformat_parser/README.md
  crates/icu_messageformat_parser/benches/parser_bench.rs
  crates/icu_messageformat_parser/parser.rs
  docs/src/docs/tooling/rust-icu-messageformat-parser.mdx
  knowledge-base/001-repo-layout.md
  knowledge-base/003-rust-crate-dependency-hierarchy.md
  knowledge-base/006-package-icu-messageformat-parser.md
  knowledge-base/009-package-developer-tools.md
  packages/icu-messageformat-parser/README.md
  packages/icu-messageformat-parser/benchmark/BUILD.bazel
  packages/icu-messageformat-parser/benchmark/benchmark.ts
  packages/icu-messageformat-parser/benchmark/package.json
  packages/icu-messageformat-parser/parser.ts
  packages/icu-messageformat-parser/tests/printer.test.ts
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

ci: add crates trusted publishing workflow
  .github/workflows/crates-release.yml
Due: format-oxfmt

ci: add crates trusted publishing workflow (#6645)
  .github/workflows/crates-release.yml
Due: format-oxfmt
