Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

lefthook.yml:

# Lefthook configuration
# Docs: https://github.com/evilmartians/lefthook

# Skip lefthook when LEFTHOOK=0 environment variable is set
# This is equivalent to husky's HUSKY=0 for CI/CD pipelines
skip_output:
  - meta
  - summary

pre-commit:
  parallel: false
  commands:
    format-package-json:
      glob: "**/package.json"
      run: pnpm syncpack fix-mismatches && pnpm syncpack format
      stage_fixed: true
    format-oxfmt:
      glob: "**/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}"
      run: pnpm oxfmt {staged_files}
      stage_fixed: true
      exclude:
        - '**/locale-data/**'
        - '**/package.json'
        - '**/CHANGELOG.md'
        - 'packages/cli-lib/tests/extract/typescript/err.tsx'
        - 'packages/cli/integration-tests/extract/typescript/err.tsx'
    format-starlark:
      glob: "**/*.{bazel,bzl,BUILD}"
      run: |
        set -- {staged_files}
        bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
      stage_fixed: true
    lint-staged:
      glob: '**/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}'
      run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
      stage_fixed: true
    bazel-lock-regen:
      glob:
        - "pnpm-lock.yaml"
        - "package.json"
        - "pnpm-workspace.yaml"
        - "*.bazel"
      run: bazel mod deps
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

build(deps): bump gazelle_ts to latest cgo-staticlib build
  MODULE.bazel
  MODULE.bazel.lock
Due: bazel-lock-regen

build(deps): run gazelle with -c opt and drop unused @rrprd alias
  MODULE.bazel
  lefthook.yml
Due: bazel-lock-regen

build: always run gazelle in pre-commit
  lefthook.yml
Due: none

build(deps): bump gazelle_ts to latest cgo-staticlib build (#6446)
  MODULE.bazel
  MODULE.bazel.lock
  lefthook.yml
Due: bazel-lock-regen

Add a test case for optional chaining
  crates/formatjs_cli/src/extractor.rs
  packages/ts-transformer/tests/fixtures/optionalChaining.tsx
Due: format-oxfmt, lint-staged

Attempt to fix optional chaining issue
  crates/formatjs_cli/src/extractor.rs
Due: none

test(deps): cover formatMessage in callback inside optional chain
  packages/cli/integration-tests/conformance-tests/test_cases/22_callback_in_optional_chain.txt
  packages/ts-transformer/tests/index.test.ts
Due: format-oxfmt, lint-staged

chore(deps): regenerate MODULE.bazel.lock
  MODULE.bazel.lock
Due: none

fix(formatjs_cli): extract formatMessage from callbacks inside optional chains (#6460)
  MODULE.bazel.lock
  crates/formatjs_cli/src/extractor.rs
  packages/cli/integration-tests/conformance-tests/test_cases/22_callback_in_optional_chain.txt
  packages/ts-transformer/tests/fixtures/optionalChaining.tsx
  packages/ts-transformer/tests/index.test.ts
Due: format-oxfmt, lint-staged

chore(formatjs_cli): bump version to 1.1.2
  Cargo.lock
  crates/formatjs_cli/Cargo.toml
Due: format-oxfmt

chore(formatjs_cli): bump version to 1.1.2 (#6461)
  Cargo.lock
  crates/formatjs_cli/Cargo.toml
Due: format-oxfmt

build(deps): switch gazelle_ts to official BCR v0.3.3 release
  MODULE.bazel
  MODULE.bazel.lock
Due: bazel-lock-regen

build(deps): switch gazelle_ts to official BCR v0.3.3 release (#6463)
  MODULE.bazel
  MODULE.bazel.lock
Due: bazel-lock-regen

build(eslint-plugin-formatjs): enable gazelle for BUILD.bazel
  MODULE.bazel.lock
  package.json
  packages/eslint-plugin-formatjs/BUILD.bazel
  pnpm-lock.yaml
  tools/compile.bzl
Due: format-starlark, bazel-lock-regen

build(eslint-plugin-formatjs): pin picomatch to ^4.0.4
  MODULE.bazel.lock
  package.json
  pnpm-lock.yaml
Due: bazel-lock-regen

build(eslint-plugin-formatjs): enable gazelle for BUILD.bazel (#6464)
  MODULE.bazel.lock
  package.json
  packages/eslint-plugin-formatjs/BUILD.bazel
  pnpm-lock.yaml
  tools/compile.bzl
Due: format-starlark, bazel-lock-regen

fix(@formatjs/unplugin): strip query/hash in transformInclude
  packages/unplugin/index.ts
  packages/unplugin/tests/transform.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/unplugin): strip query/hash in transformInclude (#6465)
  packages/unplugin/index.ts
  packages/unplugin/tests/transform.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-durationformat): use BigDecimal for sub-second rollups
  packages/intl-durationformat/BUILD.bazel
  packages/intl-durationformat/abstract/PartitionDurationFormatPattern.ts
  packages/intl-durationformat/tests/index.test.ts
  tools/tsconfig.bzl
  tsconfig.json
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-durationformat): pass BigDecimal directly to NumberFormat
  packages/ecma402-abstract/utils.ts
  packages/intl-durationformat/abstract/PartitionDurationFormatPattern.ts
  tools/tsconfig.bzl
  tsconfig.json
Due: format-oxfmt, format-starlark, lint-staged

fix(@formatjs/intl-durationformat): use BigDecimal for sub-second rollups (#6466)
  packages/ecma402-abstract/utils.ts
  packages/intl-durationformat/BUILD.bazel
  packages/intl-durationformat/abstract/PartitionDurationFormatPattern.ts
  packages/intl-durationformat/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-durationformat): declare @formatjs/bigdecimal dependency
  packages/intl-durationformat/package.json
  pnpm-lock.yaml
Due: format-package-json, bazel-lock-regen

build(deps): enable package_json_test across published packages
  tools/BUILD.bazel
  tools/check-package-json.ts
  tools/check_package_json.ts
  tools/compile.bzl
  tools/index.bzl
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-durationformat): declare @formatjs/bigdecimal dependency (#6468)
  packages/intl-durationformat/package.json
  pnpm-lock.yaml
Due: format-package-json, bazel-lock-regen

build(deps): enable package_json_test across published packages (#6469)
  tools/BUILD.bazel
  tools/check-package-json.ts
  tools/check_package_json.ts
  tools/compile.bzl
  tools/index.bzl
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

build(deps): pin gazelle_ts to latest main for abstract-kind rename
  BUILD.bazel
  MODULE.bazel
  MODULE.bazel.lock
  packages/ecma402-abstract/scripts/BUILD.bazel
  tools/compile.bzl
  tools/test.bzl
Due: format-starlark, bazel-lock-regen

build(deps): strip stale ts_project attrs left behind by old gazelle_ts
  docs/BUILD.bazel
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/bigdecimal/BUILD.bazel
  packages/cli-lib/BUILD.bazel
  packages/ecma262-abstract/BUILD.bazel
  packages/ecma376/BUILD.bazel
  packages/ecma402-abstract/BUILD.bazel
  packages/ecma402-abstract/DateTimeFormat/BUILD.bazel
  packages/ecma402-abstract/DisplayNames/BUILD.bazel
  packages/ecma402-abstract/DurationFormat/BUILD.bazel
  packages/ecma402-abstract/NumberFormat/BUILD.bazel
  packages/ecma402-abstract/PluralRules/BUILD.bazel
  packages/ecma402-abstract/RelativeTimeFormat/BUILD.bazel
  packages/ecma402-abstract/scripts/BUILD.bazel
  packages/ecma402-abstract/types/BUILD.bazel
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/fast-memoize/BUILD.bazel
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  packages/react-intl/integration-tests/BUILD.bazel
  packages/svelte-intl/BUILD.bazel
  packages/ts-transformer/BUILD.bazel
  packages/unplugin/BUILD.bazel
  packages/utils/BUILD.bazel
  packages/vue-intl/BUILD.bazel
Due: format-starlark, bazel-lock-regen

docs: clarify native cli installation and compatibility
  crates/formatjs_cli/README.md
  crates/formatjs_cli/RELEASE.md
  docs/src/docs/tooling/bazel.mdx
  docs/src/docs/tooling/cli.mdx
  docs/src/docs/tooling/rust-icu-messageformat-parser.mdx
  docs/src/docs/tooling/rust-icu-skeleton-parser.mdx
  packages/cli/integration-tests/conformance-tests/README.md
  packages/cli/integration-tests/conformance-tests/SUMMARY.md
Due: format-oxfmt

docs: clarify native CLI install and compatibility (#6471)
  crates/formatjs_cli/README.md
  crates/formatjs_cli/RELEASE.md
  docs/src/docs/tooling/bazel.mdx
  docs/src/docs/tooling/cli.mdx
  docs/src/docs/tooling/rust-icu-messageformat-parser.mdx
  docs/src/docs/tooling/rust-icu-skeleton-parser.mdx
  packages/cli/integration-tests/conformance-tests/README.md
  packages/cli/integration-tests/conformance-tests/SUMMARY.md
Due: format-oxfmt

chore: prune unused dependencies
  MODULE.bazel.lock
  docs/BUILD.bazel
  docs/src/components/ui/navigation-menu.tsx
  package.json
  pnpm-lock.yaml
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore: prune unused dependencies (#6472)
  MODULE.bazel.lock
  docs/BUILD.bazel
  docs/src/components/ui/navigation-menu.tsx
  package.json
  pnpm-lock.yaml
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

perf: shard cldr raw generation
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/scripts/cldr-raw.ts
  packages/intl-displaynames/BUILD.bazel
  packages/intl-displaynames/scripts/cldr-raw.ts
  packages/intl-numberformat/BUILD.bazel
  packages/intl-numberformat/scripts/cldr-raw.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(eslint-plugin-formatjs): unwrap TS assertions in messages
  crates/formatjs_cli/src/extractor.rs
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/tests/unit/extract.test.ts
  packages/eslint-plugin-formatjs/tests/enforce-default-message.test.ts
  packages/eslint-plugin-formatjs/util.ts
  packages/ts-transformer/BUILD.bazel
  packages/ts-transformer/tests/fixtures/typeAssertions.tsx
  packages/ts-transformer/tests/index.test.ts
  packages/ts-transformer/transform.ts
  packages/unplugin/conformance-tests/cli-unplugin-conformance.test.ts
  packages/unplugin/transform.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(formatjs): support TS assertions in message extraction (#6475)
  crates/formatjs_cli/src/extractor.rs
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/tests/unit/extract.test.ts
  packages/eslint-plugin-formatjs/tests/enforce-default-message.test.ts
  packages/eslint-plugin-formatjs/util.ts
  packages/ts-transformer/BUILD.bazel
  packages/ts-transformer/tests/fixtures/typeAssertions.tsx
  packages/ts-transformer/tests/index.test.ts
  packages/ts-transformer/transform.ts
  packages/unplugin/conformance-tests/cli-unplugin-conformance.test.ts
  packages/unplugin/transform.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(deps): update Rust OXC crates to 0.129
  Cargo.lock
  MODULE.bazel.lock
  crates/formatjs_cli/Cargo.toml
Due: format-oxfmt

fix(deps): update Rust OXC crates to 0.129 (#6476)
  Cargo.lock
  MODULE.bazel.lock
  crates/formatjs_cli/Cargo.toml
Due: format-oxfmt
