Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

format-package-json:
  run: pnpm syncpack fix-mismatches && pnpm syncpack format
  stage_fixed: true

format-oxfmt:
  run: pnpm oxfmt {staged_files}
  stage_fixed: true

format-starlark:
  run: 'set -- {staged_files}
  
    bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
  
    '
  stage_fixed: true

lint-staged:
  run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
  stage_fixed: true

bazel-lock-regen:
  run: bazel mod deps
  stage_fixed: true

fix: enable Git long paths for Windows release (#7105)
  .github/workflows/release.yml
Due: format-oxfmt

build: cross-compile release artifacts on Linux
  .bazelrc
  .github/workflows/release.yml
  .github/workflows/rust-cli-release.yml
  .github/workflows/test.yml
  MODULE.bazel
  MODULE.bazel.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/README.md
  crates/formatjs_cli/RELEASE.md
  crates/formatjs_cli/platforms/BUILD.bazel
  crates/formatjs_cli/release_binary.bzl
  crates/formatjs_cli_napi/BUILD.bazel
  knowledge-base/001a-bazel-toolchain.md
  patches/llvm-0.8.11-msvc-support.patch
  patches/llvm-0.8.11-musl-mirror.patch
Due: format-oxfmt, format-starlark, bazel-lock-regen

build: consolidate cross-platform release builds
  .github/workflows/release.yml
  .github/workflows/test.yml
  packages/intl-datetimeformat/hermetic_llvm.bzl
  packages/intl-datetimeformat/index.bzl
Due: format-oxfmt, format-starlark

build: remove obsolete Windows GNullVM target
  .github/workflows/release.yml
  .github/workflows/test.yml
  MODULE.bazel
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/RELEASE.md
  crates/formatjs_cli/platforms/BUILD.bazel
  crates/formatjs_cli/release_binary.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

ci: increase BuildBuddy disk for MSVC toolchain
  buildbuddy.yaml
Due: none

build: cross-compile release artifacts on Linux (#7106)
  .bazelrc
  .github/workflows/release.yml
  .github/workflows/rust-cli-release.yml
  .github/workflows/test.yml
  MODULE.bazel
  MODULE.bazel.lock
  buildbuddy.yaml
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/README.md
  crates/formatjs_cli/RELEASE.md
  crates/formatjs_cli/platforms/BUILD.bazel
  crates/formatjs_cli/release_binary.bzl
  crates/formatjs_cli_napi/BUILD.bazel
  knowledge-base/001a-bazel-toolchain.md
  packages/intl-datetimeformat/hermetic_llvm.bzl
  packages/intl-datetimeformat/index.bzl
  patches/llvm-0.8.11-msvc-support.patch
  patches/llvm-0.8.11-musl-mirror.patch
Due: format-oxfmt, format-starlark, bazel-lock-regen

build: add Python native wheel scaffolding
  MODULE.bazel
  MODULE.bazel.lock
  tools/python/BUILD.bazel
  tools/python/pyo3_abi3_config.txt
  tools/python/pyo3_extension.bzl
  tools/python/wheel.bzl
Due: format-starlark, bazel-lock-regen

build: include Python wheels in wildcard builds
  tools/python/wheel.bzl
Due: format-starlark

build: update rules_python to 2.3.2
  MODULE.bazel
  MODULE.bazel.lock
Due: bazel-lock-regen

docs: document Rust and Python Bazel tooling
  knowledge-base/001a-bazel-toolchain.md
Due: format-oxfmt

build: use repository copy_file rule
  tools/python/pyo3_extension.bzl
Due: format-starlark

build: use bazel_lib for Python tooling
  MODULE.bazel
  MODULE.bazel.lock
  knowledge-base/001a-bazel-toolchain.md
  tools/python/pyo3_extension.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

build: migrate to bazel_lib
  BUILD.bazel
  MODULE.bazel
  docs/BUILD.bazel
  examples/rescripts/MODULE.bazel
  examples/rescripts/MODULE.bazel.lock
  examples/strict-locale-type/MODULE.bazel
  examples/strict-locale-type/MODULE.bazel.lock
  examples/strict-message-types/MODULE.bazel
  examples/strict-message-types/MODULE.bazel.lock
  knowledge-base/001a-bazel-toolchain.md
  packages/babel-plugin-formatjs/tests/fixtures/BUILD.bazel
  packages/cli-native-darwin-arm64/BUILD.bazel
  packages/cli-native-linux-arm64-musl/BUILD.bazel
  packages/cli-native-linux-arm64/BUILD.bazel
  packages/cli-native-linux-x64-musl/BUILD.bazel
  packages/cli-native-linux-x64/BUILD.bazel
  packages/cli-native-win32-x64/BUILD.bazel
  packages/cli/BUILD.bazel
  packages/cli/integration-tests/BUILD.bazel
  packages/editor/BUILD.bazel
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/generated/cldr-collation/BUILD.bazel
  packages/generated/unicode/BUILD.bazel
  packages/intl/tests/tsd/BUILD.bazel
  packages/react-intl/examples/BUILD.bazel
  packages/react-intl/tests/tsd/BUILD.bazel
  packages/unplugin/BUILD.bazel
  packages/utils/BUILD.bazel
  test262.BUILD
  tools/BUILD.bazel
  tools/cldr_locales.bzl
  tools/compile.bzl
  tools/index.bzl
  tools/package_json.bzl
  tools/vitest.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

build: add Python native wheel scaffolding (#7108)
  MODULE.bazel
  MODULE.bazel.lock
  knowledge-base/001a-bazel-toolchain.md
  tools/python/BUILD.bazel
  tools/python/pyo3_abi3_config.txt
  tools/python/pyo3_extension.bzl
  tools/python/wheel.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

build: migrate to bazel_lib (#7109)
  BUILD.bazel
  MODULE.bazel
  docs/BUILD.bazel
  examples/rescripts/MODULE.bazel
  examples/rescripts/MODULE.bazel.lock
  examples/strict-locale-type/MODULE.bazel
  examples/strict-locale-type/MODULE.bazel.lock
  examples/strict-message-types/MODULE.bazel
  examples/strict-message-types/MODULE.bazel.lock
  knowledge-base/001a-bazel-toolchain.md
  packages/babel-plugin-formatjs/tests/fixtures/BUILD.bazel
  packages/cli-native-darwin-arm64/BUILD.bazel
  packages/cli-native-linux-arm64-musl/BUILD.bazel
  packages/cli-native-linux-arm64/BUILD.bazel
  packages/cli-native-linux-x64-musl/BUILD.bazel
  packages/cli-native-linux-x64/BUILD.bazel
  packages/cli-native-win32-x64/BUILD.bazel
  packages/cli/BUILD.bazel
  packages/cli/integration-tests/BUILD.bazel
  packages/editor/BUILD.bazel
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/generated/cldr-collation/BUILD.bazel
  packages/generated/unicode/BUILD.bazel
  packages/intl/tests/tsd/BUILD.bazel
  packages/react-intl/examples/BUILD.bazel
  packages/react-intl/tests/tsd/BUILD.bazel
  packages/unplugin/BUILD.bazel
  packages/utils/BUILD.bazel
  test262.BUILD
  tools/BUILD.bazel
  tools/cldr_locales.bzl
  tools/compile.bzl
  tools/index.bzl
  tools/package_json.bzl
  tools/vitest.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

fix: configure Python Release Please strategy
  knowledge-base/001-repo-layout.md
  knowledge-base/001a-bazel-toolchain.md
  release-please-config.json
  tools/release-please/config.test.ts
Due: format-oxfmt, lint-staged

fix: configure Python Release Please strategy (#7114)
  knowledge-base/001-repo-layout.md
  knowledge-base/001a-bazel-toolchain.md
  release-please-config.json
  tools/release-please/config.test.ts
Due: format-oxfmt, lint-staged

chore(deps): refresh Bazel lockfile
  MODULE.bazel.lock
Due: none

fix: bootstrap Python package versions
  .release-please-manifest.json
  knowledge-base/001a-bazel-toolchain.md
  tools/release-please/config.test.ts
Due: format-oxfmt, lint-staged

fix(deps): preserve oxlint compatibility
  .oxlintrc.json
Due: none

fix(deps): align Ruff Python crates
  Cargo.lock
  MODULE.bazel.lock
  crates/formatjs_cli/Cargo.toml
Due: format-oxfmt

fix(deps): support stacker Windows cross-build
  MODULE.bazel
  patches/stacker-0.1.25-windows-x86_64.patch
Due: bazel-lock-regen

fix: bootstrap Python package versions (#7117)
  .release-please-manifest.json
  knowledge-base/001a-bazel-toolchain.md
  tools/release-please/config.test.ts
Due: format-oxfmt, lint-staged

fix(deps): regenerate Bazel lockfile
  MODULE.bazel.lock
Due: none

fix(deps): refresh OXC Bazel metadata
  MODULE.bazel.lock
Due: none

build(deps): regenerate Bazel lockfile in Renovate updates
  renovate.json
Due: none

build(deps): regenerate Bazel lockfile in Renovate updates (#7119)
  renovate.json
Due: none

chore: build PyPI bootstrap wheels
  python/icu_messageformat/BUILD.bazel
  python/icu_messageformat_parser/BUILD.bazel
  python/icu_skeleton_parser/BUILD.bazel
  python/intl/BUILD.bazel
Due: format-starlark, bazel-lock-regen

build(deps): align Renovate Bazel lock command
  renovate.json
Due: none

fix: install Bazelisk in manylinux jobs
  .github/workflows/python-release.yml
Due: format-oxfmt

build(deps): align Renovate Bazel lock command (#7122)
  renovate.json
Due: none

build: cross-compile Python release wheels
  .github/workflows/python-release.yml
  docs/src/docs/python.mdx
  knowledge-base/001a-bazel-toolchain.md
  platforms/BUILD.bazel
Due: format-oxfmt, format-starlark, bazel-lock-regen

Path conditions:
  format-package-json: any of: **/package.json
  format-oxfmt: any of: **/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}, but not: **/locale-data/**, **/package.json, **/CHANGELOG.md, packages/cli-lib/tests/extract/typescript/err.tsx, packages/cli/integration-tests/extract/typescript/err.tsx
  format-starlark: any of: **/*.{bazel,bzl,BUILD}
  lint-staged: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}
  bazel-lock-regen: any of: pnpm-lock.yaml, package.json, pnpm-workspace.yaml, *.bazel
