Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

format-package-json:
  run: pnpm syncpack fix-mismatches && pnpm syncpack format
  stage_fixed: true

format-oxfmt:
  run: pnpm oxfmt {staged_files}
  stage_fixed: true

format-starlark:
  run: 'set -- {staged_files}
  
    bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
  
    '
  stage_fixed: true

lint-staged:
  run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
  stage_fixed: true

bazel-lock-regen:
  run: bazel mod deps
  stage_fixed: true

fix(icu_messageformat_parser,formatjs_cli): fix serialization and element ordering (#5848)
  Cargo.lock
  MODULE.bazel.lock
  packages/cli/integration-tests/compile/__snapshots__/integration.test.ts.snap
  rust/formatjs_cli/Cargo.toml
  rust/formatjs_cli/src/extract.rs
  rust/formatjs_cli/src/formatters/crowdin.rs
  rust/formatjs_cli/src/formatters/default.rs
  rust/formatjs_cli/src/formatters/lokalise.rs
  rust/formatjs_cli/src/formatters/mod.rs
  rust/formatjs_cli/src/formatters/simple.rs
  rust/formatjs_cli/src/formatters/smartling.rs
  rust/formatjs_cli/src/formatters/transifex.rs
  rust/icu_messageformat_parser/BUILD.bazel
  rust/icu_messageformat_parser/Cargo.toml
  rust/icu_messageformat_parser/manipulator.rs
  rust/icu_messageformat_parser/parser.rs
  rust/icu_messageformat_parser/printer.rs
  rust/icu_messageformat_parser/types.rs
Due: format-oxfmt, format-starlark, bazel-lock-regen

build: bump rust package versions
  Cargo.lock
  rust/formatjs_cli/Cargo.toml
  rust/icu_messageformat_parser/Cargo.toml
Due: format-oxfmt

build: relock
  MODULE.bazel.lock
Due: none

fix: bump up formatjs_cli to 0.1.4
  rules/formatjs/MODULE.bazel
  rules/formatjs/MODULE.bazel.lock
  rules/formatjs/examples/aggregate/MODULE.bazel.lock
  rules/formatjs/examples/custom_version/MODULE.bazel.lock
  rules/formatjs/examples/simple/MODULE.bazel.lock
  rules/formatjs/examples/simple/compile_messages.fixture.json
  rules/formatjs/formatjs_cli/repositories.bzl
  rules/formatjs/tests/arguments/fixtures/compiled_ast.json
  rules/formatjs/tests/arguments/fixtures/compiled_multiple.json
Due: format-oxfmt, format-starlark, bazel-lock-regen

fix(formatjs_cli): add $t to built in fn names
  Cargo.lock
  MODULE.bazel.lock
  docs/src/docs/tooling/cli.mdx
  packages/cli/integration-tests/extract/optionalChaining/actual.tsx
  rust/formatjs_cli/Cargo.toml
  rust/formatjs_cli/src/extract.rs
Due: format-oxfmt, lint-staged

build: change workspace resolver
  Cargo.toml
  MODULE.bazel.lock
Due: none

fix: up formatjs_cli to 0.1.5
  rules/formatjs/MODULE.bazel
  rules/formatjs/MODULE.bazel.lock
  rules/formatjs/examples/aggregate/MODULE.bazel.lock
  rules/formatjs/examples/custom_version/MODULE.bazel.lock
  rules/formatjs/examples/simple/MODULE.bazel.lock
  rules/formatjs/formatjs_cli/repositories.bzl
Due: format-starlark, bazel-lock-regen

fix(formatjs_cli): fix space in string concat extractor
  Cargo.lock
  MODULE.bazel.lock
  rust/formatjs_cli/Cargo.toml
  rust/formatjs_cli/src/extractor.rs
Due: format-oxfmt

fix: up formatjs_cli to 0.1.6
  rules/formatjs/MODULE.bazel
  rules/formatjs/MODULE.bazel.lock
  rules/formatjs/examples/aggregate/MODULE.bazel.lock
  rules/formatjs/examples/custom_version/MODULE.bazel.lock
  rules/formatjs/examples/simple/MODULE.bazel.lock
  rules/formatjs/formatjs_cli/repositories.bzl
Due: format-starlark, bazel-lock-regen

fix: rm e2e smoke
  rules/formatjs/.bcr/presubmit.yml
  rules/formatjs/.github/workflows/release_prep.sh
  rules/formatjs/e2e/smoke/.bazelrc
  rules/formatjs/e2e/smoke/BUILD.bazel
  rules/formatjs/e2e/smoke/MODULE.bazel
  rules/formatjs/e2e/smoke/MODULE.bazel.lock
  rules/formatjs/e2e/smoke/README.md
  rules/formatjs/e2e/smoke/REPO.bazel
  rules/formatjs/e2e/smoke/src/Hello.tsx
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

docs: add docs for native formatjs CLI
  docs/src/docs/tooling/cli.mdx
  rust/formatjs_cli/README.md
Due: format-oxfmt

fix(icu_messageformat_parser): fix UTF-8 boundary bug in peek() for multi-byte characters
  rust/icu_messageformat_parser/Cargo.toml
  rust/icu_messageformat_parser/parser.rs
Due: format-oxfmt

chore: update Cargo.lock
  Cargo.lock
Due: none

chore(formatjs_cli): bump icu_messageformat_parser dependency to 0.2.2
  rust/formatjs_cli/Cargo.toml
Due: format-oxfmt

chore: update MODULE.bazel.lock
  MODULE.bazel.lock
Due: none

chore(formatjs_cli): bump version to 0.1.7
  Cargo.lock
  rust/formatjs_cli/Cargo.toml
Due: format-oxfmt

test(formatjs_cli): add test for TypeScript type guard syntax
  MODULE.bazel.lock
  rust/formatjs_cli/src/extractor.rs
Due: none

build: bump formatjs_cli version
  Cargo.lock
  MODULE.bazel.lock
  rust/formatjs_cli/Cargo.toml
Due: format-oxfmt

build: bump to 0.1.8
  rules/formatjs/MODULE.bazel
  rules/formatjs/MODULE.bazel.lock
  rules/formatjs/examples/aggregate/MODULE.bazel.lock
  rules/formatjs/examples/custom_version/MODULE.bazel.lock
  rules/formatjs/examples/simple/MODULE.bazel.lock
  rules/formatjs/formatjs_cli/repositories.bzl
Due: format-starlark, bazel-lock-regen

feat(icu_messageformat_parser): add context/message ID to structural comparison errors
  rust/formatjs_cli/src/verify.rs
  rust/icu_messageformat_parser/manipulator.rs
Due: none

fix(icu_messageformat_parser): fix is_structurally_same to handle variables with the same name
  Cargo.lock
  MODULE.bazel.lock
  packages/cli/integration-tests/verify/integration.test.ts
  rust/icu_messageformat_parser/Cargo.toml
  rust/icu_messageformat_parser/manipulator.rs
Due: format-oxfmt, lint-staged

fix(formatjs_cli): bump version
  Cargo.lock
  MODULE.bazel.lock
  rust/formatjs_cli/Cargo.toml
  rust/icu_messageformat_parser/Cargo.toml
Due: format-oxfmt

fix: add latest formatjs_cli
  rules/formatjs/MODULE.bazel
  rules/formatjs/MODULE.bazel.lock
  rules/formatjs/examples/aggregate/MODULE.bazel.lock
  rules/formatjs/examples/custom_version/MODULE.bazel.lock
  rules/formatjs/examples/simple/MODULE.bazel.lock
  rules/formatjs/formatjs_cli/repositories.bzl
Due: format-starlark, bazel-lock-regen

docs: add docs for Rust
  docs/public/img/rust.svg
  docs/src/components/home/BrowserSection.tsx
  docs/src/docs-metadata.generated.json
  docs/src/docs/tooling/rust-icu-messageformat-parser.mdx
  docs/src/docs/tooling/rust-icu-skeleton-parser.mdx
  docs/src/utils/navigation.ts
Due: format-oxfmt, lint-staged

docs: add docs for Rust (#5851)
  docs/public/img/rust.svg
  docs/src/components/home/BrowserSection.tsx
  docs/src/docs-metadata.generated.json
  docs/src/docs/tooling/rust-icu-messageformat-parser.mdx
  docs/src/docs/tooling/rust-icu-skeleton-parser.mdx
  docs/src/utils/navigation.ts
Due: format-oxfmt, lint-staged

fix: fix bcr configs
  rules/formatjs/.bazelrc
  rules/formatjs/.bazelversion
  rules/formatjs/.bcr/presubmit.yml
  rules/formatjs/MODULE.bazel.lock
  rules/formatjs/tools/preset.bazelrc
Due: format-oxfmt

Update CanonicalCodeForDisplayNames.ts
  packages/intl-displaynames/abstract/CanonicalCodeForDisplayNames.ts
Due: format-oxfmt, lint-staged

docs: add GA
  docs/index.html
Due: format-oxfmt

docs: add GA
  docs/index.html
  docs/src/pages/+Head.tsx
Due: format-oxfmt, lint-staged

docs: switch search to typesense
  .github/workflows/typesense-index.yml
  .gitignore
  MODULE.bazel.lock
  docs/BUILD.bazel
  docs/README.md
  docs/scripts/build-search-index.ts
  docs/scripts/build-typesense-index.ts
  docs/scripts/upload-typesense-index.ts
  docs/src/components/SearchBar.tsx
  docs/src/docs-metadata.generated.json
  docs/src/docs/core-concepts/icu-syntax.mdx
  docs/src/docs/getting-started/installation.mdx
  docs/src/docs/getting-started/message-declaration.mdx
  docs/src/docs/getting-started/message-distribution.mdx
  docs/src/docs/getting-started/message-extraction.mdx
  docs/src/docs/guides/advanced-usage.mdx
  docs/src/docs/guides/bundler-plugins.mdx
  docs/src/docs/guides/develop.mdx
  docs/src/docs/guides/distribute-libraries.mdx
  docs/src/docs/guides/runtime-requirements.mdx
  docs/src/docs/guides/testing-with-react-intl.mdx
  docs/src/docs/intl-messageformat.mdx
  docs/src/docs/intl.mdx
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  docs/src/docs/polyfills/intl-localematcher.mdx
  docs/src/docs/react-intl.mdx
  docs/src/docs/react-intl/api.mdx
  docs/src/docs/react-intl/components.mdx
  docs/src/docs/react-intl/upgrade-guide-2.x.mdx
  docs/src/docs/react-intl/upgrade-guide-3.x.mdx
  docs/src/docs/tooling/cli.mdx
  docs/src/docs/tooling/linter.mdx
  docs/src/docs/tooling/ts-transformer.mdx
  docs/src/docs/vue-intl.mdx
  package.json
  packages/icu-messageformat-parser-wasm/README.md
  pnpm-lock.yaml
  rust/formatjs_cli/RELEASE.md
  rust/icu_messageformat_parser/README.md
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

docs: switch search to typesense (#5859)
  .github/workflows/typesense-index.yml
  .gitignore
  MODULE.bazel.lock
  docs/BUILD.bazel
  docs/README.md
  docs/scripts/build-search-index.ts
  docs/scripts/build-typesense-index.ts
  docs/scripts/upload-typesense-index.ts
  docs/src/components/SearchBar.tsx
  docs/src/docs-metadata.generated.json
  docs/src/docs/core-concepts/icu-syntax.mdx
  docs/src/docs/getting-started/installation.mdx
  docs/src/docs/getting-started/message-declaration.mdx
  docs/src/docs/getting-started/message-distribution.mdx
  docs/src/docs/getting-started/message-extraction.mdx
  docs/src/docs/guides/advanced-usage.mdx
  docs/src/docs/guides/bundler-plugins.mdx
  docs/src/docs/guides/develop.mdx
  docs/src/docs/guides/distribute-libraries.mdx
  docs/src/docs/guides/runtime-requirements.mdx
  docs/src/docs/guides/testing-with-react-intl.mdx
  docs/src/docs/intl-messageformat.mdx
  docs/src/docs/intl.mdx
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  docs/src/docs/polyfills/intl-localematcher.mdx
  docs/src/docs/react-intl.mdx
  docs/src/docs/react-intl/api.mdx
  docs/src/docs/react-intl/components.mdx
  docs/src/docs/react-intl/upgrade-guide-2.x.mdx
  docs/src/docs/react-intl/upgrade-guide-3.x.mdx
  docs/src/docs/tooling/cli.mdx
  docs/src/docs/tooling/linter.mdx
  docs/src/docs/tooling/ts-transformer.mdx
  docs/src/docs/vue-intl.mdx
  package.json
  packages/icu-messageformat-parser-wasm/README.md
  pnpm-lock.yaml
  rust/formatjs_cli/RELEASE.md
  rust/icu_messageformat_parser/README.md
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

docs: try to fix typesense upload job
  .github/workflows/typesense-index.yml
Due: format-oxfmt

build: consolidate builds
  .github/workflows/npm-release.yml
  .github/workflows/test-macos.yml
  .github/workflows/test.yml
Due: format-oxfmt

fix(@formatjs/intl-displaynames): fix ESM import
  packages/intl-displaynames/abstract/CanonicalCodeForDisplayNames.ts
Due: format-oxfmt, lint-staged

feat(eslint-plugin-formatjs): update unicode to 17
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/emoji-data.generated.ts
  packages/eslint-plugin-formatjs/emoji-utils.ts
  packages/eslint-plugin-formatjs/package.json
  packages/eslint-plugin-formatjs/rules/no-emoji.ts
  packages/eslint-plugin-formatjs/scripts/generate-emoji-data.ts
  packages/eslint-plugin-formatjs/tests/emoji-utils.test.ts
  packages/eslint-plugin-formatjs/tests/no-emoji.test.ts
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(eslint-plugin-formatjs): replace unicode-emoji-utils with native implementation (#5865)
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/emoji-data.generated.ts
  packages/eslint-plugin-formatjs/emoji-utils.ts
  packages/eslint-plugin-formatjs/package.json
  packages/eslint-plugin-formatjs/rules/no-emoji.ts
  packages/eslint-plugin-formatjs/scripts/generate-emoji-data.ts
  packages/eslint-plugin-formatjs/tests/emoji-utils.test.ts
  packages/eslint-plugin-formatjs/tests/no-emoji.test.ts
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/ecma402-abstract): upgrade unicode to 17
  MODULE.bazel.lock
  package.json
  packages/ecma402-abstract/BUILD.bazel
  packages/ecma402-abstract/regex.generated.ts
  packages/ecma402-abstract/scripts/regex-gen.ts
  packages/icu-messageformat-parser/tools/BUILD.bazel
  packages/icu-messageformat-parser/tools/regex-gen.ts
  packages/icu-skeleton-parser/BUILD.bazel
  packages/icu-skeleton-parser/scripts/regex-gen.ts
  pnpm-lock.yaml
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore(deps): update rust crate serde_json to v1.0.149 (#5849)
  Cargo.lock
Due: none

Path conditions:
  format-package-json: any of: **/package.json
  format-oxfmt: any of: **/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}, but not: **/locale-data/**, **/package.json, **/CHANGELOG.md, packages/cli-lib/tests/extract/typescript/err.tsx, packages/cli/integration-tests/extract/typescript/err.tsx
  format-starlark: any of: **/*.{bazel,bzl,BUILD}
  lint-staged: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}
  bazel-lock-regen: any of: pnpm-lock.yaml, package.json, pnpm-workspace.yaml, *.bazel
