Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

format-package-json:
  run: pnpm syncpack fix-mismatches && pnpm syncpack format
  stage_fixed: true

format-oxfmt:
  run: pnpm oxfmt {staged_files}
  stage_fixed: true

format-starlark:
  run: 'set -- {staged_files}
  
    bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
  
    '
  stage_fixed: true

lint-staged:
  run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
  stage_fixed: true

bazel-lock-regen:
  run: bazel mod deps
  stage_fixed: true

fix(@formatjs/editor): register browser test entry points
  codescythe.jsonc
Due: none

chore: release main (#7327)
  .release-please-manifest.json
  packages/editor/BUILD.bazel
  packages/editor/CHANGELOG.md
  packages/editor/package.json
Due: format-package-json, format-starlark, bazel-lock-regen

fix(deps): validate commit messages with complete history
  .github/workflows/verify-hooks.yml
Due: format-oxfmt

feat(@formatjs/editor): add browser tests and shared visual modules (#7323)
  .github/workflows/verify-hooks.yml
  MODULE.bazel
  codescythe.jsonc
  knowledge-base/013-editor-vrt.md
  packages/editor/README.md
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
  packages/editor/vrt/app.tsx
  packages/editor/vrt/component.config.ts
  packages/editor/vrt/defs.bzl
  packages/editor/vrt/e2e.config.ts
  packages/editor/vrt/editor.browser.spec.tsx
  packages/editor/vrt/editor.spec.ts
  packages/editor/vrt/editor.visual.spec.ts
  packages/editor/vrt/editor.visual.tsx
  packages/editor/vrt/gallery.html
  packages/editor/vrt/gallery.tsx
  packages/editor/vrt/playwright.config.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/editor): add adaptable editor UI components
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/editor/BUILD.bazel
  packages/editor/README.md
  packages/editor/demo/BUILD.bazel
  packages/editor/demo/design-system/editor-components.tsx
  packages/editor/demo/workflow-demo.tsx
  packages/editor/package.json
  packages/editor/ui.test.tsx
  packages/editor/ui.tsx
  packages/editor/vrt/__screenshots__/editor-workflow-mobile-rtl.png
  packages/editor/vrt/__screenshots__/editor-workflow.png
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/editor): provide design-system components through context
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/editor/README.md
  packages/editor/demo/design-system/editor-components.tsx
  packages/editor/demo/workflow-demo.tsx
  packages/editor/ui.test.tsx
  packages/editor/ui.tsx
Due: format-oxfmt, lint-staged

feat(@formatjs/editor): add editor UI with design-system context (#7329)
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/editor/BUILD.bazel
  packages/editor/README.md
  packages/editor/demo/BUILD.bazel
  packages/editor/demo/design-system/editor-components.tsx
  packages/editor/demo/workflow-demo.tsx
  packages/editor/package.json
  packages/editor/ui.test.tsx
  packages/editor/ui.tsx
  packages/editor/vrt/__screenshots__/editor-workflow-mobile-rtl.png
  packages/editor/vrt/__screenshots__/editor-workflow.png
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore: release main
  .release-please-manifest.json
  packages/editor/BUILD.bazel
  packages/editor/CHANGELOG.md
  packages/editor/package.json
Due: format-package-json, format-starlark, bazel-lock-regen

chore: release main (#7331)
  .release-please-manifest.json
  packages/editor/BUILD.bazel
  packages/editor/CHANGELOG.md
  packages/editor/package.json
Due: format-package-json, format-starlark, bazel-lock-regen

refactor(@formatjs/editor): consume built browser test inputs
  MODULE.bazel
  knowledge-base/013-editor-vrt.md
  packages/editor/README.md
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
  packages/editor/vrt/component.config.ts
  packages/editor/vrt/defs.bzl
  packages/editor/vrt/e2e.config.ts
  packages/editor/vrt/matching.ts
  packages/editor/vrt/playwright.config.ts
  packages/editor/vrt/server.ts
  packages/editor/vrt/vite.config.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

style(@formatjs/editor): format shell build config
  packages/editor/vrt/vite.config.ts
Due: format-oxfmt, lint-staged

feat(@formatjs/intl): add duration formatting APIs
  docs/src/docs/intl.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/ecma402-abstract/types/duration.ts
  packages/intl-durationformat/types.ts
  packages/intl/BUILD.bazel
  packages/intl/create-intl.ts
  packages/intl/duration.ts
  packages/intl/index.ts
  packages/intl/tests/formatDuration.test.ts
  packages/intl/tests/formatMessage.test.ts
  packages/intl/tests/tsd/global_type_overrides.test-d.ts
  packages/intl/types.ts
  packages/intl/utils.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(react-intl): add duration components and bindings
  docs/src/docs/guides/runtime-requirements.mdx
  docs/src/docs/react-intl/api.mdx
  docs/src/docs/react-intl/components.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/react-intl/BUILD.bazel
  packages/react-intl/components/createFormattedComponent.tsx
  packages/react-intl/index.ts
  packages/react-intl/server.ts
  packages/react-intl/tests/unit/components/duration.test.tsx
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/editor): extend composed views with typed content slots
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/editor/README.md
  packages/editor/demo/design-system/editor-components.tsx
  packages/editor/ui.test.tsx
  packages/editor/ui.tsx
Due: format-oxfmt, lint-staged

feat(@formatjs/intl): add duration formatting APIs (#7332)
  docs/src/docs/intl.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/ecma402-abstract/types/duration.ts
  packages/intl-durationformat/types.ts
  packages/intl/BUILD.bazel
  packages/intl/create-intl.ts
  packages/intl/duration.ts
  packages/intl/index.ts
  packages/intl/tests/formatDuration.test.ts
  packages/intl/tests/formatMessage.test.ts
  packages/intl/tests/tsd/global_type_overrides.test-d.ts
  packages/intl/types.ts
  packages/intl/utils.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(react-intl): add duration components and bindings (#7333)
  docs/src/docs/guides/runtime-requirements.mdx
  docs/src/docs/react-intl/api.mdx
  docs/src/docs/react-intl/components.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/react-intl/BUILD.bazel
  packages/react-intl/components/createFormattedComponent.tsx
  packages/react-intl/index.ts
  packages/react-intl/server.ts
  packages/react-intl/tests/unit/components/duration.test.tsx
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/editor): extend composed views with typed content slots (#7336)
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/editor/README.md
  packages/editor/demo/design-system/editor-components.tsx
  packages/editor/ui.test.tsx
  packages/editor/ui.tsx
Due: format-oxfmt, lint-staged

feat(@formatjs/editor): add reusable translation tools
  codescythe.jsonc
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/editor/BUILD.bazel
  packages/editor/README.md
  packages/editor/copy-text-button.tsx
  packages/editor/demo/BUILD.bazel
  packages/editor/demo/design-system/editor-components.tsx
  packages/editor/demo/tools-demo.tsx
  packages/editor/design-system.tsx
  packages/editor/locale-picker.tsx
  packages/editor/message-context.tsx
  packages/editor/message-preview.tsx
  packages/editor/tools.test.tsx
  packages/editor/ui.tsx
  packages/editor/vrt/__screenshots__/editor-tools-mobile-rtl.png
  packages/editor/vrt/__screenshots__/editor-tools.png
  packages/editor/vrt/app.tsx
  packages/editor/vrt/editor.spec.ts
  packages/editor/vrt/editor.visual.tsx
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/editor): add reusable translation tools (#7340)
  codescythe.jsonc
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/editor/BUILD.bazel
  packages/editor/README.md
  packages/editor/copy-text-button.tsx
  packages/editor/demo/BUILD.bazel
  packages/editor/demo/design-system/editor-components.tsx
  packages/editor/demo/tools-demo.tsx
  packages/editor/design-system.tsx
  packages/editor/locale-picker.tsx
  packages/editor/message-context.tsx
  packages/editor/message-preview.tsx
  packages/editor/tools.test.tsx
  packages/editor/ui.tsx
  packages/editor/vrt/__screenshots__/editor-tools-mobile-rtl.png
  packages/editor/vrt/__screenshots__/editor-tools.png
  packages/editor/vrt/app.tsx
  packages/editor/vrt/editor.spec.ts
  packages/editor/vrt/editor.visual.tsx
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(formatjs_intl): add checked FormattedMessage output
  crates/formatjs_cli/README.md
  crates/formatjs_cli/src/rust_extractor.rs
  crates/formatjs_intl/BUILD.bazel
  crates/formatjs_intl/README.md
  crates/formatjs_intl/formatted_message.rs
  crates/formatjs_intl/lib.rs
  docs/src/docs/rust/intl.mdx
  knowledge-base/003-rust-crate-dependency-hierarchy.md
  knowledge-base/008-package-intl-and-framework-integrations.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

feat(formatjs_intl): add checked FormattedMessage output (#7343)
  crates/formatjs_cli/README.md
  crates/formatjs_cli/src/rust_extractor.rs
  crates/formatjs_intl/BUILD.bazel
  crates/formatjs_intl/README.md
  crates/formatjs_intl/formatted_message.rs
  crates/formatjs_intl/lib.rs
  docs/src/docs/rust/intl.mdx
  knowledge-base/003-rust-crate-dependency-hierarchy.md
  knowledge-base/008-package-intl-and-framework-integrations.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

fix(deps): align Ruff parser dependencies
  Cargo.lock
  MODULE.bazel.lock
  crates/formatjs_cli/Cargo.toml
  renovate.json
Due: format-oxfmt

fix(@formatjs/editor): declare VRT matching entry point
  codescythe.jsonc
Due: none

fix(formatjs_intl): restrict verbatim text to domain sources
  crates/formatjs_intl/README.md
  crates/formatjs_intl/formatted_message.rs
  crates/formatjs_intl/lib.rs
  docs/src/docs/rust/intl.mdx
  knowledge-base/003-rust-crate-dependency-hierarchy.md
  knowledge-base/008-package-intl-and-framework-integrations.md
Due: format-oxfmt

refactor(@formatjs/editor): consume built browser test inputs (#7335)
  MODULE.bazel
  codescythe.jsonc
  knowledge-base/013-editor-vrt.md
  packages/editor/README.md
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
  packages/editor/vrt/component.config.ts
  packages/editor/vrt/defs.bzl
  packages/editor/vrt/e2e.config.ts
  packages/editor/vrt/matching.ts
  packages/editor/vrt/playwright.config.ts
  packages/editor/vrt/server.ts
  packages/editor/vrt/vite.config.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(formatjs_intl): restrict verbatim text to domain sources (#7349)
  crates/formatjs_intl/README.md
  crates/formatjs_intl/formatted_message.rs
  crates/formatjs_intl/lib.rs
  docs/src/docs/rust/intl.mdx
  knowledge-base/003-rust-crate-dependency-hierarchy.md
  knowledge-base/008-package-intl-and-framework-integrations.md
Due: format-oxfmt

chore: release main
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_intl/CHANGELOG.md
  crates/formatjs_intl/Cargo.toml
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/CHANGELOG.md
  packages/cli-lib/package.json
  packages/cli-native-darwin-arm64/BUILD.bazel
  packages/cli-native-darwin-arm64/CHANGELOG.md
  packages/cli-native-darwin-arm64/package.json
  packages/cli-native-linux-arm64-musl/BUILD.bazel
  packages/cli-native-linux-arm64-musl/CHANGELOG.md
  packages/cli-native-linux-arm64-musl/package.json
  packages/cli-native-linux-arm64/BUILD.bazel
  packages/cli-native-linux-arm64/CHANGELOG.md
  packages/cli-native-linux-arm64/package.json
  packages/cli-native-linux-x64-musl/BUILD.bazel
  packages/cli-native-linux-x64-musl/CHANGELOG.md
  packages/cli-native-linux-x64-musl/package.json
  packages/cli-native-linux-x64/BUILD.bazel
  packages/cli-native-linux-x64/CHANGELOG.md
  packages/cli-native-linux-x64/package.json
  packages/cli-native-win32-x64/BUILD.bazel
  packages/cli-native-win32-x64/CHANGELOG.md
  packages/cli-native-win32-x64/package.json
  packages/cli/BUILD.bazel
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/editor/BUILD.bazel
  packages/editor/CHANGELOG.md
  packages/editor/package.json
  packages/react-intl/BUILD.bazel
  packages/react-intl/CHANGELOG.md
  packages/react-intl/package.json
Due: format-package-json, format-oxfmt, format-starlark, bazel-lock-regen

chore: release main (#7346)
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_intl/CHANGELOG.md
  crates/formatjs_intl/Cargo.toml
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/CHANGELOG.md
  packages/cli-lib/package.json
  packages/cli-native-darwin-arm64/BUILD.bazel
  packages/cli-native-darwin-arm64/CHANGELOG.md
  packages/cli-native-darwin-arm64/package.json
  packages/cli-native-linux-arm64-musl/BUILD.bazel
  packages/cli-native-linux-arm64-musl/CHANGELOG.md
  packages/cli-native-linux-arm64-musl/package.json
  packages/cli-native-linux-arm64/BUILD.bazel
  packages/cli-native-linux-arm64/CHANGELOG.md
  packages/cli-native-linux-arm64/package.json
  packages/cli-native-linux-x64-musl/BUILD.bazel
  packages/cli-native-linux-x64-musl/CHANGELOG.md
  packages/cli-native-linux-x64-musl/package.json
  packages/cli-native-linux-x64/BUILD.bazel
  packages/cli-native-linux-x64/CHANGELOG.md
  packages/cli-native-linux-x64/package.json
  packages/cli-native-win32-x64/BUILD.bazel
  packages/cli-native-win32-x64/CHANGELOG.md
  packages/cli-native-win32-x64/package.json
  packages/cli/BUILD.bazel
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/editor/BUILD.bazel
  packages/editor/CHANGELOG.md
  packages/editor/package.json
  packages/react-intl/BUILD.bazel
  packages/react-intl/CHANGELOG.md
  packages/react-intl/package.json
Due: format-package-json, format-oxfmt, format-starlark, bazel-lock-regen

fix(deps): propagate Rust-only releases to npm packages
  .github/workflows/release-please.yml
  BUILD.bazel
  CONTRIBUTING.md
  knowledge-base/001-repo-layout.md
  tools/BUILD.bazel
  tools/release-please/npm-workspace-plugin.test.ts
  tools/release-please/npm-workspace-plugin.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(deps): propagate Rust-only releases to npm packages (#7354)
  .github/workflows/release-please.yml
  BUILD.bazel
  CONTRIBUTING.md
  knowledge-base/001-repo-layout.md
  tools/BUILD.bazel
  tools/release-please/npm-workspace-plugin.test.ts
  tools/release-please/npm-workspace-plugin.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(deps): reconcile unpublished npm releases
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  docs/src/docs/guides/develop.mdx
  knowledge-base/001-repo-layout.md
  tools/release-please/npm-release-paths.test.ts
  tools/release-please/npm-release-paths.ts
Due: format-oxfmt, lint-staged

fix(deps): build only selected npm release packages
  .github/workflows/release.yml
  BUILD.bazel
  docs/src/docs/guides/develop.mdx
  knowledge-base/001-repo-layout.md
Due: format-oxfmt, bazel-lock-regen

fix(deps): wait for npm registry propagation
  knowledge-base/001-repo-layout.md
  tools/release-please/npm-release-paths.test.ts
  tools/release-please/npm-release-paths.ts
Due: format-oxfmt, lint-staged

fix(deps): revalidate npm publication metadata
  docs/src/docs/guides/develop.mdx
  knowledge-base/001-repo-layout.md
  tools/release-please/npm-release-paths.test.ts
  tools/release-please/npm-release-paths.ts
Due: format-oxfmt, lint-staged

fix(deps): verify independent releases as a batch
  knowledge-base/001-repo-layout.md
  tools/release-please/npm-release-paths.test.ts
  tools/release-please/npm-release-paths.ts
Due: format-oxfmt, lint-staged

test(deps): simplify npm registry response mock
  tools/release-please/npm-release-paths.test.ts
Due: format-oxfmt, lint-staged

fix(deps): reconcile unpublished npm releases (#7364)
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  BUILD.bazel
  docs/src/docs/guides/develop.mdx
  knowledge-base/001-repo-layout.md
  tools/release-please/npm-release-paths.test.ts
  tools/release-please/npm-release-paths.ts
Due: format-oxfmt, lint-staged, bazel-lock-regen

feat(@formatjs/intl-datetimeformat): support Temporal inputs
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  knowledge-base/007b-polyfill-intl-datetimeformat.md
  knowledge-base/014-test262-conformance.md
  knowledge-base/015-test262-progress-2026-09-09.md
  knowledge-base/015a-test262-deferred-cases.json
  knowledge-base/015b-test262-progress-2026-09-11.md
  packages/ecma402-abstract/DateTimeFormat/BUILD.bazel
  packages/ecma402-abstract/DateTimeFormat/FormatDateTimePattern.ts
  packages/ecma402-abstract/DateTimeFormat/InitializeDateTimeFormat.ts
  packages/ecma402-abstract/DateTimeFormat/PartitionDateTimePattern.ts
  packages/ecma402-abstract/DateTimeFormat/PartitionDateTimeRangePattern.ts
  packages/ecma402-abstract/DateTimeFormat/TemporalDateTime.ts
  packages/ecma402-abstract/types/date-time.ts
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/core.ts
  packages/intl-datetimeformat/scripts/extract-dates.ts
  packages/intl-datetimeformat/test262-baseline.json
  packages/intl-datetimeformat/tests/format-range.test.ts
  packages/intl-datetimeformat/tests/temporal.test.ts
  tools/test262/baselines/combined-datetimeformat.json
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

Path conditions:
  format-package-json: any of: **/package.json
  format-oxfmt: any of: **/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}, but not: **/locale-data/**, **/package.json, **/CHANGELOG.md, packages/cli-lib/tests/extract/typescript/err.tsx, packages/cli/integration-tests/extract/typescript/err.tsx
  format-starlark: any of: **/*.{bazel,bzl,BUILD}
  lint-staged: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}
  bazel-lock-regen: any of: pnpm-lock.yaml, package.json, pnpm-workspace.yaml, *.bazel
