Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

lefthook.yml:

# Lefthook configuration
# Docs: https://github.com/evilmartians/lefthook

# Skip lefthook when LEFTHOOK=0 environment variable is set
# This is equivalent to husky's HUSKY=0 for CI/CD pipelines
skip_output:
  - meta
  - summary

pre-commit:
  parallel: false
  commands:
    format-package-json:
      glob: "**/package.json"
      run: pnpm syncpack fix-mismatches && pnpm syncpack format
      stage_fixed: true
    format-oxfmt:
      glob: "**/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}"
      run: pnpm oxfmt {staged_files}
      stage_fixed: true
      exclude:
        - '**/locale-data/**'
        - '**/package.json'
        - '**/CHANGELOG.md'
        - 'packages/cli-lib/tests/extract/typescript/err.tsx'
        - 'packages/cli/integration-tests/extract/typescript/err.tsx'
    format-starlark:
      glob: "**/*.{bazel,bzl,BUILD}"
      run: |
        set -- {staged_files}
        bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
      stage_fixed: true
    lint-staged:
      glob: '**/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}'
      run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
      stage_fixed: true
    bazel-lock-regen:
      glob:
        - "pnpm-lock.yaml"
        - "package.json"
        - "pnpm-workspace.yaml"
        - "*.bazel"
      run: bazel mod deps
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

feat(@formatjs/intl-collator): generate locale collation data
  packages/generated/cldr-collation/BUILD.bazel
  packages/intl-collator/core.ts
  packages/intl-collator/scripts/BUILD.bazel
  packages/intl-collator/scripts/generate-locale-data.ts
  packages/intl-collator/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/intl-collator): generate locale tailoring data
  packages/generated/cldr-collation/BUILD.bazel
  packages/intl-collator/scripts/BUILD.bazel
  packages/intl-collator/scripts/generate-tailoring-data.ts
  packages/intl-collator/scripts/parse-ldml-collation.test.ts
  packages/intl-collator/scripts/parse-ldml-collation.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/intl-collator): apply pinyin tone tailorings
  packages/intl-collator/compare.ts
  packages/intl-collator/tests/index.test.ts
Due: format-oxfmt, lint-staged

feat(@formatjs/intl-collator): honor default collation data
  packages/intl-collator/compare.ts
  packages/intl-collator/scripts/generate-locale-data.ts
  packages/intl-collator/tests/index.test.ts
  packages/intl-collator/types.ts
Due: format-oxfmt, lint-staged

feat(@formatjs/intl-collator): mark variable collation weights
  packages/intl-collator/compare.ts
  packages/intl-collator/scripts/generate-root-data.ts
  packages/intl-collator/scripts/parse-uca.test.ts
  packages/intl-collator/scripts/parse-uca.ts
  packages/intl-collator/tests/index.test.ts
Due: format-oxfmt, lint-staged

feat(@formatjs/intl-collator): add locale collation data pipeline
  packages/generated/cldr-collation/BUILD.bazel
  packages/intl-collator/BUILD.bazel
  packages/intl-collator/compare.ts
  packages/intl-collator/core.ts
  packages/intl-collator/scripts/BUILD.bazel
  packages/intl-collator/scripts/generate-locale-data.ts
  packages/intl-collator/scripts/generate-root-data.ts
  packages/intl-collator/scripts/generate-tailoring-data.ts
  packages/intl-collator/scripts/parse-ldml-collation.test.ts
  packages/intl-collator/scripts/parse-ldml-collation.ts
  packages/intl-collator/scripts/parse-uca.test.ts
  packages/intl-collator/scripts/parse-uca.ts
  packages/intl-collator/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/intl-collator): add locale collation data pipeline (#6556)
  packages/generated/cldr-collation/BUILD.bazel
  packages/intl-collator/BUILD.bazel
  packages/intl-collator/compare.ts
  packages/intl-collator/core.ts
  packages/intl-collator/scripts/BUILD.bazel
  packages/intl-collator/scripts/generate-locale-data.ts
  packages/intl-collator/scripts/generate-root-data.ts
  packages/intl-collator/scripts/generate-tailoring-data.ts
  packages/intl-collator/scripts/parse-ldml-collation.test.ts
  packages/intl-collator/scripts/parse-ldml-collation.ts
  packages/intl-collator/scripts/parse-uca.test.ts
  packages/intl-collator/scripts/parse-uca.ts
  packages/intl-collator/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/intl-collator): implement tailored locale comparison
  packages/generated/cldr-collation/BUILD.bazel
  packages/intl-collator/compare.ts
  packages/intl-collator/scripts/generate-locale-data.ts
  packages/intl-collator/scripts/generate-root-data.ts
  packages/intl-collator/scripts/parse-uca.test.ts
  packages/intl-collator/scripts/parse-uca.ts
  packages/intl-collator/tests/index.test.ts
  packages/intl-collator/types.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/intl-collator): implement tailored locale comparison (#6560)
  packages/generated/cldr-collation/BUILD.bazel
  packages/intl-collator/compare.ts
  packages/intl-collator/scripts/generate-locale-data.ts
  packages/intl-collator/scripts/generate-root-data.ts
  packages/intl-collator/scripts/parse-uca.test.ts
  packages/intl-collator/scripts/parse-uca.ts
  packages/intl-collator/tests/index.test.ts
  packages/intl-collator/types.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

test(@formatjs/intl-collator): add collator conformance tests
  conformance-tests/icu4j/BUILD.bazel
  conformance-tests/icu4j/IntlCollatorConformanceTest.java
  packages/intl-collator/BUILD.bazel
  packages/intl-collator/compare.ts
  packages/intl-collator/core.ts
  packages/intl-collator/scripts/BUILD.bazel
  packages/intl-collator/scripts/generate-locale-data.ts
  packages/intl-collator/scripts/generate-root-data.ts
  packages/intl-collator/scripts/generate-tailoring-data.ts
  packages/intl-collator/scripts/parse-ldml-collation.ts
  packages/intl-collator/scripts/parse-uca.ts
  packages/intl-collator/tests/collator-conformance.tsv
  packages/intl-collator/tests/conformance.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

test(@formatjs/intl-collator): add collator conformance tests (#6564)
  conformance-tests/icu4j/BUILD.bazel
  conformance-tests/icu4j/IntlCollatorConformanceTest.java
  packages/intl-collator/BUILD.bazel
  packages/intl-collator/compare.ts
  packages/intl-collator/core.ts
  packages/intl-collator/scripts/BUILD.bazel
  packages/intl-collator/scripts/generate-locale-data.ts
  packages/intl-collator/scripts/generate-root-data.ts
  packages/intl-collator/scripts/generate-tailoring-data.ts
  packages/intl-collator/scripts/parse-ldml-collation.ts
  packages/intl-collator/scripts/parse-uca.ts
  packages/intl-collator/tests/collator-conformance.tsv
  packages/intl-collator/tests/conformance.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

ci: move Rust CLI Linux compatibility check to BuildBuddy
  .github/workflows/test.yml
  buildbuddy.yaml
Due: format-oxfmt

docs(@formatjs/intl-collator): document collator polyfill
  docs/public/sitemap.xml
  docs/src/docs-metadata.generated.json
  docs/src/docs/polyfills.mdx
  docs/src/docs/polyfills/intl-collator.mdx
  docs/src/utils/navigation.ts
  knowledge-base/007-package-intl-polyfills.md
  knowledge-base/007l-polyfill-intl-collator.md
Due: format-oxfmt, lint-staged

ci: move Rust CLI Linux compatibility check to BuildBuddy (#6566)
  .github/workflows/test.yml
  buildbuddy.yaml
Due: format-oxfmt

docs(@formatjs/intl-collator): document collator polyfill (#6565)
  docs/public/sitemap.xml
  docs/src/docs-metadata.generated.json
  docs/src/docs/polyfills.mdx
  docs/src/docs/polyfills/intl-collator.mdx
  docs/src/utils/navigation.ts
  knowledge-base/007-package-intl-polyfills.md
  knowledge-base/007l-polyfill-intl-collator.md
Due: format-oxfmt, lint-staged

build: bump gazelle_ts
  MODULE.bazel
  MODULE.bazel.lock
  packages/cli-lib/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/vue-intl/BUILD.bazel
Due: format-starlark, bazel-lock-regen

build: bump gazelle_ts to 0.4.18 (#6570)
  MODULE.bazel
  MODULE.bazel.lock
  packages/cli-lib/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/vue-intl/BUILD.bazel
Due: format-starlark, bazel-lock-regen

feat(@formatjs/cli-native-linux-arm64): add native package
  .github/workflows/rust-cli-release.yml
  MODULE.bazel
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/README.md
  crates/formatjs_cli/RELEASE.md
  crates/formatjs_cli/build-multiplatform.sh
  crates/formatjs_cli/platforms/BUILD.bazel
  crates/formatjs_cli/release.sh
  crates/formatjs_cli/release_binary.bzl
  crates/formatjs_cli_napi/BUILD.bazel
  crates/formatjs_cli_napi/release_node.bzl
  packages/cli-lib/native.ts
  packages/cli-lib/package.json
  packages/cli-native-linux-arm64/BUILD.bazel
  packages/cli-native-linux-arm64/CHANGELOG.md
  packages/cli-native-linux-arm64/package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/cli-native-linux-arm64): add native package (#6571)
  .github/workflows/rust-cli-release.yml
  MODULE.bazel
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/README.md
  crates/formatjs_cli/RELEASE.md
  crates/formatjs_cli/build-multiplatform.sh
  crates/formatjs_cli/platforms/BUILD.bazel
  crates/formatjs_cli/release.sh
  crates/formatjs_cli/release_binary.bzl
  crates/formatjs_cli_napi/BUILD.bazel
  crates/formatjs_cli_napi/release_node.bzl
  packages/cli-lib/native.ts
  packages/cli-lib/package.json
  packages/cli-native-linux-arm64/BUILD.bazel
  packages/cli-native-linux-arm64/CHANGELOG.md
  packages/cli-native-linux-arm64/package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-listformat): add generated tok locale data
  docs/src/docs/polyfills/intl-pluralrules.mdx
  packages/generated/cldr-supported-locales/BUILD.bazel
  packages/generated/cldr-supported-locales/locales.bzl
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/locales.generated.bzl
  packages/intl-displaynames/BUILD.bazel
  packages/intl-displaynames/locales.generated.bzl
  packages/intl-listformat/BUILD.bazel
  packages/intl-listformat/locales.generated.bzl
  packages/intl-numberformat/BUILD.bazel
  packages/intl-numberformat/locales.generated.bzl
  packages/intl-numberformat/scripts/cldr-raw.ts
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-pluralrules/locales.generated.bzl
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-relativetimeformat/locales.generated.bzl
  tools/BUILD.bazel
  tools/cldr_locales.bzl
  tools/generate-cldr-locales.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-listformat): add generated tok locale data (#6572)
  docs/src/docs/polyfills/intl-pluralrules.mdx
  packages/generated/cldr-supported-locales/BUILD.bazel
  packages/generated/cldr-supported-locales/locales.bzl
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/locales.generated.bzl
  packages/intl-displaynames/BUILD.bazel
  packages/intl-displaynames/locales.generated.bzl
  packages/intl-listformat/BUILD.bazel
  packages/intl-listformat/locales.generated.bzl
  packages/intl-numberformat/BUILD.bazel
  packages/intl-numberformat/locales.generated.bzl
  packages/intl-numberformat/scripts/cldr-raw.ts
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-pluralrules/locales.generated.bzl
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-relativetimeformat/locales.generated.bzl
  tools/BUILD.bazel
  tools/cldr_locales.bzl
  tools/generate-cldr-locales.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore(formatjs_cli): release 1.1.5
  Cargo.lock
  crates/formatjs_cli/Cargo.toml
Due: format-oxfmt

build: include linux arm64 native package in dist
  BUILD.bazel
Due: bazel-lock-regen

build: include linux arm64 native package in dist (#6574)
  BUILD.bazel
Due: bazel-lock-regen

feat: update formatjs cli to 1.1.5 (#65)
  rules/formatjs/.github/workflows/ci.yaml
  rules/formatjs/MODULE.bazel
  rules/formatjs/MODULE.bazel.lock
  rules/formatjs/examples/aggregate/MODULE.bazel.lock
  rules/formatjs/examples/custom_version/MODULE.bazel.lock
  rules/formatjs/examples/simple/MODULE.bazel.lock
  rules/formatjs/formatjs_cli/BUILD.bazel
  rules/formatjs/formatjs_cli/extensions.bzl
  rules/formatjs/formatjs_cli/repositories.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

chore(formatjs_cli): use bazel release builds in docs
  crates/formatjs_cli/README.md
  crates/formatjs_cli/build-multiplatform.sh
Due: format-oxfmt

chore(formatjs_cli): use Bazel release builds in docs (#6576)
  crates/formatjs_cli/README.md
  crates/formatjs_cli/build-multiplatform.sh
Due: format-oxfmt

fix(formatjs_cli): implement pseudo-locale transforms
  crates/formatjs_cli/README.md
  crates/formatjs_cli/src/compile.rs
  docs/src/docs/tooling/cli.mdx
  packages/cli/integration-tests/compile/__snapshots__/integration.test.ts.snap
  packages/cli/integration-tests/conformance-tests/SUMMARY.md
Due: format-oxfmt

fix(formatjs_cli): implement pseudo-locale transforms (#6578)
  crates/formatjs_cli/README.md
  crates/formatjs_cli/src/compile.rs
  docs/src/docs/tooling/cli.mdx
  packages/cli/integration-tests/compile/__snapshots__/integration.test.ts.snap
  packages/cli/integration-tests/conformance-tests/SUMMARY.md
Due: format-oxfmt

fix(react-intl): set FormattedListParts displayName
  packages/react-intl/components/createFormattedComponent.tsx
  packages/react-intl/tests/unit/react-intl.test.tsx
Due: format-oxfmt, lint-staged

fix(react-intl): set FormattedListParts displayName (#6580)
  packages/react-intl/components/createFormattedComponent.tsx
  packages/react-intl/tests/unit/react-intl.test.tsx
Due: format-oxfmt, lint-staged

fix: harden polyfill installation
  packages/ecma402-abstract/utils.ts
  packages/intl-collator/polyfill-force.ts
  packages/intl-collator/polyfill.ts
  packages/intl-datetimeformat/polyfill-force.ts
  packages/intl-datetimeformat/polyfill.ts
  packages/intl-datetimeformat/should-polyfill.ts
  packages/intl-displaynames/polyfill-force.ts
  packages/intl-displaynames/polyfill.ts
  packages/intl-displaynames/should-polyfill.ts
  packages/intl-durationformat/polyfill-force.ts
  packages/intl-durationformat/polyfill.ts
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-getcanonicallocales/polyfill-force.ts
  packages/intl-getcanonicallocales/polyfill.ts
  packages/intl-listformat/polyfill-force.ts
  packages/intl-listformat/polyfill.ts
  packages/intl-listformat/should-polyfill.ts
  packages/intl-locale/polyfill-force.ts
  packages/intl-locale/polyfill.ts
  packages/intl-locale/should-polyfill.ts
  packages/intl-numberformat/polyfill-force.ts
  packages/intl-numberformat/polyfill.ts
  packages/intl-pluralrules/polyfill-force.ts
  packages/intl-pluralrules/polyfill.ts
  packages/intl-pluralrules/should-polyfill.ts
  packages/intl-relativetimeformat/polyfill-force.ts
  packages/intl-relativetimeformat/polyfill.ts
  packages/intl-relativetimeformat/should-polyfill.ts
  packages/intl-segmenter/polyfill-force.ts
  packages/intl-segmenter/polyfill.ts
  packages/intl-segmenter/should-polyfill.ts
  packages/intl-supportedvaluesof/polyfill-force.ts
  packages/intl-supportedvaluesof/polyfill.ts
  packages/intl-supportedvaluesof/should-polyfill.ts
  packages/intl-supportedvaluesof/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

test(@formatjs/intl-supportedvaluesof): cover Intl install helpers
  packages/ecma402-abstract/BUILD.bazel
  packages/ecma402-abstract/tests/utils.test.ts
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl-supportedvaluesof/tests/polyfill-force.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix: harden polyfill installation (#6579)
  packages/ecma402-abstract/BUILD.bazel
  packages/ecma402-abstract/tests/utils.test.ts
  packages/ecma402-abstract/utils.ts
  packages/intl-collator/polyfill-force.ts
  packages/intl-collator/polyfill.ts
  packages/intl-datetimeformat/polyfill-force.ts
  packages/intl-datetimeformat/polyfill.ts
  packages/intl-datetimeformat/should-polyfill.ts
  packages/intl-displaynames/polyfill-force.ts
  packages/intl-displaynames/polyfill.ts
  packages/intl-displaynames/should-polyfill.ts
  packages/intl-durationformat/polyfill-force.ts
  packages/intl-durationformat/polyfill.ts
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-getcanonicallocales/polyfill-force.ts
  packages/intl-getcanonicallocales/polyfill.ts
  packages/intl-listformat/polyfill-force.ts
  packages/intl-listformat/polyfill.ts
  packages/intl-listformat/should-polyfill.ts
  packages/intl-locale/polyfill-force.ts
  packages/intl-locale/polyfill.ts
  packages/intl-locale/should-polyfill.ts
  packages/intl-numberformat/polyfill-force.ts
  packages/intl-numberformat/polyfill.ts
  packages/intl-pluralrules/polyfill-force.ts
  packages/intl-pluralrules/polyfill.ts
  packages/intl-pluralrules/should-polyfill.ts
  packages/intl-relativetimeformat/polyfill-force.ts
  packages/intl-relativetimeformat/polyfill.ts
  packages/intl-relativetimeformat/should-polyfill.ts
  packages/intl-segmenter/polyfill-force.ts
  packages/intl-segmenter/polyfill.ts
  packages/intl-segmenter/should-polyfill.ts
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl-supportedvaluesof/polyfill-force.ts
  packages/intl-supportedvaluesof/polyfill.ts
  packages/intl-supportedvaluesof/should-polyfill.ts
  packages/intl-supportedvaluesof/tests/index.test.ts
  packages/intl-supportedvaluesof/tests/polyfill-force.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

test(react-intl): cover list and relative time components
  packages/react-intl/BUILD.bazel
  packages/react-intl/tests/unit/components/list.test.tsx
  packages/react-intl/tests/unit/components/relative.test.tsx
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

test(react-intl): cover list and relative time components (#6581)
  packages/react-intl/BUILD.bazel
  packages/react-intl/tests/unit/components/list.test.tsx
  packages/react-intl/tests/unit/components/relative.test.tsx
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/cli-native-win32-x64): add native package
  .github/workflows/release.yml
  .github/workflows/rust-cli-release.yml
  .github/workflows/test.yml
  MODULE.bazel
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/release_binary.bzl
  crates/formatjs_cli_napi/BUILD.bazel
  crates/formatjs_cli_napi/release_node.bzl
  packages/cli-lib/native.ts
  packages/cli-lib/package.json
  packages/cli-native-win32-x64/BUILD.bazel
  packages/cli-native-win32-x64/CHANGELOG.md
  packages/cli-native-win32-x64/package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/cli-native-win32-x64): add native package (#6586)
  .github/workflows/release.yml
  .github/workflows/rust-cli-release.yml
  .github/workflows/test.yml
  MODULE.bazel
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/release_binary.bzl
  crates/formatjs_cli_napi/BUILD.bazel
  crates/formatjs_cli_napi/release_node.bzl
  packages/cli-lib/native.ts
  packages/cli-lib/package.json
  packages/cli-native-win32-x64/BUILD.bazel
  packages/cli-native-win32-x64/CHANGELOG.md
  packages/cli-native-win32-x64/package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen
