Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-oxfmt, format-starlark, lint-staged

format-oxfmt:
  run: pnpm oxfmt {staged_files}
  stage_fixed: true

format-starlark:
  run: bazel run @buildifier_prebuilt//:buildifier -- -mode=fix {staged_files}
  stage_fixed: true

lint-staged:
  run: pnpm oxlint --config .oxlintrc.json {staged_files}
  stage_fixed: true

docs/bundler-plugins: documentation for vite
  website/docs/guides/bundler-plugins.mdx
Due: format-oxfmt

docs: documentation for vite, port #5720 over
  docs/src/docs/guides/bundler-plugins.mdx
Due: format-oxfmt

docs: documentation for vite, port #5720 over (#5725)
  docs/src/docs/guides/bundler-plugins.mdx
Due: format-oxfmt

docs: modernize the design
  MODULE.bazel.lock
  docs/src/components/Breadcrumbs.tsx
  docs/src/components/IcuEditor.tsx
  docs/src/components/Layout.tsx
  docs/src/components/LiveCodeBlock.tsx
  docs/src/components/MDXComponents.tsx
  docs/src/components/Sidebar.tsx
  docs/src/components/home/FeaturesSection.tsx
  docs/src/components/home/HeroSection.tsx
  docs/src/components/home/HomeHeader.tsx
  docs/src/styles/global.css
Due: format-oxfmt, lint-staged

docs: modernize the design (#5727)
  MODULE.bazel.lock
  docs/src/components/Breadcrumbs.tsx
  docs/src/components/IcuEditor.tsx
  docs/src/components/Layout.tsx
  docs/src/components/LiveCodeBlock.tsx
  docs/src/components/MDXComponents.tsx
  docs/src/components/Sidebar.tsx
  docs/src/components/home/FeaturesSection.tsx
  docs/src/components/home/HeroSection.tsx
  docs/src/components/home/HomeHeader.tsx
  docs/src/styles/global.css
Due: format-oxfmt, lint-staged

docs: add `pnpm` to examples
  docs/src/docs/getting-started/installation.mdx
  docs/src/docs/getting-started/message-extraction.mdx
  docs/src/docs/guides/bundler-plugins.mdx
  docs/src/docs/guides/develop.mdx
  docs/src/docs/intl.mdx
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  docs/src/docs/polyfills/intl-displaynames.mdx
  docs/src/docs/polyfills/intl-durationformat.mdx
  docs/src/docs/polyfills/intl-getcanonicallocales.mdx
  docs/src/docs/polyfills/intl-listformat.mdx
  docs/src/docs/polyfills/intl-locale.mdx
  docs/src/docs/polyfills/intl-localematcher.mdx
  docs/src/docs/polyfills/intl-numberformat.mdx
  docs/src/docs/polyfills/intl-pluralrules.mdx
  docs/src/docs/polyfills/intl-relativetimeformat.mdx
  docs/src/docs/polyfills/intl-segmenter.mdx
  docs/src/docs/polyfills/intl-supportedvaluesof.mdx
  docs/src/docs/react-intl.mdx
  docs/src/docs/tooling/babel-plugin.mdx
  docs/src/docs/tooling/cli.mdx
  docs/src/docs/tooling/linter.mdx
  docs/src/docs/tooling/ts-transformer.mdx
  docs/src/docs/vue-intl.mdx
Due: format-oxfmt

docs: add `pnpm` to examples (#5729)
  docs/src/docs/getting-started/installation.mdx
  docs/src/docs/getting-started/message-extraction.mdx
  docs/src/docs/guides/bundler-plugins.mdx
  docs/src/docs/guides/develop.mdx
  docs/src/docs/intl.mdx
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  docs/src/docs/polyfills/intl-displaynames.mdx
  docs/src/docs/polyfills/intl-durationformat.mdx
  docs/src/docs/polyfills/intl-getcanonicallocales.mdx
  docs/src/docs/polyfills/intl-listformat.mdx
  docs/src/docs/polyfills/intl-locale.mdx
  docs/src/docs/polyfills/intl-localematcher.mdx
  docs/src/docs/polyfills/intl-numberformat.mdx
  docs/src/docs/polyfills/intl-pluralrules.mdx
  docs/src/docs/polyfills/intl-relativetimeformat.mdx
  docs/src/docs/polyfills/intl-segmenter.mdx
  docs/src/docs/polyfills/intl-supportedvaluesof.mdx
  docs/src/docs/react-intl.mdx
  docs/src/docs/tooling/babel-plugin.mdx
  docs/src/docs/tooling/cli.mdx
  docs/src/docs/tooling/linter.mdx
  docs/src/docs/tooling/ts-transformer.mdx
  docs/src/docs/vue-intl.mdx
Due: format-oxfmt

docs: more fixes
  docs/src/components/LiveCodeBlock.tsx
  docs/src/docs/core-concepts/icu-syntax.mdx
  docs/src/docs/getting-started/application-workflow.mdx
  docs/src/docs/getting-started/message-declaration.mdx
  docs/src/docs/getting-started/message-distribution.mdx
  docs/src/docs/getting-started/message-extraction.mdx
  docs/src/docs/guides/advanced-usage.mdx
  docs/src/docs/guides/bundler-plugins.mdx
  docs/src/docs/guides/develop.mdx
  docs/src/docs/guides/distribute-libraries.mdx
  docs/src/docs/guides/runtime-requirements.mdx
  docs/src/docs/guides/testing-with-react-intl.mdx
  docs/src/docs/icu-messageformat-parser.mdx
  docs/src/docs/intl-messageformat.mdx
  docs/src/docs/intl.mdx
  docs/src/docs/polyfills.mdx
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  docs/src/docs/polyfills/intl-displaynames.mdx
  docs/src/docs/polyfills/intl-durationformat.mdx
  docs/src/docs/polyfills/intl-listformat.mdx
  docs/src/docs/polyfills/intl-locale.mdx
  docs/src/docs/polyfills/intl-localematcher.mdx
  docs/src/docs/polyfills/intl-numberformat.mdx
  docs/src/docs/polyfills/intl-pluralrules.mdx
  docs/src/docs/polyfills/intl-relativetimeformat.mdx
  docs/src/docs/polyfills/intl-supportedvaluesof.mdx
  docs/src/docs/react-intl.mdx
  docs/src/docs/react-intl/api.mdx
  docs/src/docs/react-intl/components.mdx
  docs/src/docs/react-intl/upgrade-guide-2.x.mdx
  docs/src/docs/react-intl/upgrade-guide-3.x.mdx
  docs/src/docs/tooling/babel-plugin.mdx
  docs/src/docs/tooling/cli.mdx
  docs/src/docs/tooling/linter.mdx
  docs/src/docs/tooling/ts-transformer.mdx
  docs/src/docs/vue-intl.mdx
Due: format-oxfmt, lint-staged

docs: more fixes (#5731)
  docs/src/components/LiveCodeBlock.tsx
  docs/src/docs/core-concepts/icu-syntax.mdx
  docs/src/docs/getting-started/application-workflow.mdx
  docs/src/docs/getting-started/message-declaration.mdx
  docs/src/docs/getting-started/message-distribution.mdx
  docs/src/docs/getting-started/message-extraction.mdx
  docs/src/docs/guides/advanced-usage.mdx
  docs/src/docs/guides/bundler-plugins.mdx
  docs/src/docs/guides/develop.mdx
  docs/src/docs/guides/distribute-libraries.mdx
  docs/src/docs/guides/runtime-requirements.mdx
  docs/src/docs/guides/testing-with-react-intl.mdx
  docs/src/docs/icu-messageformat-parser.mdx
  docs/src/docs/intl-messageformat.mdx
  docs/src/docs/intl.mdx
  docs/src/docs/polyfills.mdx
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  docs/src/docs/polyfills/intl-displaynames.mdx
  docs/src/docs/polyfills/intl-durationformat.mdx
  docs/src/docs/polyfills/intl-listformat.mdx
  docs/src/docs/polyfills/intl-locale.mdx
  docs/src/docs/polyfills/intl-localematcher.mdx
  docs/src/docs/polyfills/intl-numberformat.mdx
  docs/src/docs/polyfills/intl-pluralrules.mdx
  docs/src/docs/polyfills/intl-relativetimeformat.mdx
  docs/src/docs/polyfills/intl-supportedvaluesof.mdx
  docs/src/docs/react-intl.mdx
  docs/src/docs/react-intl/api.mdx
  docs/src/docs/react-intl/components.mdx
  docs/src/docs/react-intl/upgrade-guide-2.x.mdx
  docs/src/docs/react-intl/upgrade-guide-3.x.mdx
  docs/src/docs/tooling/babel-plugin.mdx
  docs/src/docs/tooling/cli.mdx
  docs/src/docs/tooling/linter.mdx
  docs/src/docs/tooling/ts-transformer.mdx
  docs/src/docs/vue-intl.mdx
Due: format-oxfmt, lint-staged

docs: fix meta tags
  .gitignore
  docs/BUILD.bazel
  docs/scripts/extract-metadata.ts
  docs/src/docs-metadata.generated.json
  docs/src/pages/+Head.tsx
  docs/src/pages/docs/@path/+Head.tsx
  docs/src/pages/docs/@path/+description.ts
  docs/src/pages/docs/@path/+title.ts
  docs/src/pages/index/+Head.tsx
Due: format-oxfmt, format-starlark, lint-staged

docs: fix meta tags (#5733)
  .gitignore
  docs/BUILD.bazel
  docs/scripts/extract-metadata.ts
  docs/src/docs-metadata.generated.json
  docs/src/pages/+Head.tsx
  docs/src/pages/docs/@path/+Head.tsx
  docs/src/pages/docs/@path/+description.ts
  docs/src/pages/docs/@path/+title.ts
  docs/src/pages/index/+Head.tsx
Due: format-oxfmt, format-starlark, lint-staged

fix(@formatjs/intl-datetimeformat): add support for offset tz, fix #4804
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  packages/ecma402-abstract/CanonicalizeTimeZoneName.ts
  packages/ecma402-abstract/IsValidTimeZoneName.ts
  packages/ecma402-abstract/tests/CanonicalizeTimeZoneName.test.ts
  packages/ecma402-abstract/tests/IsValidTimeZoneName.test.ts
  packages/intl-datetimeformat/src/abstract/ToLocalTime.ts
  packages/intl-datetimeformat/tests/index.test.ts
  packages/intl-datetimeformat/tests/offset-timezone.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): add support for offset tz, fix #4804 (#5735)
  docs/src/docs/polyfills/intl-datetimeformat.mdx
  packages/ecma402-abstract/CanonicalizeTimeZoneName.ts
  packages/ecma402-abstract/IsValidTimeZoneName.ts
  packages/ecma402-abstract/tests/CanonicalizeTimeZoneName.test.ts
  packages/ecma402-abstract/tests/IsValidTimeZoneName.test.ts
  packages/intl-datetimeformat/src/abstract/ToLocalTime.ts
  packages/intl-datetimeformat/tests/index.test.ts
  packages/intl-datetimeformat/tests/offset-timezone.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-segmenter): fix isWordLike, fix #4370
  packages/intl-segmenter/src/segmenter.ts
  packages/intl-segmenter/tests/isWordLike.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-segmenter): fix isWordLike, fix #4370 (#5737)
  packages/intl-segmenter/src/segmenter.ts
  packages/intl-segmenter/tests/isWordLike.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): fix DST bug for Welsh, fix #5114
  packages/intl-datetimeformat/src/abstract/FormatDateTimePattern.ts
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): fix DST bug for Welsh, fix #5114 (#5739)
  packages/intl-datetimeformat/src/abstract/FormatDateTimePattern.ts
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): add America/Coyhaique, fix #5111
  index.bzl
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/index.bzl
  packages/intl-datetimeformat/scripts/test262-main-gen.ts
  packages/intl-datetimeformat/src/core.ts
  packages/intl-datetimeformat/src/data/all-tz.generated.ts
  packages/intl-datetimeformat/src/data/all-tz.ts
  packages/intl-datetimeformat/src/data/links.generated.ts
  packages/intl-datetimeformat/test262-main.ts
  packages/intl-datetimeformat/tests/benchmark.ts
  packages/intl-datetimeformat/tests/format-range.test.ts
  packages/intl-datetimeformat/tests/format.test.ts
  packages/intl-datetimeformat/tests/ftp-main.test.ts
  packages/intl-datetimeformat/tests/index.test.ts
  packages/intl-datetimeformat/tests/offset-timezone.test.ts
  packages/intl-datetimeformat/tz_data.tar.gz
  packages/intl-enumerator/src/timezones.generated.ts
Due: format-oxfmt, format-starlark, lint-staged

fix(@formatjs/intl-locale): add FF lack of feature detection, fix #5112
  packages/intl-locale/should-polyfill.ts
  packages/intl-locale/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(intl-messageformat): handle bigint, fix #5081
  packages/intl-messageformat/src/formatters.ts
  packages/intl-messageformat/tests/index.test.ts
  tools/tsconfig.bzl
  tsconfig.json
Due: format-oxfmt, format-starlark, lint-staged

fix(@formatjs/intl-locale): add FF lack of feature detection, fix #5112 (#5742)
  packages/intl-locale/should-polyfill.ts
  packages/intl-locale/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-datetimeformat): add America/Coyhaique, fix #5111 (#5741)
  index.bzl
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/index.bzl
  packages/intl-datetimeformat/scripts/test262-main-gen.ts
  packages/intl-datetimeformat/src/core.ts
  packages/intl-datetimeformat/src/data/all-tz.generated.ts
  packages/intl-datetimeformat/src/data/all-tz.ts
  packages/intl-datetimeformat/src/data/links.generated.ts
  packages/intl-datetimeformat/test262-main.ts
  packages/intl-datetimeformat/tests/benchmark.ts
  packages/intl-datetimeformat/tests/format-range.test.ts
  packages/intl-datetimeformat/tests/format.test.ts
  packages/intl-datetimeformat/tests/ftp-main.test.ts
  packages/intl-datetimeformat/tests/index.test.ts
  packages/intl-datetimeformat/tests/offset-timezone.test.ts
  packages/intl-datetimeformat/tz_data.tar.gz
  packages/intl-enumerator/src/timezones.generated.ts
Due: format-oxfmt, format-starlark, lint-staged

fix(intl-messageformat): handle bigint, fix #5081 (#5743)
  packages/intl-messageformat/src/formatters.ts
  packages/intl-messageformat/tests/index.test.ts
  tools/tsconfig.bzl
  tsconfig.json
Due: format-oxfmt, format-starlark, lint-staged

fix(@formatjs/cli): don't try to parse non core fields
  packages/cli/integration-tests/extract/integration.test.ts
  packages/cli/integration-tests/extract/taggedTemplates/actual.tsx
  packages/eslint-plugin-formatjs/rules/no-invalid-icu.ts
  packages/eslint-plugin-formatjs/tests/tagged-template-substitutions.test.ts
  packages/eslint-plugin-formatjs/util.ts
  packages/ts-transformer/src/transform.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/cli): don't try to parse non core fields (#5747)
  packages/cli/integration-tests/extract/integration.test.ts
  packages/cli/integration-tests/extract/taggedTemplates/actual.tsx
  packages/eslint-plugin-formatjs/rules/no-invalid-icu.ts
  packages/eslint-plugin-formatjs/tests/tagged-template-substitutions.test.ts
  packages/eslint-plugin-formatjs/util.ts
  packages/ts-transformer/src/transform.ts
Due: format-oxfmt, lint-staged

fix(eslint-plugin-formatjs): handle formatMessage when it's being destructured, fix #4890
  packages/eslint-plugin-formatjs/tests/prefer-formatted-message.test.ts
  packages/eslint-plugin-formatjs/util.ts
Due: format-oxfmt, lint-staged

fix(eslint-plugin-formatjs): handle formatMessage when it's being destructured, fix #4890 (#5749)
  packages/eslint-plugin-formatjs/tests/prefer-formatted-message.test.ts
  packages/eslint-plugin-formatjs/util.ts
Due: format-oxfmt, lint-staged

fix(intl-messageformat): fix value having special key like constructor, fix ##4490
  packages/intl-messageformat/src/formatters.ts
  packages/intl-messageformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(intl-messageformat): fix value having special key like constructor, fix ##4490 (#5751)
  packages/intl-messageformat/src/formatters.ts
  packages/intl-messageformat/tests/index.test.ts
Due: format-oxfmt, lint-staged

docs: clarify ICU select, fix #4281
  docs/src/docs/core-concepts/icu-syntax.mdx
Due: format-oxfmt

docs: clarify ICU select, fix #4281 (#5753)
  docs/src/docs/core-concepts/icu-syntax.mdx
Due: format-oxfmt

fix(@formatjs/ts-transformer): fix optional chaining extraction, fix #4471
  packages/babel-plugin-formatjs/index.ts
  packages/babel-plugin-formatjs/tests/fixtures/optionalChaining.js
  packages/babel-plugin-formatjs/tests/index.test.ts
  packages/babel-plugin-formatjs/visitors/call-expression.ts
  packages/cli/integration-tests/extract/integration.test.ts
  packages/cli/integration-tests/extract/optionalChaining/actual.tsx
  packages/ts-transformer/src/transform.ts
  packages/ts-transformer/tests/fixtures/optionalChaining.tsx
  packages/ts-transformer/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/ts-transformer): fix optional chaining extraction, fix #4471 (#5755)
  packages/babel-plugin-formatjs/index.ts
  packages/babel-plugin-formatjs/tests/fixtures/optionalChaining.js
  packages/babel-plugin-formatjs/tests/index.test.ts
  packages/babel-plugin-formatjs/visitors/call-expression.ts
  packages/cli/integration-tests/extract/integration.test.ts
  packages/cli/integration-tests/extract/optionalChaining/actual.tsx
  packages/ts-transformer/src/transform.ts
  packages/ts-transformer/tests/fixtures/optionalChaining.tsx
  packages/ts-transformer/tests/index.test.ts
Due: format-oxfmt, lint-staged

build: fix renovate commit msg
  renovate.json
Due: none

build: consolidate supported locales gen
  .oxfmtrc.json
  BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/supported-locales.generated.ts
  packages/intl-displaynames/BUILD.bazel
  packages/intl-displaynames/supported-locales.generated.ts
  packages/intl-listformat/BUILD.bazel
  packages/intl-listformat/supported-locales.generated.ts
  packages/intl-numberformat/BUILD.bazel
  packages/intl-numberformat/supported-locales.generated.ts
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-pluralrules/supported-locales.generated.ts
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-relativetimeformat/supported-locales.generated.ts
  tools/BUILD.bazel
  tools/generate-supported-locales.ts
Due: format-oxfmt, format-starlark, lint-staged

build: consolidate supported locales gen (#5757)
  .oxfmtrc.json
  BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/supported-locales.generated.ts
  packages/intl-displaynames/BUILD.bazel
  packages/intl-displaynames/supported-locales.generated.ts
  packages/intl-listformat/BUILD.bazel
  packages/intl-listformat/supported-locales.generated.ts
  packages/intl-numberformat/BUILD.bazel
  packages/intl-numberformat/supported-locales.generated.ts
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-pluralrules/supported-locales.generated.ts
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-relativetimeformat/supported-locales.generated.ts
  tools/BUILD.bazel
  tools/generate-supported-locales.ts
Due: format-oxfmt, format-starlark, lint-staged

Path conditions:
  format-oxfmt: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte,css,scss,sass,less,html,htm,md,mdx}
  format-starlark: any of: **/*.{bazel,bzl,BUILD}
  lint-staged: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}
