Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-oxfmt, format-starlark, lint-staged

format-oxfmt:
  run: pnpm oxfmt {staged_files}
  stage_fixed: true

format-starlark:
  run: bazel run @buildifier_prebuilt//:buildifier -- -mode=fix {staged_files}
  stage_fixed: true

lint-staged:
  run: pnpm oxlint --config .oxlintrc.json {staged_files}
  stage_fixed: true

feat(@formatjs/icu-messageformat-parser-wasm): add some experimental stuff
  BUILD.bazel
  Cargo.lock
  MODULE.bazel
  MODULE.bazel.lock
  packages/icu-messageformat-parser-wasm/BENCHMARK.md
  packages/icu-messageformat-parser-wasm/BUILD.bazel
  packages/icu-messageformat-parser-wasm/README.md
  packages/icu-messageformat-parser-wasm/benchmark/BUILD.bazel
  packages/icu-messageformat-parser-wasm/benchmark/benchmark.ts
  packages/icu-messageformat-parser-wasm/benchmark/package.json
  packages/icu-messageformat-parser-wasm/index.ts
  packages/icu-messageformat-parser-wasm/package.json
  packages/icu-messageformat-parser/integration-tests/BUILD.bazel
  packages/icu-messageformat-parser/integration-tests/wasm-integration.test.ts
  pnpm-lock.yaml
  rust/icu_messageformat_parser/BUILD.bazel
  rust/icu_messageformat_parser/Cargo.toml
  rust/icu_messageformat_parser/README.md
  rust/icu_messageformat_parser/lib.rs
  rust/icu_messageformat_parser/lib_wasm.rs
Due: format-oxfmt, format-starlark, lint-staged

build: fix build
  packages/icu-messageformat-parser-wasm/BUILD.bazel
  packages/icu-messageformat-parser-wasm/tsconfig.json
Due: format-starlark

build: remove remark-directive
  MODULE.bazel.lock
  package.json
  pnpm-lock.yaml
Due: none

build: up tailwind-merge
  MODULE.bazel.lock
  package.json
  pnpm-lock.yaml
Due: none

build: up bazel platforms
  MODULE.bazel
  MODULE.bazel.lock
Due: none

fix(deps): update rust crate wasm-bindgen to v0.2.106 (#5797)
  Cargo.lock
  rust/icu_messageformat_parser/Cargo.toml
Due: none

build: use tsgo for typechecking and oxc-transform for transpilation
  CONTRIBUTING.md
  MODULE.bazel.lock
  docs/BUILD.bazel
  package.json
  packages/ecma376/BUILD.bazel
  packages/ecma402-abstract/BUILD.bazel
  packages/editor/BUILD.bazel
  packages/fast-memoize/BUILD.bazel
  packages/icu-messageformat-parser-wasm/BUILD.bazel
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-enumerator/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/intl/src/dateTime.ts
  packages/react-intl/BUILD.bazel
  packages/utils/BUILD.bazel
  pnpm-lock.yaml
  tools/index.bzl
  tools/oxc-transpiler/BUILD.bazel
  tools/oxc-transpiler/index.mjs
  tools/oxc-transpiler/package.json
  tools/oxc_transpiler.bzl
  tools/vitest.bzl
Due: format-oxfmt, format-starlark, lint-staged

build: use tsgo for typechecking and oxc-transform for transpilation (#5802)
  CONTRIBUTING.md
  MODULE.bazel.lock
  docs/BUILD.bazel
  package.json
  packages/ecma376/BUILD.bazel
  packages/ecma402-abstract/BUILD.bazel
  packages/editor/BUILD.bazel
  packages/fast-memoize/BUILD.bazel
  packages/icu-messageformat-parser-wasm/BUILD.bazel
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-durationformat/BUILD.bazel
  packages/intl-enumerator/BUILD.bazel
  packages/intl-getcanonicallocales/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-locale/BUILD.bazel
  packages/intl-localematcher/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-segmenter/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/intl/src/dateTime.ts
  packages/react-intl/BUILD.bazel
  packages/utils/BUILD.bazel
  pnpm-lock.yaml
  tools/index.bzl
  tools/oxc-transpiler/BUILD.bazel
  tools/oxc-transpiler/index.mjs
  tools/oxc-transpiler/package.json
  tools/oxc_transpiler.bzl
  tools/vitest.bzl
Due: format-oxfmt, format-starlark, lint-staged

docs: switch to rolldown-vite (#5807)
  MODULE.bazel.lock
  docs/BUILD.bazel
  docs/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: format-oxfmt, format-starlark, lint-staged

docs: switch to rolldown-vite
  MODULE.bazel.lock
  docs/BUILD.bazel
  docs/vite.config.ts
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: format-oxfmt, format-starlark, lint-staged

docs: switch to rolldown-vite (#5807)
  MODULE.bazel.lock
  docs/BUILD.bazel
  docs/vite.config.ts
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: format-oxfmt, format-starlark, lint-staged

build: upgrade @brillout/vite-plugin-server-entry
  MODULE.bazel
  MODULE.bazel.lock
  package.json
  patches/@brillout__vite-plugin-server-entry@0.7.16.patch
  patches/toolchain_utils@1.2.0.patch
  pnpm-lock.yaml
Due: none

build: upgrade @brillout/vite-plugin-server-entry (#5810)
  MODULE.bazel
  MODULE.bazel.lock
  package.json
  patches/@brillout__vite-plugin-server-entry@0.7.16.patch
  patches/toolchain_utils@1.2.0.patch
  pnpm-lock.yaml
Due: none

feat(formatjs_cli): add native formatjs cli
  .commitlintrc.mjs
  Cargo.lock
  Cargo.toml
  MODULE.bazel.lock
  package.json
  pnpm-lock.yaml
  rust/formatjs_cli/BUILD.bazel
  rust/formatjs_cli/Cargo.toml
  rust/formatjs_cli/README.md
  rust/formatjs_cli/build-multiplatform.sh
  rust/formatjs_cli/platforms/BUILD.bazel
  rust/formatjs_cli/src/compile.rs
  rust/formatjs_cli/src/compile_folder.rs
  rust/formatjs_cli/src/extract.rs
  rust/formatjs_cli/src/formatters/crowdin.rs
  rust/formatjs_cli/src/formatters/default.rs
  rust/formatjs_cli/src/formatters/lokalise.rs
  rust/formatjs_cli/src/formatters/mod.rs
  rust/formatjs_cli/src/formatters/simple.rs
  rust/formatjs_cli/src/formatters/smartling.rs
  rust/formatjs_cli/src/formatters/transifex.rs
  rust/formatjs_cli/src/main.rs
  rust/formatjs_cli/src/verify.rs
Due: format-oxfmt, format-starlark

feat(formatjs_cli): add native formatjs cli (#5814)
  .commitlintrc.mjs
  Cargo.lock
  Cargo.toml
  MODULE.bazel.lock
  package.json
  pnpm-lock.yaml
  rust/formatjs_cli/BUILD.bazel
  rust/formatjs_cli/Cargo.toml
  rust/formatjs_cli/README.md
  rust/formatjs_cli/build-multiplatform.sh
  rust/formatjs_cli/platforms/BUILD.bazel
  rust/formatjs_cli/src/compile.rs
  rust/formatjs_cli/src/compile_folder.rs
  rust/formatjs_cli/src/extract.rs
  rust/formatjs_cli/src/formatters/crowdin.rs
  rust/formatjs_cli/src/formatters/default.rs
  rust/formatjs_cli/src/formatters/lokalise.rs
  rust/formatjs_cli/src/formatters/mod.rs
  rust/formatjs_cli/src/formatters/simple.rs
  rust/formatjs_cli/src/formatters/smartling.rs
  rust/formatjs_cli/src/formatters/transifex.rs
  rust/formatjs_cli/src/main.rs
  rust/formatjs_cli/src/verify.rs
Due: format-oxfmt, format-starlark

feat(formatjs_cli): add support for extract
  Cargo.lock
  MODULE.bazel
  MODULE.bazel.lock
  packages/cli/integration-tests/BUILD.bazel
  packages/cli/integration-tests/compile/__snapshots__/integration.test.ts.snap
  packages/cli/integration-tests/compile/integration.test.ts
  packages/cli/integration-tests/extract/__snapshots__/integration.test.ts.snap
  packages/cli/integration-tests/extract/defineMessages/actual.ignore.jsx
  packages/cli/integration-tests/extract/defineMessages/actual.jsx
  packages/cli/integration-tests/extract/integration.test.ts
  packages/cli/integration-tests/rust-binary-utils.ts
  packages/cli/integration-tests/verify/integration.test.ts
  packages/icu-messageformat-parser/integration-tests/Cargo.toml
  packages/ts-transformer/BUILD.bazel
  rust/formatjs_cli/BUILD.bazel
  rust/formatjs_cli/Cargo.toml
  rust/formatjs_cli/src/compile.rs
  rust/formatjs_cli/src/compile_folder.rs
  rust/formatjs_cli/src/extract.rs
  rust/formatjs_cli/src/extractor.rs
  rust/formatjs_cli/src/main.rs
  rust/formatjs_cli/src/verify.rs
  rust/icu_messageformat_parser/Cargo.toml
  rust/icu_skeleton_parser/Cargo.toml
  test_nested
  tools/vitest.bzl
Due: format-oxfmt, format-starlark, lint-staged

feat(formatjs_cli): add support for extract (#5817)
  Cargo.lock
  MODULE.bazel
  MODULE.bazel.lock
  packages/cli/integration-tests/BUILD.bazel
  packages/cli/integration-tests/compile/__snapshots__/integration.test.ts.snap
  packages/cli/integration-tests/compile/integration.test.ts
  packages/cli/integration-tests/extract/__snapshots__/integration.test.ts.snap
  packages/cli/integration-tests/extract/defineMessages/actual.ignore.jsx
  packages/cli/integration-tests/extract/defineMessages/actual.jsx
  packages/cli/integration-tests/extract/integration.test.ts
  packages/cli/integration-tests/rust-binary-utils.ts
  packages/cli/integration-tests/verify/integration.test.ts
  packages/icu-messageformat-parser/integration-tests/Cargo.toml
  packages/ts-transformer/BUILD.bazel
  rust/formatjs_cli/BUILD.bazel
  rust/formatjs_cli/Cargo.toml
  rust/formatjs_cli/src/compile.rs
  rust/formatjs_cli/src/compile_folder.rs
  rust/formatjs_cli/src/extract.rs
  rust/formatjs_cli/src/extractor.rs
  rust/formatjs_cli/src/main.rs
  rust/formatjs_cli/src/verify.rs
  rust/icu_messageformat_parser/Cargo.toml
  rust/icu_skeleton_parser/Cargo.toml
  test_nested
  tools/vitest.bzl
Due: format-oxfmt, format-starlark, lint-staged

docs: fix live editor
  MODULE.bazel.lock
  docs/src/components/LiveCodeBlock.tsx
  docs/src/docs/intl.mdx
  docs/src/docs/react-intl/api.mdx
  package.json
Due: format-oxfmt, lint-staged

docs: fix live editor (#5819)
  MODULE.bazel.lock
  docs/src/components/LiveCodeBlock.tsx
  docs/src/docs/intl.mdx
  docs/src/docs/react-intl/api.mdx
  package.json
Due: format-oxfmt, lint-staged

docs: more tsx live fixes
  docs/src/components/LiveCodeBlock.tsx
  docs/src/docs/react-intl/api.mdx
  package.json
Due: format-oxfmt, lint-staged

docs: more tsx live fixes (#5821)
  docs/src/components/LiveCodeBlock.tsx
  docs/src/docs/react-intl/api.mdx
  package.json
Due: format-oxfmt, lint-staged

perf: add CLI benchmark
  MODULE.bazel.lock
  benchmarks/cli-comparison/BUILD.bazel
  benchmarks/cli-comparison/README.md
  benchmarks/cli-comparison/benchmark-results.json
  benchmarks/cli-comparison/benchmark-tinybench.mjs
  benchmarks/cli-comparison/generate-test-files.mjs
  benchmarks/cli-comparison/package.json
  benchmarks/cli-comparison/run-benchmark.sh
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format-oxfmt, format-starlark, lint-staged

feat(formatjs_cli): setup release and dist
  .github/workflows/rust-cli-release.yml
  .github/workflows/rust-cli-test.yml
  MODULE.bazel
  MODULE.bazel.lock
  rust/formatjs_cli/BUILD.bazel
  rust/formatjs_cli/RELEASE.md
  rust/formatjs_cli/release.sh
Due: format-oxfmt, format-starlark

perf: add CLI benchmark (#5823)
  MODULE.bazel.lock
  benchmarks/cli-comparison/BUILD.bazel
  benchmarks/cli-comparison/README.md
  benchmarks/cli-comparison/benchmark-results.json
  benchmarks/cli-comparison/benchmark-tinybench.mjs
  benchmarks/cli-comparison/generate-test-files.mjs
  benchmarks/cli-comparison/package.json
  benchmarks/cli-comparison/run-benchmark.sh
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format-oxfmt, format-starlark, lint-staged

feat(formatjs_cli): setup release and dist (#5824)
  .github/workflows/rust-cli-release.yml
  .github/workflows/rust-cli-test.yml
  MODULE.bazel
  MODULE.bazel.lock
  rust/formatjs_cli/BUILD.bazel
  rust/formatjs_cli/RELEASE.md
  rust/formatjs_cli/release.sh
Due: format-oxfmt, format-starlark

build: fix wrong targets
  .bazelrc
  .github/workflows/rust-cli-release.yml
  .github/workflows/rust-cli-test.yml
  .github/workflows/test-macos.yml
  lefthook.yml
  packages/icu-messageformat-parser/integration-tests/integration_tests.rs
  rust/formatjs_cli/src/compile.rs
  rust/formatjs_cli/src/compile_folder.rs
  rust/formatjs_cli/src/extract.rs
  rust/formatjs_cli/src/extractor.rs
  rust/formatjs_cli/src/formatters/mod.rs
  rust/formatjs_cli/src/main.rs
  rust/formatjs_cli/src/verify.rs
  rust/icu_messageformat_parser/benches/parser_bench.rs
  rust/icu_messageformat_parser/error.rs
  rust/icu_messageformat_parser/lib.rs
  rust/icu_messageformat_parser/manipulator.rs
  rust/icu_messageformat_parser/parser.rs
  rust/icu_messageformat_parser/printer.rs
  rust/icu_messageformat_parser/regex_generated.rs
  rust/icu_messageformat_parser/types.rs
  rust/icu_skeleton_parser/datetime_format_options.rs
  rust/icu_skeleton_parser/datetime_parser.rs
  rust/icu_skeleton_parser/number_format_options.rs
  rust/icu_skeleton_parser/number_parser.rs
Due: none

build: fix wrong targets (#5828)
  .bazelrc
  .github/workflows/rust-cli-release.yml
  .github/workflows/rust-cli-test.yml
  .github/workflows/test-macos.yml
  lefthook.yml
  packages/icu-messageformat-parser/integration-tests/integration_tests.rs
  rust/formatjs_cli/src/compile.rs
  rust/formatjs_cli/src/compile_folder.rs
  rust/formatjs_cli/src/extract.rs
  rust/formatjs_cli/src/extractor.rs
  rust/formatjs_cli/src/formatters/mod.rs
  rust/formatjs_cli/src/main.rs
  rust/formatjs_cli/src/verify.rs
  rust/icu_messageformat_parser/benches/parser_bench.rs
  rust/icu_messageformat_parser/error.rs
  rust/icu_messageformat_parser/lib.rs
  rust/icu_messageformat_parser/manipulator.rs
  rust/icu_messageformat_parser/parser.rs
  rust/icu_messageformat_parser/printer.rs
  rust/icu_messageformat_parser/regex_generated.rs
  rust/icu_messageformat_parser/types.rs
  rust/icu_skeleton_parser/datetime_format_options.rs
  rust/icu_skeleton_parser/datetime_parser.rs
  rust/icu_skeleton_parser/number_format_options.rs
  rust/icu_skeleton_parser/number_parser.rs
Due: none

build: fix up
  rules/formatjs/.bazelversion
  rules/formatjs/MODULE.bazel.lock
  rules/formatjs/WORKSPACE.bazel
Due: format-starlark

build: more setup
  rules/formatjs/.bazelignore
  rules/formatjs/.bcr/metadata.template.json
  rules/formatjs/.gitattributes
  rules/formatjs/.github/workflows/buildifier.yaml
  rules/formatjs/.github/workflows/ci.yaml
  rules/formatjs/.github/workflows/release.yaml
  rules/formatjs/.github/workflows/release_prep.sh
  rules/formatjs/CONTRIBUTING.md
  rules/formatjs/MODULE.bazel
  rules/formatjs/MODULE.bazel.lock
  rules/formatjs/e2e/REPO.bazel
  rules/formatjs/e2e/smoke/BUILD
  rules/formatjs/e2e/smoke/MODULE.bazel
  rules/formatjs/e2e/smoke/MODULE.bazel.lock
  rules/formatjs/e2e/smoke/README.md
  rules/formatjs/e2e/smoke/WORKSPACE.bazel
  rules/formatjs/examples/aggregate/REPO.bazel
  rules/formatjs/examples/simple/REPO.bazel
  rules/formatjs/tools/preset.bazelrc
Due: format-oxfmt, format-starlark

build: run rust build all the time
  .github/workflows/rust-cli-test.yml
Due: none

chore: allow chore type
  .commitlintrc.mjs
Due: none

Path conditions:
  format-oxfmt: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte,css,scss,sass,less,html,htm,md,mdx}
  format-starlark: any of: **/*.{bazel,bzl,BUILD}
  lint-staged: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}
