Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

format-package-json:
  run: pnpm syncpack fix-mismatches && pnpm syncpack format
  stage_fixed: true

format-oxfmt:
  run: pnpm oxfmt {staged_files}
  stage_fixed: true

format-starlark:
  run: 'set -- {staged_files}
  
    bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
  
    '
  stage_fixed: true

lint-staged:
  run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
  stage_fixed: true

bazel-lock-regen:
  run: bazel mod deps
  stage_fixed: true

build: cross-compile Python release wheels (#7121)
  .github/workflows/python-release.yml
  docs/src/docs/python.mdx
  knowledge-base/001a-bazel-toolchain.md
  platforms/BUILD.bazel
Due: format-oxfmt, format-starlark, bazel-lock-regen

fix: rename Python intl distribution
  .github/workflows/python-release.yml
  docs/src/docs/python.mdx
  knowledge-base/001a-bazel-toolchain.md
  python/intl/BUILD.bazel
  python/intl/README.md
  release-please-config.json
Due: format-oxfmt, format-starlark, bazel-lock-regen

chore: build py_intl bootstrap wheel
  python/intl/BUILD.bazel
Due: format-starlark, bazel-lock-regen

fix: rename Python intl distribution (#7123)
  .github/workflows/python-release.yml
  docs/src/docs/python.mdx
  knowledge-base/001a-bazel-toolchain.md
  python/intl/BUILD.bazel
  python/intl/README.md
  release-please-config.json
Due: format-oxfmt, format-starlark, bazel-lock-regen

fix: validate released Python versions
  tools/release-please/config.test.ts
Due: format-oxfmt, lint-staged

fix: validate released Python versions (#7125)
  tools/release-please/config.test.ts
Due: format-oxfmt, lint-staged

fix(deps): regenerate Bazel lockfile
  MODULE.bazel.lock
Due: none

chore: release main
  .release-please-manifest.json
  packages/react-intl/BUILD.bazel
  packages/react-intl/CHANGELOG.md
  packages/react-intl/package.json
  python/intl/BUILD.bazel
  python/intl/CHANGELOG.md
Due: format-package-json, format-starlark, bazel-lock-regen

feat(formatjs_cli): extract Python format_message calls
  Cargo.lock
  crates/formatjs_cli/README.md
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli/src/python_extractor.rs
  crates/intl_python/BUILD.bazel
  crates/intl_python/Cargo.toml
  crates/intl_python/lib.rs
  docs/src/docs/python.mdx
  knowledge-base/003-rust-crate-dependency-hierarchy.md
  python/intl/README.md
  python/intl/intl/__init__.py
  python/intl/intl/__init__.pyi
  python/intl/tests/test_binding.py
Due: format-oxfmt, format-starlark, bazel-lock-regen

feat(formatjs_intl): align Python runtime fallback
  crates/formatjs_intl/lib.rs
  crates/intl_python/lib.rs
  docs/src/docs/python.mdx
  knowledge-base/003-rust-crate-dependency-hierarchy.md
  python/intl/README.md
  python/intl/intl/__init__.py
  python/intl/intl/__init__.pyi
  python/intl/tests/test_binding.py
Due: format-oxfmt

feat(formatjs_cli): extract Python format_message calls (#7129)
  Cargo.lock
  crates/formatjs_cli/README.md
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli/src/python_extractor.rs
  crates/intl_python/BUILD.bazel
  crates/intl_python/Cargo.toml
  crates/intl_python/lib.rs
  docs/src/docs/python.mdx
  knowledge-base/003-rust-crate-dependency-hierarchy.md
  python/intl/README.md
  python/intl/intl/__init__.py
  python/intl/intl/__init__.pyi
  python/intl/tests/test_binding.py
Due: format-oxfmt, format-starlark, bazel-lock-regen

feat(formatjs_intl): align Python runtime fallback (#7130)
  crates/formatjs_intl/lib.rs
  crates/intl_python/lib.rs
  docs/src/docs/python.mdx
  knowledge-base/003-rust-crate-dependency-hierarchy.md
  python/intl/README.md
  python/intl/intl/__init__.py
  python/intl/intl/__init__.pyi
  python/intl/tests/test_binding.py
Due: format-oxfmt

chore: release main
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_intl/CHANGELOG.md
  crates/formatjs_intl/Cargo.toml
  python/intl/BUILD.bazel
  python/intl/CHANGELOG.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

chore: release main (#7133)
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_intl/CHANGELOG.md
  crates/formatjs_intl/Cargo.toml
  python/intl/BUILD.bazel
  python/intl/CHANGELOG.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

build(deps): update Bazel lockfiles for Renovate PRs
  .github/workflows/renovate-bazel-lock.yml
  .github/workflows/verify-hooks.yml
  renovate.json
Due: format-oxfmt

build(deps): update Bazel lockfiles for Renovate PRs (#7135)
  .github/workflows/renovate-bazel-lock.yml
  .github/workflows/verify-hooks.yml
  renovate.json
Due: format-oxfmt

build(deps): publish dispatched Renovate check results
  .github/workflows/renovate-required-check-status.yml
Due: format-oxfmt

build(deps): publish dispatched Renovate check results (#7136)
  .github/workflows/renovate-required-check-status.yml
Due: format-oxfmt

build(deps): publish Renovate required statuses
  .github/workflows/renovate-required-check-status.yml
  .github/workflows/test.yml
  .github/workflows/verify-hooks.yml
Due: format-oxfmt

build(deps): publish Renovate required statuses (#7137)
  .github/workflows/renovate-required-check-status.yml
  .github/workflows/test.yml
  .github/workflows/verify-hooks.yml
Due: format-oxfmt

fix(eslint-plugin-formatjs): align message recognition across tools
  crates/formatjs_cli/src/extractor.rs
  docs/src/docs/tooling/cli.mdx
  docs/src/docs/tooling/linter.mdx
  docs/src/docs/tooling/unplugin.mdx
  knowledge-base/009-package-developer-tools.md
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/rules/prefer-formatted-message.ts
  packages/eslint-plugin-formatjs/tests/message-recognition.test.ts
  packages/eslint-plugin-formatjs/tests/util.ts
  packages/eslint-plugin-formatjs/util.ts
  packages/unplugin/conformance-tests/cli-unplugin-conformance.test.ts
  packages/unplugin/transform.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

test(formatjs_cli): cover descriptor recognition regressions
  crates/formatjs_cli/src/extractor.rs
Due: none

fix(eslint-plugin-formatjs): align message recognition across tools (#7151)
  crates/formatjs_cli/src/extractor.rs
  docs/src/docs/tooling/cli.mdx
  docs/src/docs/tooling/linter.mdx
  docs/src/docs/tooling/unplugin.mdx
  knowledge-base/009-package-developer-tools.md
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/rules/prefer-formatted-message.ts
  packages/eslint-plugin-formatjs/tests/message-recognition.test.ts
  packages/eslint-plugin-formatjs/tests/util.ts
  packages/eslint-plugin-formatjs/util.ts
  packages/unplugin/conformance-tests/cli-unplugin-conformance.test.ts
  packages/unplugin/transform.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(babel-plugin-formatjs): support transparent expression wrappers
  docs/src/docs/tooling/babel-plugin.mdx
  knowledge-base/009-package-developer-tools.md
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/babel-plugin-formatjs/conformance-tests/BUILD.bazel
  packages/babel-plugin-formatjs/conformance-tests/typescript-wrappers.test.ts
  packages/babel-plugin-formatjs/tests/typescript-wrappers.test.ts
  packages/babel-plugin-formatjs/utils.ts
  packages/babel-plugin-formatjs/visitors/call-expression.ts
  packages/babel-plugin-formatjs/visitors/jsx-opening-element.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(babel-plugin-formatjs): support transparent expression wrappers (#7156)
  docs/src/docs/tooling/babel-plugin.mdx
  knowledge-base/009-package-developer-tools.md
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/babel-plugin-formatjs/conformance-tests/BUILD.bazel
  packages/babel-plugin-formatjs/conformance-tests/typescript-wrappers.test.ts
  packages/babel-plugin-formatjs/tests/typescript-wrappers.test.ts
  packages/babel-plugin-formatjs/utils.ts
  packages/babel-plugin-formatjs/visitors/call-expression.ts
  packages/babel-plugin-formatjs/visitors/jsx-opening-element.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/editor): add reusable translation workflow
  .release-please-manifest.json
  MODULE.bazel.lock
  package.json
  packages/editor/BUILD.bazel
  packages/editor/README.md
  packages/editor/editor.test.tsx
  packages/editor/editor.tsx
  packages/editor/fixtures/en-GB.json
  packages/editor/fixtures/en.json
  packages/editor/fixtures/ru.json
  packages/editor/header.tsx
  packages/editor/index.html
  packages/editor/index.ts
  packages/editor/index.tsx
  packages/editor/main.tsx
  packages/editor/message.tsx
  packages/editor/messages.tsx
  packages/editor/package.json
  packages/editor/styles.css
  packages/editor/types.ts
  packages/editor/validation.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  release-please-config.json
  tools/dist_packages_registry.bzl
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore: release main
  .release-please-manifest.json
  packages/react-intl/BUILD.bazel
  packages/react-intl/CHANGELOG.md
  packages/react-intl/package.json
Due: format-package-json, format-starlark, bazel-lock-regen

test(formatjs_cli): cover tagged template message extraction
  crates/formatjs_cli/src/extractor.rs
Due: none

fix(formatjs_cli): extract messages from tagged template literals
  crates/formatjs_cli/src/extractor.rs
Due: none

fix(formatjs_cli): tighten tagged template comment
  crates/formatjs_cli/src/extractor.rs
Due: none

fix(formatjs_cli): extract messages from tagged template literals (#7182)
  crates/formatjs_cli/src/extractor.rs
Due: none

feat(formatjs_cli): skip a message with a formatjs-ignore comment
  crates/formatjs_cli/src/extractor.rs
  docs/src/docs/tooling/cli.mdx
Due: format-oxfmt

docs: audit polyfills against ECMA-402 2027
  knowledge-base/013-ecma402-2027-polyfill-audit.md
Due: format-oxfmt

docs: track ECMA-402 draft polyfill audit
  knowledge-base/007-package-intl-polyfills.md
  knowledge-base/013-ecma402-audit-2026-09-06.md
Due: format-oxfmt

docs: track ECMA-402 draft polyfill audit (#7185)
  knowledge-base/007-package-intl-polyfills.md
  knowledge-base/013-ecma402-audit-2026-09-06.md
Due: format-oxfmt

docs: link ECMA-402 audit fixes and validation
  knowledge-base/013-ecma402-audit-2026-09-06.md
Due: format-oxfmt

docs: link ECMA-402 audit fixes and validation (#7200)
  knowledge-base/013-ecma402-audit-2026-09-06.md
Due: format-oxfmt

Path conditions:
  format-package-json: any of: **/package.json
  format-oxfmt: any of: **/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}, but not: **/locale-data/**, **/package.json, **/CHANGELOG.md, packages/cli-lib/tests/extract/typescript/err.tsx, packages/cli/integration-tests/extract/typescript/err.tsx
  format-starlark: any of: **/*.{bazel,bzl,BUILD}
  lint-staged: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}
  bazel-lock-regen: any of: pnpm-lock.yaml, package.json, pnpm-workspace.yaml, *.bazel
