Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

lefthook.yml:

# Lefthook configuration
# Docs: https://github.com/evilmartians/lefthook

# Skip lefthook when LEFTHOOK=0 environment variable is set
# This is equivalent to husky's HUSKY=0 for CI/CD pipelines
skip_output:
  - meta
  - summary

pre-commit:
  parallel: false
  commands:
    format-package-json:
      glob: "**/package.json"
      run: pnpm syncpack fix-mismatches && pnpm syncpack format
      stage_fixed: true
    format-oxfmt:
      glob: "**/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}"
      run: pnpm oxfmt {staged_files}
      stage_fixed: true
      exclude:
        - '**/locale-data/**'
        - '**/package.json'
        - '**/CHANGELOG.md'
        - 'packages/cli-lib/tests/extract/typescript/err.tsx'
        - 'packages/cli/integration-tests/extract/typescript/err.tsx'
    format-starlark:
      glob: "**/*.{bazel,bzl,BUILD}"
      run: |
        set -- {staged_files}
        bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
      stage_fixed: true
    lint-staged:
      glob: '**/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}'
      run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
      stage_fixed: true
    bazel-lock-regen:
      glob:
        - "pnpm-lock.yaml"
        - "package.json"
        - "pnpm-workspace.yaml"
        - "*.bazel"
      run: bazel mod deps
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

ci: build musl native packages on Alpine
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: format-oxfmt

fix(@formatjs/cli-lib): support Alpine native bindings (#6743)
  .github/workflows/release.yml
  .github/workflows/test.yml
  .release-please-manifest.json
  crates/formatjs_cli_napi/BUILD.bazel
  crates/formatjs_cli_napi/release_node.bzl
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/native.ts
  packages/cli-lib/tests/unit/native.test.ts
  packages/cli-native-linux-arm64-musl/BUILD.bazel
  packages/cli-native-linux-arm64-musl/CHANGELOG.md
  packages/cli-native-linux-x64-musl/BUILD.bazel
  packages/cli-native-linux-x64-musl/CHANGELOG.md
  packages/cli/BUILD.bazel
  pnpm-lock.yaml
  release-please-config.json
  tools/dist_packages_registry.bzl
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(deps): avoid musl native previous release tags
  .release-please-manifest.json
Due: none

fix(deps): use Bazel graph for native release propagation
  BUILD.bazel
  release-please-config.json
  scripts/generate_dist_packages.sh
  tools/dist_packages_registry.bzl
  tools/release-please/generate-npm-workspace-graph.ts
  tools/release-please/npm-workspace-graph.test.ts
  tools/release-please/npm-workspace-graph.ts
  tools/release-please/npm-workspace-plugin.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(deps): use Bazel graph for native release propagation (#6747)
  BUILD.bazel
  release-please-config.json
  scripts/generate_dist_packages.sh
  tools/dist_packages_registry.bzl
  tools/release-please/generate-npm-workspace-graph.ts
  tools/release-please/npm-workspace-graph.test.ts
  tools/release-please/npm-workspace-graph.ts
  tools/release-please/npm-workspace-plugin.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore: release main
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli_napi/Cargo.toml
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/CHANGELOG.md
  packages/cli-native-darwin-arm64/BUILD.bazel
  packages/cli-native-darwin-arm64/CHANGELOG.md
  packages/cli-native-linux-arm64-musl/BUILD.bazel
  packages/cli-native-linux-arm64-musl/CHANGELOG.md
  packages/cli-native-linux-arm64/BUILD.bazel
  packages/cli-native-linux-arm64/CHANGELOG.md
  packages/cli-native-linux-x64-musl/BUILD.bazel
  packages/cli-native-linux-x64-musl/CHANGELOG.md
  packages/cli-native-linux-x64/BUILD.bazel
  packages/cli-native-linux-x64/CHANGELOG.md
  packages/cli-native-win32-x64/BUILD.bazel
  packages/cli-native-win32-x64/CHANGELOG.md
  packages/cli/BUILD.bazel
  packages/cli/CHANGELOG.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

chore: release main (#6745)
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli_napi/Cargo.toml
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/CHANGELOG.md
  packages/cli-native-darwin-arm64/BUILD.bazel
  packages/cli-native-darwin-arm64/CHANGELOG.md
  packages/cli-native-linux-arm64-musl/BUILD.bazel
  packages/cli-native-linux-arm64-musl/CHANGELOG.md
  packages/cli-native-linux-arm64/BUILD.bazel
  packages/cli-native-linux-arm64/CHANGELOG.md
  packages/cli-native-linux-x64-musl/BUILD.bazel
  packages/cli-native-linux-x64-musl/CHANGELOG.md
  packages/cli-native-linux-x64/BUILD.bazel
  packages/cli-native-linux-x64/CHANGELOG.md
  packages/cli-native-win32-x64/BUILD.bazel
  packages/cli-native-win32-x64/CHANGELOG.md
  packages/cli/BUILD.bazel
  packages/cli/CHANGELOG.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

chore(deps): preserve generated workspace lockfile entries
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update lefthook to v2.1.9
  pnpm-lock.yaml
Due: bazel-lock-regen

fix(formatjs_cli_napi): build musl packages with bazel
  .github/workflows/release.yml
  .github/workflows/test.yml
  crates/formatjs_cli/release_binary.bzl
  crates/formatjs_cli_napi/release_node.bzl
Due: format-oxfmt, format-starlark

test(formatjs_cli): smoke static musl binary on gnu
  .github/workflows/test.yml
Due: format-oxfmt

fix(formatjs_cli_napi): build musl packages with bazel (#6754)
  .github/workflows/release.yml
  .github/workflows/test.yml
  crates/formatjs_cli/release_binary.bzl
  crates/formatjs_cli_napi/release_node.bzl
Due: format-oxfmt, format-starlark

fix(formatjs_cli_napi): package musl runtime library
  .github/workflows/test.yml
  crates/formatjs_cli_napi/BUILD.bazel
  packages/cli-native-linux-arm64-musl/BUILD.bazel
  packages/cli-native-linux-x64-musl/BUILD.bazel
Due: format-oxfmt, format-starlark, bazel-lock-regen

fix(formatjs_cli_napi): load musl addon on Alpine
  .github/workflows/release.yml
  .github/workflows/test.yml
  crates/formatjs_cli/release_binary.bzl
  crates/formatjs_cli_napi/BUILD.bazel
  crates/formatjs_cli_napi/rust_stdlib.bzl
  packages/cli-native-linux-arm64-musl/BUILD.bazel
  packages/cli-native-linux-x64-musl/BUILD.bazel
Due: format-oxfmt, format-starlark, bazel-lock-regen

fix(formatjs_cli_napi): package musl runtime library (#6756)
  .github/workflows/release.yml
  .github/workflows/test.yml
  crates/formatjs_cli/release_binary.bzl
  crates/formatjs_cli_napi/BUILD.bazel
  crates/formatjs_cli_napi/rust_stdlib.bzl
  packages/cli-native-linux-arm64-musl/BUILD.bazel
  packages/cli-native-linux-x64-musl/BUILD.bazel
Due: format-oxfmt, format-starlark, bazel-lock-regen

ci(formatjs_cli): build release artifacts in opt mode
  .github/workflows/release.yml
  .github/workflows/rust-cli-release.yml
Due: format-oxfmt

ci(formatjs_cli): build release artifacts in opt mode (#6757)
  .github/workflows/release.yml
  .github/workflows/rust-cli-release.yml
Due: format-oxfmt

chore: release main (#6755)
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli_napi/Cargo.toml
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/CHANGELOG.md
  packages/cli-native-darwin-arm64/BUILD.bazel
  packages/cli-native-darwin-arm64/CHANGELOG.md
  packages/cli-native-linux-arm64-musl/BUILD.bazel
  packages/cli-native-linux-arm64-musl/CHANGELOG.md
  packages/cli-native-linux-arm64/BUILD.bazel
  packages/cli-native-linux-arm64/CHANGELOG.md
  packages/cli-native-linux-x64-musl/BUILD.bazel
  packages/cli-native-linux-x64-musl/CHANGELOG.md
  packages/cli-native-linux-x64/BUILD.bazel
  packages/cli-native-linux-x64/CHANGELOG.md
  packages/cli-native-win32-x64/BUILD.bazel
  packages/cli-native-win32-x64/CHANGELOG.md
  packages/cli/BUILD.bazel
  packages/cli/CHANGELOG.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

chore(deps): update oxc dependencies to 0.134
  Cargo.lock
  MODULE.bazel.lock
  crates/formatjs_cli/Cargo.toml
  package.json
  pnpm-lock.yaml
Due: format-oxfmt, bazel-lock-regen

fix(deps): preserve generated lockfile importers
  pnpm-lock.yaml
Due: bazel-lock-regen

fix(deps): preserve generated lockfile importers
  MODULE.bazel.lock
  pnpm-lock.yaml
Due: bazel-lock-regen

fix(@formatjs/intl-datetimeformat): honor numberingSystem option
  packages/ecma402-abstract/DateTimeFormat/FormatDateTimePattern.ts
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/scripts/extract-dates.ts
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-datetimeformat): honor numberingSystem option (#6775)
  packages/ecma402-abstract/DateTimeFormat/FormatDateTimePattern.ts
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/scripts/extract-dates.ts
  packages/intl-datetimeformat/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore(deps): update dependency oxfmt to ^0.53.0
  MODULE.bazel.lock
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update dependency oxc-parser to ^0.134.0
  MODULE.bazel.lock
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update vitest monorepo to v4.1.8
  pnpm-lock.yaml
Due: bazel-lock-regen

fix(deps): repair react monorepo lockfile
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update typescript-eslint monorepo to v8.61.0
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): repair rolldown lockfile
  MODULE.bazel.lock
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): repair react monorepo lockfile
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): align react generated lockfile
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): remove unused root dependencies
  MODULE.bazel.lock
  package.json
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): remove unused root dependencies (#6782)
  MODULE.bazel.lock
  package.json
  pnpm-lock.yaml
Due: bazel-lock-regen
