Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

format-package-json:
  run: pnpm syncpack fix-mismatches && pnpm syncpack format
  stage_fixed: true

format-oxfmt:
  run: pnpm oxfmt {staged_files}
  stage_fixed: true

format-starlark:
  run: 'set -- {staged_files}
  
    bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
  
    '
  stage_fixed: true

lint-staged:
  run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
  stage_fixed: true

bazel-lock-regen:
  run: bazel mod deps
  stage_fixed: true

chore(deps): update codescythe to 0.6.1 (#6693)
  MODULE.bazel.lock
  package.json
  pnpm-lock.yaml
Due: bazel-lock-regen

feat: add formatjs_cli versions through 1.1.12 (#69)
  rules/formatjs/MODULE.bazel
  rules/formatjs/MODULE.bazel.lock
  rules/formatjs/README.md
  rules/formatjs/examples/aggregate/MODULE.bazel.lock
  rules/formatjs/examples/custom_version/MODULE.bazel.lock
  rules/formatjs/examples/simple/MODULE.bazel.lock
  rules/formatjs/formatjs_cli/BUILD.bazel
  rules/formatjs/formatjs_cli/extensions.bzl
  rules/formatjs/formatjs_cli/repositories.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

fix(formatjs_cli): support id interpolation hash algorithms
  Cargo.lock
  MODULE.bazel.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli/src/id_generator.rs
  knowledge-base/003-rust-crate-dependency-hierarchy.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

fix(formatjs_cli): support id interpolation hash algorithms (#6695)
  Cargo.lock
  MODULE.bazel.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli/src/id_generator.rs
  knowledge-base/003-rust-crate-dependency-hierarchy.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

fix: repair release please cli handoff
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  crates/formatjs_cli/RELEASE.md
  knowledge-base/001-repo-layout.md
  release-please-config.json
Due: format-oxfmt

fix(formatjs_cli): speed up skipped message diagnostics
  Cargo.lock
  MODULE.bazel.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli/src/extractor.rs
Due: format-oxfmt, format-starlark, bazel-lock-regen

fix(formatjs_cli): speed up skipped message diagnostics (#6709)
  Cargo.lock
  MODULE.bazel.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli/src/extractor.rs
Due: format-oxfmt, format-starlark, bazel-lock-regen

fix(deps): update rust OXC crates to 0.133 (#6714)
  Cargo.lock
  MODULE.bazel.lock
  crates/formatjs_cli/Cargo.toml
Due: format-oxfmt

build: align release-please with generated package manifests
  crates/formatjs_cli/BUILD.bazel
  knowledge-base/001-repo-layout.md
  release-please-config.json
Due: format-oxfmt, format-starlark, bazel-lock-regen

build: align release-please with generated package manifests (#6720)
  crates/formatjs_cli/BUILD.bazel
  knowledge-base/001-repo-layout.md
  release-please-config.json
Due: format-oxfmt, format-starlark, bazel-lock-regen

build: add bazel release-please workspace plugin
  .github/workflows/release-please.yml
  BUILD.bazel
  MODULE.bazel.lock
  knowledge-base/001-repo-layout.md
  knowledge-base/001a-bazel-toolchain.md
  release-please-config.json
  scripts/generate_dist_packages.sh
  tools/BUILD.bazel
  tools/dist_packages_registry.bzl
  tools/release-please/generate-npm-workspace-graph.ts
  tools/release-please/npm-workspace-graph.test.ts
  tools/release-please/npm-workspace-graph.ts
  tools/release-please/npm-workspace-plugin.ts
  tools/release-please/run.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

build: add bazel release-please workspace plugin (#6723)
  .github/workflows/release-please.yml
  BUILD.bazel
  MODULE.bazel.lock
  knowledge-base/001-repo-layout.md
  knowledge-base/001a-bazel-toolchain.md
  release-please-config.json
  scripts/generate_dist_packages.sh
  tools/BUILD.bazel
  tools/dist_packages_registry.bzl
  tools/release-please/generate-npm-workspace-graph.ts
  tools/release-please/npm-workspace-graph.test.ts
  tools/release-please/npm-workspace-graph.ts
  tools/release-please/npm-workspace-plugin.ts
  tools/release-please/run.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

build: fix release-please multiline outputs
  MODULE.bazel.lock
  tools/BUILD.bazel
  tools/release-please/github-output.ts
  tools/release-please/npm-workspace-graph.test.ts
  tools/release-please/run.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

build: fix release-please multiline outputs (#6726)
  MODULE.bazel.lock
  tools/BUILD.bazel
  tools/release-please/github-output.ts
  tools/release-please/npm-workspace-graph.test.ts
  tools/release-please/run.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

build: remove checked-in package intradeps
  BUILD.bazel
  MODULE.bazel.lock
  docs/package.json
  package.json
  scripts/generate_dist_packages.sh
  tools/dist_packages_registry.bzl
  tools/generate-package-json.test.ts
  tools/generate-package-json.ts
  tools/package_json.bzl
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

build: remove checked-in package intradeps (#6728)
  BUILD.bazel
  MODULE.bazel.lock
  docs/package.json
  package.json
  scripts/generate_dist_packages.sh
  tools/dist_packages_registry.bzl
  tools/generate-package-json.test.ts
  tools/generate-package-json.ts
  tools/package_json.bzl
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/cli-lib): extract Svelte FormattedMessage components
  packages/cli-lib/svelte_extractor.ts
  packages/cli-lib/tests/unit/svelte_extractor.test.ts
Due: format-oxfmt, lint-staged

fix(formatjs_cli): support loader-utils id templates
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli/src/id_generator.rs
  packages/cli/integration-tests/conformance-tests/README.md
  packages/cli/integration-tests/conformance-tests/SUMMARY.md
  packages/cli/integration-tests/conformance-tests/test_cases/23_loader_utils_id_template.txt
Due: format-oxfmt

fix(formatjs_cli): support loader-utils id templates (#6731)
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli/src/id_generator.rs
  packages/cli/integration-tests/conformance-tests/README.md
  packages/cli/integration-tests/conformance-tests/SUMMARY.md
  packages/cli/integration-tests/conformance-tests/test_cases/23_loader_utils_id_template.txt
Due: format-oxfmt

fix(@formatjs/cli-lib): extract Svelte FormattedMessage components (#6732)
  packages/cli-lib/svelte_extractor.ts
  packages/cli-lib/tests/unit/svelte_extractor.test.ts
Due: format-oxfmt, lint-staged

fix(deps): publish generated workspace packages
  .github/workflows/release.yml
Due: format-oxfmt

fix(deps): publish generated workspace packages (#6734)
  .github/workflows/release.yml
Due: format-oxfmt

fix: normalize Unicode whitespace for generated ids
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli/src/extractor.rs
  packages/babel-plugin-formatjs/utils.ts
  packages/ts-transformer/BUILD.bazel
  packages/ts-transformer/index.ts
  packages/ts-transformer/normalize-whitespace.ts
  packages/ts-transformer/tests/normalize-whitespace.test.ts
  packages/ts-transformer/transform.ts
  packages/unplugin/conformance-tests/cli-unplugin-conformance.test.ts
  packages/unplugin/transform.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix: normalize Unicode whitespace for generated ids (#6736)
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli/src/extract.rs
  crates/formatjs_cli/src/extractor.rs
  packages/babel-plugin-formatjs/utils.ts
  packages/ts-transformer/BUILD.bazel
  packages/ts-transformer/index.ts
  packages/ts-transformer/normalize-whitespace.ts
  packages/ts-transformer/tests/normalize-whitespace.test.ts
  packages/ts-transformer/transform.ts
  packages/unplugin/conformance-tests/cli-unplugin-conformance.test.ts
  packages/unplugin/transform.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore: release main
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli_napi/Cargo.toml
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/babel-plugin-formatjs/CHANGELOG.md
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/CHANGELOG.md
  packages/cli/BUILD.bazel
  packages/cli/CHANGELOG.md
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/CHANGELOG.md
  packages/react-intl/BUILD.bazel
  packages/react-intl/CHANGELOG.md
  packages/ts-transformer/BUILD.bazel
  packages/ts-transformer/CHANGELOG.md
  packages/unplugin/BUILD.bazel
  packages/unplugin/CHANGELOG.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

chore: release main (#6733)
  .release-please-manifest.json
  Cargo.lock
  crates/formatjs_cli/BUILD.bazel
  crates/formatjs_cli/CHANGELOG.md
  crates/formatjs_cli/Cargo.toml
  crates/formatjs_cli_napi/Cargo.toml
  packages/babel-plugin-formatjs/BUILD.bazel
  packages/babel-plugin-formatjs/CHANGELOG.md
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/CHANGELOG.md
  packages/cli/BUILD.bazel
  packages/cli/CHANGELOG.md
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/CHANGELOG.md
  packages/react-intl/BUILD.bazel
  packages/react-intl/CHANGELOG.md
  packages/ts-transformer/BUILD.bazel
  packages/ts-transformer/CHANGELOG.md
  packages/unplugin/BUILD.bazel
  packages/unplugin/CHANGELOG.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

ci: pass repository to release workflow dispatch
  .github/workflows/release-please.yml
Due: format-oxfmt

ci: pass repository to release workflow dispatch (#6740)
  .github/workflows/release-please.yml
Due: format-oxfmt

fix(formatjs_cli): build native packages in opt mode
  .github/workflows/release.yml
  .github/workflows/test.yml
  crates/formatjs_cli/src/extract.rs
Due: format-oxfmt

fix(formatjs_cli): build native packages in opt mode (#6744)
  .github/workflows/release.yml
  .github/workflows/test.yml
  crates/formatjs_cli/src/extract.rs
Due: format-oxfmt

fix(@formatjs/cli-lib): support Alpine native bindings
  .github/workflows/test.yml
  .release-please-manifest.json
  crates/formatjs_cli_napi/BUILD.bazel
  crates/formatjs_cli_napi/release_node.bzl
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/native.ts
  packages/cli-lib/tests/unit/native.test.ts
  packages/cli-native-linux-arm64-musl/BUILD.bazel
  packages/cli-native-linux-arm64-musl/CHANGELOG.md
  packages/cli-native-linux-x64-musl/BUILD.bazel
  packages/cli-native-linux-x64-musl/CHANGELOG.md
  packages/cli/BUILD.bazel
  pnpm-lock.yaml
  release-please-config.json
  tools/dist_packages_registry.bzl
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/cli-lib): load installed native binding
  .github/workflows/release.yml
  .github/workflows/test.yml
  packages/cli-lib/native.ts
  packages/cli-lib/tests/unit/native.test.ts
Due: format-oxfmt, lint-staged

Path conditions:
  format-package-json: any of: **/package.json
  format-oxfmt: any of: **/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}, but not: **/locale-data/**, **/package.json, **/CHANGELOG.md, packages/cli-lib/tests/extract/typescript/err.tsx, packages/cli/integration-tests/extract/typescript/err.tsx
  format-starlark: any of: **/*.{bazel,bzl,BUILD}
  lint-staged: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}
  bazel-lock-regen: any of: pnpm-lock.yaml, package.json, pnpm-workspace.yaml, *.bazel
