Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

lefthook.yml:

# Lefthook configuration
# Docs: https://github.com/evilmartians/lefthook

# Skip lefthook when LEFTHOOK=0 environment variable is set
# This is equivalent to husky's HUSKY=0 for CI/CD pipelines
skip_output:
  - meta
  - summary

pre-commit:
  parallel: false
  commands:
    format-package-json:
      glob: "**/package.json"
      run: pnpm syncpack fix-mismatches && pnpm syncpack format
      stage_fixed: true
    format-oxfmt:
      glob: "**/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}"
      run: pnpm oxfmt {staged_files}
      stage_fixed: true
      exclude:
        - '**/locale-data/**'
        - '**/package.json'
        - '**/CHANGELOG.md'
        - 'packages/cli-lib/tests/extract/typescript/err.tsx'
        - 'packages/cli/integration-tests/extract/typescript/err.tsx'
    format-starlark:
      glob: "**/*.{bazel,bzl,BUILD}"
      run: |
        set -- {staged_files}
        bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
      stage_fixed: true
    lint-staged:
      glob: '**/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}'
      run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
      stage_fixed: true
    bazel-lock-regen:
      glob:
        - "pnpm-lock.yaml"
        - "package.json"
        - "pnpm-workspace.yaml"
        - "*.bazel"
      run: bazel mod deps
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

perf(@formatjs/vite-plugin): apply Vite performance improvements (#6070)
  packages/vite-plugin/index.ts
  packages/vite-plugin/transform.ts
Due: format-oxfmt, lint-staged

perf(@formatjs/vite-plugin): use oxc-parser Visitor for AST traversal
  packages/vite-plugin/tests/transform.test.ts
  packages/vite-plugin/transform.ts
Due: format-oxfmt, lint-staged

perf(@formatjs/vite-plugin): use oxc-parser Visitor for AST traversal (#6071)
  packages/vite-plugin/tests/transform.test.ts
  packages/vite-plugin/transform.ts
Due: format-oxfmt, lint-staged

feat(eslint-plugin-formatjs): support minimum description length in enforce-description rule
  docs/src/docs/tooling/linter.mdx
  packages/eslint-plugin-formatjs/rules/enforce-description.ts
  packages/eslint-plugin-formatjs/tests/enforce-description.test.ts
Due: format-oxfmt, lint-staged

feat(eslint-plugin-formatjs): support minimum description length in `enforce-description` rule (#6066)
  docs/src/docs/tooling/linter.mdx
  packages/eslint-plugin-formatjs/rules/enforce-description.ts
  packages/eslint-plugin-formatjs/tests/enforce-description.test.ts
Due: format-oxfmt, lint-staged

chore: add exports fields to tooling packages
  packages/babel-plugin-formatjs/package.json
  packages/cli-lib/package.json
  packages/eslint-plugin-formatjs/package.json
  packages/ts-transformer/package.json
  packages/vite-plugin/package.json
Due: format-package-json

docs: update UPCOMING.md with completed exports work
  UPCOMING.md
Due: none

chore: add exports fields to tooling packages (#6080)
  UPCOMING.md
  packages/babel-plugin-formatjs/package.json
  packages/cli-lib/package.json
  packages/eslint-plugin-formatjs/package.json
  packages/ts-transformer/package.json
  packages/vite-plugin/package.json
Due: format-package-json

docs(react-intl): add retroactive upgrade guides for 6.x, 7.x, 8.x
  docs/README.md
  docs/src/docs-metadata.generated.json
  docs/src/docs/react-intl/upgrade-guide-6.x.mdx
  docs/src/docs/react-intl/upgrade-guide-7.x.mdx
  docs/src/docs/react-intl/upgrade-guide-8.x.mdx
  docs/src/utils/navigation.ts
Due: format-oxfmt, lint-staged

docs(react-intl): add retroactive upgrade guides for 6.x, 7.x, 8.x (#6084)
  docs/README.md
  docs/src/docs-metadata.generated.json
  docs/src/docs/react-intl/upgrade-guide-6.x.mdx
  docs/src/docs/react-intl/upgrade-guide-7.x.mdx
  docs/src/docs/react-intl/upgrade-guide-8.x.mdx
  docs/src/utils/navigation.ts
Due: format-oxfmt, lint-staged

chore(deps): upgrade vite to 8, vitest compat WIP
  MODULE.bazel.lock
  docs/BUILD.bazel
  docs/vite.config.ts
  package.json
  packages/vite-plugin/integration-tests/integration.test.ts
  pnpm-lock.yaml
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore(deps): upgrade vite to 8 (#6088)
  MODULE.bazel.lock
  docs/BUILD.bazel
  docs/vite.config.ts
  package.json
  packages/vite-plugin/integration-tests/integration.test.ts
  pnpm-lock.yaml
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

ci: remove auto Claude Code review workflow
  .github/workflows/claude-code-review.yml
Due: format-oxfmt

ci: remove auto Claude Code review workflow (#6089)
  .github/workflows/claude-code-review.yml
Due: format-oxfmt

feat(react-intl): modernize for React 19 and RSC support
  UPCOMING.md
  docs/src/docs-metadata.generated.json
  docs/src/docs/react-intl/upgrade-guide-9.x.mdx
  docs/src/utils/navigation.ts
  packages/react-intl/BUILD.bazel
  packages/react-intl/examples/Injected.tsx
  packages/react-intl/examples/package.json
  packages/react-intl/index.ts
  packages/react-intl/package.json
  packages/react-intl/server.ts
  packages/react-intl/src/components/context.ts
  packages/react-intl/src/components/injectIntl.tsx
  packages/react-intl/src/components/provider.tsx
  packages/react-intl/src/components/useIntl.ts
  packages/react-intl/tests/unit/components/provider.test.tsx
  packages/react-intl/tests/unit/components/withIntl.test.tsx
  packages/react-intl/tests/unit/react-intl.test.tsx
  packages/react-intl/tests/unit/types.test.tsx
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(react-intl): modernize for React 19 and RSC support (#6083)
  UPCOMING.md
  docs/src/docs-metadata.generated.json
  docs/src/docs/react-intl/upgrade-guide-9.x.mdx
  docs/src/utils/navigation.ts
  packages/react-intl/BUILD.bazel
  packages/react-intl/examples/Injected.tsx
  packages/react-intl/examples/package.json
  packages/react-intl/index.ts
  packages/react-intl/package.json
  packages/react-intl/server.ts
  packages/react-intl/src/components/context.ts
  packages/react-intl/src/components/injectIntl.tsx
  packages/react-intl/src/components/provider.tsx
  packages/react-intl/src/components/useIntl.ts
  packages/react-intl/tests/unit/components/provider.test.tsx
  packages/react-intl/tests/unit/components/withIntl.test.tsx
  packages/react-intl/tests/unit/react-intl.test.tsx
  packages/react-intl/tests/unit/types.test.tsx
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

docs: add guides for Next.js App Router, React Native, migrations, and performance
  UPCOMING.md
  docs/src/docs-metadata.generated.json
  docs/src/docs/guides/migrate-from-i18next.mdx
  docs/src/docs/guides/migrate-from-lingui.mdx
  docs/src/docs/guides/nextjs-app-router.mdx
  docs/src/docs/guides/performance.mdx
  docs/src/docs/guides/react-native-hermes.mdx
  docs/src/docs/tooling/swc-plugin.mdx
  docs/src/utils/navigation.ts
Due: format-oxfmt, lint-staged

docs: add guides for Next.js App Router, React Native, migrations, and performance (#6093)
  UPCOMING.md
  docs/src/docs-metadata.generated.json
  docs/src/docs/guides/migrate-from-i18next.mdx
  docs/src/docs/guides/migrate-from-lingui.mdx
  docs/src/docs/guides/nextjs-app-router.mdx
  docs/src/docs/guides/performance.mdx
  docs/src/docs/guides/react-native-hermes.mdx
  docs/src/docs/tooling/swc-plugin.mdx
  docs/src/utils/navigation.ts
Due: format-oxfmt, lint-staged

fix(react-intl): fix vitest DOM tests failing in Bazel sandbox
  packages/react-intl/vitest.config.mjs
  tools/BUILD.bazel
  tools/vitest.bzl
  tools/vitest.config.mjs
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(react-intl): fix vitest DOM tests failing in Bazel sandbox (#6099)
  packages/react-intl/vitest.config.mjs
  tools/BUILD.bazel
  tools/vitest.bzl
  tools/vitest.config.mjs
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/unplugin): add universal build plugin for Vite, Webpack, Rollup, esbuild, and Rspack
  .syncpackrc.json
  BUILD.bazel
  MODULE.bazel.lock
  UPCOMING.md
  docs/src/docs-metadata.generated.json
  docs/src/docs/guides/bundler-plugins.mdx
  docs/src/docs/tooling/unplugin.mdx
  docs/src/utils/navigation.ts
  package.json
  packages/unplugin/BUILD.bazel
  packages/unplugin/LICENSE.md
  packages/unplugin/README.md
  packages/unplugin/esbuild.ts
  packages/unplugin/index.ts
  packages/unplugin/integration-tests/BUILD.bazel
  packages/unplugin/integration-tests/__snapshots__/integration.test.ts.snap
  packages/unplugin/integration-tests/fixtures/defineMessage.js
  packages/unplugin/integration-tests/fixtures/defineMessages.js
  packages/unplugin/integration-tests/fixtures/formatMessage.js
  packages/unplugin/integration-tests/integration.test.ts
  packages/unplugin/integration-tests/package.json
  packages/unplugin/package.json
  packages/unplugin/rollup.ts
  packages/unplugin/rspack.ts
  packages/unplugin/tests/transform.test.ts
  packages/unplugin/transform.ts
  packages/unplugin/tsconfig.json
  packages/unplugin/vite.ts
  packages/unplugin/webpack.ts
  packages/vite-plugin/index.ts
  packages/vite-plugin/package.json
  pnpm-lock.yaml
  tools/tsconfig.bzl
  tools/vitest.bzl
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/unplugin): universal build plugin for Vite, Webpack, Rollup, esbuild, Rspack (#6096)
  .syncpackrc.json
  BUILD.bazel
  MODULE.bazel.lock
  UPCOMING.md
  docs/src/docs-metadata.generated.json
  docs/src/docs/guides/bundler-plugins.mdx
  docs/src/docs/tooling/unplugin.mdx
  docs/src/utils/navigation.ts
  package.json
  packages/unplugin/BUILD.bazel
  packages/unplugin/LICENSE.md
  packages/unplugin/README.md
  packages/unplugin/esbuild.ts
  packages/unplugin/index.ts
  packages/unplugin/integration-tests/BUILD.bazel
  packages/unplugin/integration-tests/__snapshots__/integration.test.ts.snap
  packages/unplugin/integration-tests/fixtures/defineMessage.js
  packages/unplugin/integration-tests/fixtures/defineMessages.js
  packages/unplugin/integration-tests/fixtures/formatMessage.js
  packages/unplugin/integration-tests/integration.test.ts
  packages/unplugin/integration-tests/package.json
  packages/unplugin/package.json
  packages/unplugin/rollup.ts
  packages/unplugin/rspack.ts
  packages/unplugin/tests/transform.test.ts
  packages/unplugin/transform.ts
  packages/unplugin/tsconfig.json
  packages/unplugin/vite.ts
  packages/unplugin/webpack.ts
  packages/vite-plugin/index.ts
  packages/vite-plugin/package.json
  pnpm-lock.yaml
  tools/tsconfig.bzl
  tools/vitest.bzl
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore: remove completed tslib item from UPCOMING.md
  UPCOMING.md
Due: none

chore: remove completed tslib item from UPCOMING.md (#6101)
  UPCOMING.md
Due: none

chore(eslint-plugin-formatjs): upgrade to ESLint 10
  package.json
  packages/eslint-plugin-formatjs/integration-tests/package.json
  packages/eslint-plugin-formatjs/rules/enforce-plural-rules.ts
  packages/eslint-plugin-formatjs/rules/no-camel-case.ts
  packages/eslint-plugin-formatjs/rules/no-multiple-plurals.ts
  packages/eslint-plugin-formatjs/rules/no-offset.ts
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, lint-staged, bazel-lock-regen

chore(eslint-plugin-formatjs): upgrade to ESLint 10 (#6104)
  package.json
  packages/eslint-plugin-formatjs/integration-tests/package.json
  packages/eslint-plugin-formatjs/rules/enforce-plural-rules.ts
  packages/eslint-plugin-formatjs/rules/no-camel-case.ts
  packages/eslint-plugin-formatjs/rules/no-multiple-plurals.ts
  packages/eslint-plugin-formatjs/rules/no-offset.ts
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, lint-staged, bazel-lock-regen

chore: upgrade to Node 24
  .github/workflows/verify-hooks.yml
  MODULE.bazel
  package.json
  packages/cli-lib/package.json
  packages/ts-transformer/package.json
  packages/utils/tests/defaultTimezone.test.ts
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, lint-staged, bazel-lock-regen

chore: upgrade to Node 24 (#6103)
  .github/workflows/verify-hooks.yml
  MODULE.bazel
  package.json
  packages/cli-lib/package.json
  packages/ts-transformer/package.json
  packages/utils/tests/defaultTimezone.test.ts
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, lint-staged, bazel-lock-regen

chore(deps): upgrade vitest to v4
  package.json
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): upgrade vitest to v4 (#6108)
  package.json
  pnpm-lock.yaml
Due: bazel-lock-regen

chore(deps): update react monorepo to v19.2.4
  package.json
  pnpm-lock.yaml
Due: bazel-lock-regen

feat(react-intl): bump to v9.0.0
  MODULE.bazel.lock
  packages/react-intl/package.json
Due: format-package-json

docs(react-intl): rename upgrade guide from 9.x to 10.x
  docs/src/docs-metadata.generated.json
  docs/src/docs/react-intl/upgrade-guide-10.x.mdx
  docs/src/utils/navigation.ts
  packages/react-intl/CHANGELOG.md
Due: format-oxfmt, lint-staged

docs: Fix explanation for plural one rule
  docs/src/docs/tooling/linter.mdx
Due: format-oxfmt

feat(@formatjs/svelte-intl): add runtime package, CLI extraction, and docs for .svelte files
  MODULE.bazel.lock
  docs/src/docs-metadata.generated.json
  docs/src/docs/svelte-intl.mdx
  docs/src/docs/tooling/cli.mdx
  docs/src/utils/navigation.ts
  package.json
  packages/cli-lib/BUILD.bazel
  packages/cli-lib/package.json
  packages/cli-lib/src/extract.ts
  packages/cli-lib/src/svelte_extractor.ts
  packages/cli-lib/tests/unit/__snapshots__/svelte_extractor.test.ts.snap
  packages/cli-lib/tests/unit/fixtures/bind.svelte
  packages/cli-lib/tests/unit/fixtures/comp.svelte
  packages/cli-lib/tests/unit/svelte_extractor.test.ts
  packages/svelte-intl/BUILD.bazel
  packages/svelte-intl/LICENSE.md
  packages/svelte-intl/README.md
  packages/svelte-intl/context-key.ts
  packages/svelte-intl/index.ts
  packages/svelte-intl/package.json
  packages/svelte-intl/provider.ts
  packages/svelte-intl/tests/index.test.ts
  packages/svelte-intl/tsconfig.json
  pnpm-lock.yaml
  tools/index.bzl
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/cli-lib): add AbortSignal support to extract() and compile()
  packages/cli-lib/src/compile.ts
  packages/cli-lib/src/extract.ts
  packages/cli-lib/tests/unit/abort_signal.test.ts
Due: format-oxfmt, lint-staged

chore: update MODULE.bazel.lock
  MODULE.bazel.lock
Due: none

fix: resolve @babel/types version mismatch in pnpm-lock.yaml
  MODULE.bazel.lock
  package.json
  packages/babel-plugin-formatjs/package.json
  packages/vue-intl/package.json
  pnpm-lock.yaml
Due: format-package-json, bazel-lock-regen
