Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

format-package-json:
  run: pnpm syncpack fix-mismatches && pnpm syncpack format
  stage_fixed: true

format-oxfmt:
  run: pnpm oxfmt {staged_files}
  stage_fixed: true

format-starlark:
  run: 'set -- {staged_files}
  
    bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
  
    '
  stage_fixed: true

lint-staged:
  run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
  stage_fixed: true

bazel-lock-regen:
  run: bazel mod deps
  stage_fixed: true

fix(@formatjs/intl-supportedvaluesof): make the built-in non-constructible (#7248)
  docs/src/docs/polyfills/intl-supportedvaluesof.mdx
  knowledge-base/007k-polyfill-intl-supportedvaluesof.md
  knowledge-base/014-test262-conformance.md
  packages/intl-supportedvaluesof/index.ts
  packages/intl-supportedvaluesof/test262-baseline.json
  packages/intl-supportedvaluesof/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-numberformat): preserve resolved option property order (#7249)
  docs/src/docs/polyfills/intl-numberformat.mdx
  knowledge-base/007a-polyfill-intl-numberformat.md
  knowledge-base/014-test262-conformance.md
  packages/intl-numberformat/core.ts
  packages/intl-numberformat/test262-baseline.json
  packages/intl-numberformat/tests/misc.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-relativetimeformat): isolate internal formatter options (#7250)
  docs/src/docs/polyfills/intl-relativetimeformat.mdx
  knowledge-base/007f-polyfill-intl-relativetimeformat.md
  knowledge-base/014-test262-conformance.md
  packages/ecma402-abstract/RelativeTimeFormat/InitializeRelativeTimeFormat.ts
  packages/intl-relativetimeformat/test262-baseline.json
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-localematcher): isolate locale resolution records (#7251)
  docs/src/docs/polyfills/intl-localematcher.mdx
  knowledge-base/014-test262-conformance.md
  packages/intl-collator/test262-baseline.json
  packages/intl-localematcher/abstract/ResolveLocale.ts
  packages/intl-localematcher/tests/ResolveLocale.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-locale): use standard locale tag coercion (#7252)
  docs/src/docs/polyfills/intl-locale.mdx
  knowledge-base/007i-polyfill-intl-locale.md
  knowledge-base/014-test262-conformance.md
  packages/intl-locale/index.ts
  packages/intl-locale/test262-baseline.json
  packages/intl-locale/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-locale): support the variants constructor option (#7253)
  docs/src/docs/polyfills/intl-locale.mdx
  knowledge-base/007i-polyfill-intl-locale.md
  knowledge-base/014-test262-conformance.md
  packages/intl-getcanonicallocales/index.ts
  packages/intl-locale/index.ts
  packages/intl-locale/test262-baseline.json
  packages/intl-locale/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-locale): canonicalize before applying locale overrides (#7254)
  docs/src/docs/polyfills/intl-locale.mdx
  knowledge-base/007i-polyfill-intl-locale.md
  knowledge-base/014-test262-conformance.md
  packages/intl-locale/index.ts
  packages/intl-locale/test262-baseline.json
  packages/intl-locale/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-locale): minimize maximized locale components (#7255)
  docs/src/docs/polyfills/intl-locale.mdx
  knowledge-base/007i-polyfill-intl-locale.md
  knowledge-base/014-test262-conformance.md
  packages/intl-locale/index.ts
  packages/intl-locale/test262-baseline.json
  packages/intl-locale/tests/likely-subtags.test.ts
  packages/intl-locale/tests/minimize.test.ts
Due: format-oxfmt, lint-staged

test(@formatjs/editor): add Bazel visual regression coverage
  MODULE.bazel
  knowledge-base/013-editor-vrt.md
  packages/editor/BUILD.bazel
  packages/editor/README.md
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
  packages/editor/vrt/__screenshots__/editor-editing.png
  packages/editor/vrt/__screenshots__/editor-loaded.png
  packages/editor/vrt/editor.visual.test.tsx
  packages/editor/vrt/package.json
  packages/editor/vrt/pnpm-lock.yaml
  packages/editor/vrt/pnpm-workspace.yaml
  packages/editor/vrt/vitest.config.mjs
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

refactor(@formatjs/editor): require strict VRT typechecking
  MODULE.bazel
  MODULE.bazel.lock
  knowledge-base/013-editor-vrt.md
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
  packages/editor/vrt/package.json
  packages/editor/vrt/pnpm-lock.yaml
  packages/editor/vrt/tsconfig.bazel.json
  packages/editor/vrt/vitest.config.ts
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/editor): use isolated Testcontainers VRT runtime
  MODULE.bazel
  knowledge-base/013-editor-vrt.md
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
Due: format-oxfmt, format-starlark, bazel-lock-regen

refactor(@formatjs/editor): use native Playwright visual tests
  MODULE.bazel
  knowledge-base/013-editor-vrt.md
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
  packages/editor/vrt/app.tsx
  packages/editor/vrt/editor.visual.spec.ts
  packages/editor/vrt/editor.visual.test.tsx
  packages/editor/vrt/index.html
  packages/editor/vrt/package.json
  packages/editor/vrt/playwright.config.ts
  packages/editor/vrt/pnpm-lock.yaml
  packages/editor/vrt/tsconfig.bazel.json
  packages/editor/vrt/vite.config.ts
  packages/editor/vrt/vitest.config.ts
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore(deps): pin VRT rules with portable isolation tests
  MODULE.bazel
Due: bazel-lock-regen

feat(@formatjs/editor): add optional StyleX design system
  knowledge-base/013-editor-vrt.md
  package.json
  packages/editor/BUILD.bazel
  packages/editor/README.md
  packages/editor/demo.tsx
  packages/editor/design-system/components.tsx
  packages/editor/design-system/tokens.stylex.ts
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/__screenshots__/editor-editing.png
  packages/editor/vrt/__screenshots__/editor-invalid.png
  packages/editor/vrt/__screenshots__/editor-loaded.png
  packages/editor/vrt/__screenshots__/editor-mobile-rtl.png
  packages/editor/vrt/app.tsx
  packages/editor/vrt/editor.visual.spec.ts
  packages/editor/vrt/index.html
  packages/editor/vrt/reset.css
  packages/editor/vrt/shell.tsx
  packages/editor/vrt/vite.config.ts
  pnpm-lock.yaml
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

feat(@formatjs/editor): use custom VRT server and shell
  MODULE.bazel
  knowledge-base/013-editor-vrt.md
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
  packages/editor/vrt/app.tsx
  packages/editor/vrt/package.json
  packages/editor/vrt/pnpm-lock.yaml
  packages/editor/vrt/pnpm-workspace.yaml
  packages/editor/vrt/server.ts
  packages/editor/vrt/shell.tsx
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

docs(@formatjs/editor): remove private VRT dependency blocker
  packages/editor/vrt/README.md
Due: format-oxfmt

refactor(@formatjs/editor): share VRT TypeScript config and use ts files
  codescythe.jsonc
  knowledge-base/013-editor-vrt.md
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
  packages/editor/vrt/playwright.config.ts
  packages/editor/vrt/server.ts
  packages/editor/vrt/tsconfig.bazel.json
  packages/editor/vrt/vite.config.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore(deps): refresh editor Bazel lock after rebase
  MODULE.bazel.lock
Due: none

feat(@formatjs/editor): make editor headless on React 19
  MODULE.bazel
  codescythe.jsonc
  knowledge-base/013-editor-vrt.md
  package.json
  packages/editor/BUILD.bazel
  packages/editor/README.md
  packages/editor/demo.tsx
  packages/editor/editor.test.tsx
  packages/editor/header.tsx
  packages/editor/index.tsx
  packages/editor/main.tsx
  packages/editor/message.tsx
  packages/editor/messages.tsx
  packages/editor/types.ts
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
  packages/editor/vrt/__screenshots__/editor-editing.png
  packages/editor/vrt/__screenshots__/editor-loaded.png
  packages/editor/vrt/app.tsx
  packages/editor/vrt/editor.visual.spec.ts
  packages/editor/vrt/package.json
  packages/editor/vrt/playwright.config.mts
  packages/editor/vrt/pnpm-lock.yaml
  packages/editor/vrt/pnpm-workspace.yaml
  packages/editor/vrt/server.mts
  packages/editor/vrt/shell.tsx
  packages/editor/vrt/tsconfig.bazel.json
  packages/editor/vrt/vite.config.mts
  packages/editor/vrt/vite.config.ts
  pnpm-lock.yaml
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-locale): follow likely-subtag lookup order
  docs/src/docs/polyfills/intl-locale.mdx
  knowledge-base/007i-polyfill-intl-locale.md
  knowledge-base/014-test262-conformance.md
  packages/intl-locale/index.ts
  packages/intl-locale/test262-baseline.json
  packages/intl-locale/tests/likely-subtags.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-locale): honor region preference priority
  docs/src/docs/polyfills/intl-locale.mdx
  knowledge-base/007i-polyfill-intl-locale.md
  knowledge-base/014-test262-conformance.md
  packages/intl-locale/index.ts
  packages/intl-locale/preference-data.ts
  packages/intl-locale/test262-baseline.json
  packages/intl-locale/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-locale): expose canonical option values
  docs/src/docs/polyfills/intl-locale.mdx
  knowledge-base/007i-polyfill-intl-locale.md
  knowledge-base/014-test262-conformance.md
  packages/intl-locale/index.ts
  packages/intl-locale/test262-baseline.json
  packages/intl-locale/tests/index.test.ts
Due: format-oxfmt, lint-staged

chore(deps): regenerate editor lock against latest main
  MODULE.bazel.lock
Due: none

fix(@formatjs/intl-durationformat): resolve supported numbering systems
  docs/src/docs/polyfills/intl-durationformat.mdx
  knowledge-base/007g-polyfill-intl-durationformat.md
  knowledge-base/014-test262-conformance.md
  packages/intl-durationformat/core.ts
  packages/intl-durationformat/scripts/time-separators.ts
  packages/intl-durationformat/test262-baseline.json
  packages/intl-durationformat/tests/index.test.ts
  packages/intl-durationformat/types.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-durationformat): accept Temporal duration inputs
  docs/src/docs/polyfills/intl-durationformat.mdx
  knowledge-base/007g-polyfill-intl-durationformat.md
  knowledge-base/014-test262-conformance.md
  packages/intl-durationformat/BUILD.bazel
  packages/intl-durationformat/abstract/ToTemporalDurationRecord.ts
  packages/intl-durationformat/core.ts
  packages/intl-durationformat/test262-baseline.json
  packages/intl-durationformat/tests/index.test.ts
  packages/intl-durationformat/types.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-displaynames): accept extended language subtags
  docs/src/docs/polyfills/intl-displaynames.mdx
  knowledge-base/007d-polyfill-intl-displaynames.md
  knowledge-base/014-test262-conformance.md
  packages/intl-displaynames/index.ts
  packages/intl-displaynames/test262-baseline.json
  packages/intl-displaynames/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-supportedvaluesof): include fixed-offset time zones
  docs/src/docs/polyfills/intl-supportedvaluesof.mdx
  knowledge-base/007k-polyfill-intl-supportedvaluesof.md
  knowledge-base/014-test262-conformance.md
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl-supportedvaluesof/scripts/timezones.ts
  packages/intl-supportedvaluesof/test262-baseline.json
  packages/intl-supportedvaluesof/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-collator): preserve locale punctuation defaults
  docs/src/docs/polyfills/intl-collator.mdx
  knowledge-base/007l-polyfill-intl-collator.md
  knowledge-base/014-test262-conformance.md
  packages/intl-collator/scripts/generate-locale-data.ts
  packages/intl-collator/test262-baseline.json
  packages/intl-collator/tests/index.test.ts
Due: format-oxfmt, lint-staged

feat(@formatjs/editor): add headless React 19 editor with StyleX UI (#7223)
  MODULE.bazel
  MODULE.bazel.lock
  codescythe.jsonc
  knowledge-base/013-editor-vrt.md
  package.json
  packages/editor/BUILD.bazel
  packages/editor/README.md
  packages/editor/demo.tsx
  packages/editor/design-system/components.tsx
  packages/editor/design-system/tokens.stylex.ts
  packages/editor/editor.test.tsx
  packages/editor/header.tsx
  packages/editor/index.tsx
  packages/editor/main.tsx
  packages/editor/message.tsx
  packages/editor/messages.tsx
  packages/editor/types.ts
  packages/editor/vrt/BUILD.bazel
  packages/editor/vrt/README.md
  packages/editor/vrt/__screenshots__/editor-editing.png
  packages/editor/vrt/__screenshots__/editor-invalid.png
  packages/editor/vrt/__screenshots__/editor-loaded.png
  packages/editor/vrt/__screenshots__/editor-mobile-rtl.png
  packages/editor/vrt/app.tsx
  packages/editor/vrt/editor.visual.spec.ts
  packages/editor/vrt/index.html
  packages/editor/vrt/playwright.config.ts
  packages/editor/vrt/reset.css
  packages/editor/vrt/server.ts
  packages/editor/vrt/shell.tsx
  packages/editor/vrt/vite.config.ts
  pnpm-lock.yaml
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-collator): exclude root from locale negotiation
  docs/src/docs/polyfills/intl-collator.mdx
  knowledge-base/007l-polyfill-intl-collator.md
  knowledge-base/014-test262-conformance.md
  packages/intl-collator/scripts/generate-locale-data.ts
  packages/intl-collator/test262-baseline.json
  packages/intl-collator/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-localematcher): respect Unicode extension boundaries
  docs/src/docs/polyfills/intl-localematcher.mdx
  knowledge-base/005-package-intl-localematcher.md
  knowledge-base/014-test262-conformance.md
  packages/intl-collator/test262-baseline.json
  packages/intl-localematcher/abstract/BestFitMatcher.ts
  packages/intl-localematcher/abstract/InsertUnicodeExtensionAndCanonicalize.ts
  packages/intl-localematcher/abstract/LookupMatcher.ts
  packages/intl-localematcher/abstract/LookupSupportedLocales.ts
  packages/intl-localematcher/abstract/utils.ts
  packages/intl-localematcher/tests/BestFitMatcher.test.ts
  packages/intl-localematcher/tests/LookupMatcher.test.ts
  packages/intl-localematcher/tests/ResolveLocale.test.ts
  packages/intl-numberformat/test262-baseline.json
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-collator): resolve canonical collation types
  docs/src/docs/polyfills/intl-collator.mdx
  knowledge-base/007l-polyfill-intl-collator.md
  knowledge-base/014-test262-conformance.md
  packages/generated/cldr-collation/BUILD.bazel
  packages/intl-collator/compare.ts
  packages/intl-collator/scripts/BUILD.bazel
  packages/intl-collator/scripts/canonical-collation.ts
  packages/intl-collator/scripts/generate-locale-data.ts
  packages/intl-collator/scripts/generate-tailoring-data.ts
  packages/intl-collator/test262-baseline.json
  packages/intl-collator/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-collator): select search collation tailoring
  docs/src/docs/polyfills/intl-collator.mdx
  knowledge-base/007l-polyfill-intl-collator.md
  knowledge-base/014-test262-conformance.md
  packages/intl-collator/compare.ts
  packages/intl-collator/core.ts
  packages/intl-collator/test262-baseline.json
  packages/intl-collator/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-locale): honor region preference priority (#7257)
  docs/src/docs/polyfills/intl-locale.mdx
  knowledge-base/007i-polyfill-intl-locale.md
  knowledge-base/014-test262-conformance.md
  packages/intl-locale/index.ts
  packages/intl-locale/preference-data.ts
  packages/intl-locale/test262-baseline.json
  packages/intl-locale/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-locale): follow likely-subtag lookup order (#7259)
  docs/src/docs/polyfills/intl-locale.mdx
  knowledge-base/007i-polyfill-intl-locale.md
  knowledge-base/014-test262-conformance.md
  packages/intl-locale/index.ts
  packages/intl-locale/test262-baseline.json
  packages/intl-locale/tests/likely-subtags.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-locale): expose canonical option values (#7258)
  docs/src/docs/polyfills/intl-locale.mdx
  knowledge-base/007i-polyfill-intl-locale.md
  knowledge-base/014-test262-conformance.md
  packages/intl-locale/index.ts
  packages/intl-locale/test262-baseline.json
  packages/intl-locale/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-durationformat): resolve supported numbering systems (#7260)
  docs/src/docs/polyfills/intl-durationformat.mdx
  knowledge-base/007g-polyfill-intl-durationformat.md
  knowledge-base/014-test262-conformance.md
  packages/intl-durationformat/core.ts
  packages/intl-durationformat/scripts/time-separators.ts
  packages/intl-durationformat/test262-baseline.json
  packages/intl-durationformat/tests/index.test.ts
  packages/intl-durationformat/types.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-durationformat): accept Temporal duration inputs (#7261)
  docs/src/docs/polyfills/intl-durationformat.mdx
  knowledge-base/007g-polyfill-intl-durationformat.md
  knowledge-base/014-test262-conformance.md
  packages/intl-durationformat/BUILD.bazel
  packages/intl-durationformat/abstract/ToTemporalDurationRecord.ts
  packages/intl-durationformat/core.ts
  packages/intl-durationformat/test262-baseline.json
  packages/intl-durationformat/tests/index.test.ts
  packages/intl-durationformat/types.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-displaynames): accept extended language subtags (#7262)
  docs/src/docs/polyfills/intl-displaynames.mdx
  knowledge-base/007d-polyfill-intl-displaynames.md
  knowledge-base/014-test262-conformance.md
  packages/intl-displaynames/index.ts
  packages/intl-displaynames/test262-baseline.json
  packages/intl-displaynames/tests/index.test.ts
Due: format-oxfmt, lint-staged

fix(@formatjs/intl-supportedvaluesof): include fixed-offset time zones (#7263)
  docs/src/docs/polyfills/intl-supportedvaluesof.mdx
  knowledge-base/007k-polyfill-intl-supportedvaluesof.md
  knowledge-base/014-test262-conformance.md
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl-supportedvaluesof/scripts/timezones.ts
  packages/intl-supportedvaluesof/test262-baseline.json
  packages/intl-supportedvaluesof/tests/index.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

Path conditions:
  format-package-json: any of: **/package.json
  format-oxfmt: any of: **/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}, but not: **/locale-data/**, **/package.json, **/CHANGELOG.md, packages/cli-lib/tests/extract/typescript/err.tsx, packages/cli/integration-tests/extract/typescript/err.tsx
  format-starlark: any of: **/*.{bazel,bzl,BUILD}
  lint-staged: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}
  bazel-lock-regen: any of: pnpm-lock.yaml, package.json, pnpm-workspace.yaml, *.bazel
