Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

lefthook.yml:

# Lefthook configuration
# Docs: https://github.com/evilmartians/lefthook

# Skip lefthook when LEFTHOOK=0 environment variable is set
# This is equivalent to husky's HUSKY=0 for CI/CD pipelines
skip_output:
  - meta
  - summary

pre-commit:
  parallel: false
  commands:
    format-package-json:
      glob: "**/package.json"
      run: pnpm syncpack fix-mismatches && pnpm syncpack format
      stage_fixed: true
    format-oxfmt:
      glob: "**/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}"
      run: pnpm oxfmt {staged_files}
      stage_fixed: true
      exclude:
        - '**/locale-data/**'
        - '**/package.json'
        - '**/CHANGELOG.md'
        - 'packages/cli-lib/tests/extract/typescript/err.tsx'
        - 'packages/cli/integration-tests/extract/typescript/err.tsx'
    format-starlark:
      glob: "**/*.{bazel,bzl,BUILD}"
      run: |
        set -- {staged_files}
        bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
      stage_fixed: true
    lint-staged:
      glob: '**/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}'
      run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
      stage_fixed: true
    bazel-lock-regen:
      glob:
        - "pnpm-lock.yaml"
        - "package.json"
        - "pnpm-workspace.yaml"
        - "*.bazel"
      run: bazel mod deps
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

fix(react-intl): align $t with formatMessage overloads
  docs/src/docs/react-intl/api.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/react-intl/tests/unit/typed-message.test.tsx
  packages/react-intl/types.ts
Due: format-oxfmt, lint-staged

fix(react-intl): align $t with formatMessage overloads (#7416)
  docs/src/docs/react-intl/api.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/react-intl/tests/unit/typed-message.test.tsx
  packages/react-intl/types.ts
Due: format-oxfmt, lint-staged

chore: release main
  .release-please-manifest.json
  packages/intl-numberformat/BUILD.bazel
  packages/intl-numberformat/CHANGELOG.md
  packages/intl-numberformat/package.json
  packages/react-intl/BUILD.bazel
  packages/react-intl/CHANGELOG.md
  packages/react-intl/package.json
Due: format-package-json, format-starlark, bazel-lock-regen

chore: release main (#7413)
  .release-please-manifest.json
  packages/intl-numberformat/BUILD.bazel
  packages/intl-numberformat/CHANGELOG.md
  packages/intl-numberformat/package.json
  packages/react-intl/BUILD.bazel
  packages/react-intl/CHANGELOG.md
  packages/react-intl/package.json
Due: format-package-json, format-starlark, bazel-lock-regen

test(react-intl): rely on rich-text callback inference
  docs/src/docs/react-intl/components.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/react-intl/examples/Messages.tsx
  packages/react-intl/examples/advanced/Advanced.tsx
  packages/react-intl/tests/unit/components/message.test.tsx
  packages/react-intl/tests/unit/react-19-key-warning.test.tsx
  packages/react-intl/tests/unit/typed-message.test.tsx
Due: format-oxfmt, lint-staged

feat(@formatjs/intl): export shared text message formatter type
  docs/src/docs/react-intl/api.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/intl/types.ts
  packages/react-intl/index.ts
  packages/react-intl/server.ts
  packages/react-intl/tests/unit/typed-message.test.tsx
Due: format-oxfmt, lint-staged

test(react-intl): rely on rich-text callback inference (#7417)
  docs/src/docs/react-intl/components.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/react-intl/examples/Messages.tsx
  packages/react-intl/examples/advanced/Advanced.tsx
  packages/react-intl/tests/unit/components/message.test.tsx
  packages/react-intl/tests/unit/react-19-key-warning.test.tsx
  packages/react-intl/tests/unit/typed-message.test.tsx
Due: format-oxfmt, lint-staged

feat(@formatjs/intl): export shared text message formatter type (#7418)
  docs/src/docs/react-intl/api.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/intl/types.ts
  packages/react-intl/index.ts
  packages/react-intl/server.ts
  packages/react-intl/tests/unit/typed-message.test.tsx
Due: format-oxfmt, lint-staged

feat(@formatjs/intl): simplify typed helper calls and generated contracts
  docs/src/docs/react-intl/api.mdx
  docs/src/docs/tooling/linter.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/eslint-plugin-formatjs/rules/enforce-message-types.ts
  packages/eslint-plugin-formatjs/tests/enforce-message-types.test.ts
  packages/intl/tests/typed-message.test.ts
  packages/intl/typed-message.ts
  packages/react-intl/define-message.ts
  packages/react-intl/tests/unit/typed-message.test.tsx
Due: format-oxfmt, lint-staged

feat(@formatjs/intl)!: simplify typed helper calls and generated contracts (#7420)
  docs/src/docs/react-intl/api.mdx
  docs/src/docs/tooling/linter.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/eslint-plugin-formatjs/rules/enforce-message-types.ts
  packages/eslint-plugin-formatjs/tests/enforce-message-types.test.ts
  packages/intl/tests/typed-message.test.ts
  packages/intl/typed-message.ts
  packages/react-intl/define-message.ts
  packages/react-intl/tests/unit/typed-message.test.tsx
Due: format-oxfmt, lint-staged

chore: release main
  .release-please-manifest.json
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/CHANGELOG.md
  packages/eslint-plugin-formatjs/package.json
  packages/intl/BUILD.bazel
  packages/intl/CHANGELOG.md
  packages/intl/package.json
  packages/react-intl/BUILD.bazel
  packages/react-intl/CHANGELOG.md
  packages/react-intl/package.json
  packages/svelte-intl/BUILD.bazel
  packages/svelte-intl/CHANGELOG.md
  packages/svelte-intl/package.json
  packages/vue-intl/BUILD.bazel
  packages/vue-intl/CHANGELOG.md
  packages/vue-intl/package.json
Due: format-package-json, format-starlark, bazel-lock-regen

chore: release main (#7419)
  .release-please-manifest.json
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/CHANGELOG.md
  packages/eslint-plugin-formatjs/package.json
  packages/intl/BUILD.bazel
  packages/intl/CHANGELOG.md
  packages/intl/package.json
  packages/react-intl/BUILD.bazel
  packages/react-intl/CHANGELOG.md
  packages/react-intl/package.json
  packages/svelte-intl/BUILD.bazel
  packages/svelte-intl/CHANGELOG.md
  packages/svelte-intl/package.json
  packages/vue-intl/BUILD.bazel
  packages/vue-intl/CHANGELOG.md
  packages/vue-intl/package.json
Due: format-package-json, format-starlark, bazel-lock-regen

fix(eslint-plugin-formatjs): migrate existing message catalogs cleanly
  docs/src/docs/tooling/linter.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/eslint-plugin-formatjs/rules/enforce-message-types.ts
  packages/eslint-plugin-formatjs/tests/enforce-message-types.test.ts
  packages/react-intl/index.ts
  packages/react-intl/server.ts
  packages/react-intl/tests/unit/typed-message.test.tsx
Due: format-oxfmt, lint-staged

fix(eslint-plugin-formatjs): migrate existing message catalogs cleanly (#7421)
  docs/src/docs/tooling/linter.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/eslint-plugin-formatjs/rules/enforce-message-types.ts
  packages/eslint-plugin-formatjs/tests/enforce-message-types.test.ts
  packages/react-intl/index.ts
  packages/react-intl/server.ts
  packages/react-intl/tests/unit/typed-message.test.tsx
Due: format-oxfmt, lint-staged

chore: release main
  .release-please-manifest.json
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/CHANGELOG.md
  packages/eslint-plugin-formatjs/package.json
  packages/react-intl/BUILD.bazel
  packages/react-intl/CHANGELOG.md
  packages/react-intl/package.json
Due: format-package-json, format-starlark, bazel-lock-regen

test(eslint-plugin-formatjs): cover shared descriptor and mixed catalog patterns
  packages/eslint-plugin-formatjs/tests/enforce-message-types.test.ts
  packages/react-intl/tests/unit/typed-message.test.tsx
Due: format-oxfmt, lint-staged

test(eslint-plugin-formatjs): cover shared descriptor and mixed catalog patterns (#7423)
  packages/eslint-plugin-formatjs/tests/enforce-message-types.test.ts
  packages/react-intl/tests/unit/typed-message.test.tsx
Due: format-oxfmt, lint-staged

chore: release main (#7422)
  .release-please-manifest.json
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/CHANGELOG.md
  packages/eslint-plugin-formatjs/package.json
  packages/react-intl/BUILD.bazel
  packages/react-intl/CHANGELOG.md
  packages/react-intl/package.json
Due: format-package-json, format-starlark, bazel-lock-regen

feat(@formatjs/editor): add scoped exact search and source copy controls
  knowledge-base/013-editor-vrt.md
  packages/editor/BUILD.bazel
  packages/editor/README.md
  packages/editor/core.tsx
  packages/editor/design-system.tsx
  packages/editor/editor.test.tsx
  packages/editor/index.ts
  packages/editor/search.test.ts
  packages/editor/search.ts
  packages/editor/ui.test.tsx
  packages/editor/ui.tsx
  packages/editor/workflow.test.tsx
  packages/editor/workflow.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(eslint-plugin-formatjs): preserve standalone descriptor annotations
  docs/src/docs/tooling/linter.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/eslint-plugin-formatjs/rules/enforce-message-types.ts
  packages/eslint-plugin-formatjs/tests/enforce-message-types.test.ts
Due: format-oxfmt, lint-staged

feat(@formatjs/editor): add scoped exact search and source copy controls (#7424)
  knowledge-base/013-editor-vrt.md
  packages/editor/BUILD.bazel
  packages/editor/README.md
  packages/editor/core.tsx
  packages/editor/design-system.tsx
  packages/editor/editor.test.tsx
  packages/editor/index.ts
  packages/editor/search.test.ts
  packages/editor/search.ts
  packages/editor/ui.test.tsx
  packages/editor/ui.tsx
  packages/editor/workflow.test.tsx
  packages/editor/workflow.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(eslint-plugin-formatjs): preserve annotated descriptor contracts (#7425)
  docs/src/docs/tooling/linter.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/eslint-plugin-formatjs/rules/enforce-message-types.ts
  packages/eslint-plugin-formatjs/tests/enforce-message-types.test.ts
Due: format-oxfmt, lint-staged

chore: release main
  .release-please-manifest.json
  packages/editor/BUILD.bazel
  packages/editor/CHANGELOG.md
  packages/editor/package.json
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/CHANGELOG.md
  packages/eslint-plugin-formatjs/package.json
Due: format-package-json, format-starlark, bazel-lock-regen

chore: release main (#7426)
  .release-please-manifest.json
  packages/editor/BUILD.bazel
  packages/editor/CHANGELOG.md
  packages/editor/package.json
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/CHANGELOG.md
  packages/eslint-plugin-formatjs/package.json
Due: format-package-json, format-starlark, bazel-lock-regen

fix: accept mixed untyped and empty message descriptors
  docs/src/docs/react-intl/api.mdx
  docs/src/docs/react-intl/components.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/intl/tests/typed-message.test.ts
  packages/intl/typed-message.ts
  packages/intl/types.ts
  packages/react-intl/components/message.tsx
  packages/react-intl/tests/unit/typed-message.test.tsx
  packages/react-intl/types.ts
Due: format-oxfmt, lint-staged

fix: default message helpers to empty ICU contracts
  docs/public/sitemap.xml
  docs/src/docs-metadata.generated.json
  docs/src/docs/intl.mdx
  docs/src/docs/react-intl/api.mdx
  docs/src/docs/react-intl/upgrade-guide-11.x.mdx
  docs/src/docs/react-intl/upgrade-guide-12.x.mdx
  docs/src/docs/tooling/linter.mdx
  docs/src/utils/navigation.ts
  knowledge-base/008-package-intl-and-framework-integrations.md
  knowledge-base/009-package-developer-tools.md
  packages/eslint-plugin-formatjs/rules/enforce-message-types.ts
  packages/eslint-plugin-formatjs/tests/enforce-message-types.test.ts
  packages/intl/tests/typed-message.test.ts
  packages/intl/typed-message.ts
  packages/react-intl/define-message.ts
  packages/react-intl/tests/unit/typed-message.test.tsx
  packages/react-intl/tests/unit/types.test.tsx
Due: format-oxfmt, lint-staged

fix: default message helpers to empty ICU contracts (#7428)
  docs/public/sitemap.xml
  docs/src/docs-metadata.generated.json
  docs/src/docs/intl.mdx
  docs/src/docs/react-intl/api.mdx
  docs/src/docs/react-intl/upgrade-guide-11.x.mdx
  docs/src/docs/react-intl/upgrade-guide-12.x.mdx
  docs/src/docs/tooling/linter.mdx
  docs/src/utils/navigation.ts
  knowledge-base/008-package-intl-and-framework-integrations.md
  knowledge-base/009-package-developer-tools.md
  packages/eslint-plugin-formatjs/rules/enforce-message-types.ts
  packages/eslint-plugin-formatjs/tests/enforce-message-types.test.ts
  packages/intl/tests/typed-message.test.ts
  packages/intl/typed-message.ts
  packages/react-intl/define-message.ts
  packages/react-intl/tests/unit/typed-message.test.tsx
  packages/react-intl/tests/unit/types.test.tsx
Due: format-oxfmt, lint-staged

chore: release main (#7429)
  .release-please-manifest.json
  packages/eslint-plugin-formatjs/BUILD.bazel
  packages/eslint-plugin-formatjs/CHANGELOG.md
  packages/eslint-plugin-formatjs/package.json
  packages/intl/BUILD.bazel
  packages/intl/CHANGELOG.md
  packages/intl/package.json
  packages/react-intl/BUILD.bazel
  packages/react-intl/CHANGELOG.md
  packages/react-intl/package.json
  packages/svelte-intl/BUILD.bazel
  packages/svelte-intl/CHANGELOG.md
  packages/svelte-intl/package.json
  packages/vue-intl/BUILD.bazel
  packages/vue-intl/CHANGELOG.md
  packages/vue-intl/package.json
Due: format-package-json, format-starlark, bazel-lock-regen

fix(eslint-plugin-formatjs): generate contracts for nested message helpers
  docs/src/docs/tooling/linter.mdx
  knowledge-base/009-package-developer-tools.md
  packages/eslint-plugin-formatjs/rules/enforce-message-types.ts
  packages/eslint-plugin-formatjs/tests/enforce-message-types.test.ts
Due: format-oxfmt, lint-staged

fix(formatjs_cli): align parser requirement with workspace release
  .github/workflows/test.yml
  crates/formatjs_cli/Cargo.toml
  knowledge-base/003-rust-crate-dependency-hierarchy.md
Due: format-oxfmt

fix(formatjs_cli): unblock Rust crate publishing (#7432)
  .github/workflows/test.yml
  crates/formatjs_cli/Cargo.toml
  knowledge-base/003-rust-crate-dependency-hierarchy.md
Due: format-oxfmt

docs: simplify typed message migration and ESLint guidance
  docs/src/docs-metadata.generated.json
  docs/src/docs/react-intl/upgrade-guide-12.x.mdx
  docs/src/docs/tooling/linter.mdx
Due: format-oxfmt

docs: format message argument types table
  docs/src/docs/tooling/linter.mdx
Due: format-oxfmt

docs: simplify typed message migration and ESLint guidance (#7435)
  docs/src/docs-metadata.generated.json
  docs/src/docs/react-intl/upgrade-guide-12.x.mdx
  docs/src/docs/tooling/linter.mdx
Due: format-oxfmt

feat(@formatjs/intl): support opt-in branded message text
  docs/src/docs/intl.mdx
  docs/src/docs/react-intl/api.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/intl-messageformat/index.ts
  packages/intl-messageformat/message-types.ts
  packages/intl/tests/tsd/BUILD.bazel
  packages/intl/tests/tsd/branded_text.test-d.ts
  packages/intl/tests/tsd/default_text.test-d.ts
  packages/intl/types.ts
  packages/react-intl/index.ts
  packages/react-intl/server.ts
  packages/react-intl/tests/tsd/BUILD.bazel
  packages/react-intl/tests/tsd/branded_text.test-d.ts
  packages/react-intl/tests/tsd/default_text.test-d.ts
  packages/react-intl/types.ts
  packages/svelte-intl/index.ts
  packages/vue-intl/index.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

test: assert inferred message types before reassignment
  packages/intl/tests/tsd/branded_text.test-d.ts
  packages/intl/tests/tsd/default_text.test-d.ts
  packages/react-intl/tests/tsd/branded_text.test-d.ts
  packages/react-intl/tests/tsd/default_text.test-d.ts
Due: format-oxfmt, lint-staged

docs: simplify branded message text guidance
  docs/src/docs/intl.mdx
  docs/src/docs/react-intl/api.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
Due: format-oxfmt

feat(@formatjs/intl): support opt-in branded message text (#7436)
  docs/src/docs/intl.mdx
  docs/src/docs/react-intl/api.mdx
  knowledge-base/008-package-intl-and-framework-integrations.md
  packages/intl-messageformat/index.ts
  packages/intl-messageformat/message-types.ts
  packages/intl/tests/tsd/BUILD.bazel
  packages/intl/tests/tsd/branded_text.test-d.ts
  packages/intl/tests/tsd/default_text.test-d.ts
  packages/intl/types.ts
  packages/react-intl/index.ts
  packages/react-intl/server.ts
  packages/react-intl/tests/tsd/BUILD.bazel
  packages/react-intl/tests/tsd/branded_text.test-d.ts
  packages/react-intl/tests/tsd/default_text.test-d.ts
  packages/react-intl/types.ts
  packages/svelte-intl/index.ts
  packages/vue-intl/index.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen
