Repository formatjs/formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

lefthook.yml:

# Lefthook configuration
# Docs: https://github.com/evilmartians/lefthook

# Skip lefthook when LEFTHOOK=0 environment variable is set
# This is equivalent to husky's HUSKY=0 for CI/CD pipelines
skip_output:
  - meta
  - summary

pre-commit:
  parallel: false
  commands:
    format-package-json:
      glob: "**/package.json"
      run: pnpm syncpack fix-mismatches && pnpm syncpack format
      stage_fixed: true
    format-oxfmt:
      glob: "**/*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,vue,html,mjml,css,scss,less,md,mdx,graphql,gql,yaml,yml,toml,json,jsonc,json5}"
      run: pnpm oxfmt {staged_files}
      stage_fixed: true
      exclude:
        - '**/locale-data/**'
        - '**/package.json'
        - '**/CHANGELOG.md'
        - 'packages/cli-lib/tests/extract/typescript/err.tsx'
        - 'packages/cli/integration-tests/extract/typescript/err.tsx'
    format-starlark:
      glob: "**/*.{bazel,bzl,BUILD}"
      run: |
        set -- {staged_files}
        bazel run @buildifier_prebuilt//:buildifier -- -mode=fix $(printf "$PWD/%s " "$@")
      stage_fixed: true
    lint-staged:
      glob: '**/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}'
      run: pnpm oxlint --config .oxlintrc.json --fix {staged_files}
      stage_fixed: true
    bazel-lock-regen:
      glob:
        - "pnpm-lock.yaml"
        - "package.json"
        - "pnpm-workspace.yaml"
        - "*.bazel"
      run: bazel mod deps
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

fix(@formatjs/ecma402-abstract): migrate remaining imports to #packages subpath
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-messageformat-parser/types.ts
  packages/icu-skeleton-parser/BUILD.bazel
  packages/icu-skeleton-parser/number.ts
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/scripts/extract-dates.ts
  packages/intl-datetimeformat/src/abstract/skeleton.ts
  packages/intl-datetimeformat/src/packer.ts
  packages/intl-datetimeformat/src/types.ts
  packages/intl-durationformat/BUILD.bazel
  packages/intl-durationformat/src/abstract/GetDurationUnitOptions.ts
  packages/intl-durationformat/src/abstract/IsValidDurationRecord.ts
  packages/intl-durationformat/src/abstract/PartitionDurationFormatPattern.ts
  packages/intl-durationformat/src/abstract/ToIntegerIfIntegral.ts
  packages/intl-durationformat/src/core.ts
  packages/intl-messageformat/BUILD.bazel
  packages/intl-messageformat/src/formatters.ts
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl-supportedvaluesof/src/get-supported-currencies.ts
  packages/intl-supportedvaluesof/src/get-supported-numbering-systems.ts
  packages/intl-supportedvaluesof/src/get-supported-units.ts
  packages/intl/BUILD.bazel
  packages/intl/src/number.ts
  packages/intl/src/types.ts
  packages/intl/src/utils.ts
  packages/react-intl/BUILD.bazel
  packages/react-intl/examples/BUILD.bazel
  packages/react-intl/index.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

refactor(@formatjs/ecma402-abstract): remove barrel export and use deep imports
  packages/ecma402-abstract/index.ts
  packages/ecma402-abstract/package.json
  packages/icu-messageformat-parser/types.ts
  packages/icu-skeleton-parser/number.ts
  packages/intl-datetimeformat/scripts/extract-dates.ts
  packages/intl-datetimeformat/src/abstract/skeleton.ts
  packages/intl-datetimeformat/src/packer.ts
  packages/intl-datetimeformat/src/types.ts
  packages/intl-durationformat/src/abstract/GetDurationUnitOptions.ts
  packages/intl-durationformat/src/abstract/IsValidDurationRecord.ts
  packages/intl-durationformat/src/abstract/PartitionDurationFormatPattern.ts
  packages/intl-durationformat/src/abstract/ToIntegerIfIntegral.ts
  packages/intl-durationformat/src/core.ts
  packages/intl-messageformat/src/formatters.ts
  packages/intl-supportedvaluesof/src/get-supported-currencies.ts
  packages/intl-supportedvaluesof/src/get-supported-numbering-systems.ts
  packages/intl-supportedvaluesof/src/get-supported-units.ts
  packages/intl/src/number.ts
  packages/intl/src/types.ts
  packages/intl/src/utils.ts
  packages/react-intl/index.ts
Due: format-package-json, format-oxfmt, lint-staged

fix(@formatjs/ecma402-abstract): fix Bazel sandbox resolution and .d.ts compat
  CLAUDE.md
  packages/ecma402-abstract/package.json
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/scripts/extract-dates.ts
  packages/intl-datetimeformat/src/abstract/skeleton.ts
  packages/intl-datetimeformat/src/packer.ts
  packages/intl-datetimeformat/src/types.ts
  packages/intl-durationformat/BUILD.bazel
  packages/intl-durationformat/src/abstract/GetDurationUnitOptions.ts
  packages/intl-durationformat/src/abstract/IsValidDurationRecord.ts
  packages/intl-durationformat/src/abstract/PartitionDurationFormatPattern.ts
  packages/intl-durationformat/src/abstract/ToIntegerIfIntegral.ts
  packages/intl-durationformat/src/core.ts
  packages/intl-locale/index.ts
  packages/intl-messageformat/BUILD.bazel
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl-supportedvaluesof/src/get-supported-currencies.ts
  packages/intl-supportedvaluesof/src/get-supported-numbering-systems.ts
  packages/intl-supportedvaluesof/src/get-supported-units.ts
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  packages/react-intl/examples/BUILD.bazel
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-datetimeformat): use @formatjs/ imports for type-only .d.ts compat
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/scripts/extract-dates.ts
  packages/intl-datetimeformat/src/abstract/skeleton.ts
  packages/intl-datetimeformat/src/packer.ts
  packages/intl-datetimeformat/src/types.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

refactor(@formatjs/ecma402-abstract): remove barrel export, use deep imports (#6246)
  CLAUDE.md
  packages/ecma402-abstract/index.ts
  packages/ecma402-abstract/package.json
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-messageformat-parser/types.ts
  packages/icu-skeleton-parser/BUILD.bazel
  packages/icu-skeleton-parser/number.ts
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/scripts/extract-dates.ts
  packages/intl-datetimeformat/src/abstract/skeleton.ts
  packages/intl-datetimeformat/src/packer.ts
  packages/intl-datetimeformat/src/types.ts
  packages/intl-durationformat/BUILD.bazel
  packages/intl-durationformat/src/abstract/GetDurationUnitOptions.ts
  packages/intl-durationformat/src/abstract/IsValidDurationRecord.ts
  packages/intl-durationformat/src/abstract/PartitionDurationFormatPattern.ts
  packages/intl-durationformat/src/abstract/ToIntegerIfIntegral.ts
  packages/intl-durationformat/src/core.ts
  packages/intl-locale/index.ts
  packages/intl-messageformat/BUILD.bazel
  packages/intl-messageformat/src/formatters.ts
  packages/intl-supportedvaluesof/BUILD.bazel
  packages/intl-supportedvaluesof/src/get-supported-currencies.ts
  packages/intl-supportedvaluesof/src/get-supported-numbering-systems.ts
  packages/intl-supportedvaluesof/src/get-supported-units.ts
  packages/intl/BUILD.bazel
  packages/intl/src/number.ts
  packages/intl/src/types.ts
  packages/intl/src/utils.ts
  packages/react-intl/BUILD.bazel
  packages/react-intl/examples/BUILD.bazel
  packages/react-intl/index.ts
Due: format-package-json, format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

chore(deps): add ast-grep with no-barrel-export rule
  lefthook.yml
  package.json
  pnpm-lock.yaml
  sg-rules/no-barrel-export.yml
  sgconfig.yml
Due: format-oxfmt, bazel-lock-regen

chore(formatjs-repo): add ast-grep with no-barrel-export rule (#6247)
  lefthook.yml
  package.json
  pnpm-lock.yaml
  sg-rules/no-barrel-export.yml
  sgconfig.yml
Due: format-oxfmt, bazel-lock-regen

fix(formatjs_cli): extract formatMessage from any object, not just intl
  crates/formatjs_cli/src/extractor.rs
  packages/cli/integration-tests/conformance-tests/test_cases/21_formatmessage_any_object.txt
Due: none

fix(@formatjs/cli): extract formatMessage from any object, not just intl (#6251)
  crates/formatjs_cli/src/extractor.rs
  packages/cli/integration-tests/conformance-tests/test_cases/21_formatmessage_any_object.txt
Due: none

fix(deps): fix broken GitHub URLs in changelogs
  package.json
  packages/ecma402-abstract/CHANGELOG.md
  packages/editor/CHANGELOG.md
  packages/intl-listformat/CHANGELOG.md
  packages/intl-messageformat/CHANGELOG.md
  packages/intl-relativetimeformat/CHANGELOG.md
  packages/intl-segmenter/CHANGELOG.md
  packages/intl/CHANGELOG.md
  packages/react-intl/CHANGELOG.md
Due: bazel-lock-regen

fix(deps): fix broken GitHub URLs in changelogs (#6252)
  package.json
  packages/ecma402-abstract/CHANGELOG.md
  packages/editor/CHANGELOG.md
  packages/intl-listformat/CHANGELOG.md
  packages/intl-messageformat/CHANGELOG.md
  packages/intl-relativetimeformat/CHANGELOG.md
  packages/intl-segmenter/CHANGELOG.md
  packages/intl/CHANGELOG.md
  packages/react-intl/CHANGELOG.md
Due: bazel-lock-regen

chore(deps): regenerate MODULE.bazel.lock
  MODULE.bazel.lock
Due: none

chore(deps): regenerate MODULE.bazel.lock (#6255)
  MODULE.bazel.lock
Due: none

fix(react-intl): make Swedish examples build cleanly
  packages/react-intl/examples/SvenskaExample.tsx
  packages/react-intl/examples/SvensktStriktExample.tsx
  packages/react-intl/examples/index.html
  packages/react-intl/examples/index.tsx
Due: format-oxfmt, lint-staged

fix(react-intl): address review feedback on Swedish examples
  docs/src/lang/strings_sv-SE.json
  packages/react-intl/examples/SvenskaExample.tsx
  packages/react-intl/examples/SvensktStriktExample.tsx
Due: format-oxfmt, lint-staged

refactor(deps): split ecma402-abstract into composite Bazel sub-packages
  .bazelignore
  CLAUDE.md
  MODULE.bazel.lock
  knowledge-base/001-repo-layout-and-toolchain.md
  knowledge-base/002-ts-package-dependency-hierarchy.md
  packages/babel-plugin-formatjs/tsconfig.json
  packages/cli-lib/tsconfig.json
  packages/ecma402-abstract/BUILD.bazel
  packages/ecma402-abstract/NumberFormat/BUILD.bazel
  packages/ecma402-abstract/NumberFormat/tsconfig.json
  packages/ecma402-abstract/scripts/BUILD.bazel
  packages/ecma402-abstract/tsconfig.json
  packages/ecma402-abstract/types/BUILD.bazel
  packages/ecma402-abstract/types/tsconfig.json
  packages/eslint-plugin-formatjs/tsconfig.json
  packages/icu-messageformat-parser/tsconfig.json
  packages/icu-skeleton-parser/tsconfig.json
  packages/intl-datetimeformat/tsconfig.json
  packages/intl-displaynames/tsconfig.json
  packages/intl-durationformat/tsconfig.json
  packages/intl-getcanonicallocales/tsconfig.json
  packages/intl-locale/tsconfig.json
  packages/intl-localematcher/tsconfig.json
  packages/intl-supportedvaluesof/tsconfig.json
  packages/react-intl/tsconfig.json
  packages/ts-transformer/tsconfig.json
  packages/unplugin/tsconfig.json
  tools/index.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

refactor(deps): split ecma402-abstract into composite Bazel sub-packages (#6256)
  .bazelignore
  CLAUDE.md
  knowledge-base/001-repo-layout-and-toolchain.md
  knowledge-base/002-ts-package-dependency-hierarchy.md
  packages/babel-plugin-formatjs/tsconfig.json
  packages/cli-lib/tsconfig.json
  packages/ecma402-abstract/BUILD.bazel
  packages/ecma402-abstract/NumberFormat/BUILD.bazel
  packages/ecma402-abstract/NumberFormat/tsconfig.json
  packages/ecma402-abstract/scripts/BUILD.bazel
  packages/ecma402-abstract/tsconfig.json
  packages/ecma402-abstract/types/BUILD.bazel
  packages/ecma402-abstract/types/tsconfig.json
  packages/eslint-plugin-formatjs/tsconfig.json
  packages/icu-messageformat-parser/tsconfig.json
  packages/icu-skeleton-parser/tsconfig.json
  packages/intl-datetimeformat/tsconfig.json
  packages/intl-displaynames/tsconfig.json
  packages/intl-durationformat/tsconfig.json
  packages/intl-getcanonicallocales/tsconfig.json
  packages/intl-locale/tsconfig.json
  packages/intl-localematcher/tsconfig.json
  packages/intl-supportedvaluesof/tsconfig.json
  packages/react-intl/tsconfig.json
  packages/ts-transformer/tsconfig.json
  packages/unplugin/tsconfig.json
  tools/index.bzl
Due: format-oxfmt, format-starlark, bazel-lock-regen

build(deps): migrate esbuild to rolldown, remove esbuild build dep
  MODULE.bazel
  packages/cli-lib/BUILD.bazel
  packages/cli/BUILD.bazel
  packages/editor/BUILD.bazel
  pnpm-lock.yaml
  tools/BUILD.bazel
  tools/esbuild-packages-resolve.mjs
  tools/rolldown-bundle.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

build(deps): migrate esbuild to rolldown, remove esbuild dependency (#6266)
  MODULE.bazel
  packages/cli-lib/BUILD.bazel
  packages/cli/BUILD.bazel
  packages/editor/BUILD.bazel
  pnpm-lock.yaml
  tools/BUILD.bazel
  tools/esbuild-packages-resolve.mjs
  tools/rolldown-bundle.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

refactor(deps): move DisplayNames abstract operations to ecma402-abstract
  packages/ecma402-abstract/BUILD.bazel
  packages/ecma402-abstract/DisplayNames/BUILD.bazel
  packages/ecma402-abstract/DisplayNames/CanonicalCodeForDisplayNames.ts
  packages/ecma402-abstract/DisplayNames/IsValidDateTimeFieldCode.ts
  packages/ecma402-abstract/DisplayNames/tsconfig.json
  packages/ecma402-abstract/NumberFormat/BUILD.bazel
  packages/ecma402-abstract/tsconfig.json
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-displaynames/index.ts
  packages/intl-displaynames/tests/CanonicalCodeForDisplayNames.test.ts
  packages/intl-displaynames/tests/IsValidDateTimeFieldCode.test.ts
  packages/intl-durationformat/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(deps): fix DisplayNames BUILD dep and ts_compile #packages resolution
  packages/ecma402-abstract/DisplayNames/BUILD.bazel
  tools/index.bzl
Due: format-starlark, bazel-lock-regen

docs(deps): split repo layout and Bazel toolchain into separate knowledge base docs
  CLAUDE.md
  knowledge-base/001-repo-layout-and-toolchain.md
  knowledge-base/001-repo-layout.md
  knowledge-base/001a-bazel-toolchain.md
  packages/ecma402-abstract/BUILD.bazel
  packages/ecma402-abstract/DisplayNames/CanonicalCodeForDisplayNames.ts
  packages/ecma402-abstract/tsconfig.json
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

fix(@formatjs/intl-displaynames): remove stale abstract/*.ts glob after move
  packages/intl-displaynames/BUILD.bazel
Due: format-starlark, bazel-lock-regen

refactor(deps): move DisplayNames abstract operations to ecma402-abstract (#6265)
  CLAUDE.md
  knowledge-base/001-repo-layout-and-toolchain.md
  knowledge-base/001-repo-layout.md
  knowledge-base/001a-bazel-toolchain.md
  packages/ecma402-abstract/BUILD.bazel
  packages/ecma402-abstract/DisplayNames/BUILD.bazel
  packages/ecma402-abstract/DisplayNames/CanonicalCodeForDisplayNames.ts
  packages/ecma402-abstract/DisplayNames/IsValidDateTimeFieldCode.ts
  packages/ecma402-abstract/DisplayNames/tsconfig.json
  packages/ecma402-abstract/NumberFormat/BUILD.bazel
  packages/ecma402-abstract/tsconfig.json
  packages/icu-messageformat-parser/BUILD.bazel
  packages/icu-skeleton-parser/BUILD.bazel
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-displaynames/BUILD.bazel
  packages/intl-displaynames/index.ts
  packages/intl-displaynames/tests/CanonicalCodeForDisplayNames.test.ts
  packages/intl-displaynames/tests/IsValidDateTimeFieldCode.test.ts
  packages/intl-durationformat/BUILD.bazel
  packages/intl-listformat/BUILD.bazel
  packages/intl-messageformat/BUILD.bazel
  packages/intl-numberformat/BUILD.bazel
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl/BUILD.bazel
  packages/react-intl/BUILD.bazel
  tools/index.bzl
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

ci(deps): combine rust-cli-test into test job
  .github/workflows/test.yml
Due: format-oxfmt

ci(deps): combine rust-cli-test into test job (#6269)
  .github/workflows/test.yml
Due: format-oxfmt

refactor(deps): move RelativeTimeFormat abstract operations to ecma402-abstract
  MODULE.bazel.lock
  packages/ecma402-abstract/RelativeTimeFormat/BUILD.bazel
  packages/ecma402-abstract/RelativeTimeFormat/FormatRelativeTime.ts
  packages/ecma402-abstract/RelativeTimeFormat/FormatRelativeTimeToParts.ts
  packages/ecma402-abstract/RelativeTimeFormat/InitializeRelativeTimeFormat.ts
  packages/ecma402-abstract/RelativeTimeFormat/MakePartsList.ts
  packages/ecma402-abstract/RelativeTimeFormat/PartitionRelativeTimePattern.ts
  packages/ecma402-abstract/RelativeTimeFormat/SingularRelativeTimeUnit.ts
  packages/ecma402-abstract/RelativeTimeFormat/tsconfig.json
  packages/ecma402-abstract/tsconfig.json
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-relativetimeformat/index.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

refactor(deps): move RelativeTimeFormat abstract ops to ecma402-abstract (#6270)
  MODULE.bazel.lock
  packages/ecma402-abstract/RelativeTimeFormat/BUILD.bazel
  packages/ecma402-abstract/RelativeTimeFormat/FormatRelativeTime.ts
  packages/ecma402-abstract/RelativeTimeFormat/FormatRelativeTimeToParts.ts
  packages/ecma402-abstract/RelativeTimeFormat/InitializeRelativeTimeFormat.ts
  packages/ecma402-abstract/RelativeTimeFormat/MakePartsList.ts
  packages/ecma402-abstract/RelativeTimeFormat/PartitionRelativeTimePattern.ts
  packages/ecma402-abstract/RelativeTimeFormat/SingularRelativeTimeUnit.ts
  packages/ecma402-abstract/RelativeTimeFormat/tsconfig.json
  packages/ecma402-abstract/tsconfig.json
  packages/intl-relativetimeformat/BUILD.bazel
  packages/intl-relativetimeformat/index.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

refactor(deps): move PluralRules abstract operations to ecma402-abstract
  packages/ecma402-abstract/PluralRules/BUILD.bazel
  packages/ecma402-abstract/PluralRules/GetOperands.ts
  packages/ecma402-abstract/PluralRules/InitializePluralRules.ts
  packages/ecma402-abstract/PluralRules/ResolvePlural.ts
  packages/ecma402-abstract/PluralRules/ResolvePluralRange.ts
  packages/ecma402-abstract/PluralRules/tsconfig.json
  packages/ecma402-abstract/tsconfig.json
  packages/ecma402-abstract/types/plural-rules.ts
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-pluralrules/index.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

refactor(deps): move PluralRules abstract ops to ecma402-abstract (#6271)
  packages/ecma402-abstract/PluralRules/BUILD.bazel
  packages/ecma402-abstract/PluralRules/GetOperands.ts
  packages/ecma402-abstract/PluralRules/InitializePluralRules.ts
  packages/ecma402-abstract/PluralRules/ResolvePlural.ts
  packages/ecma402-abstract/PluralRules/ResolvePluralRange.ts
  packages/ecma402-abstract/PluralRules/tsconfig.json
  packages/ecma402-abstract/tsconfig.json
  packages/ecma402-abstract/types/plural-rules.ts
  packages/intl-pluralrules/BUILD.bazel
  packages/intl-pluralrules/index.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

refactor(deps): move DateTimeFormat abstract operations to ecma402-abstract
  packages/ecma402-abstract/DateTimeFormat/BUILD.bazel
  packages/ecma402-abstract/DateTimeFormat/BasicFormatMatcher.ts
  packages/ecma402-abstract/DateTimeFormat/BestFitFormatMatcher.ts
  packages/ecma402-abstract/DateTimeFormat/DateTimeStyleFormat.ts
  packages/ecma402-abstract/DateTimeFormat/FormatDateTime.ts
  packages/ecma402-abstract/DateTimeFormat/FormatDateTimePattern.ts
  packages/ecma402-abstract/DateTimeFormat/FormatDateTimeRange.ts
  packages/ecma402-abstract/DateTimeFormat/FormatDateTimeRangeToParts.ts
  packages/ecma402-abstract/DateTimeFormat/FormatDateTimeToParts.ts
  packages/ecma402-abstract/DateTimeFormat/InitializeDateTimeFormat.ts
  packages/ecma402-abstract/DateTimeFormat/PartitionDateTimePattern.ts
  packages/ecma402-abstract/DateTimeFormat/PartitionDateTimeRangePattern.ts
  packages/ecma402-abstract/DateTimeFormat/ToDateTimeOptions.ts
  packages/ecma402-abstract/DateTimeFormat/ToLocalTime.ts
  packages/ecma402-abstract/DateTimeFormat/skeleton.ts
  packages/ecma402-abstract/DateTimeFormat/tsconfig.json
  packages/ecma402-abstract/DateTimeFormat/utils.ts
  packages/ecma402-abstract/tsconfig.json
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/scripts/extract-dates.ts
  packages/intl-datetimeformat/src/core.ts
  packages/intl-datetimeformat/src/to_locale_string.ts
  packages/intl-datetimeformat/tests/abstract/BestFitFormatMatcher.test.ts
  packages/intl-datetimeformat/tests/abstract/skeleton.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

refactor(deps): move DateTimeFormat abstract ops to ecma402-abstract (#6272)
  packages/ecma402-abstract/DateTimeFormat/BUILD.bazel
  packages/ecma402-abstract/DateTimeFormat/BasicFormatMatcher.ts
  packages/ecma402-abstract/DateTimeFormat/BestFitFormatMatcher.ts
  packages/ecma402-abstract/DateTimeFormat/DateTimeStyleFormat.ts
  packages/ecma402-abstract/DateTimeFormat/FormatDateTime.ts
  packages/ecma402-abstract/DateTimeFormat/FormatDateTimePattern.ts
  packages/ecma402-abstract/DateTimeFormat/FormatDateTimeRange.ts
  packages/ecma402-abstract/DateTimeFormat/FormatDateTimeRangeToParts.ts
  packages/ecma402-abstract/DateTimeFormat/FormatDateTimeToParts.ts
  packages/ecma402-abstract/DateTimeFormat/InitializeDateTimeFormat.ts
  packages/ecma402-abstract/DateTimeFormat/PartitionDateTimePattern.ts
  packages/ecma402-abstract/DateTimeFormat/PartitionDateTimeRangePattern.ts
  packages/ecma402-abstract/DateTimeFormat/ToDateTimeOptions.ts
  packages/ecma402-abstract/DateTimeFormat/ToLocalTime.ts
  packages/ecma402-abstract/DateTimeFormat/skeleton.ts
  packages/ecma402-abstract/DateTimeFormat/tsconfig.json
  packages/ecma402-abstract/DateTimeFormat/utils.ts
  packages/ecma402-abstract/tsconfig.json
  packages/intl-datetimeformat/BUILD.bazel
  packages/intl-datetimeformat/scripts/extract-dates.ts
  packages/intl-datetimeformat/src/core.ts
  packages/intl-datetimeformat/src/to_locale_string.ts
  packages/intl-datetimeformat/tests/abstract/BestFitFormatMatcher.test.ts
  packages/intl-datetimeformat/tests/abstract/skeleton.test.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

refactor(deps): move DurationFormat abstract operations to ecma402-abstract
  packages/ecma402-abstract/DurationFormat/BUILD.bazel
  packages/ecma402-abstract/DurationFormat/DurationRecordSign.ts
  packages/ecma402-abstract/DurationFormat/GetDurationUnitOptions.ts
  packages/ecma402-abstract/DurationFormat/IsValidDurationRecord.ts
  packages/ecma402-abstract/DurationFormat/ToDurationRecord.ts
  packages/ecma402-abstract/DurationFormat/ToIntegerIfIntegral.ts
  packages/ecma402-abstract/DurationFormat/constants.ts
  packages/ecma402-abstract/DurationFormat/tsconfig.json
  packages/ecma402-abstract/tsconfig.json
  packages/ecma402-abstract/types/duration.ts
  packages/intl-durationformat/BUILD.bazel
  packages/intl-durationformat/src/constants.ts
  packages/intl-durationformat/src/core.ts
  packages/intl-durationformat/src/types.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen

refactor(deps): move DurationFormat abstract ops to ecma402-abstract (#6273)
  packages/ecma402-abstract/DurationFormat/BUILD.bazel
  packages/ecma402-abstract/DurationFormat/DurationRecordSign.ts
  packages/ecma402-abstract/DurationFormat/GetDurationUnitOptions.ts
  packages/ecma402-abstract/DurationFormat/IsValidDurationRecord.ts
  packages/ecma402-abstract/DurationFormat/ToDurationRecord.ts
  packages/ecma402-abstract/DurationFormat/ToIntegerIfIntegral.ts
  packages/ecma402-abstract/DurationFormat/constants.ts
  packages/ecma402-abstract/DurationFormat/tsconfig.json
  packages/ecma402-abstract/tsconfig.json
  packages/ecma402-abstract/types/duration.ts
  packages/intl-durationformat/BUILD.bazel
  packages/intl-durationformat/src/constants.ts
  packages/intl-durationformat/src/core.ts
  packages/intl-durationformat/src/types.ts
Due: format-oxfmt, format-starlark, lint-staged, bazel-lock-regen
